<?php
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
?>
<div id="user-data-edit">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="accountName" class="col-sm-3 control-label">Nazwa konta</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="accountName" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="companyDetails" class="col-sm-3 control-label">Opis firmy</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="companyDetails"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="comapnyCategory" class="col-sm-3 control-label">Kategoria firmy</label>
            <div class="col-sm-9">
                <select class="form-control" id="comapnyCategory">
                    <option>IT</option>
                    <option>Branża budowlana</option>
                    <option>Inna</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="additionalInformation" class="col-sm-3 control-label">Uwagi</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="additionalInformation"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="companyLogo" class="col-sm-3 control-label">Logo firmy</label>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-default">Wybierz plik <span class="glyphicon glyphicon-paperclip"></span></button>
                <p class="help-block">Wybierz i wgraj plik w formacie: <strong>PNG, JPG</strong>.
                    Zostaną one automatycznie skompresowane do odpowiedniej szerokości.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Status współpracy</label>
            <div class="col-sm-9">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Szukam pracowników po studiach
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Szukam praktykantów
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Współpraca ze uniwersytetem
                    </label>
                </div>
            </div>
        </div>
        <br />
        <h2>Zmień hasło</h2>
        <div class="form-group">
            <label for="password1" class="col-sm-3 control-label">Hasło</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password1" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-sm-3 control-label">Powtórz hasło</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password2" placeholder="Email">
            </div>
        </div>
        <br />
        <h2>Osoba kontaktowa</h2>
        <div class="form-group">
            <label for="imieNazwisko" class="col-sm-3 control-label">Imię i Nazwisko</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="imieNazwisko" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Telefono</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="phone" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="additionalUserInformation" class="col-sm-3 control-label">Dodatkowe informacje</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="additionalUserInformation" placeholder="Email"> </textarea>
            </div>
        </div>
        <br />
        <h2>Powiadomienia</h2>
        <div class="form-group">
            <label for="additionalUserInformation" class="col-sm-3 control-label">Chce otrzymywać</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Powiadomienia o ankietach
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Powiadomienia o ogłoszeniach
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Powiadomienia o ogłoszeniach
                    </label>
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Sign in</button>
            </div>
        </div>
    </form>
</div><!-- /#user-data-edit -->