.block-big-banner .block-content {
    margin-bottom: 0;
}

.block-big-banner .different-background {
    background: #000;
}

.block-big-banner .big-banner-loading {
    height: 300px;
}

.block-big-banner .big-banner-loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100000;
     display: block; 
    margin: auto;
    margin-left: -24px;
    margin-top: -24px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
     width: 40px; 
     height: 40px; 
    background: rgba(46, 98, 174, 0.72);
    padding: 9px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}

.block-big-banner .slideshow {
    margin: 0 auto;
    height: 100%;
    max-width: 2000px;
    opacity: .99; /* The z-index trick for collaboration with MainMenu. */
}

.block-big-banner .slideshow .slide img {
    max-height: 100%;
    max-width: 100%;
}

.block-big-banner .slideshow .slide {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.block-big-banner .slideshow .slide .slide-content {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
    width: 90%;
}

.block-big-banner .slideshow .slide .slide-content {
    float: left;
    clear: both;
    margin-bottom: 15px;
    padding: 10px 20px;
}

.block-big-banner .slideshow .slide .slide-content .banner-title,
.block-big-banner .slideshow .slide .slide-content .banner-content,
.block-big-banner .slideshow .slide .slide-content .banner-link {
    position: relative;
    float: left;
    clear: both;
    margin-top: 10px;
    padding: 5px 10px;
}

.block-big-banner .slideshow .slide .slide-content .banner-title {
    max-width: 40%;
    background: rgba(12, 63, 69, 0.81);
    text-align: left;
    font-size: 1.6em;
    font-weight: 300;
    text-shadow: none;
    color: #fff;
}

.block-big-banner .slideshow .slide .slide-content .banner-title p {
    margin-bottom: 0;
}

.block-big-banner .slideshow .slide .slide-content .banner-content {
    max-width: 65%;
    background: rgba(78, 78, 78, 0.71);
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    padding: 10px 10px 0 10px;
    color: rgba(255, 255, 255, 0.79);
}

.block-big-banner .slideshow .slide .slide-content .banner-content p {
    line-height: 20px;
}

.block-big-banner .slideshow .slide .slide-content .banner-link {
    background: rgb(2, 115, 179);
    text-shadow: none;
    color: #fff;
}

.block-big-banner .slideshow .slide .slide-content .banner-link:hover {
    background: rgba(47, 99, 175, 0.81);
}

.block-big-banner .slideshow .slide .slide-content .banner-link .glyphicon {
    margin-right: 5px;
    font-size: 12px;
}

.block-big-banner .slideshow .slide .slide-content .banner-link a {
    color: #fff;
}

.block-big-banner #big-banner-title-counter {
    position: relative;
    left: 200px;
    width: 350px;
    background-color: black;
    color: white;
}

.block-big-banner .pager {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

.block-big-banner .pager span {
    display: inline-block;
    height: 8px;
    width: 8px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 5px;
    background: #666;
    text-indent: -9999px;
    outline: 0;
    cursor: pointer;
    border:1px solid #fff;
}

.block-big-banner .pager span.cycle-pager-active {
    background-color: #2E63AF;
}