.block-text .block-content > .content .btn-open-ckeditor
{
    position: absolute;
    opacity: .7;
    border: 2px solid #797979;
    border-radius: 5px;
    background: #fff;
    padding: 4px 4px 0px 5px;
    font-size: 30px;
    cursor: pointer;
}