<div class="window-contents">
    <div class="form">
        <div class="row">
            <label>
                <?php echo $this->translate('Login', 'default', $this->userLanguage->zend2_locale); ?>:
                <?php echo $this->text(null, 'login'); ?>
            </label>
        </div>
        <div class="row">
            <label>
                <?php echo $this->translate('Password', 'default', $this->userLanguage->zend2_locale); ?>:
                <?php echo $this->text(null, 'password'); ?>
            </label>
        </div>
        <div class="row">
            <label>
                <?php echo $this->text(null, 'login'); ?>
            </label>
        </div>
    </div>
</div>