<?php
$searchResultsUrl = $this->escapeForHtml($this->searchResultsUrl);
?>
<form class="form-search" action="<?php echo $searchResultsUrl; ?>">
    <input type="text" class="input-medium search-query" name="query" placeholder="<?php echo $this->translate('Enter the query'); ?>">
    <button type="submit" class="btn">
        <?php echo $this->translate('Search', 'default', $this->userLanguage->zend2_locale); ?>
    </button>
</form>