<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>
    </h3>

    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate(
                    'Show search results on page',
                    'default',
                    $this->userLanguage->zend2_locale
                ); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-search-search-results-page',
                        'name' => 'searchResultsPageId',
                        'class' => 'form-control'
                    ),
                    $this->availablePages,
                    true,
                    $this->settings->searchResultsPageId
                );
                echo $this->translate(
                        'To see search results on selected page you must drop block &quot;Search results&quot; on ' .
                        'that page',
                        'default',
                        $this->userLanguage->zend2_locale
                    ) . '.';
                ?>
            </div>
        </div>
    </div>
</div>