<?php
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = (int)$this->blockData->page_block_id;
$eventListPageBlockId = (int)$this->eventListPageBlockId;
$isOldEventListHidden = $this->settings->hideIfCurrentUrlLeadsToEventDetails && ($this->currentEventId > 0);
?>
<div class="future-event-items">
    <?php if (!$isOldEventListHidden): ?>
        <?php if ($eventListPageBlockId > 0): ?>
            <?php if ($this->eventPaginator && ($this->eventPaginator->getTotalItemCount() > 0)): ?>
                <?php foreach ($this->eventPaginator as $event): ?>
                    <div class="item<?php if ($event->is_promoted): ?> promoted<?php endif; ?>" data-event-id="<?php echo $event->event_id; ?>" style="clear: both">
                        <?php if ($event->mainImageUrl != ''): ?>
                            <div class="col-md-3">
                                <img alt="thumbnail" class="rimage"
                                     src="<?php echo $this->escapeForHtml($event->mainImageUrl); ?>"
                                    />
                            </div>
                        <?php endif; ?>
                        <div class="col-md-<?php if ($event->mainImageUrl != ''): ?>9<?php else: ?>12<?php endif; ?>">
                            <div>
                                <a href="<?php echo ($this->eventDetailsPageUrl != '') ? ($this->eventDetailsPageUrl . ',' . $event->clean_url . '-' . $event->content_id) : '#'; ?>">
                                    <h3>
                                        <?php echo $this->escapeForHtml($event->title); ?>
                                        <?php if ($event->label != ''): ?>
                                            <span class="label label-primary"><?php echo $this->escapeForHtml($event->label); ?></span>
                                        <?php endif; ?>
                                    </h3>
                                </a>
                                <span style="display:none" class="glyphicon glyphicon-edit event-edit-btn" data-placement="bottom" data-toggle="tooltip" data-original-title="Edytuj to wydarzenie"></span>
                            </div>
                            <div class="text">
                                <?php echo $this->escapeForHtml($event->teaser); ?>
                            </div>
                            <div class="info">
                                <?php echo $this->translate('Category'); ?>:
                                <a href="#"><?php echo $event->category_name; ?></a>
                                <span class="glyphicon glyphicon-asterisk"></span>

                                <span class="glyphicon glyphicon-time"></span>
                                Start: <?php echo $event->date_start; ?> <?php echo $event->time_start; ?>
                                <span class="glyphicon glyphicon-asterisk"></span>

                                <?php if ($event->where && ($event->where->contents != '')): ?>
                                    <?php echo $this->translate('Where'); ?>:
                                    <?php echo $this->escapeForHtml($event->where->contents); ?>
                                    <span class="glyphicon glyphicon-asterisk"></span>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- item -->
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo $this->translate('No archive events'); ?>.
            <?php endif; ?>
        <?php else: ?>
            <?php echo $this->translate('Go to settings and set from which block the archive events should be displayed'); ?>.
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
            'This event list will be invisible now because current URL address leads to details of one of existing ' .
            'events in selected source event list', 'default', $this->userLanguage->zend2_locale
        ) . '.';
        ?>
    <?php endif; ?>
    <?php
    if ($this->eventPaginator && ($this->eventPaginator->count() > 1))
    {
        echo $this->paginationControl(
            $this->eventPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding', array('partial/paginator.phtml', 'Site'), array(
                'route' => 'home'
            )
        );
    }
    ?>
</div>
<script>
    loadBlockCssFile('old-event-list','old-event-list');
    loadBlockJsFile('event-list','event-list');
    loadBlockJsFile('old-event-list','old-event-list');

    $(document).ready(function(){
        blockEventList_handleCustomFunctionality(<?php echo $pageBlockId; ?>,<?php echo $eventListPageBlockId; ?>);
        blockOldEventList_handlePagination(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode): ?>
        blockEventList_handleManagementWindow(
            <?php echo $pageBlockId; ?>,<?php echo $eventListPageBlockId; ?>
        );
        <?php endif; ?>
    });
</script>