<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class='col-md-9'>
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-event-list-icpp',
                        'name' => 'itemCountPerPage',
                        'class' => 'form-control'
                    ),
                    array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                    false,
                    $this->settings->itemCountPerPage
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate(
                    'Show old events from block',
                    'default',
                    $this->userLanguage->zend2_locale
                ); ?>:
            </label>

            <div class='col-md-9'>
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-event-list-page-block-id',
                        'name' => 'eventListPageBlockId',
                        'class' => 'form-control'
                    ),
                    $this->availableEventListBlocks,
                    true,
                    $this->settings->eventListPageBlockId
                );
                ?>
                <br/>

                <div class="alert alert-info">
                    <?php
                    echo $this->translate(
                            'The event\'s details will be displayed in the same page which was set in ' .
                            'the above block',
                            'default',
                            $this->userLanguage->zend2_locale
                        ) . '.';
                    ?>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate(
                    'Show old events from category',
                    'default',
                    $this->userLanguage->zend2_locale
                ); ?>:
            </label>

            <div class='col-md-9'>
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-event-list-category-id',
                        'name' => 'eventListCategoryId',
                        'class' => 'form-control'
                    ),
                    $this->availableEventListCategories,
                    true,
                    $this->settings->eventListCategoryId
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate('Event list hiding', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class='col-md-9'>
                <?php
                echo $this->checkbox(
                    'block-event-list-hide-if-current-url-leads-to-event-details',
                    'hideIfCurrentUrlLeadsToEventDetails',
                    1,
                    ($this->settings->hideIfCurrentUrlLeadsToEventDetails == 1)
                );
                echo $this->translate(
                        'Hide event list if current URL leads to event\'s details',
                        'default',
                        $this->userLanguage->zend2_locale
                    ) . '.';
                ?>
            </div>
        </div>
    </div>
</div>