<div class="container">
    <div class="row">
        <div id="content2" class="col-sm-12 full">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 login-box-locked">
                    <img src="/images/admin/gallery/photo7.jpg" class="avatar">
                    <h2>Aktywacja konta</h2>
                    <p><?php echo $this->escapeHtml($this->message); ?></p>
                </div>
            </div>
        </div>
    </div>
</div>