<form action="" method="POST" id="new-password-box">
    <div class="container">
        <div class="row">
            <div id="content2" class="col-sm-12 full">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 login-box-locked">
                        <img src="/images/admin/gallery/photo7.jpg" class="avatar">
                        <h2><?php echo $this->formTitle; ?></h2>
                        <p><?php echo $this->escapeHtml($this->messages); ?></p>
                        <div class="input-prepend input-group">
                            <input class="form-control" size="36" type="password" name="password1" placeholder="Hasło">
                            <input class="form-control" size="36" type="password" name="password2" placeholder="Potwierdź hasło">
                            <input type="submit" class="btn btn-success" value="Zmień">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>