<form action="" method="POST" id="registration-box">
    <div class="container">
        <div class="row">
            <div id="content2" class="col-sm-12 full">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 login-box-locked">
                        <img src="/images/admin/gallery/photo7.jpg" class="avatar">
                        <h2><?php echo $this->formTitle; ?></h2>
                        <p><?php echo $this->escapeHtml($this->messages); ?></p>
                        <div class="form-group">
                            <label for="r-user-login">Login</label>
                            <input type="text" class="form-control" name="userLogin" id="r-user-login" value="<?php echo $this->userLogin; ?>">
                        </div>
                        <div class="form-group">
                            <label for="r-user-password">Hasło</label>
                            <input type="password" class="form-control" name="userPassword" id="r-user-password" value="<?php echo $this->userPassword; ?>">
                        </div>
                        <div class="form-group">
                            <label for="r-user-password2">Powtórz hasło</label>
                            <input type="password" class="form-control" name="userPassword2" id="r-user-password2" value="<?php echo $this->userPassword2; ?>">
                        </div>
                        <div class="form-group">
                            <label for="r-user-email">E-Mail</label>
                            <input type="text" class="form-control" name="userEmail" id="r-user-email" value="<?php echo $this->userEmail; ?>">
                        </div>
                        <div class="form-group">
                            <label for="r-user-name">Imię</label>
                            <input type="text" class="form-control" name="userName" id="r-user-name" value="<?php echo $this->userName; ?>">
                        </div>
                        <div class="form-group">
                            <label for="r-user-surname">Nazwisko</label>
                            <input type="text" class="form-control" name="userSurname" id="r-user-surname" value="<?php echo $this->userSurname; ?>">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Zarejestruj">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>