<form action="" method="POST" id="password-reset-box">
    <div class="container">
        <div class="row">
            <div id="content2" class="col-sm-12 full">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 login-box-locked">
                        <img src="/images/reset-password.png" class="avatar img-responsive">
                        <h2>Resetowanie hasła</h2>
                        <a href="/" class="pull-left" style="line-height: 32px;"><i class="fa fa-arrow-circle-left"></i> powrót </a>
                      <?php if (!$emailSent): ?>
                            <div class="input-prepend input-group">
                                <div class="col-xs-9">
                                <input class="form-control" size="36" type="text" name="loginOrEmail" placeholder="Twój login lub e-mail" value="<?php echo $this->loginOrEmail; ?>">
                                </div>
                                <input type="submit" class="btn btn-primary col-xs-3" value="Resetuj">
                            </div>
                        <?php endif; ?>
                       
                    </div>
                    <script>
                            var height = $( document ).height()/2-142;
                            $('.login-box-locked').css('margin-top', height);
                            
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>
