<div class="window-contents">
    <div class="form form-horizontal" data-page-id="<?php echo $this->pageId; ?>" data-block-id="<?php echo $this->blockId; ?>" data-page-block-id="<?php echo $this->pageBlockId; ?>">
        <h3 class="title">
            <?php
            echo $this->translate(
                'Block name in all languages', 'default', $this->userLanguage->zend2_locale
            );
            ?>:
        </h3>
        <?php foreach ($this->languages as $language): ?>
            <div class="form-group">
                <label class="col-sm-3 control-label" >
                    <?php echo $language->english_name; ?> <span class="required-field">*</span>:
                </label>
                <div class="col-sm-9">
                    <?php
                    $languageId = (int)$language->language_id;
                    echo $this->input(
                        false,
                        'names[' . $languageId . ']',
                        ($this->currentBlockNames && ($languageId > 0))
                            ? $this->currentBlockNames->$languageId
                            : false,
                        false,
                        array(
                            'class' => 'block-name form-control',
                            'maxlength' => 64
                        )
                    );
                    ?>
                </div>
            </div>
        <?php endforeach; ?>
        <h3 class="title">
            <?php echo $this->translate('Language category', 'default', $this->userLanguage->zend2_locale); ?>:
        </h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" >
                <?php echo $this->translate('Treat as', 'default', $this->userLanguage->zend2_locale); ?>
                <span class="required-field">*</span>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'class' => 'form-control',
                        'name' => 'languageCategoryId'
                    ),
                    $this->languageCategories, true, $this->currentLanguageCategoryId
                );
                ?>
                <br>
                <div class="alert alert-info">
                    <?php
                    echo $this->translate(
                        'This setting will be used only in block list', 'default', $this->userLanguage->zend2_locale
                    );
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>