<?php
$currentLanguage = $this->currentLanguage;

$imageUrlParameters = $this->parentAttachment->hash_for_file_name . ',' . $this->parentAttachment->original_file_name;
$imageUrl = urldecode(
    $this->url(
        'home/default',
        array('controller' => 'get-file', 'action' => 'index', 'parameters' => $imageUrlParameters)
    )
);
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <?php echo $this->hidden(null, 'pageBlockId', $this->pageBlockId, false); ?>
        <?php
        echo $this->hidden(
            null,
            'attachmentId',
            $this->attachment->attachment_id,
            false,
            array(
                'class' => 'image-attachment-id'
            )
        );
        ?>
        <p>
            <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
        </p>

        <div id="ai-original-image-scrollable-container"
             style="width:100%;min-height:200px;overflow:auto;padding:15px;border:1px solid #666;border-radius:5px;">
            <img alt="<?php echo $this->translate('Original image', 'default', $this->userLanguage->zend2_locale); ?>."
                 src="<?php echo $this->escapeForHtml($imageUrl); ?>" class="original-image"/>
        </div>
        <p>
            <?php echo $this->translate('Mask', 'default', $this->userLanguage->zend2_locale); ?>:
        </p>
        <button class="btn btn-default btn-select-entire-image">
            <?php echo $this->translate('Select entire image', 'default', $this->userLanguage->zend2_locale); ?>
        </button>
        <?php
        echo $this->hidden(
            null,
            'imageCropRectCoords',
            $this->attachment->image_crop_rect_coords,
            false,
            array(
                'class' => 'image-crop-rect-coords'
            )
        );
        ?>
        <?php
        echo $this->hidden(
            null,
            'uniqueHashForFileName',
            $this->attachment->hash_for_file_name,
            array(
                'class' => 'unique-hash-for-file-name'
            )
        );
        ?>
    </div>
</div>