<div class="blocks-settings section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Title size', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-9">
            <?php echo $this->translate('Title size', 'default', $this->userLanguage->zend2_locale); ?>:
            <?php
            echo $this->dropdown(array(
                'class' => 'form-control',
                'name' => 'titleSize'
                ),
                array(1, 2, 3, 4, 5, 6),
                false,
                strtolower($this->settings['titleSize'])
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            &nbsp;
        </label>
        <div class="col-sm-9">
            <?php echo $this->hidden(null, 'titleVisible', '0'); ?>
            <?php echo $this->checkbox(null, 'titleVisible', '1', ($this->settings['titleVisible'] == '1')); ?>
            <?php echo $this->translate('Title visible', 'default', $this->userLanguage->zend2_locale); ?>
        </div>
    </div>
</div>