<div class="blocks-dynamic-settings section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Show this block in the same slot in the following pages', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="row">
            <div class='col-md-3 control-label'>
                <?php echo $this->translate('Show block in', 'default', $this->userLanguage->zend2_locale); ?>:
            </div>
            <div id="block-occurrences-in-pages" class='col-md-9' style="overflow:auto;max-height:250px">
                <?php if ($blockOccurrencesInPages): ?>
                    <?php foreach ($blockOccurrencesInPages as $pageId => $occurrence): ?>
                        <div>
                            <label>
                                <?php
                                $shouldBeAddedToSlotOnThisPage = (int)($occurrence->is_block_added_to_slot_on_this_page);
                                echo $this->hidden(
                                    '', 'blockOccurrencesInPages[' . $pageId . ']', $occurrence->slot_number . '|0'
                                );
                                echo $this->checkbox(
                                    '', 'blockOccurrencesInPages[' . $pageId . ']', $occurrence->slot_number . '|1', $shouldBeAddedToSlotOnThisPage
                                );
                                ?>
                                [ <?php echo $this->escapeForHtml($occurrence->page_language); ?> ]
                                <?php echo $this->escapeForHtml($occurrence->page_title); ?>
                                <?php if ($occurrence->page_url != ''): ?>
                                    ( <?php echo $this->escapeForHtml($occurrence->page_url); ?> )
                                <?php endif; ?>
                            </label>
                        </div>
                    <?php endforeach; ?>
                    <button class="btn btn-default" id="btn-select-all-pages">
                        <?php echo $this->translate('Select / unselect all pages', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                    <script>
                        // This is only temporary place for this JS code!
                        $('#dialog-block-settings').on('click','#btn-select-all-pages',function(){
                            var blockOccurrences=$('#dialog-block-settings').find('#block-occurrences-in-pages');
                            var checkboxes=blockOccurrences.find('input[type="checkbox"]');
                            var checkboxesCount=checkboxes.length;
                            var selectedCount=blockOccurrences.find('input[type="checkbox"]:checked').length;
                            if(selectedCount<checkboxesCount)
                            {
                                checkboxes.prop('checked',true);
                            }
                            else
                            {
                                checkboxes.prop('checked',false);
                            }
                        });
                    </script>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>