<div class="slot-item <?php echo $this->blockNameForCss; ?>" data-block-id="<?php echo $this->blockData->block_id; ?>" data-page-block-id="<?php echo $this->blockData->page_block_id; ?>" data-block-name="<?php echo $this->blockNameForCss; ?>">
    <?php if ($this->designMode): ?>
        <div style="display:none" class="block-frame<?php if ($this->blockData->is_parent_block_dynamic) echo ' dynamic'; if (!$this->blockData->is_published) echo ' unpublished'; ?>">
            <div class="title-bar">
                <div class="block-name">
                    <strong class="id"><span class="fa fa-arrows"> </span><?php echo $this->blockData->page_block_id; ?></strong>
                    -
                    <span class="name"><?php echo $this->blockData->name; ?></span>
                </div>
                <div class="buttons">
                    <?php if (!$this->blockData->is_parent_block_dynamic): ?>
                        <div class="button save-as-dynamic-block" title="<?php echo $this->translate('Save as dynamic block', 'default', $this->userLanguage->zend2_locale); ?>."><span class="fa fa-save"></span></div>
                    <?php endif; ?>
                    <div class="button toggle-publishing" title="<?php echo $this->translate('Publish / unpublish block', 'default', $this->userLanguage->zend2_locale); ?>."><span class="fa fa-eye"></span></div>
                    <?php if ($this->hasManagementWindow): ?>
                        <div class="button management" title="<?php echo $this->translate('Open management window', 'default', $this->userLanguage->zend2_locale); ?>."><span class="fa fa-folder-open-o"></span></div>
                    <?php endif; ?>
                    <div class="button settings" title="<?php echo $this->translate('Settings', 'default', $this->userLanguage->zend2_locale); ?>."><span class="fa fa-gear"></span></div>
                    <div class="button delete" title="<?php echo $this->translate('Remove block', 'default', $this->userLanguage->zend2_locale); ?>."><span class="fa fa-trash-o"></span></div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <div class="block-content" data-page-block-id="<?php echo $this->blockData->page_block_id; ?>">
        <?php
        if (($this->settings['titleVisible'] == '1') /* || $this->designMode */): // Do NOT remove "equal" operator!
            $titleSize = $this->settings['titleSize'];
            ?>
            <h<?php echo $titleSize; ?> class="title">
                <?php if ($this->designMode): ?>
                    <span style="display:none" class="btn-group-vertical title-adjusting">
                        <a<?php if ($titleSize <= 1): ?> style="display:none"<?php endif; ?> href="#" class="btn">
                            <span class="fa fa-plus-square-o increase-title-size"> </span>
                        </a>
                        <a<?php if ($titleSize >= 6): ?> style="display:none"<?php endif; ?> href="#" class="btn">
                            <span class="fa fa-minus-square-o decrease-title-size"> </span>
                        </a>
                    </span>
                <?php endif; ?>
                <span class="text">
                    <?php if (($this->settings['titleVisible'] == '1')): ?>
                        <?php echo $this->blockData->content->title; ?>
                    <?php elseif ($this->designMode): ?>
                        &nbsp;
                    <?php endif; ?>
                </span>
            </h<?php echo $titleSize; ?>>
            <?php
        endif;
        ?>
        <div class="content">
            <?php
            echo $this->blockContent;
            ?>
            <div class="clearfix"></div>
        </div>
    </div>
</div>