<div class="block-header-content">
    <?php if ($this->settings['tagType'] == 'predefined'): ?>
        <<?php echo $this->settings['predefinedTag']; ?>>
        <?php echo $this->blockData->content->content; ?>
        </<?php echo $this->settings['predefinedTag']; ?>>
    <?php else: ?>
        <<?php echo $this->settings['customTag']; ?>>
        <?php echo $this->blockData->content->content; ?>
        </<?php echo $this->settings['customTag']; ?>>
    <?php endif; ?>
</div>
<?php if ($this->designMode): ?>
    <script type="text/javascript">loadBlockJsFile('header','header');</script>
    <script>
        $(document).ready(function(){
            attachEventsToHeaderBlock(<?php echo $this->blockData->page_block_id; ?>);
        });
    </script>
<?php endif; ?>