<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Header tag', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-md-3 control-label">
                <?php echo $this->radio('block-header-tag-type-radio1', 'tagType', 'predefined', (($this->tagType == '') || ($this->tagType == 'predefined'))); ?>
                <?php echo $this->translate('Predefined', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-md-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-header-predefined-tags',
                        'name' => 'predefinedTag',
                        'class' => 'form-control'
                    ), array('h1', 'h2', 'h3', 'h4', 'h5', 'h6'), false, $this->predefinedTag
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">
                <?php echo $this->radio('block-header-tag-type-radio2', 'tagType', 'custom', $this->tagType == 'custom'); ?>
                <?php echo $this->translate('Custom tag', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-md-9">
                <?php
                echo $this->text(
                    'block-header-custom-tag', 'customTag', $this->customTag, false, array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
    </div>
</div>