<?php
$currentLanguage = $this->language;
$data = $this->formData;
$maxLengths = $this->maxLengths;
$numBanners = $this->numBanners;
$hasUrl = ($data['bannerUrlAddressType'] != 2);
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="bannerId" value="<?php echo $data['bannerId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="ae-big-banner-show-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Display title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                    'ae-big-banner-show-title',
                    'bannerIsTitleVisible',
                    1,
                    ($data['bannerIsTitleVisible'] == 1)
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ae-big-banner-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input
                    type="text"
                    id="ae-big-banner-title"
                    class="form-control"
                    name="bannerTitle"
                    maxlength="110"
                    value="<?php echo $this->escapeForHtml($data['bannerTitle']); ?>"
                />
                <p id="ae-banner-title-text-counter">
                    <?php echo $this->translate('The number of remaining characters', 'default', $this->userLanguage->zend2_locale); ?>:
                    <span id='ae-banner-title-count'><span> z 110.
                </p>
            </div>            
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-banner-url-address-type">
                <?php echo $this->translate('URL address type', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'ae-banner-url-address-type',
                        'class' => 'form-control',
                        'name' => 'bannerUrlAddressType'
                    ), array(
                        0 => $this->translate('_internal url', 'default', $this->userLanguage->zend2_locale),
                        1 => $this->translate('_external url', 'default', $this->userLanguage->zend2_locale),
                        2 => $this->translate('None', 'default', $this->userLanguage->zend2_locale)
                    ), true, $data['bannerUrlAddressType']
                );
                ?>
            </div>
        </div>
        <div<?php if (!$hasUrl): ?> style="display:none"<?php endif; ?> class="form-group" id="ae-banner-url-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <select
                        <?php if (in_array($data['bannerUrlAddressType'], array(1, 2))): ?>
                            style="display:none"
                        <?php endif; ?>
                        id="ae-banner-internal-page-id"
                        class="form-control"
                        name="bannerPageId"
                        >
                        <?php foreach ($this->bannerInternalPagesOptions as $pageId => $option): ?>
                            <option
                                value="<?php echo $pageId; ?>"
                                data-title="<?php echo $this->escapeForHtml($option->title); ?>"
                                <?php if ($pageId == $data->bannerPageId): ?>selected<?php endif; ?>
                                >
                                <?php echo $this->escapeForHtml($option->extended_title); ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                    <input<?php if (in_array($data['bannerUrlAddressType'], array(0, 2))): ?> style="display:none"<?php endif; ?> type="text" class="form-control" id="ae-banner-external-url" name="bannerExternalUrl" maxlength="255" value="<?php echo $this->escapeForHtml($data['bannerExternalUrl']); ?>" />
                </div>
            </div>
        </div>
        <div class="form-group" id="ai-banner-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['bannerId'],
                        'imageArrayName' => 'bannerImages',
                        'aspectRatio' => 2000 / 430,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'big-banner',
                            'resizeImageToMaxWidth' => 2000,
                            'resizeImageToMaxHeight' => 430,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,2000,430'
                        ),
                        'onBeforeDeletedCallback' => 'blockBigBanner_deleteImage',
                        'images' => $data['bannerImages'],
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ae-big-banner-show-contents" class="col-sm-3 control-label">
                <?php echo $this->translate('Display contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                    'ae-big-banner-show-contents',
                    'bannerIsContentsVisible',
                    1,
                    ($data['bannerIsContentsVisible'] == 1)
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-big-banner-contents">
                <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="ae-big-banner-contents" name="bannerContents"><?php echo $this->escapeForHtml($data['bannerContents']); ?></textarea>
                <p><?php echo $this->translate('Text on the banner', 'default', $this->userLanguage->zend2_locale); ?>.</p>
            </div>
        </div>     
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <label>
                            <?php echo $this->checkbox('ae-publish-now', 'bannerIsPublished', 1, $data['bannerIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>