<?php
$bannerArrayItems = $this->bigBannerPaginator;
$pageBlockId = $this->blockData->page_block_id;
$contentId = $this->contentId;
$numBanners = $this->numBanners;
$animationTime = (int)$this->settings->animationTime ? : 3000;
if ($animationTime <= 0)
{
    $animationTime = 3000;
}
$timeBetweenSlides = (int)$this->settings->timeBetweenSlides ? : 7000;
if ($timeBetweenSlides <= 0)
{
    $timeBetweenSlides = 7000;
}
$animationType = trim($this->settings->animationType);
if (!in_array($animationType, array('fade', 'fadeout', 'none', 'scrollHorz')))
{
    $animationType = 'fadeout';
}
?>
<div<?php if ($numBanners > 0): ?> class="different-background"<?php endif; ?>>
    <?php if ($numBanners > 0): ?>
        <div class="big-banner-loading">
            <img src="/img/loading.gif" style="display:block;margin:auto;width:48px;height:48px;" />
        </div>
        <div class="slideshow"
             data-cycle-log="false"
             data-cycle-loader="wait"
             data-cycle-pause-on-hover="true"
             data-cycle-fx="<?php echo $animationType; ?>"
             data-cycle-speed="<?php echo $animationTime; ?>"
             data-cycle-timeout="<?php echo $timeBetweenSlides; ?>"
             data-cycle-swipe="true"
             data-cycle-swipe-fx="scrollHorz"
             data-cycle-slides="> div"
             data-cycle-pager=".pager-<?php echo $pageBlockId; ?>"
            >
            <?php foreach ($bannerArrayItems as $banner): ?>
                <?php
                $bannerTitle = $this->escapeForHtml($banner->title);
                $anchorTag = '';
                if ($banner->pageUrl != '')
                {
                    $pageUrl = $this->escapeForHtml($banner->pageUrl);
                    if ($banner->url_address_type == \Site\Block\BigBanner\BigBanner::BANNER_URL_ADDRESS_TYPE_EXTERNAL)
                    {
                        $anchorTag = '<a href="' . $pageUrl . '" rel="nofollow">';
                    }
                    else
                    {
                        $pageBreadcrumb = $this->escapeForHtml($banner->pageBreadcrumb);
                        $anchorTag = '<a href="' . $pageUrl . '" title="' . $pageBreadcrumb . '">';
                    }
                }
                ?>
                <div style="display:none" class="slide" data-banner-id="<?php echo $banner->banner_id; ?>">
                    <img src="<?php echo $this->escapeForHtml($banner->imageUrl); ?>" alt="<?php echo $bannerTitle; ?>" />
                    <div class="slide-content">
                        <?php if ($banner->is_title_visible && ($bannerTitle != '')): ?>
                            <div class="banner-title" data-banner-id="<?php echo $banner->banner_id; ?>">
                                <?php echo $bannerTitle; ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($banner->is_contents_visible && ($banner->contents != '')): ?>
                            <div class="banner-content contents" data-banner-id="<?php echo $banner->banner_id; ?>">
                                <?php echo $banner->contents; ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($anchorTag != ''): ?>
                            <div class="banner-link">
                                <?php echo $anchorTag; ?>
                                <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                <?php echo $this->translate('Read more'); ?>
                                </a>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="pager pager-<?php echo $pageBlockId; ?>">

        </div>
    <?php else: ?>
        <div class="no-big-banners-to-show">
            <?php echo $this->translate('No banners'); ?>.
        </div>
    <?php endif; ?>
</div>
<script type="text/javascript">
    loadJsFile('/libs/jquery-cycle2/jquery.cycle2.min.js');
    loadJsFile('/libs/jquery-cycle2/jquery.cycle2.swipe.min.js');
    loadBlockCssFile('big-banner','big-banner');
    loadBlockJsFile('big-banner','big-banner');
    $(document).ready(function(){
        blockBigBanner_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockBigBanner_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>