<?php
$animationTime = (int)$this->settings->animationTime ? : 3000;
if ($animationTime <= 0)
{
    $animationTime = 3000;
}
$timeBetweenSlides = (int)$this->settings->timeBetweenSlides ? : 7000;
if ($timeBetweenSlides <= 0)
{
    $timeBetweenSlides = 7000;
}
$availableAnimationTypes = array('none', 'fade', 'fadeout', 'scrollHorz');
$animationType = trim($this->settings->animationType);
if (!in_array($animationType, $availableAnimationTypes))
{
    $animationType = 'fadeout';
}
?>
<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                    'Animation time',
                    'default',
                    $this->userLanguage->zend2_locale
                ) . ' (ms)';
            ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->text(
                'block-big-banner-transition-speed',
                'animationTime',
                $animationTime,
                false,
                array(
                    'class' => 'form-control',
                    'size' => 5
                )
            );
            ?>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                    'Time between slides',
                    'default',
                    $this->userLanguage->zend2_locale
                ) . ' (ms)';
            ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->text(
                'block-big-banner-time-beetween-slides',
                'timeBetweenSlides',
                $timeBetweenSlides,
                false,
                array(
                    'class' => 'form-control',
                    'size' => 5
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Animation type', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'id' => 'block-big-banner-animation-type',
                    'name' => 'animationType',
                    'class' => 'form-control'
                ),
                $availableAnimationTypes,
                false,
                $animationType
            );
            ?>
        </div>
    </div>
</div>