<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="degreeId" value="<?php echo $data['degreeId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="ad-degree-title" class="col-sm-3 control-label">Nazwa stopnia:</label>
            <div class="col-sm-9">
                <input type="text" id="ad-degree-title"
                       class="form-control" name="degreeTitle"
                       maxlength="<?php echo $maxLengths['title']; ?>"
                       value="<?php echo $this->escapeForHtml($data['degreeTitle']); ?>"
                />
            </div>
        </div>
        <div class="form-group">
            <label for="ad-degree-type" class="col-sm-3 control-type">Typ:</label>
            <div class="col-sm-9">
                <label>
                    <?php
                    echo $this->radio(
                        'ad-degree-type',
                        'degreeType',
                        1,
                        ($data['degreeType'] == 1)
                    );
                    ?> Stacjonarne
                </label>
                <label>
                    <?php
                    echo $this->radio(
                        'ad-degree-type',
                        'degreeType',
                        2,
                        ($data['degreeType'] == 2)
                    );
                    ?> Zdalne
                </label>
                <label>
                    <?php
                    echo $this->radio(
                        'ad-degree-type',
                        'degreeType',
                        3,
                        ($data['degreeType'] == 3)
                    );
                    ?> Stacjonarne i zdalne
                </label>
            </div>
        </div>
        <div class="section">
            <h3 class="title">Pozostałe opcje</h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox(
                                'ad-publish-now',
                                'degreeIsPublished',
                                1,
                                ($data['degreeIsPublished'] == 1)
                            ); ?>
                            Opublikuj tę kategorię od razu po zapisaniu
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>