<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="majorId" value="<?php echo $data['majorId']; ?>" />
        <h3 class="title">Ustawienia kierunku</h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="am-major-category">
                Rodzaj studiów:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><em class="fa fa-bars"></em></span>
                    <?php
                        echo $this->dropdown(
                            array(
                                'id' => 'am-degree-id',
                                'class' => 'form-control',
                                'name' => 'majorDegreeId'
                            ), $this->majorDegreesOptions, true, $data['majorDegreeId']
                        );
                    ?>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="am-major-title">
                Nazwa kierunku:
            </label>
            <div class="col-sm-9">
                <?php
                    echo $this->text(
                        'am-major-title',
                        'majorTitle',
                        $data['majorTitle'],
                        false,
                        array(
                            'class' => 'form-control'
                        )
                    );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="am-degree-type">Typ studiowania:</label>
            <div class="col-sm-9">
                <label>
                    <?php
                    echo $this->checkbox(
                        'am-is-stationary',
                        'majorIsStationary',
                        1,
                        ($data['majorIsStationary'] == 1)
                    );
                    ?> Stacjonarnie
                </label>
                <label>
                    <?php
                    echo $this->checkbox(
                        'am-is-remote',
                        'majorIsRemote',
                        1,
                        ($data['majorIsRemote'] == 1)
                    );
                    ?> Zdalnie
                </label>
            </div>
        </div>
        <div class="form-group" id="am-major-text-icon-form-group">
            <label for="am-major-text-icon" class="col-sm-3 control-label">Ikona:</label>
            <div class="col-sm-9">
                <select class="selectpicker" data-show-icon="true" data-show-subtext="true" id="am-major-text-icon" name="majorTextIcon">
                    <?php echo $this->majorGlyphiconsOptions; ?>
                </select>
            </div>
        </div>
        <div class="section">
            <h3 class="title">Pozostałe opcje</h3>
            <div class="contents">
                <div class="form-group">
                    <label for="am-publish-now" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <label>
                            <?php echo $this->checkbox('am-publish-now', 'majorIsPublished', 1, $data['majorIsPublished'] == 1); ?>
                            Opublikuj ten kierunek od razu po zapisaniu
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>