<div class="window-contents admin" data-page-block-id="<?php echo $this->blockData->page_block_id; ?>">
    <div class="modal-body-header">
        <div class="form-inline" >
            <div class="form-group">
                <label class="col-sm-8 control-label" for="offer-management-icpp-dropdown">Il. elementów:</label>
                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                        'id' => 'offer-management-icpp-dropdown',
                        'class' => 'icpp-dropdown form-control'
                        ), array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30), false, $this->itemCountPerPage);
                    ?>
                </div>
            </div>
            <div class="form-group">
                <button id="offer-management-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-primary btn-add-new">
                    <em class="fa fa-plus-circle"></em> Nowy stopień
                </button>
            </div>
        </div>
    </div> <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if ($this->degreesPaginator): ?>
            <table class="table table-striped table-hover ">
                <tr>
                    <th>Nazwa</th>
                    <th>Ost. modyfikacja</th>
                    <th title="Przełącznik określa, czy stopień jest opublikowany.">Opublikowany</th>
                    <th>Akcja</th>
                </tr>
                <?php if ($this->degreesPaginator->count() > 0): ?>
                    <?php foreach ($this->degreesPaginator as $degree): ?>
                        <tr data-element-id="<?php echo $degree->degree_id; ?>">
                            <td>
                                <strong class="uppercase"><?php echo $this->escapeForHtml($degree->title); ?></strong>
                            </td>
                            <td>
                                <?php echo $degree->last_update_date; ?>
                                <a href="#" class="history" rel="popover"
                                   data-content="
                                   Data ostatniej aktualizacji: <?php echo $degree->last_update_date; ?>
                                   przez:
                                   <?php if ($degree->last_update_author != ''): ?>
                                       <?php echo $degree->last_update_author; ?>
                                   <?php else: ?>
                                       System
                                   <?php endif; ?>
                                   "
                                   data-original-title="Historia zmian">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                            </td>
                            <td>
                                <div class="col-md-1 col-sm-2 col-xs-3">
                                    <label class="switch" title="Włącz / wyłącz publikację.">
                                        <?php if ($degree->is_published == 1): ?>
                                            <input type="checkbox" class="switch-input btn-toggle-publishing" checked>
                                        <?php else: ?>
                                            <input type="checkbox" class="switch-input btn-toggle-publishing">
                                        <?php endif; ?>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </td>
                            <td class="actions">
                                <a class="btn-edit" title="Edytuj" data-action="edit"><span class="glyphicon glyphicon-edit"></span> </a>
                                <a class="btn-delete" title="Usuń" data-action="delete"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php else: ?>
                    <td colspan="4" class="text-center">Brak stopni.</td>
                <?php endif; ?>
            </table>
        <?php else: ?>
            Błąd - nie udało się wczytać listy stopni.
        <?php endif; ?>
    </div> <!-- /.modal-body-content -->
    <?php
    if ($this->degreesPaginator)
    {
        echo $this->paginationControl(
            $this->degreesPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding', array('partial/paginator.phtml', 'Site'), array(
            'route' => 'home'
            )
        );
    }
    ?>
</div>