<?php
$pageBlockId = $this->blockData->page_block_id;
$designMode = $this->designMode;
?>
<div class="offer">
    <?php if ($this->degrees): ?>
        <div class="tabs">
            <ul>
                <li data-tab-id="1">Rekrutacja zimowa</li>
                <li data-tab-id="2">Pełna oferta</li>
            </ul>
        </div>
        <div class="tabs-contents">
            <div data-tab-id="1">
                <table style="border-collapse: collapse; border: 1px solid black">
                    <tr>
                        <td></td>
                        <?php foreach ($this->degrees as $degree): ?>
                            <td colspan="2">
                                <?php echo $this->escapeForHtml($degree->title); ?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                    <tr>
                        <td>Kierunki studiów</td>
                        <?php foreach ($this->degrees as $degree): ?>
                            <td>stacj.</td>
                            <td>zdalne</td>
                        <?php endforeach; ?>
                    </tr>
                    <?php foreach ($this->majors as $major): ?>
                    <tr>
                        <td>
                            <?php echo $this->escapeForHtml($major->title); ?>
                        </td>
                        <?php foreach ($this->degrees as $degree): ?>
                            <td>
                                <?php if ($major->is_stationary): ?>
                                    X
                                <?php endif; ?>
                            </td>
                            <td>
                                <?php if ($major->is_remote): ?>
                                    X
                                <?php endif; ?>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                    <?php endforeach; ?>
                </table>
            </div>
            <div data-tab-id="2">

            </div>
        </div>
    <?php else: ?>
        Brak danych. Wypełnij blok stopniami i kierunkami.
    <?php endif; ?>
</div>
<script>
    loadBlockCssFile('offer','offer');
    loadBlockJsFile('offer','offer');
    $(document).ready(function(){
        blockOffer_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        <?php if ($designMode && $this->hasManagementWindow): ?>
        blockOffer_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>