<?php
$contentId = $this->blockData->content->content_id;
?>
<div class="popup-contents">
    <?php echo trim($this->contents); ?>
</div>
<div class="controls">
    <label>
        <?php echo $this->checkbox('popup-do-not-show-again-' . $contentId, false, 1); ?>
        <?php echo $this->translate('Do not show this popup window again'); ?>
    </label>
</div>