<?php
$currentLanguage = $this->language;
$pageBlockId = $this->blockData->page_block_id;
$data = $this->formData;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="pageBlockId" value="<?php echo $pageBlockId; ?>" />

        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-news-category">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
                <span>*</span>
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->text(
                    'popup-title',
                    'popupTitle',
                    $data['popupTitle'],
                    false,
                    array(
                        'class' => 'form-control',
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-news-category">
                <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>:
                <span>*</span>
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->textarea(
                    'popup-contents',
                    'popupContents',
                    $data['popupContents'],
                    array(
                        'class' => 'form-control',
                    )
                );
                ?>
            </div>
        </div>
    </div>
</div>