<?php
$currentLanguage = $this->language;
$logged = $this->user ? true : false;
$loggedAsModerator = ($logged && ($this->user->account->role == 'moderator'));
$loggedAsAdmin = ($logged && ($this->user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$popupCookieExists = (bool)$this->popupCookieExists;
$firstDisplayAfterCreating = (bool)$this->firstDisplayAfterCreating;
$doNotDisplayPopupNow = (bool)$this->doNotDisplayPopupNow;
$popupDataEmpty = ($this->popupTitle == '') || ($this->popupContents == '');
?>
<?php if ($loggedAsModerator || $loggedAsAdmin): ?>
    <div class="text-center">
        <button class="btn btn-default btn-edit-contents">
            <?php if (!$popupDataEmpty): ?>
                <?php echo $this->translate('Edit contents', 'default', $this->userLanguage->zend2_locale); ?>
            <?php else: ?>
                <?php echo $this->translate('Add contents', 'default', $this->userLanguage->zend2_locale); ?>
            <?php endif; ?>
        </button>
        <?php if (!$popupDataEmpty): ?>
            <button class="btn btn-success btn-display-popup">
                <?php echo $this->translate('Display popup', 'default', $this->userLanguage->zend2_locale); ?>
            </button>
        <?php endif; ?>
    </div>
<?php endif; ?>
<script>
    loadBlockCssFile('popup','popup');
    loadBlockJsFile('popup','popup');
    $(document).ready(function(){
        <?php if ($loggedAsModerator || $loggedAsAdmin): ?>
        blockPopup_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
        <?php if (!$popupCookieExists && !$firstDisplayAfterCreating && !$doNotDisplayPopupNow): ?>
        blockPopup_displayPopup(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>