.block-popup .modal-dialog { width: 600px;}
.block-popup .modal-dialog { padding: 10px; z-index: 1050;}
.block-popup .modal-content {
    color: #333;
    font-size: 15px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}
.block-popup .modal-content .btn { border-radius: 0;color: #000;}
.block-popup .modal-header { border-bottom: 1px solid #e5e5e5;background-color: #0071AF;}
.block-popup .modal-header a.close {
   right: 0px;
    top: 2px;
    color: rgba(0,0,0, 0.5);
}
.block-popup .modal-header h4 {
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.block-popup .modal-body {
    padding: 20px;
    box-shadow: none;
    background: #fff;
}
.block-popup .modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    border-top: 1px solid #e5e5e5;
}
.block-popup .modal-backdrop { -webkit-filter: blur(0);}
@media (max-width: 767px) {
    .block-popup .modal-dialog { width: auto;}
}
