<?php
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$loggedAsModerator = ($user && ($user->account->role == 'moderator'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="bachelor-studies">
    <div class="basic-info">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <em class="fa fa-book"></em>
                    <h4 class="subtitle title">
                        <?php if ($this->basicInfo->title != ''): ?>
                            <?php echo $this->basicInfo->title; ?>
                        <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                            <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                        <?php endif; ?>
                    </h4>
                </div>
                <div>
                    <em class="fa fa-tag"></em>
                    <h4 class="subtitle degree-type">
                        <?php if ($this->basicInfo->degree_type != ''): ?>
                            <?php echo $this->basicInfo->degree_type; ?>
                        <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                            <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                        <?php endif; ?>
                    </h4>
                </div>
                <div>
                    <em class="fa fa-clock-o"></em>
                    <h4 class="subtitle time">
                        <?php if ($this->basicInfo->time != ''): ?>
                            <?php echo $this->basicInfo->time; ?>
                        <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                            <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                        <?php endif; ?>
                    </h4>
                </div>
                <div>
                    <em class="fa fa-language"></em>
                        <h4 class="subtitle language">
                            <?php if ($this->basicInfo->language != ''): ?>
                                <?php echo $this->basicInfo->language; ?>
                            <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                                <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                        <?php endif; ?>
                    </h4>
                </div>

<!--                <div class="description">-->
<!--                    --><?php //if ($this->basicInfo->description != ''): ?>
<!--                        --><?php //echo $this->basicInfo->description; ?>
<!--                    --><?php //elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
<!--                        --><?php //echo $this->translate('Type some text here...'); ?>
<!--                    --><?php //endif; ?>
<!--                </div>-->
            </div>
            <div class="col-md-3 col-md-offset-1">
                <?php if ($this->thumbUrl != ''): ?>
                    <img class="rimage" alt="Thumbnail." src="<?php echo $this->escapeForHtml($this->thumbUrl); ?>" />
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="tabs-control">
        <ul class="nav nav-tabs">
            <?php if ($this->tabs): ?>
                <?php
                $tabCount = $this->tabs->count();
                $isTabCountOdd = ($tabCount % 2) != 0;
                $tabNumber = 1;
                ?>
                <?php foreach ($this->tabs as $tab): ?>
                    <?php $tabContents = trim($tab->contents); ?>
                    <?php if (($tabContents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                        <li class="title<?php echo $tab->additional_css_classes; ?><?php if ($isTabCountOdd && ($tabNumber == $tabCount)): ?> full<?php endif; ?>"
                            data-tab-id="<?php echo $tab->tab_id; ?>"
                        >
                            <span>
                                <?php echo $this->escapeForHtml($tab->name); ?>
                            </span>
                        </li>
                        <?php $tabNumber++; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
        <div class="tab-shadow"><img src="/images/tab-shadow.png" alt="shadow"></div>
        <div class="tabs-contents">
            <?php if ($this->tabs): ?>
                <?php foreach ($this->tabs as $tab): ?>
                    <?php $tabContents = trim($tab->contents); ?>
                    <?php if (($tabContents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                        <div
                            class="tab-pane<?php echo $tab->additional_css_classes; ?>"
                            data-tab-id="<?php echo $tab->tab_id; ?>"
                            <?php if (!$tab->is_active): ?>style="display:none"<?php endif; ?>
                        >
                            <div class="tab-contents" style="min-height:2em">
                                <?php echo $tabContents; ?>
                                <?php if (($tabContents == '') && ($loggedAsModerator || $loggedAsAdmin || $designMode)): ?>
                                    <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
    loadCssFile('/css/vistula-text-icons.css');
    loadBlockCssFile('bachelor-studies', 'bachelor-studies');
    loadBlockCssFile('tabs-control', 'tabs-control');
    loadBlockJsFile('bachelor-studies', 'bachelor-studies');
    $(function () {
        blockBachelorStudies_handleCustomFunctionality(<?php echo $pageBlockId ?>);
    });
</script>