<?php
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">

        <div class="form-group" id="bs-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->partial(
                    'partial/image-upload.phtml',
                    array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $pageBlockId,
                        'blockElementId' => false,
                        'imageArrayName' => 'bsImages',
                        'aspectRatio' => 1,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'bachelor-studies',
                            'resizeImageToMaxWidth' => 200,
                            'resizeImageToMaxHeight' => 200,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,200,200'
                        ),
                        'onBeforeDeletedCallback' => false,
                        'images' => array(
                            0 => array(
                                'attachmentId' => false,
                                'imageId' => 0,
                                'isMain' => false,
                                'originalFileName' => '',
                                'uniqueHashForFileName' => $this->settings->uniqueHashForFileName
                            )
                        ),
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        blockBachelorStudies_handleSettingsFunctionality(<?php echo $pageBlockId; ?>);
    });
</script>