.image-upload .admin-gallery img
{
    z-index: auto;
}
.image-upload .files-to-upload-container
{
    position: absolute !important; /* Because PlUpload library is changing this attribute. */
    left: 10px;
    bottom: 10px;
    text-align: center;
}
.image-upload .files-to-upload-container .btn
{
    position: static;
    z-index: 2;
    display: inline-block;
}
.image-upload .files-to-upload-container span
{
    color: #333;
}
.image-upload .uploaded-file-list > div
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -23px;
    opacity: .90;
    border: 1px solid #333;
    border-radius: 10px;
    background: #333;
    padding: 5px 10px;
    font-weight: bold;
}