/* Smartphones (landscape) */
@import url('') screen and (min-width: 321px);

/* Smartphones (portrait) */
@import url('') screen and (max-width: 320px);

/* iPhone 3G && iPhone 4 (landscape) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape);

/* iPhone 3G && iPhone 4 (portrait) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait);

/* iPhone 5 (landscape) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape);

/* iPhone 5 (portrait) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait);

/* Samsung Galaxy S2 (landscape) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 534px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1.5);

/* Samsung Galaxy S2 (portrait) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 534px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1.5);

/* Samsung Galaxy S3 (landscape) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2);

/* Samsung Galaxy S3 (portrait) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2);

/* Samsung Galaxy S4 (landscape) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3);

/* Samsung Galaxy S4 (portrait) */
@import url('') screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3);

/* HTC One (landscape) */
@import url('') screen and  (device-width: 360px) and (device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3);

/* HTC One (portrait) */
@import url('') screen and  (device-width: 360px) and (device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3);

/* LG Nexus 4 (landscape) */
@import url('') screen and (min-device-width: 384px) and (max-device-width: 592px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2);

/* LG Nexus 4 (portrait) */
@import url('') screen and (min-device-width: 384px) and (max-device-width: 592px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2);

/* Asus Nexus 7 (landscape) */
@import url('') screen and (min-device-width: 601px) and (max-device-width: 906px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332);

/* Asus Nexus 7 (portrait) */
@import url('') screen and (min-device-width: 601px) and (max-device-width: 906px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332);

/* iPads (landscape) */
@import url('') screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape);

/* iPads (portrait) */
@import url('') screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait);

/* iPad 3 (landscape) */
@import url('') screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2);

/* iPad 3 (portrait) */
@import url('') screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2);

/* Desktops and laptops */
@import url('') screen and (min-width: 1224px);

/* Large screens */
@import url('large-screens.css') screen and (min-width: 1824px);