@import url('reset.css');
@import url('basic.css');

body
{
	margin: 0;
	background: #e3eaf3 url(../img/bcg.jpg) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 130%;
	color: #717171;
}

.not-implemented-yet
{
    /*opacity: .7;
    border-color: #F00;
    background-color: orangered;
    color: #fff;*/
    cursor: default !important;
}
.not-implemented-yet *
{
    cursor: default !important;
}

/**
 *	Icons
 */
.icon
{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/sprite.png) no-repeat scroll -150px -557px;
}
.icon-phone{background-position: -223px -0px;}
.icon-top{background-position: -400px -72px;}
/**
 *  Language icon classes with suffix compatible to ISO 639-2 code.
 */
.icon-eng{width: 20px; height: 20px; background-position: -247px -101px;}
.icon-pol{width: 20px; height: 20px; background-position: -217px -75px;}

/**
 *	Wrapper
 */
.site-wrapper
{
	position: relative;
	margin: 0 auto;
	width: 990px;
}

/**
 *	Top
 */
#site-top
{
	margin: 20px auto 10px auto;
	position: relative;
	background: url(../img/sprite.png) no-repeat 0 -140px;
	height: 142px;
}
#site-top.moved-down{margin-top: 70px;}

/**
 *	Site logo
 */
#site-top #site-logo
{
	position: absolute;
	left: 20px;
	top: 20px;
}

/**
 *	Phone number and quick language selection
 */
#site-top #site-language-flags
{
	position: absolute;
	right: 24px;
	bottom: 20px;
}
#site-top #site-language-flags .phone
{
	position: relative;
	float: left;
	text-align: right;
}
#site-top #site-language-flags .phone .icon.icon-phone
{
	position: absolute;
	left: -14px;
	top: 3px;
}
#site-top #site-language-flags .phone .prefix{color: #0062A0;}
#site-top #site-language-flags .phone .number{color: #000;}
#site-top #site-language-flags .label
{
	float: left;
	margin-left: 5px;
	border-left: 1px solid #999;
	padding: 0 10px 0 5px;
	text-align: right;
	color: #999;
}

/**
 *	Site top navigation menu
 */
#site-top nav
{
	position: absolute;
	top: -7px;
	right: 15px;
}
#site-top nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#site-top nav ul li
{
	float: left;
	margin-right: 3px;
}
#site-top nav ul li a
{
	position: relative;
	display: block;
	height: 70px;
	padding: 0 5px 0 30px;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
}
#site-top nav ul li a .spacer
{
	position: absolute;
	top: 0;
	right: -10px;
	width: 10px;
	height: 70px;
}
#site-top nav ul li a:hover
{
	background: url(../img/sprite.png) no-repeat -317px -1px;
	color: #fff;
}
#site-top nav ul li a:hover .spacer
{
	background: url(../img/sprite.png) no-repeat -628px -1px;
	color: #fff;
}

/**
 *	Page content
 */
#site-page > .border-top
{
	height: 10px;
	background: url(../img/sprite.png) no-repeat 0 -955px;
}
#site-page > .border-middle
{
	background: url(../img/page-border-middle.png) repeat-y;
	padding: 11px 20px;
}
#site-page > .border-bottom
{
	height: 10px;
	background: url(../img/sprite.png) no-repeat 0 -1004px;
}

/**
 *	For two-columns layout
 */
#site-page > .border-middle > .page > .left-column
{
    float: left;
    width: 720px;
}
#site-page > .border-middle > .page > .right-column
{
    float: left;
    margin-left: 20px;
    width: 210px;
}

/**
 *	Footer
 */
#site-footer
{
	position: relative;
}
#site-footer .top
{
	height: 46px;
	background: url(../img/sprite.png) 0px -610px;
	font-size: 11px;
}
#site-footer .top ul
{
	padding-left: 20px;
	list-style: none;
	line-height: 46px;
}
#site-footer .top ul li
{
	margin: 0;
	display: inline;
	padding: 5px 25px 0 0;
	text-align: center;
}
#site-footer .top ul li a
{
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
#site-footer .top .go-up
{
	position: absolute;
	right: 10px;
	top: 14px;
}
#site-footer .top .go-up a{color: #999;}
#site-footer .bottom
{
	text-align: center;
	font-size: 11px;
	line-height: 50px;
}
#site-footer .bottom .proimagine-logo
{
	margin-left: 3px;
	width: 53px;
	height: 17px;
	background: url(../img/sprite.png) -253px -1px no-repeat;
	padding: 3px 0 0 53px;
}
#site-footer .bottom .proimagine-logo:hover
{
	background-position: -253px -26px;
}

/**
 *	Admin toolbar.
 */
#admin-toolbar
{
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 50px;
	height: 50px;
	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%,#222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333 0%,#222 100%); /* IE10+ */
	background: linear-gradient(to bottom, #333 0%,#222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#222',GradientType=0 ); /* IE6-9 */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#admin-toolbar a
{
	color: #d6d6d6;
}
#admin-toolbar a:hover
{
	text-decoration: none;
	color: #fff;
}
#admin-toolbar .proimagine-logo
{
	float: left;
	margin: 2px 0 0 10px;
	width: 90px;
	background: url(../img/sprite2.png) 0 -200px no-repeat;
	padding: 28px 0 0 0;
	font-size: 0.7em;
	color: #999;
}
#admin-toolbar .proimagine-logo:hover
{
	background-position: -120px -200px;
}
#admin-toolbar .proimagine-logo strong
{
	font-family: Arial Bold;
	font-size: 1.5em;
}
#admin-toolbar ul
{
	float: left;
	margin-left: 10px;
}
#admin-toolbar ul li
{
	float: left;
	line-height: 50px;
	font-size: 0.90em;
        margin-right: 1em;
}
#admin-toolbar #logged-as
{
	float: right;
	margin: 0 20px;
	line-height: 50px;
	font-size: 0.90em;
	color: #fff;
}
#admin-toolbar #logout
{
	float: right;
	background: url(../img/toolbar-separator.png) center left no-repeat;
}
#admin-toolbar #logout #logout-button
{
	display: block;
	/*height: 18px;
	background: url(../img/icon-logout.png) top left no-repeat;
	padding: 10px 20px 11px 35px;*/
	padding: 0 20px;
	line-height: 50px;
	font-size: 0.90em;
}
/*#admin-toolbar #logout #logout-button:hover
{
	background-position: bottom left;
}*/

#admin-toolwnd
{
	z-index: 50;
	position: fixed;
	left: -362px;
        /*left: 0;*/
	top: 100px;
	width: 360px;
	height: 500px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;

	background: #333; /* Old browsers */
	background: -moz-linear-gradient(top, #333 0%, #222 40%, #000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.4, #222), color-stop(1, #000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333 0%, #222 40%, #000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333 0%, #222 40%, #000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333 0%, #222 40%, #000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #333 0%, #222 40%, #000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#000',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 1px 1px 1px #5b5e63;
	-moz-box-shadow: 1px 1px 1px #5b5e63;
	box-shadow: 1px 1px 1px #5b5e63;
}
#admin-toolwnd #slide-button
{
	position: absolute;
	top: 210px;
	right: -16px;
	width: 17px;
	height: 48px;
	background: url(../img/toolwnd-slide-button.png) no-repeat;
	cursor: pointer;
}
#admin-toolwnd #tabs-container
{
	margin: 20px 0 0 20px;
	float: left;
	width: 320px;
	height: 40px;
	overflow: hidden;
	background: #ccc;
}
#admin-toolwnd #tabs-container ul li
{
	display: inline-block;
	padding: 0 10px;
	line-height: 40px;
	cursor: pointer;
}
#admin-toolwnd #tabs-container ul li:hover
{
	color: #000;
}
#admin-toolwnd #tabs-contents-container
{
	margin: 20px 0 0 20px;
	float: left;
	clear: both;
	width: 320px;
	height: 400px;
	overflow: auto;
	background: #ccc;
}
#admin-toolwnd #tabs-contents-container .inner
{
	padding: 10px;
}

#admin-toolwnd .block-bar
{
    cursor: move;
}
#admin-toolwnd .block-bar.ui-draggable-dragging
{
    display: block;
    width: 260px !important;
    border: 1px solid #999;
    background: #f1f1f1;
    padding: 5px 30px 5px 10px;
}

/**
 * Styles for dialogs like "alert", "confirm" and "prompt".
 */
.alert,.confirm,.prompt
{
    padding: 1em;
}

/**
 *  Styles needed for block administration functionality.
 */
.admin-slot
{
    min-height: 3em;
    
    height: auto !important;
    position: relative;
}
.admin-slot .slot-item
{
    position: relative;
}
/*.admin-slot .slot-item:empty
{
    height: 3em;
}*/
.admin-slot .slot-item .block-frame
{
    width: 100%;
    height: 100%;
    border: 1px solid #888;
    -webkit-box-shadow: inset 0px 0px 0px 2px #FFFFFF;
    box-shadow: inset 0px 0px 0px 2px #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: -2.4em;
    left: -10px;
    right: -10px;
    padding-bottom: 45px;
}
.admin-slot .slot-item .block-frame .title-bar
{
    background: #969696; /* Old browsers */
    background: -moz-linear-gradient(top, #969696 0%, #7f7f7f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #969696 0%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #969696 0%,#7f7f7f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #969696 0%,#7f7f7f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #969696 0%,#7f7f7f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
    padding: .3em .5em;
    color: #e3eaf3;
    text-shadow: 1px 1px 1px #000;
}
.admin-slot .slot-item .block-frame.dynamic
{
    border-color: #8ab66b;
}
.admin-slot .slot-item .block-frame.dynamic .title-bar
{
    background: #c9de96; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
}
.admin-slot .slot-item .block-frame .title-bar .buttons
{
    float: right;
    position: absolute;
    right: .5em;
    top: 3px;
}
.admin-slot .slot-item .block-frame .title-bar .buttons .button
{
    float: left;
    margin-left: 1em;
    /*min-width: 21px;*/
    min-width: 10px;
    height: 21px;
    opacity: .7;
    cursor: pointer;
}
.admin-slot .slot-item .block-frame .title-bar .buttons .button:hover
{
    opacity: 1;
}
.admin-slot .slot-item:hover .block-frame
{
    z-index: 2;
    display: block !important;
}
.admin-slot .slot-item .block-content
{
    z-index: 1;
    position: relative;
}
.admin-slot .slot-item .block-content h3.block-title
{
    font-size: 1.75em;
    margin-bottom: .5em;
}
.admin-slot .slot-item .block-content h4.block-title
{
    font-size: 1.5em;
    margin-bottom: .5em;
}
.admin-slot .slot-item .block-content h5.block-title
{
    font-size: 1.25em;
    margin-bottom: .5em;
}
.admin-slot .slot-item .block-content h6.block-title
{
    font-size: 1em;
    margin-bottom: .3em;
}
.admin-slot .slot-item .block-frame.unpublished,
.admin-slot .slot-item .block-content.unpublished
{
    opacity: .5;
}
/*.slot-highlighted
{
    background: #7db57c !important;
}*/

/**
 *  "fix" div is needed because without it the jquery ui inserts its placeholder
 *  directly into "body" and it is visible but should not! Wrapping entire page
 *  with this empty div resolves this problem because of different selector.
 */
body > .fix .ui-sortable-placeholder
{
    border: 1px solid orange;
    background: #fcefa1;
    visibility: visible !important;
    height: 10em !important;
}
body > .fix .ui-sortable-placeholder * {visibility: hidden;}

/**
 * Menu block styles.
 */
ul.horizontal
{
    list-style: none;
}
ul.horizontal li
{
    float: left;
    padding: 3px 5px;
}
ul.vertical
{
    display: block;
    list-style: circle;
}
ul.vertical li
{
    display: list-item;
}

/**
 *  Proimagine CMS widgets styles placed inside JQuery UI Dialogs.
 */
.ui-dialog .ui-dialog-content .nested
{
    margin-left: 1.2em;
}
.ui-dialog .ui-dialog-content table
{
    width: 100%;
    font-size: 0.85em;
}
.ui-dialog .ui-dialog-content table th
{
    text-align: left;
    font-weight: bold;
    padding: .5em 1em;
}
.ui-dialog .ui-dialog-content table td
{
    padding: .5em 1em;
}

.ui-dialog .ui-dialog-content .form
{
    margin: 0 auto;
    width: 400px;
}
.ui-dialog .ui-dialog-content .form .section
{
    border-bottom: 1px #ccc; /* Does not work. I don't know why. '*/
    margin-bottom: 1em;
}
.ui-dialog .ui-dialog-content .form .section .title
{
    text-align: center;
}
.ui-dialog .ui-dialog-content .form .section .contents
{
    margin-top: .5em;
}
.ui-dialog .ui-dialog-content .form .section .contents .row label.title-column
{
    display: block;
    margin-bottom: .5em;
}
.ui-dialog .ui-dialog-content .form .section .contents .row .inputs-column input[type="text"],
.ui-dialog .ui-dialog-content .form .section .contents .row .inputs-column input[type="password"],
.ui-dialog .ui-dialog-content .form .section .contents .row .inputs-column select,
.ui-dialog .ui-dialog-content .form .section .contents .row .inputs-column textarea
{
    width: 100%;
    border: 1px solid #999;
    padding: .3em .5em;
    margin-bottom: 1em;
}
.ui-dialog .ui-dialog-content .form .section .contents .row .inputs-column > label
{
    display: block;
}