html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
{
	margin:0;
	border:0;
	outline:0;
	padding:0;
	background:transparent;
	font-size:100%;
	vertical-align:baseline;
}
*{margin:0;padding:0;outline:none;}
body{line-height:1;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
a
{
	margin:0;
	border:0;
	background:transparent;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus{border:none;}
img{border:none}
strong{font-weight: bold}
ins{background-color:#CCC;color:#000;text-decoration:none;}
mark
{
	background-color:#CCC;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
input,select
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align:middle;
}
hr
{
	display:block;
	margin:1em 0;
	height:1px;
	border:0;
	border-top:1px solid #666666;
	padding:0;
}