/* Overides BOOTSTRAP 3 settings */

/* Generals css */
body {
    background-color: #ffffff;
    font:14px/1.35em 'Open Sans', sans-serif;
    color: #595858;
    font-weight: 400;
    line-height: 1.875em;
    letter-spacing: 0.0175em;
}
strong {font-weight: 700;}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    line-height: 1.25em;
    margin-bottom: 1em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    font-weight: 300;
    letter-spacing: 0.0625em;
}
h1, .h1 {
    font-weight: 400;
    font-size: 3.1em;
    color: #024B54;
    letter-spacing: 0.0325em;
}
h2, .h2 { font-size: 1.8em; margin-bottom: 20px; margin-top: 0; color: #1A3F76;  }
h3, .h3 { font-size: 1.4em; color: #1A3F76; margin-bottom: 0.5em; }
h4, .h4 { font-size: 1.2em; color: #1A3F76; }
h1.title p,
h2.title p,
h3.title p,
h4.title p,
h5.title p {
    display: inline;
}
h2.title {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding-bottom: 6px;
    position: relative;
    z-index: 0;
    color: #1A3F76;
}
h2.title p {
    margin-bottom: 0;
    padding-bottom: 7px;
    padding-right: 10px;
    position: relative;

    z-index: 1;
}
h3.title p {
    margin-bottom: 0;
    padding-right: 10px;
}
a { color: #0087CD;}
a:hover {color: #006096; text-decoration: none;}
.displayed-as-block { display: block;}
.clearfix {content: ".";visibility: hidden;display: block;height: 0; clear: both;}


#main-content .btn.btn-default { color: #fff; background-color: rgba(0,0,0,0.4); text-shadow:1px 1px 0 rgba(0,0,0,0.2);}
#main-content .btn.btn-default:hover { background-color: #000;}

/**
 * Message about cookies usage.
 */
#message-about-cookies {
    position: fixed;
    display: block;
    z-index: 99999;
    margin: 0;
    min-height: 30px;
    background-color: #132D53;
    padding: 6px 20px 4px;
    text-align: left;
    color: #ddd;
}
#message-about-cookies .btn-info {
    background-color: #0070B0;
    border-color: #015D90;
}
#message-about-cookies .btn-info:hover {
    background-color: #015B8E;
    border-color: #01476F;
}
#message-about-cookies > p {
     display: inline;
    }
    .alert-dismissable .close{
    position: absolute;
    top: 5px;
    right: 15px;
}
.cookie-top {
    left: 0;
    top: 0;
    width: 100%;
}
.cookie-bottom {
    left: 0;
    bottom: 0;
    width: 100%;
}
.cookie-bottom-left {
    left: 0;
    bottom: 0;
    width: 25%;
}
.cookie-bottom-right {
    right: 0;
    bottom: 0;
    width: 25%;
}
#message-about-cookies .close {
    opacity: 0.5;
    color: #fff;
}

/* Header */

#top-search input {
    background: none;
    border: none;
    color: #FFF;
    font-size: 12px;
    -moz-opacity: 0.40;
    opacity: 0.40;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    /*border-bottom: 1px dotted #BBBDCC;*/
    height: 23px;
}

#top-search input:active, #top-search input:focus {
    -moz-opacity: 0.90;
    opacity: 0.90;
    outline: none;
}

#top-search {
    display: inline-block;
/*    position: absolute;
    right: 15px;
    top: 25px;*/
}

#top-search a {
    font-size: 12px;
    color: #fff;
    -moz-opacity: 0.40;
    opacity: 0.40;
}

.navbar-default {
    position: relative;
    margin-bottom: 0;
    z-index: 2;
}

.navbar-default .header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #333;
    top: 0;
}

.navbar-default .container {
    z-index: 1;
    position: relative;
}

.navbar {
    height: 186px;
    border: none;
    background: url(../images/bcg-header.jpg) repeat-x;
}

.navbar .container {
    background: url(../images/bcg-header-1.jpg) no-repeat top center;
}

#logo-link {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
}

.logo-bar {
    background: url(../images/pasek.png) repeat-x center;
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 10px;
    z-index: 2;
}

/* Main menu */
.navbar-btn {
    background: none;
    border: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: none;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-shadow: 1px 1px 1px #333333;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a.active {
    color: #59c9db;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.navbar-nav > li > a {
    padding: 2px 10px;
    margin: 0;
}
.navbar-nav {
    margin-left: 0;
    margin-right: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;

}

/* Top nav */
#top-nav {
    display: block;
    clear: both;

}

#top-nav .content {
    height: 25px;
}

#top-nav .navbar-nav {
    font-size: 12px;
}
#top-nav .nav-pills > li > a {font-size: 12px}

.banner-fluid .bx-wrapper .bx-viewport {
    left: 0;
}

.top-navi { text-align: right; line-height: 23px;}
.beta-test { font-size: 12px; color: rgba(255,255,255,0.6); line-height: 10px; }
.beta-test a{ color: rgba(255,255,255,0.9); font-weight: bold; }

/* Logo nav */
#logo-nav {
    clear: both;
    height: 125px;
    font-weight: 400;
    font-size: 3.8em;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.025em;
}

#logo-container {
    padding-top: 25px;
}

#logo-container a {
    color: #a1c6cc;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


#logo-container a:hover {
    text-decoration: none;
    color: #a1c6cc;
}

#logo-nav a span {
    color: #fff;
}

#logo-nav a:hover span {
    color: #FFF;
}

#logo-nav img {
    margin-top: -10px;
}

/* Sub menu */
.nav-pills > li > a {
    color: #949494;
    border-bottom: 1px dashed #E1E1E1;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    -webkit-transition: color 0.5s ease-out, background 0.5s ease-out, border 0.5s ease-out;
    -moz-transition: color 0.5s ease-out, background 0.5s ease-out, border 0.5s ease-out;
    -o-transition: color 0.5s ease-out, background 0.5s ease-out, border 0.5s ease-out;
    -ms-transition: color 0.5s ease-out, background 0.5s ease-out, border 0.5s ease-out;
    transition: color 0.5s ease-out, background 0.5s ease-out, border 0.5s ease-out;
}

#main-content .nav.user-menu li.child-0 > a,
.nav-pills > li a { border: none; padding: 3px 20px; margin-right: 10px }



.nav-pills > li > ul > li > a {
    font-weight: 100;
    font-size: 14px;
    border-bottom: none;
    color: #777;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover, .nav-pills li.active li.active a {
    background-color: transparent;
    color: #1A3F76;
    border-bottom-color: #1A3F76;
}

.nav-stacked > li + li {
    margin-top: 0;
}

.nav-pills span.menu.fa {
    position: absolute;
    right: 28px;
    top: 10px;
    font-size: 14px;
    color: #999;
}

.nav-pills span.menu.glyphicon:hover, .nav-pills span.menu.fa:hover {
    color: #1A3F76;
    cursor: pointer;
}

.nav-pills li.active li a {
    color: #000;
}

@media (max-width: 767px) {
    .nav-pills > li {
        float: left;
        margin-right: 30px;
        padding: 3px 5px;
    }

    .nav-pills span.menu.fa{
        right: 10px;
    }
    #subfooter .nav-stacked > li + li {
        margin-right: 5px;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover {
        border-color: #333;
    }
}

/* Admin top side panel */
#admin-top-side-panel > .dropdown > .dropdown-menu {
    display: block;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

#admin-top-side-panel > .dropdown > .dropdown-menu.displayed {
    opacity: 1;
    height: auto;
    overflow: visible;
}

#admin-top-side-panel > .dropdown > .dropdown-menu.hidden {
    opacity: 0 !important;
}

/* Custom icon */
span.glyphicon-asterisk,
.info span.glyphicon-asterisk,
.item .info span.glyphicon.glyphicon-asterisk {
    color: #999;
    margin: 0 5px;
    font-size: 50%;
    line-height: 150%;
    top: -2px;
}

/* Items */
.item {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    position: relative;
}

.item.last {
    border: none;
    margin-bottom: 0;
}

.item h3 {
    margin-top: 0;
    font-weight: 300;
}

.item .info {
    color: #666;
    clear: both;
    font-size: 13px;
    margin-bottom: 10px;
}

.item .info .glyphicon {
    color: #999;
    font-size: 11px;
}

.item > a > .glyphicon-circle-arrow-right.big {
    font-size: 220%;
    color: #CCC;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
}

.item > a > h3 {
    padding-right: 40px;
}

.item > a:hover > h3, .item > a:hover > .glyphicon-circle-arrow-right.big {
    color: #000;
}

.item > .text {
    margin-bottom: 10px;
    padding-right: 40px;
}

.item > .text > .thumb {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* see-more button */
.see-more {
    padding: 5px 0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
    display: block;
    color: #CCC;
    font-size: 85%;
}

/* Footer */
.container.footer {
    border-top: 1px solid #CCC;
    clear: both;
    padding-bottom: 15px;
    padding-top: 15px;
}

.container.footer .navbar-nav > li {
    margin-top: 0;
}

.container.footer .navbar-nav > li > a {
    color: #000;
}

.logos-footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding-bottom: 10px;
}

.logos-footer > img {
    margin: 10px;
    margin-bottom: 0;
}

/* Responsive images */
img.rimage, img.responsive-image {
    max-width: 100%;
    width: 100%;
}

/* Social media panel */

#social-media-panel {
    position: fixed;
    right: -5px;
    top: 35%;
    background: none;
    z-index: 5;
    margin-top: -10px;
    width: 36px;

}
#social-media-panel a {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    float: right; width: 40px;
    margin-right: -5px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#social-media-panel a:hover  {
    margin-right: 0;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

/* Lang tab */

#main-header a.flag {
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
    -moz-opacity: 0.20;
    opacity: 0.20;
}

#main-header .block-content {
    margin-bottom: 0;
}

#main-header a.flag:hover, #main-header a.flag.active {
    -moz-opacity: 1;
    opacity: 1;

}

/* top-sections */
#top-sections {
    background: #F2F2F2;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px;
    -webkit-box-shadow: inset  0 5px 5px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset 0 5px 5px 0 rgba(50, 50, 50, 0.3);
    box-shadow:  inset 0 5px 5px 0 rgba(50, 50, 50, 0.3);
}

#top-sections h1 {
    margin: 20px 0;
}
#top-sections .block-content { margin-bottom: 0;}

.front #top-sections {
    padding-top: 35px;
}

/* Content-bottom */
#content-bottom {
    background: #F8F8F8;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.3);
    box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.3);
    padding: 20px 0;
}

/* Subfooter */
#subfooter {
    background: rgb(30, 95, 103); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNWY2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYjQzNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(30, 74, 138) 0%, rgb(12, 30, 56) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(12, 30, 56)), color-stop(100%, rgba(11, 67, 78, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(30, 74, 138) 0%, rgb(12, 30, 56) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(30, 74, 138) 0%, rgb(12, 30, 56) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(30, 74, 138) 0%, rgb(12, 30, 56) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgb(30, 74, 138) 0%, rgb(12, 30, 56) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5f67', endColorstr='#0b434e', GradientType=0); /* IE6-8 */

}

#subfooter .container {
    background: transparent url(../images/subfooter-bcg.png) no-repeat right;
    padding: 30px 0;
}

#subfooter h1, #subfooter h2, #subfooter h3, #subfooter, #subfooter .block-content {
    color: #a1c6cc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    line-height: 1.4em;
}
#subfooter h3 {line-height: 1.4em;}

#subfooter h1 { font-size: 28px;}
#subfooter h2 { font-size: 24px;}
#subfooter h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
    border-bottom: none;
}
#subfooter h4 { color: #fff;}

#subfooter h3 p {
    margin-bottom: 0;
    border-bottom: none;
}

#subfooter .block-content, #subfooter .block-text-content, #subfooter .block-text-content p { margin-bottom: 0;}


#subfooter .nav-pills > li > a {
    color: #a1c6cc;
    font-weight: 300;
    padding: 5px 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#subfooter .nav-pills > li > a:hover {
    color: #fff;
    border-bottom-color: #fff;
}

#subfooter .nav-pills > li > ul {
    margin-bottom: 0;
}

#subfooter .nav-pills > li > ul > li {

}

#subfooter .nav-stacked > li + li {

}

#subfooter .nav-pills > li:first-child > a {
    border-top: none;
}

#subfooter .nav-pills > li:last-child > a {
    border-bottom: none;
}

#subfooter .nav-pills > li > a:hover {
    background: none;
}

.section-info {
    font-family: Georgia;
    padding-top: 10px;
    color: #999;
    margin-bottom: 10px;
}

.section-info a {
    color: #ccc;
    margin: 0 5px;
}

.section-infoa a:hover {
    color: #0077b3;
}

#main-content {
    padding: 30px 0;
}

/* Footer */
#footer {
    background: #000;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
}

#footer p {
    margin-bottom: 0;
}

#footer .block-content {
    overflow: auto;
    margin-bottom: 0;
}

#footer .container,
#footer .col-md-9,
#footer .col-md-3 {
    padding: 0;
}

#footer .col-md-3 {
    text-align: right;
}

#footer .nav.navbar-nav a {
    padding-left: 0;
    padding-right: 25px;
}

#footer .nav.navbar-nav a:hover {
    color: #fff;
    background: none;
}

/*--------------- end of Banner fluid */
.nav-tabs {border-bottom: 2px solid #004C77;}
.nav-tabs > li {margin-bottom: 0; margin-top: 3px;}
.nav-tabs > li > a {
    border: none;
    border-radius: 0;
    line-height: 15px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    color: #145b66;
    margin-right: 3px;
    background: rgb(245, 245, 245); /* Old browsers */
    -webkit-box-shadow: inset 0 -3px 3px 0 rgba(50, 50, 50, 0.18);
    -moz-box-shadow: inset 0 -3px 3px 0 rgba(50, 50, 50, 0.18);
    box-shadow: inset 0 -3px 3px 0 rgba(50, 50, 50, 0.18);
    transition: background-color 0.5s linear;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover {
    background: #145b66;
    border: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* offer */
.offer-table td, .offer-table th {
    text-align: center;
}

.offer-table tr.desc td {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.content .offer-table td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #398439;
}

.content .offer-table td .fa.fa-check {
    font-size: 18px;
}

.offer-table td.cath {
    text-align: left;
}

.offer-bt {
    display: block;
    padding: 15px;
    -webkit-box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: inset 0 0 5px 0 rgba(50, 50, 50, 0.75);
}

.item-info, .item-social {
    color: #999;
    font-size: 14px;
    margin: 10px 0;
}

.content .item-social a {
    padding: 0 3px;
    color: #999;
}
.item-social {
    display: none;
}

.content .item-social a:hover {
    color: #59c9db;
}

.block-content {
    margin-bottom: 20px
}

.block-content strong {
    font-weight: 700;
}

.block-content > ul {
    padding-left: 10px;
}

.block-content > ul > li {
    margin-bottom: 10px;
}

.block-text-content {
    margin-bottom: 0;
}

.block-text-content strong {
    font-weight: 700;
}

.block-text-content ul {
    padding-left: 10px;
}

.block-text-content ul li {
    margin-bottom: 10px;
    margin-left: 15px;
}

.full-button {
    border: 1px solid #D0D0D0;
    color: #d0d0d0;
    padding: 3px 10px;
    text-align: center;
}

.full-button:hover {
    border-color: #145b66;
    color: #145b66;
    text-decoration: none;
}

.slider-wrapper.theme-default .nivoSlider {
    box-shadow: none;
    margin-bottom: 3px;
}

.slider-wrapper.theme-default .nivo-controlNav {
    padding: 2px;
}

/*Fast login*/
#fast-login-form input {
    background: #fff;
}

/*Arrows jquery overide*/
a.jcarousel-control-prev, a.jcarousel-control-next {
    background: none;
    border-radius: 0;
    box-shadow: none;
    color: #666;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    top: 50%;
    margin-top: -18px;
    font-size: 18px;
}

.jcarousel-wrapper {
    margin-bottom: 0;
}

/* Form control */
#subfooter .form-control { background-color: rgba(255,255,255, 0.1); border:1px solid rgba(0,0,0,0.3); color: rgba(255,255,255,0.6);}
#subfooter form .btn-default { background-color: rgba(0,0,0,0.2); color: #fff; border:none;}
#subfooter form .btn-default:hover { background-color: #000;}
/* Table Default */
.block-content table tr td {vertical-align: top;}

/* Table data */
.block-content table.table-data {border-collapse: collapse;	border-spacing: 0; table-layout: fixed;}
.block-content table.table-data td {	vertical-align:middle; word-wrap:break-word;  padding:4px 8px; border-bottom:1px solid #F0F0F0; border-top:1px solid #cfcfcf; word-wrap:break-word; }
.block-content table.table-data th { text-align:left; background:#e8e8e8; padding:4px 8px;}
.block-content table.table-data p { margin: 0; }
.block-content table.table-data tr td {
    color: #333;
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    letter-spacing: 1px;
    background: #FFF  no-repeat;
}
.block-content table.table-data tr th {
    color: #333;
    border-right: 1px solid #F0F0F0;
    border-bottom: 2px solid #e5e5e5;
    border-top: 1px solid #F0F0F0;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    line-height: 1.8em;
    word-wrap:break-word;
    background: #FFF no-repeat;
}
.block-content table.table-data tr:nth-child(odd) td { background: rgba(0,0,0,0.02); }

/* Tables List */
table.table-list  {	border-collapse: collapse;	border-spacing: 0; table-layout: fixed;  }
table.table-list td {	vertical-align:middle; padding:10px 4px; border-bottom:1px solid #F0F0F0; border-top:1px solid #cfcfcf; word-wrap:break-word; }
table.table-list th { text-align:left; background:#e8e8e8; padding:4px 3px;}
table.table-list p { margin: 0; word-wrap:break-word; }
table.table-list tr:first-child td {
    color: #333;
    border-right: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    background: #FFF  no-repeat;
}

table.table-list tr:nth-child(2) td { text-align: center; font-size: 12px;}
table.table-list tr td:first-child{ text-align: right; border-bottom: 1px solid #F0F0F0; border-left: 1px solid #F0F0F0;}
table.table-list tr:nth-child(2) td:nth-child(1) { font-weight: bold}
table.table-list tr:first-child td:first-child { border-top: 1px solid #F0F0F0;;}
table.table-list tr:nth-child(2) td:first-child { font-weight: normal;}
table.table-list tr:nth-child(1) td:nth-child(2),
table.table-list tr:nth-child(1) td:nth-child(4),
table.table-list td:nth-child(2),
table.table-list td:nth-child(3),
table.table-list td:nth-child(6),
table.table-list td:nth-child(7){
    background: #fafafa;
    color: #333;
}

table.table-list tr td:nth-child(2),
table.table-list tr td:nth-child(6)
{
    border-left: 1px solid #F0F0F0;
}

table.table-list tr td:nth-child(3),
table.table-list tr td:nth-child(7),
table.table-list tr td:nth-child(8)
{
    border-right: 1px solid #F0F0F0;
}

table.table-list tr td:nth-child(2),
table.table-list tr td:nth-child(4),
table.table-list tr td:nth-child(6){
    border-right: 1px dashed #F0F0F0;
}

.block-header h4{ color: #666;}

/* Dark panel styles */
.panel-dark {
    padding: 20px;
    color: #fff;
    background: rgb(1,65,75); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxNDE0YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNjc0N2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(1,65,75,1) 0%, rgba(38,116,126,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(1,65,75,1)), color-stop(100%,rgba(38,116,126,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(1,65,75,1) 0%,rgba(38,116,126,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(1,65,75,1) 0%,rgba(38,116,126,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(1,65,75,1) 0%,rgba(38,116,126,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(1,65,75,1) 0%,rgba(38,116,126,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01414b', endColorstr='#26747e',GradientType=0 ); /* IE6-8 */
    color:rgba(255,255,255,0.7);
    line-height: 1.3em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.panel-dark h1,
.panel-dark h2,
.panel-dark h3,
.panel-dark h4,
.panel-dark h5{
    color: #c0c0c0;
    margin: 20px 0 20px 0;
    font-weight: 300;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}
.panel-dark p { margin-bottom: 0;}
.panel-dark .number {
    position: absolute;
    top: -25px;
    left: 50%;
    color: rgba(255,255,255,1);
    font-weight: 400;
    font-size: 24px;
    background: rgb(38,116,126); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2NzQ3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTQxNGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(38,116,126,1) 0%, rgba(1,65,75,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,116,126,1)), color-stop(100%,rgba(1,65,75,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(38,116,126,1) 0%,rgba(1,65,75,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(38,116,126,1) 0%,rgba(1,65,75,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(38,116,126,1) 0%,rgba(1,65,75,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(38,116,126,1) 0%,rgba(1,65,75,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26747e', endColorstr='#01414b',GradientType=0 ); /* IE6-8 */
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 47px;
    margin-left: -25px;
    line-height: 40px;
    text-align: center;
    border: 3px solid #fff;
}
.panel-dark a { color: #fff;}

/* Brochure bar */
.vistula-bar {background: rgba(3,52,58,0.9); position: absolute; width: 80%; bottom: 30px; padding: 10px; }
.vistula-bar p { margin: 0;}
.vistula-bar a { color: #3696aa; line-height: 10px;}
.vistula-bar a strong {font-size: 20px; font-weight: 300; color: #fff;}
.vistula-bar a img { float: right; margin-left: 10px; margin-top: 10px;}
.vistula-bar a:hover { color: #fff;}

/* Footer */
#footer .navbar-nav { padding: 10px 20px; }
#footer .navbar-nav li { float: left;}


/*Responsive Media*/
@media (min-width: 992px) {
    #logo-container {
        font-size: 38px;
    }
}

@media screen and (max-width: 1024px) {
    #main-header .nav-panel {
        line-height: 1.4em;
        font-size: 0.9em;
    }

    #logo-container {  font-size: 28px;}

    .nav-submenu {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    #main-content .nav-pills > li {
        padding: 0 10px;
        text-align: left;
        float: none;
    }
    #main-content .nav-pills > li > ul li,
    #subfooter .nav-pills > li > ul li,
    #footer .nav-pills > li > ul li{
        padding-left: 30px;}
    #main-content .nav.user-menu li.child-0 > a {
        border-bottom: none;
    }
    .front .cookie-bottom-left {
        left: 0;
        bottom: 0;
        width: 50%;
    }
    .front .cookie-bottom-right {
        right: 0;
        bottom: 0;
        width: 50%;
    }
    .nav-pills > li > ul {
        margin-bottom: 0;
    }
    .block-content table tr td {
        vertical-align: top;
        display: inline;
    }
    .td-responsible {
        display: inline;
    }
}


@media screen and (max-width: 767px) {
    div.fix { overflow: hidden;}
    #main-content .nav.user-menu li.child-0 > a, .nav-pills > li a { border: none; padding: 0; line-height: 1.5em; }
    #main-content .nav.user-menu li.child-0 > a, #main-content .nav-pills > li a { padding: 0; line-height: 1.5em; }
    #logo-nav { height: 80px; margin-top: 35px; }
    #main-header .container {  padding: 0;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {  padding: 0; }
    /*nadpisuje styl z bootstrapa overflow-y: auto*/
    .navbar-collapse.in {
        overflow-y: inherit !important;
    }
    #bottom-nav .panel {
        display: none;
    }

    body #bottom-nav .nav-justified > li > a { border-top-left-radius: 0;  border-top-right-radius: 0;}
    body #bottom-nav .nav-justified > li > a:hover  { border-top-left-radius: 0;  border-top-right-radius: 0;}

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: #132E58;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-top: none;
    }
    #bottom-nav .nav.nav-justified > li { padding:0;}
    #bottom-nav .nav-justified > li > a {
/*        background: #000;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        margin-left: 0;
        overflow: hidden;
        margin-right: 0;
        background: rgba(24, 62, 66, 0.95);
        margin-bottom: 0;*/

    }
    #bottom-nav .spacer { display: none;}
    #bottom-nav .nav-justified > li > a:hover:before, #bottom-nav .nav-justified > li > a.active:before { left: 0;}
    .navbar-nav { padding: 0;}
    #bottom-nav .child-0 .panel-bcg, #bottom-nav .child-0 .panel { display: none; top: -4000px;}

    #bottom-nav .nav-justified > ul { display: none;}

    #main-header .navbar {
        background: none;
    }

    #top-nav { display: none;}
    #logo-container {
        padding-top: 5px;
        font-size: 20px;
    }

    .nav-submenu .panel, .nav-submenu .panel-bcg {
        display: none;
    }

    #main-header {
        height: 150px;
        /*background: none;*/
    }

    #main-header .container {
        height: 150px;
    }



    .logo-nav {
        height: 80px;
        margin-top: 20px;
    }


}

@media screen and (max-width: 580px) {
    #logo-container {
        text-align: left;
    }

    #logo-container img {
        float: left;
        margin-right: 10px;
    }

    #bottom-nav {
    position: absolute;
    left: 0;
    right: 0;
    }
    
    h2, h2.title {font-size: 1.6em;}
    body .block-news-slider .go-to-news-list { padding: 0 6px; line-height: 1.4em; margin-top: 5px;}
    .banner-fluid .banner-title {display: none;}
    body .bx-wrapper img { height: 150px;  max-width:200%; margin-left: -60%; width: 800px;}
}

@media screen and (max-width: 320px) {
    .front .cookie-bottom-left {
        left: 0;
        bottom: 0;
        width: 80%;
    }
    .front .cookie-bottom-right {
        right: 0;
        bottom: 0;
        width: 80%;
    }
}

/**
 * Image upload section.
 */

.image-upload .iu-image-is-main
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

/**
 *  Red star for required fields in the form.
 */

.form-group.required .control-label:after,
.form-group .required .control-label:after,
.form-group label.required:after,
.form-group .input-wrapper.required:after{
    content: " *";
    color: red;
}
span.required,
strong.required {
    color: red;
}

/**
 *  Class which make the border to be in red color when required input field is empty or not checked.
 */
.input-wrapper
{
    border: 1px solid transparent;
    padding: 0 .5em;
}
.input-wrapper.has-error,
.has-error .input-wrapper
{
    border-color: #b94a48;
}

/****************************************************
 *
 *
 *                 EAS Theme 1.1
 *
 *
 ****************************************************/

/* Layout */
body.eas h1, body.eas .h1, body.eas h1.title,
body.eas h2, body.eas .h2, body.eas h2.title,
body.eas h3, body.eas .h3, body.eas h3.title,
body.eas h4, body.eas .h4, body.eas h4.title{ color: #70018B; }

body.eas h2.title { border-bottom: 1px dashed #D3B3DA;}

body.eas a {color: #70018B;}
body.eas a:hover, a:active {color: #7f328b;}
body.eas .navbar {background-image: url("../images/eas/bcg-header-eas.jpg");}
body.eas .navbar .container {background-image: url("../images/eas/bcg-header-1-eas.jpg");}
body.eas #subfooter{ background-color: #580175;}
body.eas #subfooter h1,
body.eas #subfooter h2,
body.eas #subfooter h3,
body.eas #subfooter,
body.eas #subfooter .block-content{ color: #ccc; }
body.eas #subfooter .nav-pills > li > a { color: #d7b6e2;}
body.eas #subfooter{background: #2c003b; color: #cccccc;}
body.eas #footer a {color: #D7B6E2;}
body.eas h3.main-menu-information-title { color: #fff;}
body.eas .main-menu-information-description { line-height: 1.4em; font-size: 0.9em;}

/* Main menu */
body.eas #bottom-nav .nav-justified > li > a { color: #ddb7ea;}
body.eas #logo-container a { color: #ddb7ea;}
body.eas #bottom-nav .nav-justified > li > a:hover,
body.eas #bottom-nav .nav-justified > li > a.active{background-color: rgba(0, 0, 0, 0.9);}
body.eas .nav.nav-justified > li > div.panel-bcg{
    background: rgb(7,2,9); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA3MDIwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDAwMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(7,2,9,1) 0%, rgba(32,0,56,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,2,9,1)), color-stop(100%,rgba(32,0,56,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,2,9,1) 0%,rgba(32,0,56,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,2,9,1) 0%,rgba(32,0,56,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,2,9,1) 0%,rgba(32,0,56,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(7,2,9,1) 0%,rgba(32,0,56,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070209', endColorstr='#200038',GradientType=0 ); /* IE6-8 */
}body.eas .nav-submenu li a:hover, body.eas .nav-submenu li a.active {background-color: rgba(66, 7, 68, 0.9); color: #fff;}
body.eas .nav-submenu li > ul {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyMDc0NCIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTAwMzQiIHN0b3Atb3BhY2l0eT0iMC45NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(66,7,68,0.95) 0%, rgba(53,0,52,0.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,7,68,0.95)), color-stop(100%,rgba(53,0,52,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(66,7,68,0.95) 0%,rgba(53,0,52,0.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(66,7,68,0.95) 0%,rgba(53,0,52,0.95) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(66,7,68,0.95) 0%,rgba(53,0,52,0.95) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(66,7,68,0.95) 0%,rgba(53,0,52,0.95) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2420744', endColorstr='#f2350034',GradientType=0 ); /* IE6-8 */
}body.eas .nav-panel p.description { color:#DDB7EA; }
body.eas .navbar-default .navbar-nav > li > a:hover,
body.eas .navbar-default .navbar-nav > li > a:focus,
body.eas .navbar-default .navbar-nav > li > a.active {color: #DDB7EA;}
body.eas #bottom-nav .spacer {background-color: rgba(221,183,234, 0.3);}

/* Menu pils */
body.eas .nav-pills > li.active > a,
body.eas .nav-pills > li.active > a:hover,
body.eas .nav-pills > li.active > a:focus,
body.eas .nav-pills > li > a:hover,
body.eas .nav-pills li.active li.active a { color: #70018B; border-bottom-color: #70018B;  }

/* Big baneer */
body.eas .banner-fluid .banner-title { background-color: rgba(86, 9, 94, 0.81);}
body.eas .bx-wrapper .bx-pager.bx-default-pager a:hover,
body.eas .bx-wrapper .bx-pager.bx-default-pager a.active{  background-color: rgba(86, 9, 94, 0.81);}

/* Tabs panel */
body.eas .nav-tabs { border-bottom-color: #580175;}
body.eas .tabs-control .nav.nav-tabs li.title.active span,
body.eas .tabs-control .nav.nav-tabs li.title span:hover {background-color: #580175;}
body.eas .tabs-control .nav.nav-tabs li.title span { background-color: #fae9ff;}

/* News slider */
body.eas .block-news-slider .go-to-news-list:hover{border-color: #580175; color: #580175;}

/* Future events */
body.eas .block-future-event-list .go-to-event-list:hover {border-color: #580175; color: #580175;}

/* Future events */
body.eas .future-event-items .events-calendar-col .time-to {
    background: rgb(98,58,112); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyM2E3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODAxNzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(98,58,112,1) 0%, rgba(88,1,117,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,58,112,1)), color-stop(100%,rgba(88,1,117,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(98,58,112,1) 0%,rgba(88,1,117,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(98,58,112,1) 0%,rgba(88,1,117,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(98,58,112,1) 0%,rgba(88,1,117,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(98,58,112,1) 0%,rgba(88,1,117,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#623a70', endColorstr='#580175',GradientType=0 ); /* IE6-8 */
}

.block-event-list .item.promoted .info {
    background: #F3F3F3;
    border-radius: 5px;
    padding: 0 15px;
    border: 1px solid #D2CFCF;
    font-weight: 900;
} 

.btn-sign-up-for-event {
    background: #F3F3F3;
    color: #255BAB;
    border: 1px solid #D2D2D2;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-sign-up-for-event:hover, .btn-sign-up-for-event:focus, .btn-sign-up-for-event:active {
    background: #E8E8E8;
    color: #164488;
}

/**
 * User language switcher.
 */
/*#user-language-switcher{position:fixed}*/

/*cookie*/
#cookie {
    display: block;
    color: #ddd;
    min-height: 30px;
    position: fixed;
    z-index: 99999;
    padding: 6px 20px 4px;
    background-color: rgba(50,50,50,0.9);
    text-align: left;
}
.cookie-top {
    left: 0;
    top: 0;
    width: 100%;
}
.cookie-bottom {
    left: 0;
    bottom: 0;
    width: 100%;
}
.cookie-bottom-left {
    left: 0;
    bottom: 0;
    width: 25%;
}
.cookie-bottom-right {
    right: 0;
    bottom: 0;
    width: 25%;
}
#cookie.close {
    top: 5px;
    right: 0;
}
#cookie.alert-dismissable .close {
    position: relative;
    top: 5px;
    right: 0px;
}
