<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="imageId" value="<?php echo $data['imageId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group" id="ai-image-title-form-group">
            <label for="ai-image-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ai-image-title" class="form-control" name="imageTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['imageTitle']); ?>" />
            </div>
        </div>
        <div class="form-group" id="ai-image-author-form-group">
            <label for="ai-image-author" class="col-sm-3 control-label">
                <?php echo $this->translate('Author', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ai-image-author" class="form-control" name="imageAuthor" maxlength="<?php echo $maxLengths['author']; ?>" value="<?php echo $this->escapeForHtml($data['imageAuthor']); ?>" />
            </div>
        </div>
        <h3 class="title">
            <?php echo $this->translate('Gallery', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group" id="ai-news-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['imageId'],
                        'imageArrayName' => 'imageImages',
                        'aspectRatio' => 400 / 300,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'image-gallery',
                            'resizeImageToMaxWidth' => 400,
                            'resizeImageToMaxHeight' => 300,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,400,300'
                        ),
                        'onBeforeDeletedCallback' => 'blockImageGallery_deleteImage',
                        'images' => $data['imageImages'],
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ai-publish-now', 'imageIsPublished', 1, $data['imageIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>