<?php
$designMode = $this->designMode;
$pageBlockId = (int)$this->blockData->page_block_id;
$numberOfVisibleImagesAtStartup = max(0, (int)$this->settings->numberOfVisibleImagesAtStartup);
$limitNumberOfVisibleImagesAtStartup = $numberOfVisibleImagesAtStartup > 0;
$numberOfVisibleImagesAtStartupExceeded = false;
?>
<div class="image-gallery">
    <?php if ($this->images): ?>
        <?php if ($this->images->count() > 0): ?>
            <?php $imageNumber = 1; ?>
            <?php foreach ($this->images as $image): ?>
                <?php
                $authorLabel = $this->translate('Author');
                $author = $this->escapeForHtml($image->author);
                $imageUrl = $this->escapeForHtml($image->imageUrl);
                $imageTitle = $this->escapeForHtml($image->title);
                $thumbAlt = $this->escapeForHtml($image->thumbAlt);
                $thumbUrl = $this->escapeForHtml($image->thumbUrl);

                $dataTitle = '';
                if ($imageTitle != '')
                {
                    $dataTitle .= $imageTitle;
                }
                if ($author != '')
                {
                    $dataTitle .=
                        "<span class='image-gallery-author-section'>" .
                            $authorLabel . ": " .
                            "<span class='image-gallery-author'>" . $author . "</span>" .
                        "</span>";
                }
                ?>
                <?php if ($limitNumberOfVisibleImagesAtStartup && ($imageNumber > $numberOfVisibleImagesAtStartup)): ?>
                <?php $numberOfVisibleImagesAtStartupExceeded = true; ?>
                <div style="display:none" class="col-lg-3 col-md-4 col-xs-6 thumb limited" data-image-id="<?php echo $image->image_id; ?>">
                <?php else: ?>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" data-image-id="<?php echo $image->image_id; ?>">
                <?php endif; ?>
                    <a
                        href="<?php echo $imageUrl; ?>"
                        class="thumbnail"
                        data-lightbox="block-image-gallery-<?php echo $pageBlockId; ?>"
                        <?php if ($dataTitle != ''): ?>
                        data-title="<?php echo $dataTitle; ?>"
                        <?php endif; ?>
                        >
                        <img
                            class="img-responsive"
                            alt="<?php echo $thumbAlt; ?>"
                            src="<?php echo $thumbUrl; ?>"
                            >
                    </a>
                </div>
                <?php
                $imageNumber++;
                ?>
            <?php endforeach; ?>
            <?php if ($limitNumberOfVisibleImagesAtStartup && $numberOfVisibleImagesAtStartupExceeded): ?>
                <span class="btn btn-default btn-show-hide-more-images">
                    <?php echo $this->translate('Show / hide more images'); ?>
                </span>
            <?php endif; ?>
            <div class="clearfix"></div>
        <?php else: ?>
            <?php echo $this->translate('No images'); ?>.
        <?php endif; ?>
    <?php else: ?>
        <?php echo $this->translate('Error - unable to load image list'); ?>
    <?php endif; ?>
</div>
<script>
    loadJsFile('/libs/lightbox/js/lightbox.min.js');
    loadCssFile('/libs/lightbox/css/lightbox.css');
    loadBlockCssFile('image-gallery', 'image-gallery');
    loadBlockJsFile('image-gallery', 'image-gallery');
    $(document).ready(function(){
        blockImageGallery_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockImageGallery_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>