<?php
$pageBlockId = $this->blockData->page_block_id;
$numberOfVisibleImagesAtStartup = max(0, (int)$this->settings->numberOfVisibleImagesAtStartup);
?>
<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">

        <div class="form-group" id="bs-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Visible images', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->text(
                    false,
                    'numberOfVisibleImagesAtStartup',
                    $numberOfVisibleImagesAtStartup,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                echo $this->translate(
                        '0 means \'no limit\'. Positive value turns on the limit of number of visible images and ' .
                        'when this limit is exceeded the button \'Show / hide more images\' will be displayed',
                        'default', $this->userLanguage->zend2_locale
                    ) . '.'
                ;
                ?>
            </div>
        </div>
    </div>
</div>