.bachelor-studies .basic-info .col-md-3{ text-align: center;}
.bachelor-studies .basic-info .description { display: none;}
.bachelor-studies .basic-info div
{
    padding-bottom: 10px;
    border-bottom: 1px dashed #efefef;
    margin-bottom: 10px;
}
.bachelor-studies .basic-info div > h4{ display: inline; color: #097C8B; font-size: 16px; font-weight: 300;}
.bachelor-studies .basic-info .rimage{ }
.bachelor-studies .basic-info div > .fa { display: inline-block;  margin-right: 0px; font-size: 18px; color: #939393; }
.bachelor-studies .basic-info .degree-type h4 {border-bottom: none;}
.bachelor-studies .tabs-control { margin-top: 20px;}
.bachelor-studies .tabs-control .nav-tabs{ border-bottom-width:2px;}
.bachelor-studies .panel-group .panel { overflow: visible;}
