.block-news-list .news-items .btn-add-news {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px 10px;
    outline: none;
    color: #000;
}
.block-news-list .news-items .btn-add-news.activated {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}
.block-news-list .news-items .form-add-news .help-block {
    overflow: auto;
}
.block-news-list .news-items .form-add-news {
    position: absolute;
    top: 28px;
    right: 0;
    z-index: 3;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}
.block-news-list .news-items > .item h3 {
    display: inline-block;
}
/*.block-news-list .news-items .teaser-img img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}*/
.block-news-list .news-items > .item .news-edit-btn {
    font-size: 18px;
    cursor: pointer;
}