<?php
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$loggedAsModerator = ($user && ($user->account->role == 'moderator'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="visible-xs navbar-brand navbar-brand-vertical">
    <?php if (($this->settings['titleVisible'] != '1') || ($this->blockData->content->title == '')): ?>
        Menu zakładek
    <?php endif; ?>
    <button type="button" class="navbar-toggle button-vertical" data-toggle="collapse" data-target="#tabs-menu-<?php echo $pageBlockId; ?>">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="tabs-control">
    <ul class="nav nav-tabs collapse navbar-collapse" id="tabs-menu-<?php echo $pageBlockId; ?>">
        <?php if ($this->tabs): ?>
            <?php
                $tabCount = $this->tabs->count();
                $isTabCountOdd = ($tabCount % 2) != 0;
                $tabNumber = 1;
            ?>
            <?php foreach ($this->tabs as $tab): ?>
                <?php $tabContents = trim($tab->contents); ?>
                <?php if (($tabContents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                    <li
                        class="title<?php echo $tab->additional_css_classes; ?><?php if ($isTabCountOdd && ($tabNumber == $tabCount)): ?> full<?php endif; ?>"
                        data-tab-id="<?php echo $tab->tab_id; ?>"
                    >
                        <span>
                            <?php echo $this->escapeForHtml($tab->name); ?>
                        </span>
                    </li>
                    <?php $tabNumber++; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
        <?php if ($designMode): ?>
            <li class="add-new-tab"> <span class="fa fa-plus-circle"></span> </li>
        <?php endif; ?>
    </ul>
    <div class="tab-shadow"><img src="/images/tab-shadow.png" alt="shadow" /></div>
    <div class="tabs-contents">
        <?php if ($this->tabs): ?>
            <?php foreach ($this->tabs as $tab): ?>
                <?php $tabContents = trim($tab->contents); ?>
                <?php if (($tabContents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                    <div
                        class="tab-pane<?php echo $tab->additional_css_classes; ?>"
                        data-tab-id="<?php echo $tab->tab_id; ?>"
                        <?php if (!$tab->is_active): ?>style="display:none"<?php endif; ?>
                    >
                        <div class="tab-contents" style="min-height:2em">
                            <?php echo $tabContents; ?>
                            <?php if (($tabContents == '') && ($loggedAsModerator || $loggedAsAdmin || $designMode)): ?>
                                <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($designMode): ?>
                            <span class="btn-delete-this-tab"> <span class="fa fa-trash-o"></span>
                                <?php echo $this->translate('Delete this tab', 'default', $this->userLanguage->zend2_locale); ?>
                            </span>
                        <?php endif; ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php else: ?>
            <?php echo $this->translate('No tabs', 'default', $this->userLanguage->zend2_locale); ?>
        <?php endif; ?>
    </div>
    <div class="clearfix"></div>
</div>
<script>
    loadBlockJsFile('tabs-control','tabs-control');
    loadBlockCssFile('tabs-control','tabs-control');
    $(function(){
        blockTabsControl_handleCustomFunctionality(<?php echo $pageBlockId ?>);
    });
</script>