<?php
$pageBlockId = $this->blockData->page_block_id;
$newsListPageUrl = $this->newsListPageUrl;
$slideIntervalInMs = $this->settings->slideIntervalInMs;
$animationsTimeInMs = $this->settings->animationsTimeInMs;
$wrappingType = $this->settings->wrappingType;
?>
<?php if ($newsListPageUrl != ''): ?>
<a class="go-to-news-list" href="<?php echo $newsListPageUrl; ?>">
    <?php echo $this->translate('News archive'); ?>
    <span class="fa fa-caret-right"></span>
</a>
<?php endif; ?>
<div class="news-slider"
     data-slide-interval-in-ms="<?php echo $slideIntervalInMs; ?>"
     data-animations-time-in-ms="<?php echo $animationsTimeInMs; ?>"
     data-wrapping-type="<?php echo $wrappingType; ?>"
>
    <div class="jcarousel-wrapper">
        <?php if ($this->newsListPageBlockId > 0): ?>
            <?php if ($this->newsList): ?>
                <?php if ($this->newsList->count() > 0): ?>
                    <div class="jcarousel">
                        <ul>
                            <?php foreach ($this->newsList as $news): ?>
                                <?php
                                    $newsUrl = '#';
                                    if ($this->newsDetailsPageUrl != '')
                                    {
                                        $newsUrl =
                                            $this->newsDetailsPageUrl . ',' . $news->clean_url . '-' .
                                            $news->content_id;
                                    }
                                    $newsTitle = $this->escapeForHtml($news->title);
                                ?>
                                <li<?php if ($news->is_promoted): ?> class="promoted"<?php endif; ?>>
                                    <a href="<?php echo $newsUrl; ?>" title="<?php echo $newsTitle; ?>">
                                        <?php if ($news->mainImageUrl != ''): ?>
                                            <div class="wrapper">
                                                <img alt="thumbnail" src="<?php echo $this->escapeForHtml($news->mainImageUrl); ?>">
                                            </div>
                                        <?php else: ?>
                                            <div class="wrapper">
                                                <img alt="thumbnail" src="<?php echo $this->basePath(); ?>/img/no-image.png" />
                                            </div>
                                        <?php endif; ?>
                                        <h4 class="title">
                                            <?php echo $newsTitle; ?>
                                        </h4>
                                    </a>
                                    <div class="short-description">
                                        <?php echo $this->escapeForHtml($this->cutText($news->teaser, 160)); ?>
                                    </div>
                                    <a href="<?php echo $newsUrl; ?>" class="read-more">
                                        <?php echo $this->translate('Read more'); ?>
                                        <span class="fa fa-caret-right"></span>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                <?php else: ?>
                    <?php echo $this->translate('No news'); ?>.
                <?php endif; ?>
            <?php else: ?>
                <?php echo $this->translate('Error - unable to load news list'); ?>.
            <?php endif; ?>
        <?php else: ?>
            <?php echo $this->translate('Go to settings and set from which block the news should be displayed'); ?>.
        <?php endif; ?>

        <a href="#" class="jcarousel-control-prev"><span class="fa fa-angle-left"></span> </a>
        <a href="#" class="jcarousel-control-next"><span class="fa fa-angle-right"></span> </a>

        <p class="jcarousel-pagination"></p>
    </div>
</div>

<script>
    loadCssFile('/libs/jcarousel/jcarousel.css');
    loadBlockCssFile('news-slider','news-slider');
    loadBlockJsFile('news-slider','news-slider');
    $(document).ready(function(){
        blockNewsSlider_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
    });
</script>