<?php
$totalItemCount = (int)$this->settings->totalItemCount ? : 10;
if ($totalItemCount < 4)
{
    $totalItemCount = 10;
}
?>
<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate('Show news from block', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class='col-md-9'>
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-news-slider-page-block-id',
                        'name' => 'newsListPageBlockId',
                        'class' => 'form-control'
                    ), $this->availableNewsListBlocks, true, $this->settings->newsListPageBlockId
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate('Show news from category', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class='col-md-9'>
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-news-slider-category-id',
                        'name' => 'newsListCategoryId',
                        'class' => 'form-control'
                    ), $this->availableNewsListCategories, true, $this->settings->newsListCategoryId);
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class='col-md-3 control-label'>
                <?php echo $this->translate('Total number of news in slider', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class='col-md-9'>
                <?php
                echo $this->input(
                    'block-news-slider-item-count-per-page',
                    'totalItemCount',
                    $totalItemCount,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Sliding settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <div class='col-md-3 control-label'><?php echo $this->translate('Slide interval in milliseconds', 'default', $this->userLanguage->zend2_locale); ?></div>
            <div class='col-md-9'>
                <?php
                    echo $this->text(
                        null,
                        'slideIntervalInMs',
                        ($this->settings->slideIntervalInMs > 0) ? $this->settings->slideIntervalInMs : 5000,
                        false,
                        array(
                            'class' => 'form-control'
                        )
                    );
                ?>
            </div>
        </div>
        <div class="form-group">
            <div class='col-md-3 control-label'><?php echo $this->translate('Animations time in milliseconds', 'default', $this->userLanguage->zend2_locale); ?></div>
            <div class='col-md-9'>
                <?php
                echo $this->text(
                    null,
                    'animationsTimeInMs',
                    ($this->settings->animationsTimeInMs > 0) ? $this->settings->animationsTimeInMs : 1500,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <div class='col-md-3 control-label'><?php echo $this->translate('Wrapping type', 'default', $this->userLanguage->zend2_locale); ?></div>
            <div class='col-md-9'>
                <?php
                echo $this->dropdown(
                    array(
                        'class' => 'wrapping-type form-control',
                        'name' => 'wrappingType'
                    ), array(
                        '' => $this->translate('Do not wrap', 'default', $this->userLanguage->zend2_locale),
                        'last' => $this->translate('Jump back to the start at the last element', 'default', $this->userLanguage->zend2_locale),
                        'first' => $this->translate('Jump back to the end at the first element', 'default', $this->userLanguage->zend2_locale),
                        'both' => $this->translate('Use the second and third options', 'default', $this->userLanguage->zend2_locale),
                        'circular' => $this->translate('Use circular wrapping', 'default', $this->userLanguage->zend2_locale)
                    ), true, $this->settings->wrappingType);
                ?>
            </div>
        </div>
    </div>
</div>