<?php
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$loggedAsModerator = ($user && ($user->account->role == 'moderator'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="postgraduate-studies">
    <div class="basic-info">
        <div class="row">
            <div class="col-md-12">
                <h4><span class="fa fa-user"></span> Adresaci</h4>
                <div class="to-whom">
                    <?php if ($this->basicInfo->to_whom != ''): ?>
                        <?php echo $this->basicInfo->to_whom; ?>
                    <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                        <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                    <?php endif; ?>
                </div>
            </div>
            <div class="col-md-9">
                <h4><span class="fa fa-phone"></span> Kontakt:</h4>
                <div class="contact">
                    <?php if ($this->basicInfo->contact != ''): ?>
                        <?php echo $this->basicInfo->contact; ?>
                    <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                        <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                    <?php endif; ?>
                </div>

                <h4><span class="fa fa-clock-o"></span> Czas trwania</h4>
                <div class="duration">
                    <?php if ($this->basicInfo->duration != ''): ?>
                        <?php echo $this->basicInfo->duration; ?>
                    <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                        <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                    <?php endif; ?>
                </div>

                <h4><span class="fa fa-envelope"></span> e-mail:&nbsp;</h4>
                <div class="e-mail">
                    <?php if ($this->basicInfo->email != ''): ?>
                        <?php echo $this->basicInfo->email; ?>
                    <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                        <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                    <?php endif; ?>
                </div>
                <span style="background-color:transparent">&nbsp;</span>

                <h4>
                    <span class="fa fa-language"></span>
                    <?php echo $this->translate('Language'); ?>:&nbsp;
                </h4>
                <div class="language">
                    <?php if ($this->basicInfo->language != ''): ?>
                        <?php echo $this->basicInfo->language; ?>
                    <?php elseif ($loggedAsModerator || $loggedAsAdmin || $designMode): ?>
                        <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                    <?php endif; ?>
                </div>
                <span style="background-color:transparent">&nbsp;</span>

            </div>
            <div class="col-md-3">
                <?php if ($this->thumbUrl != ''): ?>
                <img class="rimage" alt="Thumbnail." src="<?php echo $this->escapeForHtml($this->thumbUrl); ?>" />
                <?php endif; ?>
            </div>
        </div>
    </div>
    <div class="tabs-control">
        <ul class="nav nav-tabs">
            <?php if ($this->tabs): ?>
                <?php
                $tabCount = $this->tabs->count();
                $isTabCountOdd = ($tabCount % 2) != 0;
                $tabNumber = 1;
                ?>
                <?php foreach ($this->tabs as $tab): ?>
                    <?php $tabContents = trim($tab->contents); ?>
                    <?php if (($tabContents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                        <li
                            class="title<?php echo $tab->additional_css_classes; ?>"
                            data-tab-id="<?php echo $tab->tab_id; ?><?php if ($isTabCountOdd && ($tabNumber == $tabCount)): ?> full<?php endif; ?>"
                        >
                            <span>
                                <?php echo $this->escapeForHtml($tab->name); ?>
                            </span>
                        </li>
                        <?php $tabNumber++; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
        <div class="tab-shadow"><img src="/images/tab-shadow.png" alt="shadow"></div>
        <div class="tabs-contents">
            <?php if ($this->tabs): ?>
                <?php foreach ($this->tabs as $tab): ?>
                    <?php $tabContents = trim($tab->contents); ?>
                    <?php if (($tabContents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                        <div
                            class="tab-pane<?php echo $tab->additional_css_classes; ?>"
                            data-tab-id="<?php echo $tab->tab_id; ?>"
                            <?php if (!$tab->is_active): ?>style="display:none"<?php endif; ?>
                        >
                            <div class="tab-contents" style="min-height:2em">
                                <?php echo $tabContents; ?>
                                <?php if (($tabContents == '') && ($loggedAsModerator || $loggedAsAdmin || $designMode)): ?>
                                    <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script>
loadBlockJsFile('postgraduate-studies','postgraduate-studies');
loadBlockCssFile('tabs-control','tabs-control');
loadBlockCssFile('postgraduate-studies','postgraduate-studies');
$(function(){
blockPostgraduateStudies_handleCustomFunctionality(<?php echo $pageBlockId ?>);
});
</script>