<?php if ($this->menuItems): ?>
    <?php if ($this->menuItems->count() > 0): ?>
        <ul class="nav nav-justified collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <?php foreach ($this->menuItems as $itemFromDepth0Id => $itemFromDepth0): ?>
                <li class="child child-0<?php echo $itemFromDepth0['data']->additionalCssClasses; ?>" data-item-id="<?php echo $itemFromDepth0Id; ?>">
                    <?php
                    $anchorTag = '';
                    if ($itemFromDepth0['data']->url_address_type == 0)
                    {
                        $itemUrl = $itemFromDepth0['data']->full_url;
                        $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '">';
                    }
                    else if ($itemFromDepth0['data']->url_address_type == 1)
                    {
                        $itemUrl = $itemFromDepth0['data']->full_url;
                        if ($itemUrl != '')
                        {
                            $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '" rel="nofollow">';
                        }
                    }
                    $itemTitle = $this->escapeForHtml($itemFromDepth0['data']->title);
                    ?>
                    <?php if ($this->settings->displayUncollapseButtons): ?>
                        <span class="uncollapse">+</span>
                    <?php endif; ?>
                    <?php if ($anchorTag != ''): ?><a class="btn btn-default navbar-btn" href="<?php echo $this->escapeForHtml($itemUrl); ?>" title="<?php echo $itemTitle; ?>"><?php endif; ?>
                        <span class="spacer"></span>
                        <?php if (in_array($itemFromDepth0['data']->type, array(1, 3))): // Icon exists. ?>
                            <span class="fa fa-<?php echo $this->escapeForHtml($itemFromDepth0['data']->bootstrap_glyphicon); ?>"></span>
                        <?php endif; ?>
                        <?php if (in_array($itemFromDepth0['data']->type, array(2, 4))): // Image exists. ?>
                            <img alt="thumbnail" style="max-width:96px;max-height:96px;" src="<?php echo $this->escapeForHtml($itemFromDepth0['data']->image_url); ?>" />
                        <?php endif; ?>
                        <?php if (in_array($itemFromDepth0['data']->type, array(0, 3, 4))): // Title exists. ?>
                            <?php echo $itemTitle; ?>
                        <?php endif; ?>
                    <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                    <div style="display:none" class="panel-bcg"></div>
                    <div style="display:none" class="panel" data-panel-id="<?php echo $itemFromDepth0Id; ?>">
                        <?php
                        $InfoData = $itemFromDepth0['data']->sideInformation;
                        ?>
                        <div class="nav-panel" data-info-id="<?php echo $InfoData->info_id; ?>">
                            <h3 class="main-menu-information-title"><?php echo $InfoData->title ?></h3>
                            <div class="main-menu-information-description ">                                
                                <p class="description"><?php echo $InfoData->contents ?></p>
                            </div>
                        </div>
                        <?php if ($itemFromDepth0['childItems']): ?>
                            <ul class="nav-submenu" data-parent-item-id="<?php echo $itemFromDepth0Id; ?>">
                                <?php foreach ($itemFromDepth0['childItems'] as $itemFromDepth1Id => $itemFromDepth1): ?>
                                    <li class="<?php echo $itemFromDepth1['data']->additionalCssClasses; ?>" data-item-id="<?php echo $itemFromDepth1Id; ?>">
                                        <?php
                                        $anchorTag = '';
                                        if ($itemFromDepth1['data']->url_address_type == 0)
                                        {
                                            $itemUrl = $itemFromDepth1['data']->full_url;
                                            $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '">';
                                        }
                                        else if ($itemFromDepth1['data']->url_address_type == 1)
                                        {
                                            $itemUrl = $itemFromDepth1['data']->full_url;
                                            if ($itemUrl != '')
                                            {
                                                $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '" rel="nofollow">';
                                            }
                                        }
                                        $itemTitle = $this->escapeForHtml($itemFromDepth1['data']->title);
                                        ?>
                                        <?php if ($anchorTag != ''): ?>
                                            <a href="<?php echo $this->escapeForHtml($itemUrl); ?>" title="<?php echo $itemTitle; ?>">
                                        <?php endif; ?>
                                            <?php echo $itemTitle; ?>
                                                <?php /*if (strpos($itemFromDepth1['data']->additionalCssClasses, 'has-childs') !== false): ?>
                                                    <span class="fa fa-arrow-right"> </span>
                                                <?php endif;*/ ?>
                                        <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                                        <?php /*if ($itemFromDepth1['childItems']): ?>
                                            <ul data-parent-item-id="<?php echo $itemFromDepth1Id; ?>">
                                                <?php foreach ($itemFromDepth1['childItems'] as $itemFromDepth2Id => $itemFromDepth2): ?>
                                                    <li class="<?php echo $itemFromDepth2->additionalCssClasses; ?>" data-item-id="<?php echo $itemFromDepth2Id; ?>">

                                                        <?php
                                                        $anchorTag = '';
                                                        if ($itemFromDepth2->url_address_type == 0)
                                                        {
                                                            $itemUrl = $itemFromDepth2->full_url;
                                                            $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '">';
                                                        }
                                                        else if ($itemFromDepth2->url_address_type == 1)
                                                        {
                                                            $itemUrl = $itemFromDepth2->full_url;
                                                            if ($itemUrl != '')
                                                            {
                                                                $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '" rel="nofollow">';
                                                            }
                                                        }
                                                        $itemTitle = $this->escapeForHtml($itemFromDepth2->title);
                                                        ?>
                                                        <?php if ($anchorTag != ''): ?><a href="<?php echo $this->escapeForHtml($itemUrl); ?>" title="<?php echo $itemTitle; ?>">
                                                            <?php endif; ?>
                                                            <?php echo $itemTitle; ?>
                                                        <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                                                    </li>
                                                <?php endforeach; ?>
                                            </ul>
                                        <?php endif;*/ ?>
                                    </li>
                                <?php endforeach; ?>
                                <li class="clearfix"></li>
                            </ul>
                        <?php endif; ?>
                        
                        <div class="clearfix"></div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>

    <?php else: ?>
        <?php echo $this->translate('No menu items'); ?>.
    <?php endif; ?>
<?php else: ?>
    <?php echo $this->translate('Error - unable to load menu', 'default', $this->userLanguage->zend2_locale); ?>.
<?php endif; ?>
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<script>
    loadBlockCssFile('navigation-menu','navigation-menu');
    loadBlockJsFile('navigation-menu','navigation-menu');
    loadBlockCssFile('main-menu','main-menu');
    loadBlockJsFile('main-menu','main-menu');
    $(document).ready(function(){
<?php if ($this->designMode): ?>
        blockNavigationMenu_handleCustomFunctionality(<?php echo $this->blockData->page_block_id; ?>);
<?php endif; ?>
<?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockNavigationMenu_handleManagementWindow(<?php echo $this->blockData->page_block_id; ?>);
<?php endif; ?>
    });
    blockMainMenu_handleCustomFunctionality(<?php echo $this->blockData->page_block_id; ?>);
</script>