<div class="section form form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'id' => 'block-navigation-menu-category',
                    'name' => 'categoryId',
                    'class' => 'form-control'
                ),
                $this->availableMenuItemsCategories,
                true,
                $this->currentCategoryId
            );
            ?>
        </div>
    </div>
</div>
<div class="section form form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Orientation', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <label>
                <?php echo $this->radio(
                    null,
                    'orientation',
                    'horizontal',
                    ($this->settings['orientation'] == 'horizontal')
                ); ?>
                <?php echo $this->translate('Horizontal menu', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <label>
                <?php
                echo $this->radio(
                    null, 'orientation', 'vertical', ($this->settings['orientation'] == 'vertical')
                );
                ?>
                <?php echo $this->translate('Vertical menu', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
        </div>
    </div>
</div>
<div class="section form form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <?php echo $this->checkbox(
                null,
                'displayUncollapseButtons',
                1,
                ($this->settings['displayUncollapseButtons'] == '1')
            ); ?>
            <?php echo $this->translate(
                'Display Collapse / Uncollapse button before each element\'s name',
                'default',
                $this->userLanguage->zend2_locale
            ); ?>
        </div>
    </div>
</div>