<?php
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$loggedAsModerator = ($user && ($user->account->role == 'moderator'));
$designMode = $this->designMode;
$contentId = $this->contentId;
$currentPanelId = $this->panelId;
$accordion = $this->accordion;
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="panel-group accordion" id="accordion-<?php echo $contentId ?>">
    <?php if ($accordion): ?>
        <?php foreach ($accordion as $panel): ?>
            <?php if (($panel->contents != '') || $loggedAsAdmin || $loggedAsModerator): ?>
                <div class="panel panel-default accordion-panel" data-panel-id="<?php echo $panel->panel_id; ?>" data-panel-order="<?php echo $panel->order ?>">
                    <div class="panel-heading">
                        <h3 class="panel-title">

                            <a data-toggle="collapse" data-parent="#accordion-<?php echo $contentId ?>"
                               href="#panel_<?php echo $panel->panel_id; ?>"
                               data-panel-id="<?php echo $panel->panel_id; ?>">
                                <?php echo $panel->name; ?>
                            </a>
                            <?php if ($designMode): ?>
                                &nbsp;&nbsp;<span class="delete-this-panel fa fa-trash-o"> </span>
                            <?php endif; ?>

                            <span
                                class="panel-status-indicator"
                                data-toggle="collapse"
                                data-parent="#accordion-<?php echo $contentId ?>"
                                href="#panel_<?php echo $panel->panel_id; ?>"
                            >
                                <i class="fa fa-sort-asc"></i>
                            </span>
                        </h3>
                    </div>
                    <div
                        id="panel_<?php echo $panel->panel_id; ?>"
                        class="panel-collapse <?php if ($currentPanelId == $panel->panel_id): ?>in<?php else: ?>collapse<?php endif; ?>"
                    >
                        <div class="panel-body" data-panel-id="<?php echo $panel->panel_id; ?>">
                            <?php if ($panel->contents != ''): ?>
                                <?php echo $panel->contents; ?>
                            <?php else: ?>
                                <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if ($designMode): ?>
        <div class="panel panel-default accordion-panel non-sortable-panel">
            <div class="panel-heading">
                <a class="add-new-panel" data-toggle="collapse" data-parent="#accordion-<?php echo $contentId ?>"
                   href="">
                    <span class="fa fa-plus" style="font-size:13px;"> </span>
                    <?php echo $this->translate('Add new panel', 'default', $this->userLanguage->zend2_locale); ?>
                </a>
            </div>
        </div>
    <?php endif; ?>
    <div class="clearfix"></div>
</div>
<script>
    loadBlockJsFile('accordion', 'accordion');
    loadBlockCssFile('accordion', 'accordion');
    $(function () {
        blockAccordion_handleCustomFunctionality(<?php echo $pageBlockId ?>);
    });
</script>