<div class="login-block">
	<h2><?php echo $this->translate('Login panel'); ?></h2>
	<?php echo $this->escapeHtml($this->messages); ?>
	<form action="<?php echo $this->url('auth', array('controller' => 'index')); ?>" method="POST" id="loginForm">
		<div class="row">
			<label class="block">
				<?php echo $this->translate('Login'); ?>:
				<input type="text" name="login" value="" />
			</label>
		</div>
		<div class="row">
			<label class="block">
				<?php echo $this->translate('Password'); ?>:
				<input type="password" name="password" value="" />
			</label>
		</div>
		<div class="row">
			<label>
				<?php echo $this->translate('Remember me'); ?>:
				<input type="checkbox" value="1">
			</label>
		</div>
		<div class="row">
			<input type="submit" class="button" value="<?php echo $this->translate('Sign in'); ?>">
		</div>
		<div class="row">
			<a href="<?php echo $this->url('auth', array('controller' => 'index', 'action' => 'password-reset')); ?>">
				<?php echo $this->translate('I don\'t remember password'); ?>
			</a>
		</div>
	</form>
</div>