<?php
$user = $this->identity();
$currentLanguage = $this->language;
$page = $this->page;
?>
<?php echo $this->doctype(); ?>
<!--[if lt IE 7 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie9"><![endif]-->
<!--[if !IE]>--><html lang="<?php echo $currentLanguage->html_iso_code; ?>"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <script type="text/javascript">
            var currentLanguageIsoCode='<?php echo $currentLanguage->iso_code; ?>';
        </script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext" />
        <?php
        echo $this
            ->headTitle()
            ->append($page->title)
            ->append($this->siteName)
            ->setSeparator(' - ')
            ->setAutoEscape(false) . "\n"
        ;

        echo $this
                ->headMeta()
            ->appendName('robots', 'no-index')
            ->appendName('googlebot', 'noarchive')
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1', array('conditional' => 'IE')) . "\n"
        ;

        echo $this
            ->headLink(
                array(
                    'rel' => 'shortcut icon',
                    'type' => 'image/vnd.microsoft.icon',
                    'href' => $this->basePath() . '/images/favicon.ico'
                )
            )
            ->appendStylesheet($this->basePath() . '/css/bootstrap.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/style.css', array('media' => 'all'))
            //--------------admin settings----------------
            ->appendStylesheet($this->basePath() . '/css/admin/admin.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/admin/glyphicons.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/admin/font-awesome.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/admin/retina.min.css', array('media' => 'all'))
        ;

        $this
            ->headScript()
            ->appendFile($this->basePath() . '/js/jquery-1.11.0.min.js')
            ->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9'))
            ->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9'))
        ;

        if (getenv('APP_ENV') === 'development'):
            $this
                ->headScript()
                ->appendFile($this->basePath() . '/js/proimagine/zend-dev-tools-addons.js', 'text/javascript');
        endif;
        echo $this->headScript() . "\n";
        ?>
    </head>
    <body>
        <form action="<?php echo $this->url('auth', array('controller' => 'index')); ?>" method="POST" id="loginForm">
            <div class="container">
                <div class="row">
                    <div id="content2" class="col-sm-12 full">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 login-box-locked">
                                <?php if ($this->messages != ''): ?>
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <?php echo $this->escapeHtml($this->messages); ?>
                                    </div>
                                <?php endif; ?>

                                <img src="<?php echo $this->basePath(); ?>/images/codilab-logo_2.png" class="avatar"/><br />
                                <h2>Logowanie do serwisu</h2>
                                <div class="input-prepend input-group">
                                    <input class="form-control" size="25" type="text" name="login" placeholder="Login" />
                                    <input class="form-control" size="32" type="password" name="password" placeholder="Hasło" />
                                    <a href="/" class="pull-left powrot"><i class="fa fa-arrow-circle-left"></i> powrót </a>
                                    <input type="submit" class="btn btn-primary" value="Zaloguj" />
                                    &nbsp;
                                    <a href="<?php echo $this->url('home/default', array('controller' => 'user', 'action' => 'reset-password')); ?>" class="pass-reminder">Przypomnij hasło</a>
                                </div>
                            </div>
                            <script>
                            var height = $( document ).height()/2-142;
                            $('.login-box-locked').css('margin-top', height);
                            
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="<?php echo $this->basePath(); ?>/js/admin/bootstrap.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/js/admin/jquery.backstretch.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/js/admin/pages/page-lockscreen.js"></script>
    </body>
</html>