.nav li.has-childs > span.fa:before
{
    content: "\f147";
}
.nav li.has-childs > span.fa.uncollapse:before
{
    content: "\f196";
}

.nav.vertical li.has-childs > span.fa:before
{
    content: "\f077";
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.nav.vertical li.has-childs > span.fa.uncollapse:before
{
    content: "\f078";
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 14px;
    color: #999;
}

/**
 * NavigationMenu block vertical view.
 */
#main-content .nav.user-menu li.child-0 > a {padding: 10px 10px 10px 0; font-size: 14px; line-height: 14px; }
.nav.user-menu li.child-1 a{padding-left: 15px; font-family: 'Open Sans', sans-serif;}
.block-shortcut-menu li.child-1 a {padding-left: 35px;}
.nav.user-menu li.child-2 a{padding-left: 30px}

.nav-stacked > li + li a{ position: relative;}
.nav-stacked .menu.glyphicon.glyphicon-plus-sign:hover { cursor: s-resize;}
.nav-stacked .menu.glyphicon { z-index: 0;}
.nav-stacked .menu.glyphicon { z-index: 1;}
/*new menu*/

.block-navigation-menu .collapse-button-container,
.block-shortcut-menu .collapse-button-container
{
    position: relative;
    height: 1px;
    overflow: hidden;
}

.admin-slot .block-navigation-menu .navbar-brand {float: none}
.admin-slot .block-navigation-menu .navbar-toggle .icon-bar {
    background-color:#000;
}
.block-navigation-menu .navbar-collapse,
.block-shortcut-menu .navbar-collapse,
.block-tabs-control .navbar-collapse{
    max-height: none;}
.admin-slot .block-navigation-menu .navbar-collapse {
    max-height: none;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;}
.admin-slot .block-navigation-menu .child-0 span.menu.fa {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 14px;
    color: #999;
}
#main-header .block-shortcut-menu .nav.vertical.nav-pills > li {border-bottom: none}
.block-navigation-menu .nav.vertical.nav-pills > li {
    border-bottom: #ccc 1px solid;
}
#subfooter .block-navigation-menu .nav.vertical.nav-pills > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

.admin-slot .block-navigation-menu .dropdown-menu-0
{
    margin: 2px 0 0;
    border-bottom: 1px solid #cccccc;
}
.admin-slot .block-navigation-menu .dropdown-menu-1,
.admin-slot .block-shortcut-menu .dropdown-menu-1{
    z-index: 1;
    /*text-indent: 15px;*/
}

/*-------24-----------------*/
.block-navigation-menu .nav.horizontal li.child-0 > a, .nav-pills > li a,
.block-shortcut-menu .nav.horizontal li.child-0 > a, .nav-pills > li a
{display: inline-block;}
.block-navigation-menu .nav.horizontal .navbar-brand,
.block-shortcut-menu .nav.horizontal .navbar-brand
{float: none}
.block-navigation-menu .nav.horizontal .child.child-0,
.block-shortcut-menu .nav.horizontal .child.child-0
{
    display: inline-block;
    cursor: pointer;
}
.block-navigation-menu .nav.horizontal .child.child-1,
.block-shortcut-menu .nav.horizontal .child.child-1
{
    float: none;
    padding-left: 10px;
}
.block-shortcut-menu .nav.vertical .uncollapse.fa,
.block-shortcut-menu .nav.vertical .fa
{

}
.block-navigation-menu .nav.horizontal .dropdown-menu-0,
.block-shortcut-menu .nav.vertical .dropdown-menu-0
{
    margin: 2px 0 0;
    border-bottom: 1px solid #cccccc;
}
.block-shortcut-menu .nav.horizontal .dropdown-menu-0
{
    /*margin: 2px 0 0;*/
}
.block-navigation-menu .nav.horizontal .navbar-toggle,
.block-shortcut-menu .nav.horizontal .navbar-toggle
{
    z-index: 1;
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: -45px;
    margin-bottom: 8px;
    background-color: rgba(0,0,0, 0);
    border: 1px solid rgba(14, 13, 13, 1);
    border-radius: 0;
}
.block-navigation-menu .nav.horizontal .dropdown-menu,
.block-shortcut-menu .nav.horizontal .dropdown-menu
{
    left: auto;
    top: auto;
}
.block-navigation-menu .nav.horizontal .navbar-toggle .icon-bar,
.block-shortcut-menu .nav.horizontal .navbar-toggle .icon-bar
{
    background-color:#000;
}
.block-navigation-menu .nav.horizontal .outer-link,
.block-shortcut-menu .nav.horizontal .outer-link
{
    display: inline-block;
    padding: 3px 10px;
    margin: 2px 0 0;
}
.block-navigation-menu .nav.horizontal, .block-shortcut-menu .nav.horizontal {
    max-height: none;
}
#main-content .block-navigation-menu .nav.vertical.nav-pills > li,
#main-content .block-navigation-menu .nav.vertical.nav-pills > li li,
#main-content .block-shortcut-menu .nav.vertical.nav-pills > li {
    z-index: 1;
    float: none;
}
.block-shortcut-menu {font-size: 12px}
@media screen and (max-width: 768px) {

    .block-shortcut-menu .block-content > .title,
    .block-navigation-menu .block-content > .title,
    .block-tabs-control .block-content > .title{
        padding: 8px 15px;
        height: 49px;
        top: auto;
        margin: auto 0;
        color: #bbb;
        line-height: 31px;
        position: relative;
    }

    #subfooter .block-navigation-menu .title {
        color: #fff;
        padding: 8px 15px;
        height: 49px;
        top: auto;
        margin: auto 0;
        position: relative;
        border: 1px solid rgba(255,255,255,0.3);
    }
    .admin-slot .block-shortcut-menu .navbar-nav .open .dropdown-menu {
        position: relative;
        top: 0;
        left: 30px;
        z-index: 1000;
        display: table;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }
    .admin-slot .block-shortcut-menu .dropdown-menu-1 {
        z-index: 1;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    #main-content .nav.user-menu li.child-0 > a {padding: 10px 10px 10px 10px}
    .block-navigation-menu .nav.horizontal .navbar-collapse,
    .block-shortcut-menu .nav.horizontal .navbar-collapse
    { max-height: 100%;}
    .block-navigation-menu .nav.horizontal .child.child-0,
    .block-shortcut-menu .nav.horizontal .child.child-0
    {
        display: block;
        float: none;
    }
    .block-navigation-menu .nav.horizontal.nav-pills > li,
    .block-shortcut-menu .nav.horizontal.nav-pills > li
    {
        z-index: 1;
    }
    .block-navigation-menu .nav.vertical.nav-pills > li,
    .block-navigation-menu .nav.vertical.nav-pills > li ul > li {float: none}
    .block-navigation-menu .nav.horizontal .dropdown-menu > li > a,
    .block-shortcut-menu .nav.horizontal .dropdown-menu > li > a
    {white-space: normal;}
    .block-navigation-menu .nav.horizontal .dropdown-menu,
    .block-shortcut-menu .nav.horizontal .dropdown-menu
    {
        position: relative;
        float: none;
    }
    #footer .admin-slot .block-shortcut-menu .navbar-collapse,
    #footer .admin-slot .block-navigation-menu .navbar-collapse,
    #footer .admin-slot .block-navigation-menu .navbar-collapse
    {box-shadow: none}
    #subfooter .navbar-brand-vertical,
    #subfooter .navbar-brand-horizontal
    { color: #fff  }
    #footer .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical,
    #footer .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal,
    #footer .admin-slot .block-navigation-menu .navbar-toggle.button-vertical,
    #subfooter .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical,
    #subfooter .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal,
    #subfooter .admin-slot .block-navigation-menu .navbar-toggle.button-vertical
    { border: 1px solid white;}
    #footer .admin-slot .block-shortcut-menu .navbar-brand-vertical,
    #footer .admin-slot .block-navigation-menu .navbar-brand-horizontal,
    #footer .admin-slot .block-navigation-menu .navbar-brand-vertical
    {border: 1px solid rgba(255,255,255,0.3); color: #fff;}
    #footer .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical .icon-bar,
    #footer .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal .icon-bar,
    #footer .admin-slot .block-navigation-menu .navbar-toggle.button-vertical .icon-bar,
    #subfooter .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical .icon-bar,
    #subfooter .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal .icon-bar,
    #subfooter .admin-slot .block-navigation-menu .navbar-toggle.button-vertical .icon-bar
    { background-color: #fff;}

    .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal,
    .admin-slot .block-navigation-menu .navbar-toggle.button-vertical,
    .admin-slot .block-shortcut-menu .navbar-toggle.button-horizontal,
    .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical
    {
        position: absolute;
        top: 0;
        right: 0;
    }

    .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal .icon-bar
    {
        background-color: #000;
    }
    .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical .icon-bar
    {
        background-color: #000;
    }
    .admin-slot .block-navigation-menu .navbar-toggle.button-horizontal
    {
        border: 1px solid black;
    }
    .admin-slot .block-shortcut-menu .navbar-toggle.button-vertical
    {
        border: 1px solid black;
    }
    .admin-slot .block-navigation-menu .navbar-toggle.button-vertical
    {
        border: 1px solid black;
    }

    .navbar-brand-vertical {float: none; color: #bbb; border: 1px solid #bbb;}
    .navbar-brand-horizontal {float: none; color: #bbb; border: 1px solid #bbb;}
}
/*end new menu*/
/**
 * NavigationMenu block management window.
 */
#dialog-block-management .window-contents.navigation-menu td.child{ vertical-align: middle;}
#dialog-block-management .window-contents.navigation-menu td.child-0{padding-left: 15px; font-weight: 700;}
#dialog-block-management .window-contents.navigation-menu td.child-1{padding-left: 45px; font-size: 13px;}
#dialog-block-management .window-contents.navigation-menu td.child-2{padding-left: 60px}

@media screen and (max-width: 767px) {
#main-content .nav.user-menu li.child-0 > a{border-bottom: none; }
}

#footer .block-shortcut-menu .nav.navbar-nav a
{
    font-size: inherit;
    color: #009999;
}
#footer .block-shortcut-menu .nav.navbar-nav a:hover
{
    color: #fff;
}
