<div class="row">
    <div class="col-md-3 admin-slot" data-slot-id="10">
        <?php echo $this->renderBlocks(10); ?>
    </div>
    <div class="col-md-6 admin-slot" data-slot-id="20">
        <?php echo $this->renderBlocks(20); ?>
    </div>
    <div class="col-md-3 admin-slot" data-slot-id="30">
        <?php echo $this->renderBlocks(30); ?>
    </div>
</div>