
<div class="col-md-8 admin-slot" data-slot-id="10">
    <?php echo $this->renderBlocks(10); ?>
</div>
<div class="col-md-4 admin-slot side-bar" data-slot-id="20">
    <?php echo $this->renderBlocks(20); ?>
</div>
