<div class="row">
    <div class="col-md-3 admin-slot" data-slot-id="20">
        <?php echo $this->renderBlocks(20); ?>
    </div>
    <div class="col-md-9 ">
        <div class="row">
            <div class="col-md-12 admin-slot must-be-collapsed" data-slot-id="10">
                <?php echo $this->renderBlocks(10); ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 admin-slot" data-slot-id="144">
                <?php echo $this->renderBlocks(144); ?>
            </div>
            <div class="col-md-4 admin-slot" data-slot-id="145">
                <?php echo $this->renderBlocks(145); ?>
            </div>

        </div>
    </div>
</div>