.postgraduate-studies h2 { color: #024B54;}
.postgraduate-studies .tabs-control { margin-top: 0;}
.postgraduate-studies .glyphicon { font-size: 70%; }

.postgraduate-studies  .basic-info h4{ color: #097C8B; font-size: 20px; }
.postgraduate-studies  .basic-info h4 {  margin:0 0 0px 0; padding-bottom: 5px; }
.postgraduate-studies  .basic-info .degree-type h4 {border-bottom: none;}
.postgraduate-studies  .basic-info div.contact,
.postgraduate-studies  .basic-info div.duration,
.postgraduate-studies  .basic-info div.to-whom
{ margin-bottom: 20px; display: block; }

.postgraduate-studies  .basic-info div.to-whom { margin-bottom: 20px; border-bottom: 1px solid #eeeeee;}