<?php
$currentLanguage = $this->language;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="newsId" value="<?php echo $data['newsId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-news-category">
                <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'ae-news-category',
                    'class' => 'form-control',
                    'name' => 'newsCategoryId'
                    ), $this->newsCategoriesOptions, true, $data['newsCategoryId']);
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ae-news-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-news-title" class="form-control" name="newsTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['newsTitle']); ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-clean-url">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" class="form-control" id="ae-clean-url" name="newsCleanUrl" maxlength="<?php echo $maxLengths['clean_url']; ?>" value="<?php echo $data['newsCleanUrl']; ?>" />
                </div>
                <p class="help-block">
                    http://<span id="ae-clean-url-span"></span>/<?php echo $currentLanguage->iso_code; ?>/page/.../<span id="ae-clean-url-path-span"><?php echo $data['newsCleanUrl']; ?></span>
                    <script type="text/javascript">
                        $('#ae-clean-url-span').html(getDomainFromHttpUrl(location.href));
                    </script>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-news-label">
                <?php echo $this->translate('Label (not required)', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-news-label" class="form-control" name="newsLabel" maxlength="<?php echo $maxLengths['label']; ?>" value="<?php echo $this->escapeForHtml($data['newsLabel']); ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-news-date">
                <?php echo $this->translate('Date', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-news-date" class="form-control" name="newsDate" value="<?php echo $data['newsDate']; ?>" />
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-3 control-label" for="ae-news-start-hour">
                <?php echo $this->translate('Start hour', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9 bootstrap-timepicker">
                <input type="text" id="ae-news-start-hour" class="form-control timepicker" name="newsStartHour" value="<?php echo $data['newsStartHour']; ?>" />
            </div>
        </div>
        <h3 class="title">
            <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group" id="ae-news-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['newsId'],
                        'imageArrayName' => 'newsImages',
                        'aspectRatio' => 270 / 150,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'news-list',
                            'resizeImageToMaxWidth' => 270,
                            'resizeImageToMaxHeight' => 150,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,270,150'
                        ),
                        'images' => $data['newsImages'],
                        'allowAddingNewImages' => true
                    )
                );
                ?>
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-news-contents">
                        <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ae-news-contents" name="newsContents" maxlength="<?php echo $maxLengths['contents']; ?>"><?php echo $this->escapeForHtml($data['newsContents']); ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-news-teaser">
                        <?php echo $this->translate('Teaser', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ae-news-teaser" name="newsTeaser" maxlength="<?php echo $maxLengths['teaser']; ?>"><?php echo $this->escapeForHtml($data['newsTeaser']); ?></textarea>
                        <p>
                            <?php echo $this->translate('Teaser will be displayed in the list as short news content', 'default', $this->userLanguage->zend2_locale); ?>.
                        </p>
                        <?php echo $this->translate('Number of remaining characters', 'default', $this->userLanguage->zend2_locale); ?>:
                        <span id="ae-news-teaser-length">350</span> z 350.
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h3 class="title"><?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?></h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <label>
                            <?php echo $this->checkbox('ae-publish-now', 'newsIsPublished', 1, $data['newsIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ae-promote', 'newsIsPromoted', 1, $data['newsIsPromoted'] == 1); ?>
                            <?php echo $this->translate('Set this news as promoted', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>