<?php
$currentLanguage = $this->language;
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$isNewsListHidden = $this->settings->hideIfCurrentUrlLeadsToNewsDetails && ($this->currentNewsId > 0);
?>
<div class="news-items">
    <?php if (!$isNewsListHidden): ?>
        <?php if ($this->newsPaginator): ?>
            <?php if ($this->newsPaginator->getTotalItemCount() > 0): ?>
                <?php foreach ($this->newsPaginator as $news): ?>
                    <div class="item<?php if ($news->is_promoted): ?> promoted<?php endif; ?>"
                         data-news-id="<?php echo $news->news_id; ?>" style="clear: both">
                        <?php if ($news->mainImageUrl != ''): ?>
                            <div class="col-md-4 teaser-img">
                                <img alt="thumbnail" class="thumbnail"
                                     src="<?php echo $this->escapeForHtml($news->mainImageUrl); ?>"
                                />
                            </div>
                        <?php endif; ?>
                        <div class="teaser-content col-md-<?php if ($news->mainImageUrl != ''): ?>8<?php else: ?>12<?php endif; ?>">
                            <a href="<?php echo ($this->newsDetailsPageUrl != '') ? ($this->newsDetailsPageUrl . ',' . $news->clean_url . '-' . $news->content_id) : '#'; ?>">
                                <h3>
                                    <?php echo $this->escapeForHtml($news->title); ?>
                                    <?php if ($news->label != ''): ?>
                                        <span class="label label-primary">
                                            <?php echo $this->escapeForHtml($news->label); ?>
                                        </span>
                                    <?php endif; ?>
                                </h3>
                            </a>
                            <span
                                style="display:none" class="glyphicon glyphicon-edit news-edit-btn"
                                  data-placement="bottom" data-toggle="tooltip"
                                  data-original-title="<?php echo $this->translate('Edit this news', 'default', $this->userLanguage->zend2_locale); ?>"
                            ></span>
                            <div class="item-info">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <?php if ($news->daysAgo >= 0): ?>
                                    Dodano: <strong><?php echo $news->daysAgoStr; ?></strong>
                                <?php else: ?>
                                    Za: <strong><?php echo $news->daysAgoStr; ?></strong>
                                <?php endif; ?>
                                | <?php echo $news->date; ?> <?php echo $news->time_start; ?>

                            </div>
                            <div class="text">
                                <?php echo $this->escapeForHtml($news->teaser); ?>
                            </div>
                            <div class="item-social">
                                <?php echo $this->translate('Share this'); ?>:
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-google-plus"></span></a>
                                <a href="#"><span class="fa fa-mail-forward"></span></a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- item -->
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo $this->translate('No news'); ?>.
            <?php endif; ?>
        <?php else: ?>
            <?php echo $this->translate('Error - unable to load news list'); ?>.
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
                'This news list will be invisible now because current URL address leads to details of one of existing ' .
                'news in this news list', 'default', $this->userLanguage->zend2_locale
            ) . '.';
        ?>
    <?php endif; ?>
    <?php
    if ($this->newsPaginator && ($this->newsPaginator->count() > 1))
    {
        echo $this->paginationControl(
            $this->newsPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding',
            array('partial/paginator.phtml', 'Site'),
            array(
                'route' => 'home'
            )
        );
    }
    ?>
</div> <!-- /.news-items -->
<script>
    loadBlockCssFile('news-list','news-list');
    loadBlockJsFile('news-list','news-list');
    $(document).ready(function(){
        blockNewsList_handleCustomFunctionality(<?php echo $pageBlockId; ?>,false);
        blockNewsList_handlePagination(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockNewsList_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>