<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>
    </h3>

    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-news-icpp',
                        'name' => 'itemCountPerPage',
                        'class' => 'form-control'
                    ),
                    array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                    false,
                    $this->settings->itemCountPerPage
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php
                echo $this->translate(
                    'Show news details in page',
                    'default',
                    $this->userLanguage->zend2_locale
                );
                ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-news-list-details-page',
                        'name' => 'detailsPageId',
                        'class' => 'form-control'
                    ),
                    $this->availablePages,
                    true,
                    $this->settings->detailsPageId
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('News list hiding', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                    'block-news-list-hide-if-current-url-leads-to-news-details',
                    'hideIfCurrentUrlLeadsToNewsDetails',
                    1,
                    ($this->settings->hideIfCurrentUrlLeadsToNewsDetails == 1)
                );
                echo $this->translate(
                        'Hide news list if current URL leads to news details',
                        'default',
                        $this->userLanguage->zend2_locale
                    ) . '.'
                ;
                ?>

                <div class="alert alert-info">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <?php echo $this->translate(
                        'Note that news details will be shown only for the same language in which the current page is',
                        'default',
                        $this->userLanguage->zend2_locale
                    ); ?>
                </div>
            </div>
        </div>
    </div>
</div>