/* Alphabet section */
.block-employees .alphabet span { font-size: 18px; padding: 0 .5em;font-weight: 300;}
.block-employees .alphabet span.enabled{font-weight: 700;}
.block-employees .alphabet span.enabled { color: rgb(32, 104, 110);}
.block-employees .alphabet span.enabled:hover {cursor: pointer; color: rgb(32, 104, 110);}
.block-employees .alphabet { text-align: center; color: #a8a8a8;}

/* Column tab section */
.block-employees .employees-columns .employee-column { float: left; }
.block-employees .employees-columns ul {padding-left: 0;}
.block-employees .employees-columns li { list-style: none; margin-left: 0; padding-left: 0; }
.block-employees .employees-columns h3 { font-weight: bold; margin-bottom: 0;}
.block-employees .employees-columns li a { display: block; margin-bottom: 10px;}
/*.block-employees .employees-column { float: left; width: 33%; margin-bottom: 20px; }*/
.block-employees .employees-column .col-image { padding-right: 5px;}
.block-employees .employee-position-column ul{ padding-left: 0px;}

/* Emplaye info */
.block-employees .employee-info { display: block; overflow: auto; background: #fafafa; border: 1px solid #f3f3f3; margin-right: 20px; margin-bottom: 10px; }
.block-employees .employee-info div { padding: 10px; line-height: 15px;}
.block-employees .employee-info a {font-weight: normal;}

/* Search ares */
.block-employees .search-area .messages { margin-top: 1em;}
.block-employees .search-area { background: rgba(0,0,0,0.02); overflow: auto; padding: 20px 0; margin-top: -26px;}
.block-employees .search-area .control-label { font-size: 12px;}
.block-employees .search-area .btn{background-color: #145B66; color: #fff;}

/* Emplaye list search result */
.block-employees .employee-list .degree-title { color: #666; font-weight: 700;}
.block-employees .employee-list h3 { margin: 0px; margin-bottom: 10px;}
.block-employees .employee-list .position { color: #666;}
.block-employees .employee-list .employee.row { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px dashed #ccc;}
