<?php
$currentLanguage = $this->language;
$data = $this->formData;
$maxLengths = $this->maxLengths;
$numBanners = $this->numBanners;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="smallBannerId" value="<?php echo $data['bannerId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="ae-banner-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-banner-title" class="form-control" name="bannerTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php if(!empty($data['bannerTitle'])): echo $this->escapeForHtml($data['bannerTitle']); else: echo 'Banner '.rand(++$numBanners,100); endif;?>" />
            </div>
        </div>

        <h3 class="title">Grafika</h3>
        <div class="form-group" id="ai-banner-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['bannerId'],
                        'imageArrayName' => 'bannerAttachment',
                        'aspectRatio' => 900/250,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'small-banner',
                            'resizeImageToMaxWidth' => 900,
                            'resizeImageToMaxHeight' => 250,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,900,250'
                        ),
                        'onBeforeDeletedCallback' => 'blockSmallBanner_deleteImage',
                        'images' => $data['bannerAttachment'],
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Text on the banner', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-small-banner-contents">
                        <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ae-small-banner-contents" name="bannerContents" maxlength="<?php echo $maxLengths['contents']; ?>"><?php echo $this->escapeForHtml($data['bannerContents']); ?></textarea>
                    </div>
                </div>
            </div>
        </div>
       <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <label>
                            <?php echo $this->checkbox('ae-publish-now', 'bannerIsPublished', 1, $data['bannerIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>