<div class="window-contents admin small-banner" data-page-block-id="<?php echo $this->blockData->page_block_id; ?>">
    <div class="modal-body-header">
        <div class="form-inline" >
            <div class="form-group">
                <label class="col-sm-8 control-label" for="small-banner-management-icpp-dropdown">
                    <?php echo $this->translate('_num. of elements', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>
                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                        'id' => 'small-banner-management-icpp-dropdown',
                        'class' => 'icpp-dropdown form-control'
                        ), array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30), false, $this->itemCountPerPage);
                    ?>
                </div>
            </div>
            <div class="form-group">
                <button id="small-banner-management-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            <div class="form-group pull-right">            
                <button type="submit" class="btn btn-primary btn-add-new">
                    <em class="fa fa-plus-circle"></em>
                    <?php echo $this->translate('New banner', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
    </div> <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if ($this->smallBannerPaginator): ?>
            <table class="table table-striped table-hover ">
                <tr>
                    <th><?php echo $this->translate('_banner published', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Last update', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Action', 'default', $this->userLanguage->zend2_locale); ?></th>
                </tr>
                <?php if ($this->smallBannerPaginator->count() > 0): ?>
                    <?php foreach ($this->smallBannerPaginator as $banner): ?>
                        <tr data-element-id="<?php echo $banner->banner_id; ?>">
                            <td>
                                <div class="col-md-1 col-sm-2 col-xs-3">
                                    <label class="switch" title="<?php echo $this->translate('Enable / disable publishing', 'default', $this->userLanguage->zend2_locale); ?>.">
                                        <?php if ($banner->is_published == 1): ?>
                                            <input type="checkbox" class="switch-input btn-toggle-publishing" checked>
                                        <?php else: ?>
                                            <input type="checkbox" class="switch-input btn-toggle-publishing">
                                        <?php endif; ?>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <?php echo $this->escapeForHtml($banner->title); ?>
                            </td>                           
                            <td>
                            <?php echo $banner->last_update_date; ?>   
                                <a href="#" class="history" rel="popover"
                                   data-content="
                                   <?php echo $this->translate('Last update', 'default', $this->userLanguage->zend2_locale); ?>:
                                   <?php echo $banner->last_update_date; ?>
                                   <?php echo $this->translate('by', 'default', $this->userLanguage->zend2_locale); ?>:
                                   <?php if ($banner->last_update_author != ''): ?>
                                       <?php echo $banner->last_update_author; ?>
                                   <?php else: ?>
                                       System
                                   <?php endif; ?>
                                   "
                                   data-original-title="<?php echo $this->translate('History of changes', 'default', $this->userLanguage->zend2_locale); ?>">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                            </td>
                         
                            <td class="actions">
                                <a class="btn-move" title="<?php echo $this->translate('Change order', 'default', $this->userLanguage->zend2_locale); ?>" data-action="move">
                                    <span class="glyphicon glyphicon-move"></span>
                                </a>
                                <a class="btn-edit" title="<?php echo $this->translate('Edit', 'default', $this->userLanguage->zend2_locale); ?>" data-action="edit">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a class="btn-delete" title="<?php echo $this->translate('Delete', 'default', $this->userLanguage->zend2_locale); ?>" data-action="delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        
                    <?php endforeach; ?>
                <?php else: ?>
                    <td colspan="5" class="text-center">
                        <?php echo $this->translate('No banners', 'default', $this->userLanguage->zend2_locale); ?>.
                    </td>
                <?php endif; ?>
            </table>
        <?php else: ?>
            <?php echo $this->translate('Error - unable to load banner list', 'default', $this->userLanguage->zend2_locale); ?>.
        <?php endif; ?>
    </div> <!-- /.modal-body-content -->
    <?php
    if ($this->smallBannerPaginator)
    {
        echo $this->paginationControl(
            $this->smallBannerPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding', array('partial/paginator.phtml', 'Site'), array(
            'route' => 'home'
            )
        );
    }
    ?>
</div>
<script> 
loadBlockJsFile('small-banner','small-banner');
$(document).ready(function(){    
    <?php if ($this->designMode): ?>
    smallBanner_handleBlockManagementWindow(<?php echo $this->blockData->page_block_id; ?>);
    <?php endif; ?>
});
</script>