<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Slide duration', 'default', $this->userLanguage->zend2_locale) . ' (ms)'; ?>:
        </label>

        <div class="col-sm-9">
            <input type="text" class="form-control"
                   name="slideDuration"
                   id="block-small-banner-slide-duration"
                   value=" <?php
                   if ((int)$this->settings['slideDuration'] > 0)
                   {
                       echo $this->settings['slideDuration'];
                   }
                   else
                   {
                       echo 3000;
                   }
                   ?>"
                   size="5"
                />
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Transition type', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'id' => 'block-small-banner-transition-type',
                    'name' => 'transitionType',
                    'class' => 'form-control'
                ),
                array(
                    'sliceDown',
                    'sliceDownLeft',
                    'sliceUp',
                    'sliceUpLeft',
                    'sliceUpDown',
                    'sliceUpDownLeft',
                    'fold',
                    'fade',
                    'random',
                    'slideInRight',
                    'slideInLeft',
                    'boxRandom',
                    'boxRain',
                    'boxRainReverse',
                    'boxRainGrow',
                    'boxRainGrowReverse',
                ),
                false,
                $this->settings['transitionType']
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Slider Theme', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'id' => 'block-small-banner-theme',
                    'name' => 'theme',
                    'class' => 'form-control'
                ),
                array(
                    'default',
                    'light',
                    'dark',
                    'bar',
                ),
                false,
                $this->settings['theme']
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Navigation Arrows', 'default', $this->userLanguage->zend2_locale); ?>:
        </label>

        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'id' => 'block-small-banner-navigation',
                    'name' => 'arrows',
                    'class' => 'form-control'
                ),
                array(
                    'false',
                    'true',
                ),
                false,
                $this->settings['arrows']
            );
            ?>
        </div>
    </div>

</div>