<?php
$bannerArrayItems = $this->smallBannerPaginator;
$pageBlockId = $this->blockData->page_block_id;
$contentId = $this->contentId;
$numBanners = $this->numBanners;
?>
<?php if ($numBanners > 0): ?>
<div class="wrapper">
    <div class="slider-wrapper theme-<?php if (isset($this->settings['theme'])): echo $this->settings['theme']; else: echo 'default'; endif; ?>">
        <div id="small-banner-<?php echo $contentId ?>" class="nivoSlider">
            <?php foreach ($bannerArrayItems as $banner): ?>
            <img data-small-banner-id="<?php echo $this->escapeForHtml($banner->banner_id); ?>" src="<?php echo $this->escapeForHtml($banner->image_url); ?>" data-thumb="<?php echo $this->escapeForHtml($banner->image_url); ?>" alt="<?php echo $this->escapeForHtml($banner->title); ?>" <?php if(strlen($banner->contents)>0): ?> title="#small_banner_caption_<?php echo $this->escapeForHtml($banner->banner_id); ?>" <?php endif; ?> />
            <?php endforeach; ?>
        </div>
        <?php foreach ($bannerArrayItems as $banner): ?>
            <?php if ($banner->contents != ''): ?>
            <div id="small_banner_caption_<?php echo $this->escapeForHtml($banner->banner_id); ?>" class="nivo-html-caption">
                <?php echo $banner->contents ?>
            </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
<?php else: ?>
Brak banerów.
<?php endif; ?>
<script type="text/javascript">
    loadJsFile('/libs/nivo-slider/jquery.nivo.slider.pack.js');
    loadCssFile('/libs/nivo-slider/nivo-slider.css');
    loadCssFile('/libs/nivo-slider/themes/<?php if (isset($this->settings['theme'])): echo $this->settings['theme'];?>/<?=$this->settings['theme'];?>.css <?php else: echo 'default/default.css'; endif; ?>');
    loadBlockCssFile('small-banner','small-banner');
    
    $(document).ready(function()
    {
        $('#small-banner-<?php echo $contentId ?>').nivoSlider({
            directionNav: <?php if (isset($this->settings['arrows'])): echo $this->settings['arrows']; else: echo 'false'; endif; ?>,
            <?php if (isset($this->settings['slideDuration'])): ?>
            pauseTime: <?php echo $this->settings['slideDuration'] . ",";
            endif; ?>
            <?php if (isset($this->settings['transitionType'])): ?>
            effect: <?php echo " '" . $this->settings['transitionType'] . "',";
            endif; ?>
            <?php if ($numBanners == 1): ?>
            controlNav: false,
            manualAdvance: true,
            <?php endif; ?>
        });
        
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
            loadBlockJsFile('small-banner','small-banner');
            smallBanner_attachEventsToBlock(<?php echo $pageBlockId; ?>);        
            smallBanner_handleBlockManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?> 
    });
</script>
