<?php
$user = $this->identity();
$logged = ($user && ($user->account)) ? true : false;
$loggedAsModerator = $logged && ($user->account->role == 'moderator');
$loggedAsAdmin = $logged && ($user->account->role == 'admin');
$designMode = ($loggedAsAdmin && $user->session->designMode);
$pageLanguage = $this->language;
if ($user)
{
    $userLanguage = $user->session->userLanguage;
}
else
{
    $userLanguage = $this->defaultLanguage;
}
$page = $this->page;
$additionalCssClasses = '';
if ($page->clean_url == '')
{
    $additionalCssClasses .= 'front ';
}
if ($logged)
{
    $additionalCssClasses .= 'logged ';
}
if ($loggedAsModerator)
{
    $additionalCssClasses .= 'logged-as-moderator ';
}
if ($loggedAsAdmin)
{
    $additionalCssClasses .= 'logged-as-admin ';
}
if ($designMode)
{
    $additionalCssClasses .= 'design-mode ';
}
$additionalCssClasses = trim($additionalCssClasses);
?>
<?php echo $this->doctype(); ?>
<!--[if lt IE 7 ]>
<html lang="<?php echo $pageLanguage->html_iso_code; ?>" class="ie ie6"><![endif]-->
<!--[if IE 7 ]>
<html lang="<?php echo $pageLanguage->html_iso_code; ?>" class="ie ie7"><![endif]-->
<!--[if !IE]>-->
<html lang="<?php echo $pageLanguage->html_iso_code; ?>"><!--<![endif]-->
<!--[if IE 9 ]>
<html lang="<?php echo $pageLanguage->html_iso_code; ?>" class="ie ie9"><![endif]-->
<!--[if !IE]>-->
<html lang="<?php echo $pageLanguage->html_iso_code; ?>"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <script type="text/javascript">
        var currentLanguageIsoCode = '<?php echo $pageLanguage->iso_code; ?>';
    </script>
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext"/>
    <?php
    echo $this
            ->headTitle()
            ->append($page->title)
            ->setAutoEscape(false) . "\n";
    if (!$page->allow_indexing)
    {
        $this->headMeta()->appendName('robots', 'no-index');
    }
    if (!$page->allow_backing_up)
    {
        $this->headMeta()->appendName('googlebot', 'noarchive');
    }
    if ($page->meta_keywords != '')
    {
        $this->headMeta()->appendName('keywords', $this->escapeForHtml($page->meta_keywords));
    }
    if ($page->meta_description != '')
    {
        $this->headMeta()->appendName('description', $this->escapeForHtml($page->meta_description));
    }

    $this
        ->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1', array('conditional' => 'IE')) . "\n";

    if ($page->disallow_caching)
    {
        $this
            ->headMeta()
            ->appendHttpEquiv('pragma', 'no-cache')
            ->appendHttpEquiv('expires', '-1')
            ->appendHttpEquiv('Cache-Control', 'no-cache');
    }

    echo $this->headMeta();

    $this
        ->headLink(
            array(
                'rel' => 'shortcut icon',
                'type' => 'image/vnd.microsoft.icon',
                'href' => $this->basePath() . '/images/favicon.ico'
            )
        )
        //->appendStylesheet($this->basePath() . '/libs/jquery-ui-1.10.3/themes/base/jquery-ui.css', array('media' => 'all'))
        ->appendStylesheet($this->basePath() . '/css/bootstrap.css', array('media' => 'all'))
        ->appendStylesheet($this->basePath() . '/css/style.css', array('media' => 'all'))
        ->appendStylesheet($this->basePath() . '/css/noty-theme-default.css', array('media' => 'all'))
        //--------------admin settings----------------
        ->appendStylesheet($this->basePath() . '/css/admin/admin.css', array('media' => 'all'))
        ->appendStylesheet($this->basePath() . '/css/admin/glyphicons.css', array('media' => 'all'))
        ->appendStylesheet($this->basePath() . '/css/admin/font-awesome.min.css', array('media' => 'all'))
        ->appendStylesheet($this->basePath() . '/css/admin/site.css', array('media' => 'all'));
    if ($user):
        $this
            ->headLink()
            ->appendStylesheet(
                $this->basePath() . '/css/bootstrap-pagination.css',
                array('media' => 'all')
            )
            ->appendStylesheet($this->basePath() . '/libs/jcrop/css/jquery.Jcrop.css')
            ->appendStylesheet($this->basePath() . '/js/bootstrap-select/bootstrap-select.min.css');
    endif;
    echo $this->headLink();
    $this
        ->headScript()
        ->appendFile($this->basePath() . '/js/jquery-1.11.0.min.js')
        ->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9'))
        ->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9'))
        ->appendFile($this->basePath() . '/libs/jquery-ui-1.10.3/ui/minified/jquery-ui.min.js', 'text/javascript')
        ->appendFile($this->basePath() . '/js/jquery.easy-confirm-dialog.min.js', 'text/javascript')
        ->appendFile($this->basePath() . '/js/admin/jquery.noty.min.js', 'text/javascript')
        ->appendFile($this->basePath() . '/js/proimagine/requests.js', 'text/javascript')
        ->appendFile($this->basePath() . '/js/proimagine/dialogs.js', 'text/javascript')
        ->appendFile($this->basePath() . '/js/proimagine/basic.js', 'text/javascript');
    if (getenv('APP_ENV') === 'development'):
        $this
            ->headScript()
            ->appendFile($this->basePath() . '/js/proimagine/zend-dev-tools-addons.js', 'text/javascript');
    endif;
    if ($user):
        $this
            ->headScript()
            ->appendFile($this->basePath() . '/js/proimagine/admin.js')
            ->appendFile($this->basePath() . '/libs/jcrop/js/jquery.Jcrop.js')
            ->appendFile($this->basePath() . '/js/bootstrap-select/bootstrap-select.min.js');
    endif;
    echo $this->headScript() . "\n";
    ?>
</head>
<body class="<?php echo $additionalCssClasses; ?>" data-page-id="<?php echo $page->page_id; ?>">
<?php if ($this->showMessageAboutCookies && !$this->messageAboutCookiesAccepted): ?>
    <div id="message-about-cookies"
         class="cookie-<?php echo $this->messageAboutCookiesPopupPosition; ?> alert alert-dismissable">
        <?php echo $this->messageAboutCookies; ?>
        <button class="btn btn-info btn-accept" data-dismiss="alert">
            <?php echo $this->translate('Accept'); ?>
        </button>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"> ×</button>
    </div>
    <script>
        handleMessageAboutCookiesFunctionality();
    </script>
<?php endif; ?>
<div class="fix">
<?php if ($loggedAsAdmin && $designMode): ?>
    <div id="admin-toolwnd">
        <div style="position:relative">
            <div class="admin-toolwnd-navi">
                <a href="#" class="admin-circle icon-add-block" id="admin-blocks-tab-activator">
                    <em class="fa fa-plus"></em>
                </a>
                <a href="#" class="admin-circle icon-save" id="admin-saved-blocks-tab-activator">
                    <em class="fa fa-save"></em>
                </a>
            </div>
            <div class="tabs-contents-container">
                <div class="display-settings">
                    <label class="col-sm-2 control-label">
                        <?php
                        echo $this->translate(
                            'Language category',
                            'default',
                            $userLanguage->zend2_locale
                        );
                        ?>:
                    </label>

                    <div class="col-md-2 col-sm-2">
                        <?php
                        echo $this->dropdown(
                            array(
                                'id' => 'block-list-languages',
                                'class' => 'form-control'
                            ),
                            $this->blockListLanguages,
                            true
                        );
                        ?>
                    </div>
                    <label class="col-sm-2 control-label">
                        <?php
                        echo $this->translate(
                            'Block type',
                            'default',
                            $userLanguage->zend2_locale
                        );
                        ?>
                        :
                    </label>

                    <div class="col-md-2 col-sm-2">
                        <?php
                        echo $this->dropdown(
                            array(
                                'id' => 'block-list-categories',
                                'class' => 'form-control'
                            ),
                            $this->blockListCategories,
                            true
                        );
                        ?>
                    </div>
                    <label class="col-sm-2 control-label">
                        <?php
                        echo $this->translate(
                            'Search by name',
                            'default',
                            $userLanguage->zend2_locale
                        );
                        ?>
                        :
                    </label>

                    <div class="col-md-2 col-sm-2">
                        <?php
                        echo $this->input(
                            'block-list-search-field',
                            false,
                            '',
                            false,
                            array(
                                'class' => 'form-control'
                            )
                        );
                        ?>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="inner" data-tab-id="1" data-dynamic-blocks="0">
                    <?php
                    echo $this->partial(
                        'partial/block-list.phtml',
                        array(
                            'blockList' => $this->blockList
                        )
                    );
                    ?>
                </div>
                <div style="display:none" class="inner" data-tab-id="2" data-dynamic-blocks="1">
                    <?php
                    echo $this->partial(
                        'partial/dynamic-block-list.phtml',
                        array(
                            'dynamicBlockList' => $this->dynamicBlockList
                        )
                    );
                    ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
<!-- Admin -->
<?php if ($logged): ?>
    <?php if ($loggedAsModerator || $loggedAsAdmin): ?>
        <div id="admin-top-side-panel">
<!--            <div class="design-mode-info--><?php //if ($designMode): ?><!-- show--><?php //endif; ?><!--"></div>-->
            <div class="design-mode-info<?php if ($designMode): ?> show<?php endif; ?>" id="left"></div>
            <div class="design-mode-info<?php if ($designMode): ?> show<?php endif; ?>" id="right"></div>
            <div class="design-mode-info<?php if ($designMode): ?> show<?php endif; ?>" id="top"></div>
            <div class="design-mode-info<?php if ($designMode): ?> show<?php endif; ?>" id="bottom"></div>
            <a class="btn-menu-open icon-menu fa fa-navicon">
                <span class="label">Menu</span>
            </a>

            <div class="closed menu-container">
                <div class="menu-overlay"></div>
                <a class="fa fa-chevron-circle-left btn-menu-close"><span>Zamknij</span></a>

                <div class="menu-spacer">
                    <div class="menu-item">
                        <a id="admin-logo" href="http://codilab.pl" target="_blank">
                        </a>
                        <a href="#pages" class="nav-url btn-pages">
                            <?php echo $this->translate('Pages', 'default', $userLanguage->zend2_locale); ?>
                        </a>
                        <a href="#search-for-blocks" class="nav-url btn-search-for-blocks">
                            <?php echo $this->translate(
                                'Search for blocks',
                                'default',
                                $userLanguage->zend2_locale
                            ); ?>
                        </a>
                        <a href="#event-list" class="nav-url btn-show-event-list">
                            <?php echo $this->translate(
                                'Event list',
                                'default',
                                $userLanguage->zend2_locale
                            ); ?>
                        </a>
                        <a href="#users" class="nav-url btn-users">
                            <?php echo $this->translate('Users', 'default', $userLanguage->zend2_locale); ?>
                        </a>
                        <a href="#settings" class="nav-url btn-settings">
                            <?php echo $this->translate(
                                'Settings',
                                'default',
                                $userLanguage->zend2_locale
                            ); ?>
                        </a>
                    </div>
                </div>

                <div id="menu-view">
                    <a class="btn-menu-view not-open"><span class="menu-icon fa fa-chevron-up"></span></a>
                    <nav id="menu-transition" class="menu-transition">
                        <ul>


                            <li><a href="http://www.vistula.edu.pl" onclick="window.open(
                            '/', 'nazwa', 'menubar=no,toolbar=no,location=no,' +
                             'directories=no,status=no,scrollbars=no,resizable=no,fullscreen=no,channelmode=no,' +
                              'width=320,height=480').focus(); return false"><i class="fa fa-mobile-phone"></i></a></li>
                            <li><a href="http://www.vistula.edu.pl" onclick="window.open(
                            '/', 'nazwa', 'menubar=no,toolbar=no,location=no,' +
                             'directories=no,status=no,scrollbars=no,resizable=no,fullscreen=no,channelmode=no,' +
                              'width=1024,height=768').focus(); return false"><i class="fa fa-tablet"></i></a></li>
                            <li><a href="http://www.vistula.edu.pl" onclick="window.open(
                            '/', 'nazwa', 'menubar=no,toolbar=no,location=no,' +
                             'directories=no,status=no,scrollbars=no,resizable=no,fullscreen=no,channelmode=no,' +
                              'width=1280,height=1024').focus(); return false"><i class="fa fa-laptop"></i></a></li>
                            <li><a href="http://www.vistula.edu.pl" onclick="window.open(
                            '/', 'nazwa', 'menubar=no,toolbar=no,location=no,' +
                             'directories=no,status=no,scrollbars=no,resizable=no,fullscreen=no,channelmode=no,' +
                              'width=1900,height=1280').focus(); return false"><i class="fa fa-desktop"></i></a></li>
                            <li><a><i class="vertical-text">Podgląd strony w różnych rozdzielczościach</i></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="icon-setting btn-group">
 <!--icon edit this page-->
                    <a href="#" class="admin-circle icon-edit" id="admin-edit-this-page" data-toggle="tooltip" data-placement="right"
                     title="<?php echo $this->translate('Edit current page', 'default', $userLanguage->zend2_locale); ?>:"><i class="fa fa-edit"> 
                        <?php echo $this->translate('Edit current page', 'default', $userLanguage->zend2_locale); ?>:
                        </i></a>

                    <?php if ($logged): ?>

                <!--icon lang switcher-->
                <div class="dropup btn-group" data-toggle="tooltip" data-placement="right"
                     title="<?php echo $this->translate('Current language', 'default', $userLanguage->zend2_locale); ?>:">
                  <button class="btn btn-default dropdown-toggle" type="button" 
                          id="admin-show-language-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <?php echo strtoupper($this->language->iso_code); ?>
                    <span class="caret"></span>
                  </button>
                  <ul id="admin-language-switcher" class="dropdown-menu" aria-labelledby="admin-show-language-switcher">
                      <li class="dropdown-header">
                         <?php echo $this->translate(
                                    'Current language',
                                    'default',
                                    $userLanguage->zend2_locale
                                ); ?>:
                        </li>
                        <li role="separator" class="divider"></li>
                      <li><?php echo $this->language->native_name; ?></li>
                    <?php foreach ($this->languages as $language): ?>
                                    <?php if ($language->language_id != $pageLanguage->language_id): ?>
                                        <li>
                                            <a href="#" data-iso-code="<?php echo $language->iso_code; ?>">
                                                <?php echo $this->escapeForHtml($language->english_name); ?>
                                            </a>
                                        </li>
                                    <?php endif; ?>
                    <?php endforeach; ?>
                  </ul>
                </div>

<!--probably to delete -->
                <?php endif; ?>
                   
<!--icon user language -->
                <div class="dropup btn-group" data-toggle="tooltip" data-placement="right"
                     title="<?php echo $this->translate('Interface language', 'default', $userLanguage->zend2_locale); ?>:">
                    <button class="btn btn-default dropdown-toggle" type="button" id="btn-show-user-language-switcher" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-language"></i>
                        <span class="caret"></span>
                    </button>
                    <ul id="user-language-switcher" class="dropdown-menu" aria-labelledby="btn-show-user-language-switcher">
                        <li class="dropdown-header">
                                <?php echo $this->translate('Interface language', 'default', $userLanguage->zend2_locale); ?>:
                        </li>
                        <li role="separator" class="divider"></li>
                        <li> <?php echo $userLanguage->native_name; ?></li>
                            <?php foreach ($this->languages as $language): ?>
                                <?php if ($language->language_id != $userLanguage->language_id): ?>
                                    <li>
                                        <a href="#" data-iso-code="<?php echo $language->iso_code; ?>">
                                            <?php echo $this->escapeForHtml($language->english_name); ?>
                                        </a>
                                    </li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                    </ul>
                </div>

<!--icon user login info-->
                <div class="dropup btn-group" data-toggle="tooltip" data-placement="right"
                     title="<?php echo $this->translate('Logged as', 'default', $userLanguage->zend2_locale); ?>:">
                    <button class="btn btn-default dropdown-toggle" type="button" id="user-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span class="caret"></span>
                    </button>
                    <ul id="user-language-switcher" class="dropdown-menu" aria-labelledby="user-info">
                         <li class="dropdown-header">
                                <?php echo $this->translate(
                           'Logged as',
                           'default',
                           $userLanguage->zend2_locale
                       ); ?>:
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><?php echo $user->login; ?></li>
                    </ul>
                </div>
                 

                </div>
                <span id="version">
                                            <?php echo $this->translate(
                                                'version',
                                                'default',
                                                $userLanguage->zend2_locale
                                            ); ?>
                    <strong>1.0</strong>
                 </span>
            </div>
        </div>
        <script>

            var adminTopSidePanel = $('#admin-top-side-panel');
            var adminTopSidePanelMenuContainer = adminTopSidePanel.find('.menu-container');
            var btnMenuView = adminTopSidePanel.find('.btn-menu-view');
            var menuTransition = adminTopSidePanel.find('.menu-transition');

            adminTopSidePanel.on('click', '.btn-menu-view', function () {
                btnMenuView.toggleClass('not-open');
                menuTransition.toggleClass('animate');
            });

            adminTopSidePanel.on('click', '.btn-menu-open', function () {
                adminTopSidePanelMenuContainer.removeClass('closed');
            });

            adminTopSidePanel.on('click', '.btn-menu-close', function () {
                adminTopSidePanelMenuContainer.addClass('closed');
            });
        </script>
    <?php endif; ?>
    <a class="admin-circle icon-logout" id="admin-btn-logout"
       href="<?php echo $this->url('auth/default', array('controller' => 'index', 'action' => 'logout')); ?>"
       data-placement="bottom" data-toggle="tooltip"
       data-original-title="<?php echo $this->translate('Sign out', 'default', $userLanguage->zend2_locale); ?>">
        <em class="fa  fa-sign-out"></em>
    </a>

    <?php if ($loggedAsAdmin): ?>
        <!--icon design mode-->
        <a href="#admin-toggle-design-mode" id="admin-toggle-design-mode"
           class="admin-circle icon-design-mode<?php if ($designMode): ?> active<?php endif; ?>"
           data-placement="top"
           data-toggle="tooltip"
           data-original-title="<?php echo $this->translate(
               'Enable or disable design mode',
               'default',
               $userLanguage->zend2_locale
           ); ?>"
            >
            <i class="fa fa-puzzle-piece fa-flip-horizontal"></i>
            <span style="display:none;">
            <?php if (!$designMode): ?>
                <?php echo $this->translate('Enable design mode', 'default', $userLanguage->zend2_locale); ?>
            <?php else: ?>
                <?php echo $this->translate('Disable design mode', 'default', $userLanguage->zend2_locale); ?>
            <?php endif; ?>
            </span>
        </a>
    <?php endif; ?>

<?php endif; ?>
<!-- /Admin -->
<div id="social-media-panel">
    <a href="https://pl-pl.facebook.com/" target="_blank">
        <img alt="facebook icon" src="<?php echo $this->basePath(); ?>/images/icon-facebook.png"/>
    </a>
    <a href="https://plus.google.com/" target="_blank">
        <img alt="google plus icon" src="<?php echo $this->basePath( ); ?>/images/icon-google-plus.png"/>
    </a>
    <a href="https://www.linkedin.com/" target="_blank">
        <img alt="likedIn icon" src="<?php echo $this->basePath(); ?>/images/icon-linkedin.png"/>
    </a>
    <a href="https://twitter.com/" target="_blank">
        <img alt="tweeter icon" src="<?php echo $this->basePath(); ?>/images/icon-twitter.png"/>
    </a>
    <a href="http://www.goldenline.pl/" target="_blank">
        <img alt="golden line icon" src="<?php echo $this->basePath(); ?>/images/icon-golden-line.png"/>
    </a>
    <a href="http://www.youtube.com/" target="_blank">
        <img alt="youtube icon" src="<?php echo $this->basePath(); ?>/images/icon-youtube.png"/>
    </a>
</div>
<div class="navbar navbar-default" id="main-header" role="navigation">
    <div class="container">
        <div id="top-nav" class="row admin-slot" data-slot-id="1">
            <div class="col-md-5 col-sm-5">
                <?php echo $this->renderBlocks(1); ?>
            </div>
            <div class="col-md-7 col-sm-7 top-navi">
                <span class="beta-test">wersja <strong>testowa</strong> &nbsp;&nbsp;|&nbsp;&nbsp; </span>
                <div id="top-search">
                    <input type="text" placeholder="<?php echo $this->translate('Enter the query'); ?> ..."/>
                    <a href="#"><span class="glyphicon glyphicon-search btn-search"></span></a>
                </div>
                <span class="beta-test"> &nbsp;&nbsp;|&nbsp;&nbsp; </span>
                <span id="page-language-switcher">
                    <?php foreach ($this->languages as $language): ?>
                        <?php
                        $flagImageUrl = $this->basePath() . '/images/flags/' . $language->html_iso_code . '.png';
                        $flagUrl = '/' . $language->iso_code;
                        ?>
                        <?php if ($language->language_id != $pageLanguage->language_id): ?>
                            <a href="<?php echo $flagUrl; ?>" class="flag"
                               data-iso-code="<?php echo $language->iso_code; ?>">
                                <img alt="<?php echo $language->html_iso_code; ?>" src="<?php echo $flagImageUrl; ?>"/>
                            </a>
                        <?php else: ?>
                            <a href="<?php echo $flagUrl; ?>" class="flag active"
                               data-iso-code="<?php echo $language->iso_code; ?>">
                                <img alt="<?php echo $language->html_iso_code; ?>" src="<?php echo $flagImageUrl; ?>"/>
                            </a>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </span>
            </div>
        </div>
        <!-- /#top-nav -->
        <div id="logo-nav">
            <div id="logo-container">

                <?php if ($pageLanguage->iso_code == 'pol'): ?>
                    <a href="/">
                        <span>System</span> Zarządzania
                        <img src="/images/codilab-logo.png" alt="Vistula logo"/>
                        Treścią <span>CodiLab CMS</span>
                    </a>
                <?php elseif ($pageLanguage->iso_code == 'eng'): ?>
                    <a href="/eng">
                        Content Management
                        <img src="/images/codilab-logo.png" alt="Vistula logo"/>
                        <span>System CodiLab CMS</span>
                    </a>
                <?php
                elseif ($pageLanguage->iso_code == 'rus'): ?>
                    <a href="/rus">
                        <span>Система</span> управления
                        <img src="/images/codilab-logo.png" alt="Vistula logo"/>
                         контентом <span>CodiLab CMS</span>
                    </a>
                <?php endif; ?>
            </div>

        </div>
        <div id="bottom-nav" class="admin-slot" data-slot-id="5">
            <?php echo $this->renderBlocks(5); ?>
        </div>
        <!-- /#top-nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->
<div class="container-fluid admin-slot" id="banner-big" data-slot-id="6">
    <?php echo $this->renderBlocks(6); ?>
</div>
<div class="container-fluid" id="top-sections">
    <div class="container admin-slot" data-slot-id="24">
        <?php echo $this->renderBlocks(24); ?>
    </div>
</div>
<div class="container" id="main-content">
    <?php echo $this->content; ?>
</div>
<!-- /#main-content -->
<div class="container-fluid admin-slot" id="content-bottom" data-slot-id="27">
    <div class="container">
        <?php echo $this->renderBlocks(27); ?>
    </div>
</div>
<!-- SUBFOOTER -->
<div class="container-fluid" id="subfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="admin-slot" data-slot-id="31">
                    <?php echo $this->renderBlocks(31); ?>
                </div>
            </div>
            <div class="col-md-4">
                <div class="admin-slot" data-slot-id="33">
                    <?php echo $this->renderBlocks(33); ?>
                </div>
            </div>
            <div class="col-md-4">
                <div class="admin-slot" data-slot-id="34">
                    <?php echo $this->renderBlocks(34); ?>
                </div>
            </div>
                        <div class="col-md-3">
                            <div class="admin-slot" data-slot-id="32">
                                <?php //echo $this->renderBlocks(32); ?>
                            </div>
                            <h3 class="title" style="margin-top: 10px; margin-bottom: 20px;">Zgłoś błąd</h3>
                            <form role="form">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="feedback-from" placeholder="Adres email" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="feedback-subject" placeholder="Tytuł maila" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" placeholder="Informacja" id="feedback-message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-default">Wyślij</button>
                            </form>
                            <script>
                                $( document ).ready(function(){
                                    loadJsFile('/js/proimagine/feedback-mail.js');
                                    feedbackMail_attachEvents();
                                });
                            </script>
                        </div>
        </div>
    </div>
</div>
<!-- /SUBFOOTER -->
<div class="container-fluid" id="footer">
    <div class="container">
        <div class="col-md-9 admin-slot" data-slot-id="40">
            <?php echo $this->renderBlocks(40); ?>
        </div>
        <div class="col-md-3 admin-slot" data-slot-id="50">
            <?php echo $this->renderBlocks(50); ?>
            <p>&copy; CodiLab www.codilab.pl <?php echo date('Y'); ?></p>
        </div>
    </div>
</div>
<!-- /#footer -->
</div>
<script src="<?php echo $this->basePath(); ?>/js/bootstrap.min.js"></script>
<script src="<?php echo $this->basePath(); ?>/js/admin/tooltips.js"></script>
<?php if ($this->additionalScripts != ''): ?>
    <?php echo $this->additionalScripts; ?>
<?php endif; ?>
<script>
    $(document).ready(function(){
        loadJsFile('/js/proimagine/plugins/popover.js');
        $('.popover-activator').popover();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    //fix edycji okna ckeditora przy otwartym modalu bootstrapa
    $.fn.modal.Constructor.prototype.enforceFocus = function() {
        modal_this = this;
        $(document).on('focusin.modal', function (e) {
         if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length 
             && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select') 
             && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
        modal_this.$element.focus();
        }
         });
    };
</script>

</body>
<!--[if IE]>
<head>
    <?php
    /**
     * If you don't know why above code was added here look at this:
     * http://support.microsoft.com/kb/222064/pl
     * http://www.htmlgoodies.com/beyond/reference/article.php/3472881
     */
    if ($page->disallow_caching)
    {
    $this->headMeta()->deleteContainer();
    echo $this->headMeta()
    ->appendHttpEquiv('pragma', 'no-cache')
    ->appendHttpEquiv('expires', '-1')
    ->appendHttpEquiv('Cache-Control', 'no-cache') . "\n";
    }
    ?>
</head>
<![endif]-->
</html>