<?php
$user = $this->identity();
$currentLanguage = $this->language;
$page = $this->page;
?>
<?php echo $this->doctype(); ?>
<!--[if lt IE 7 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html lang="<?php echo $currentLanguage->html_iso_code; ?>" class="ie ie9"><![endif]-->
<!--[if !IE]>--><html lang="<?php echo $currentLanguage->html_iso_code; ?>"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <script type="text/javascript">
            var currentLanguageIsoCode='<?php echo $currentLanguage->iso_code; ?>';
        </script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext" />
        <?php
        echo $this
            ->headTitle()
            ->append($page->title)
            ->append($this->siteName)
            ->setSeparator(' - ')
            ->setAutoEscape(false) . "\n";

        if (!$page->allow_indexing)
        {
            $this->headMeta()->appendName('robots', 'no-index');
        }
        if (!$page->allow_backing_up)
        {
            $this->headMeta()->appendName('googlebot', 'noarchive');
        }
        if ($page->meta_keywords != '')
        {
            $this->headMeta()->appendName('keywords', $this->escapeForHtml($page->meta_keywords));
        }
        if ($page->meta_description != '')
        {
            $this->headMeta()->appendName('description', $this->escapeForHtml($page->meta_description));
        }

        $this
            ->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge,chrome=1', array('conditional' => 'IE')) . "\n"
        ;

        if ($page->disallow_caching)
        {
            $this
                ->headMeta()
                ->appendHttpEquiv('pragma', 'no-cache')
                ->appendHttpEquiv('expires', '-1')
                ->appendHttpEquiv('Cache-Control', 'no-cache');
        }

        echo $this->headMeta();

        echo $this->headLink(
            array(
                'rel' => 'shortcut icon',
                'type' => 'image/vnd.microsoft.icon',
                'href' => $this->basePath() . '/images/favicon.ico'
            )
        )
            ->appendStylesheet($this->basePath() . '/css/bootstrap.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/style.css', array('media' => 'all'))
            //--------------admin settings----------------
            ->appendStylesheet($this->basePath() . '/css/admin/admin.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/admin/glyphicons.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/admin/font-awesome.css', array('media' => 'all'))
            ->appendStylesheet($this->basePath() . '/css/admin/retina.min.css', array('media' => 'all'))
        ;

        $this->headScript()
            ->appendFile($this->basePath() . '/js/jquery-1.11.0.min.js')
            ->appendFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9'))
            ->appendFile($this->basePath() . '/js/html5shiv.js', 'text/javascript', array('conditional' => 'lt IE 9'))
        ;

        if (getenv('APP_ENV') === 'development'):
            $this->headScript()
                ->appendFile($this->basePath() . '/js/proimagine/zend-dev-tools-addons.js', 'text/javascript');
        endif;
        echo $this->headScript() . "\n";
        ?>
    </head>
    <body>
        <?php echo $this->content; ?>
        <script src="<?php echo $this->basePath(); ?>/js/admin/bootstrap.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/js/admin/jquery.backstretch.min.js"></script>
        <script src="<?php echo $this->basePath(); ?>/js/admin/pages/page-lockscreen.js"></script>
    </body>
</html>