<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="degreeId" value="<?php echo $data['degreeId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group form-degree">
            <label for="ac-degree-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ac-degree-title" class="form-control" name="degreeTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['degreeTitle']); ?>" />
            </div>
        </div>
        <h3 class="title">
            <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <div class="col-sm-12">
                <label>
                    <?php echo $this->checkbox(
                        'ac-publish-now',
                        'degreeIsPublished',
                        1,
                        ($data['degreeIsPublished'] == 1)
                    ); ?>
                    <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                </label>
            </div>
        </div>
    </div>
</div>