<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;

$hasUrl = ($data['employeeUrlAddressType'] != 2);
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="employeeId" value="<?php echo $data['employeeId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-employee-group">
                Stanowisko:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                    <?php
                   echo $this->dropdown(
                        array(
                           'id' => 'ae-employee-group',
                            'class' => 'form-control',
                           'name' => 'employeeDegreeId'
                       ), $this->employeeDegreesOptions, true, $data['employeeDegreeId']
                   );
                   ?>
                </div>
            </div>
        </div>
        <div class="form-group" id="ae-employee-image-form-group">
            <label for="ae-employee-image" class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['employeeId'],
                        'imageArrayName' => 'employeeImage',
                        'aspectRatio' => 1,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'employee',
                            'resizeImageToMaxWidth' => 185,
                            'resizeImageToMaxHeight' => 185,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,185,185'
                        ),
                        'onBeforeDeletedCallback' => 'blockEmployee_deleteImage',
                        'images' => $data['employeeImage'],
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group" id="ae-employee-name-and-surname-form-group">
            <label for="ae-employee-name-and-surname" class="col-sm-3 control-label">
                <?php echo $this->translate('Name and surname', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-employee-name-and-surname" class="form-control" name="employeeNameAndSurname" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['employeeNameAndSurname']); ?>" />
            </div>
        </div>
<!--        <div class="form-group" id="ae-employee-position-form-group">
            <label for="ae-employee-position" class="col-sm-3 control-label">
                <?php echo $this->translate('_employee position', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea id="ae-employee-position" class="form-control" name="employeePosition" maxlength="<?php echo $maxLengths['position']; ?>"><?php echo $this->escapeForHtml($data['employeePosition']); ?></textarea>
            </div>
        </div>-->
        <div class="form-group" id="ae-employee-about-form-group">
            <label for="ae-employee-about" class="col-sm-3 control-label">
                <?php echo $this->translate('About employee', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea id="ae-employee-about" class="form-control" name="employeeAbout" maxlength="<?php echo $maxLengths['about']; ?>"><?php echo $this->escapeForHtml($data['employeeAbout']); ?></textarea>
            </div>
        </div>
        <div class="form-group" id="ae-employee-scientific-career-form-group">
            <label for="ae-employee-scientific-career" class="col-sm-3 control-label">
                <?php echo $this->translate('Career', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea id="ae-employee-scientific-career" class="form-control" name="employeeScientificCareer" maxlength="<?php echo $maxLengths['scientific_career']; ?>"><?php echo $this->escapeForHtml($data['employeeScientificCareer']); ?></textarea>
            </div>
        </div>
        <div class="form-group" id="ae-employee-the-most-important-publications-form-group">
            <label for="ae-employee-the-most-important-publications" class="col-sm-3 control-label">
                <?php echo $this->translate('The most important achievements', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea id="ae-employee-the-most-important-publications" class="form-control" name="employeeTheMostImportantPublications" maxlength="<?php echo $maxLengths['most_important_publications']; ?>"><?php echo $this->escapeForHtml($data['employeeTheMostImportantPublications']); ?></textarea>
            </div>
        </div>
        <div class="form-group" id="ae-employee-contact-info-form-group">
            <label for="ae-employee-contact-info" class="col-sm-3 control-label">
                <?php echo $this->translate('Contact info', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea id="ae-employee-contact-info" class="form-control" name="employeeContactInfo" maxlength="<?php echo $maxLengths['contact_info']; ?>"><?php echo $this->escapeForHtml($data['employeeContactInfo']); ?></textarea>
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ai-publish-now', 'employeeIsPublished', 1, $data['employeeIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>