<?php
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
?>
<?php if ($this->employeesBlockShouldBeRendered): ?>
    <div class="tabs-control">
    <ul class="nav nav-tabs">
        <li class="title active" data-tab-id="1">
            <span>
                <?php echo $this->translate('Alphabetically'); ?>
            </span>
        </li>
        <li class="title" data-tab-id="2">
            <span>
                <?php echo $this->translate('By position'); ?>
            </span>
        </li>
        <li class="title" data-tab-id="3">
            <span>
                <?php echo $this->translate('Search'); ?>
            </span>
        </li>
    </ul>
    <div class="tab-shadow"><img src="/images/tab-shadow.png" alt="shadow"/></div>
    <div class="tabs-contents">
        <div class="tab-pane" data-tab-id="1">
            <div class="tab-contents">
                <div class="alphabet">
                    <?php foreach ($this->alphabet as $info): ?>
                        <?php
                        $letter = $info['letter'];
                        $cssClasses = $info['css_classes'];
                        ?>
                        <span<?php if ($cssClasses != ''): ?> class="<?php echo $cssClasses; ?>"<?php endif; ?>
                            data-letter="<?php echo $letter; ?>">
                                <?php echo $letter; ?>
                            </span>
                    <?php endforeach; ?>
                    <span class="enabled" data-letter="">
                            [ <?php echo $this->translate('All employees'); ?> ]
                        </span>
                </div>
                <hr/>
                <div class="employees-columns">
                    <div style="display:none" class="employees-column col-md-4" data-is-template="1">
                        <h3></h3>
                        <ul>
                            <li class="employee-info" data-is-template="1">
                                <div class="col-md-4 col-image">
                                    <img alt="Photo" class="responsive-image" src="/img/no-image.png" />
                                </div>
                                <div class="col-md-8">
                                    <a href="#"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <?php if ($this->employeesDividedByFirstLetter): ?>
                        <?php foreach ($this->employeesDividedByFirstLetter as $letter => $employees): ?>
                            <div class="employees-column col-md-4">
                                <h3><?php echo $letter; ?></h3>
                                <ul>
                                    <?php foreach ($employees as $employee): ?>
                                        <?php
                                        $degreeTitle = $this->escapeForHtml($employee['degree_title']);
                                        $nameAndSurname = $this->escapeForHtml($employee['name_and_surname']);
                                        $anchorTitle = $degreeTitle . ' ' . $nameAndSurname;
                                        $thumbUrl = $this->escapeForHtml($employee['thumbUrl']);
                                        ?>
                                        <li class="employee-info">
                                            <div class="col-md-4 col-image">
                                                <?php if ($thumbUrl != ''): ?>
                                                    <img alt="Photo" class="responsive-image"
                                                         src="<?php echo $thumbUrl; ?>"
                                                    />
                                                <?php else: ?>
                                                    <img alt="No photo" class="responsive-image"
                                                         src="/img/no-image.png"
                                                        />
                                                <?php endif; ?>
                                            </div>
                                            <div class="col-md-8">
                                                <a href="<?php echo ($this->employeeDetailsPageUrl != '') ? ($this->employeeDetailsPageUrl . ',' . $employee['cleanUrl'] . '-' . $employee['content_id'] . '-' . $employee['employee_id']) : '#'; ?>"
                                                   title="<?php echo $anchorTitle; ?>">
                                                    <?php echo $nameAndSurname; ?>
                                                </a>
                                                <?php echo $degreeTitle; ?>
                                            </div>
                                        </li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                        <?php endforeach; ?>
                    <?php else: ?>
                        <?php echo $this->translate('No employee found'); ?>.
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="tab-pane" data-tab-id="2" style="display:none">
            <div class="tab-contents">
                <?php if ($this->employeesDividedByDegree): ?>
                    <?php foreach ($this->employeesDividedByDegree as $degreeTitle => $employees): ?>
                        <div class="employee-position-column col-md-4">
                            <h3><?php echo $this->escapeForHtml($degreeTitle); ?></h3>
                            <ul>
                                <?php foreach ($employees as $employee): ?>
                                    <?php
                                    $degreeTitle = $this->escapeForHtml($employee['degree_title']);
                                    $nameAndSurname = $this->escapeForHtml($employee['name_and_surname']);
                                    $anchorTitle = $degreeTitle . ' ' . $nameAndSurname;
                                    $thumbUrl = $this->escapeForHtml($employee['thumbUrl']);
                                    ?>
                                    <li class="employee-info">
                                        <div class="col-md-3 col-image">
                                            <?php if ($thumbUrl != ''): ?>
                                                <img alt="Photo" class="responsive-image"
                                                     src="<?php echo $thumbUrl; ?>"
                                                    />
                                            <?php else: ?>
                                                <img alt="No photo" class="responsive-image"
                                                     src="/img/no-image.png"
                                                    />
                                            <?php endif; ?>
                                        </div>
                                        <div class="col-md-9">
                                            <a href="<?php echo ($this->employeeDetailsPageUrl != '') ? ($this->employeeDetailsPageUrl . ',' . $employee['cleanUrl'] . '-' . $employee['content_id'] . '-' . $employee['employee_id']) : '#'; ?>"
                                               title="<?php echo $anchorTitle; ?>">
                                                <?php echo $nameAndSurname; ?>
                                            </a>
                                        </div>
                                    </li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    <?php endforeach; ?>
                <?php else: ?>
                    <?php echo $this->translate('No employee found'); ?>.
                <?php endif; ?>
            </div>
        </div>
        <div class="tab-pane" data-tab-id="3" style="display:none">
            <div class="tab-contents">
                <div class="search-area form-horizontal">
                    <div class="col-md-5">
                        <label class="col-md-5 control-label">
                            <?php echo $this->translate('Name / surname'); ?>
                        </label>

                        <div class="col-md-7">
                            <input class="form-control" type="text" name="nameAndSurname"/>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label class="control-label col-md-5">
                            <?php echo $this->translate('Position'); ?>
                        </label>

                        <div class="col-md-7">
                            <?php
                            echo $this->dropdown(
                                array(
                                    'class' => 'form-control',
                                    'name' => 'degreeId'
                                ),
                                $this->employeeDegrees,
                                true
                            );
                            ?>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default btn-search">
                            <span class="fa fa-search"></span> <?php echo $this->translate('Search'); ?>
                        </button>
                    </div>
                    <div style="display:none" class="messages"></div>
                </div>
                <div style="display:none" class="search-results">
                    <h3 class="search-info">
                        <?php echo $this->translate('Found'); ?>:
                        <strong class="found-employe-count"><?php echo $this->foundEmployeeCount; ?></strong>
                    </h3>
                    <hr/>
                    <div class="employee-list">
                        <div style="display:none" class="employee row" data-is-template="1">
                            <div class="col-md-2">
                                <img alt="Photo." class="rimage" src=""/>
                            </div>
                            <div class="information col-md-10">
                                <a href="" title="">
                                    <span class="degree-title"></span>

                                    <h3 class="name-and-surname"></h3>
                                    <span class="position"></span>

                                    <button class="read-more btn btn-default">
                                        <?php echo $this->translate('Read more'); ?>
                                    </button>
                                </a>
                            </div>
                        </div>
                        <?php if ($this->foundEmployees): ?>
                            <?php foreach ($this->foundEmployees as $employee): ?>
                                <?php
                                $degreeTitle = $this->escapeForHtml($employee->degree_title);
                                $nameAndSurname = $this->escapeForHtml($employee->name_and_surname);
                                $position = $this->escapeForHtml($employee->position);
                                $thumbUrl = $this->escapeForHtml($employee->thumbUrl);
                                $anchorTitle = $degreeTitle . ' ' . $nameAndSurname;
                                ?>
                                <div class="employee">
                                    <img alt="Photo." width="90" height="90" src="<?php echo $thumbUrl; ?>"/>

                                    <div class="information">
                                        <a href="<?php echo ($this->employeeDetailsPageUrl != '') ? ($this->employeeDetailsPageUrl . ',' . $employee['cleanUrl'] . '-' . $employee['content_id'] . '-' . $employee['employee_id']) : '#'; ?>"
                                           title="<?php echo $anchorTitle; ?>">
                                            <span class="degree-title"><?php echo $degreeTitle; ?></span>

                                            <h3 class="name-and-surname">
                                                <?php echo $nameAndSurname; ?>
                                            </h3>
                                            <span class="position"><?php echo $position; ?></span>

                                            <button class="read-more">
                                                <?php echo $this->translate('Read more'); ?>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
<?php else: ?>
    <?php
    echo $this->translate(
            'This block will be invisible now because current URL address leads to details of one of existing ' .
            'employees in this block', 'default', $this->userLanguage->zend2_locale
        ) . '.';
    ?>
<?php endif; ?>
<script>
    loadBlockCssFile('tabs-control', 'tabs-control');
    loadBlockJsFile('employees', 'employees');
    loadBlockCssFile('employees', 'employees');
    $(function () {
        blockEmployees_handleCustomFunctionality(<?php echo $pageBlockId ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockEmployees_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>