<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Show employee details in page', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-employees-details-page',
                        'name' => 'detailsPageId',
                        'class' => 'form-control'
                    ), $this->availablePages, true, $this->settings->detailsPageId
                );
                echo $this->translate(
                    'Note that employee details will be shown only for the same language in which the current page is',
                    'default', $this->userLanguage->zend2_locale
                ) . '.';
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Employees hiding', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                        'block-employees-hide-if-current-url-leads-to-employee-details',
                        'hideIfCurrentUrlLeadsToEmployeeDetails',
                        1,
                    ($this->settings->hideIfCurrentUrlLeadsToEmployeeDetails == 1)
                );
                echo $this->translate(
                    'Hide this block if current URL leads to employee\'s details',
                    'default', $this->userLanguage->zend2_locale
                ) . '.';
                ?>
            </div>
        </div>
    </div>
</div>