<?php
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = (int)$this->blockData->page_block_id;
$eventListPageBlockId = (int)$this->eventListPageBlockId;
$eventListPageUrl = $this->eventListPageUrl;
$isFutureEventListHidden = $this->settings->hideIfCurrentUrlLeadsToEventDetails && ($this->currentEventId > 0);
?>
<?php if ($eventListPageUrl != ''): ?>
    <a class="go-to-event-list" href="<?php echo $eventListPageUrl; ?>">
        <?php echo $this->translate('Full list of events'); ?>
        <span class="fa fa-play"></span>
    </a>
<?php endif; ?>
<div class="future-event-items">
    <?php if (!$isFutureEventListHidden): ?>
        <?php if ($eventListPageBlockId > 0): ?>
            <?php if ($this->eventPaginator): ?>
                <?php if ($this->eventPaginator->getTotalItemCount() > 0): ?>
                    <?php foreach ($this->eventPaginator as $event): ?>
                        <div class="item<?php if ($event->is_promoted): ?> promoted<?php endif; ?>"
                             data-event-id="<?php echo $event->event_id; ?>" style="clear: both">
                            <div class="col-xs-3 col-sm-2 col-md-2">
                                <div class="events-calendar-col">
                                    <div class="month"><?php echo $event->start_date_month_short_name; ?></div>
                                    <div class="day"><?php echo $event->start_date_day; ?></div>
                                    <div class="time-to"><?php echo $event->days_left_str; ?></div>
                                </div>
                            </div>
                            <div class='col-xs-9 col-sm-10 col-md-10'>
                                <div>
                                    <a href="<?php echo ($this->eventDetailsPageUrl != '') ? ($this->eventDetailsPageUrl . ',' . $event->clean_url . '-' . $event->content_id) : '#'; ?>">
                                        <h3>
                                            <?php echo $this->escapeForHtml($event->title); ?>
                                            <?php if ($event->label != ''): ?>
                                                <span class="label label-primary">
                                                    <?php echo $this->escapeForHtml($event->label); ?>
                                                </span>
                                            <?php endif; ?>
                                        </h3>
                                    </a>
                                    <span style="display:none" class="glyphicon glyphicon-edit event-edit-btn"
                                          data-placement="bottom" data-toggle="tooltip"
                                          data-original-title="Edytuj to wydarzenie">
                                    </span>
                                </div>
                                <div class="info">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    Start: <?php echo $event->time_start; ?>
                                    <?php if ($event->where && ($event->where->contents != '')): ?>
                                        <span class="glyphicon glyphicon-asterisk"> </span>
                                        <span class="glyphicon glyphicon-pushpin"></span>
                                        <?php echo $this->translate('Where'); ?>: <?php echo $this->escapeForHtml($event->where->contents); ?>
                                    <?php endif; ?>
                                    <?php if ($event->is_signing_up_enabled && (strtotime($event->event_date_end) > time()) && $this->dataForEmailsAboutUserSignedUpForEventWasGiven): ?>
                                        <div class="sign-up">
                                            <span class="message"></span>
                                            <button class="btn btn-sign-up-for-event">
                                                <?php echo $this->translate('Sign up for event'); ?>
                                            </button>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <div class="row">
                                    <?php if ($event->mainImageUrl != ''): ?>
                                        <div class="col-md-2">
                                            <img alt="thumbnail" class="rimage"
                                                 src="<?php echo $this->escapeForHtml($event->mainImageUrl); ?>"
                                            />
                                        </div>
                                    <?php endif; ?>
                                    <div class="col-md-10 text">
                                        <?php echo $this->escapeForHtml($event->teaser); ?>
                                    </div>
                                </div>
                            </div>
                        </div><!-- item -->
                    <?php endforeach; ?>
                <?php else: ?>
                    <?php echo $this->translate('No future events'); ?>.
                <?php endif; ?>
            <?php else: ?>
                <?php echo $this->translate('Error - unable to load future event list'); ?>.
            <?php endif; ?>
        <?php else: ?>
            <?php echo $this->translate('Go to settings and set from which block the upcoming events should be displayed'); ?>.
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
                'This event list will be invisible now because current URL address leads to details of one of existing ' .
                'events in selected source event list', 'default', $this->userLanguage->zend2_locale
            ) . '.';
        ?>
    <?php endif; ?>
    <?php
    if ($this->eventPaginator && ($this->eventPaginator->count() > 1))
    {
        echo $this->paginationControl(
            $this->eventPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding',
            array('partial/paginator.phtml', 'Site'),
            array(
                'route' => 'home'
            )
        );
    }
    ?>
</div>
<script>
    loadBlockCssFile('future-event-list', 'future-event-list');
    loadBlockJsFile('event-list', 'event-list');
    loadBlockJsFile('future-event-list', 'future-event-list');
    $(document).ready(function () {
        blockEventList_handleCustomFunctionality(<?php echo $pageBlockId; ?>, <?php echo $eventListPageBlockId; ?>);
        blockFutureEventList_handlePagination(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode): ?>
        blockEventList_handleManagementWindow(
            <?php echo $pageBlockId; ?>, <?php echo $eventListPageBlockId; ?>
        );
        <?php endif; ?>
    });
</script>