<?php
$currentLanguage = $this->language;
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$isNewsDetailsHidden = $this->settings->hideIfCurrentUrlDoesNotLeadsToNewsDetails && !$this->currentNewsDataAreValid;
$newsDetails = $this->newsDetails;
$newsListContentId = $this->newsListContentId;
?>
<div
    class="news-details"
    <?php if ($newsDetails): ?> data-news-id="<?php echo $newsDetails->news_id; ?>"<?php endif; ?>
    data-news-list-content-id="<?php echo $newsListContentId; ?>"
>
    <?php if (!$isNewsDetailsHidden): ?>
        <?php if ($newsDetails): ?>
            <h2 class="title"><?php echo $this->escapeForHtml($newsDetails->title); ?></h2>
            <div class="item-info">
                <span class="glyphicon glyphicon-time"></span> <?php echo $newsDetails->date; ?>
            </div>
            <div class="contents">
                <?php if ($newsDetails->mainImageUrl != ''): ?>
                    <img alt="thumbnail" style="width:40%" class="thumbnail"
                        src="<?php echo $this->escapeForHtml($newsDetails->mainImageUrl); ?>"
                    />
                <?php else: ?>

                <?php endif; ?>
                <div class="text">
                    <?php echo $newsDetails->contents; ?>
                </div>
            </div>
            <?php if ($newsDetails->images->count() > 0): ?>
                <hr/>
                <div class="gallery">
                    <?php foreach ($newsDetails->images as $image): ?>
                        <div class="news-details-image-wrapper" style="position:relative; float:left; width: 231px; margin-right: 6px;">
                            <a href="<?php echo $this->escapeForHtml($image->imageUrl); ?>"
                               data-image-id="<?php echo $image->image_id; ?>"
                               data-lightbox="news-list-<?php echo $pageBlockId?>"
                               <?php if ($image->title != ''): ?>title="<?php echo $image->title; ?>" <?php endif; ?>
                            >
                                <img alt="thumbnail" width="230" height="160"
                                     src="<?php echo $this->escapeForHtml($image->imageUrl); ?>"
                                     data-image-id="<?php echo $image->image_id; ?>"
                                >
                            </a>
                        <span class="news-details-image-text" data-image-id="<?php echo $image->image_id; ?>">
                            <?php if ($image->title != ''): ?>
                                <?php echo $image->title; ?>
                            <?php else: ?>
                                <?php if ($designMode): ?>
                                    <?php echo $this->translate('Click to edit image title', 'default', $this->userLanguage->zend2_locale); ?>
                                <?php endif;?>
                            <?php endif; ?>
                        </span>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
            <div class="item-social">
                Udostępnij artykuł:
                <a href="#"><span class="fa fa-facebook"></span></a>
                <a href="#"><span class="fa fa-twitter"></span></a>
                <a href="#"><span class="fa fa-google-plus"></span></a>
                <a href="#"><span class="fa fa-mail-forward"></span></a>
            </div>
            <div class="clearfix"></div>
        <?php else: ?>
            Nie znaleziono aktualności bazując na informacjach z aktualnego adresu URL.
            <strong>Możliwe</strong> przyczyny:
            <ul>
                <li>Aktualność lub jej kategoria nie zostały opublikowane.</li>
                <li>Aktualność nie istnieje lub została usunięta.</li>
                <li>
                    Blok został umieszczony na nieprawidłowej stronie - sprawdź ustawienia
                    bloków &quot;Aktualności&quot;.
                </li>
                <li>
                    W adresie URL brakuje informacji o aktualności.
                    Przejdź do tej strony korzystając z linku znajdującego się w bloku &quot;Aktualności&quot;.
                </li>
            </ul>
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
                'This block will be invisible now because current URL address does not leads to details of existing ' .
                'news', 'default', $this->userLanguage->zend2_locale
            ) . '.';
        ?>
    <?php endif; ?>
</div>
<script>
    loadJsFile('/libs/lightbox/js/lightbox.min.js');
    loadCssFile('/libs/lightbox/css/lightbox.css');
    loadBlockCssFile('news-details', 'news-details');
    loadBlockJsFile('news-details', 'news-details');
    <?php if ($this->designMode): ?>
    $(document).ready(function () {
        blockNewsDetails_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
    });
    <?php endif; ?>
</script>