<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Hiding', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                    'block-news-details-hide-if-current-url-does-not-leads-to-news-details',
                    'hideIfCurrentUrlDoesNotLeadsToNewsDetails',
                    1,
                    ($this->settings->hideIfCurrentUrlDoesNotLeadsToNewsDetails == 1)
                );
                echo $this->translate(
                        'Hide this block if current URL does not leads to news details',
                        'default',
                        $this->userLanguage->zend2_locale
                    ) . '.';
                ?>
            </div>
        </div>
    </div>
</div>