<?php
$currentLanguage = $this->language;
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="eventId" value="<?php echo $data['eventId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-event-category">
                <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'ae-event-category',
                        'class' => 'form-control',
                        'name' => 'eventCategoryId'
                    ), $this->eventCategoriesOptions, true, $data['eventCategoryId']
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="ae-event-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-event-title" class="form-control" name="eventTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['eventTitle']); ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-event-clean-url">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <input type="text" class="form-control" id="ae-event-clean-url" name="eventCleanUrl" maxlength="<?php echo $maxLengths['clean_url']; ?>" value="<?php echo $data['eventCleanUrl']; ?>" />
                </div>
                <p class="help-block">
                    http://<span id="ae-event-clean-url-span"></span>/<?php echo $currentLanguage->iso_code; ?>/page/.../<span id="ae-event-clean-url-path-span"><?php echo $data['eventCleanUrl']; ?></span>
                    <script type="text/javascript">
                        $('#ae-event-clean-url-span').html(getDomainFromHttpUrl(location.href));
                    </script>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-event-label">
                <?php echo $this->translate('Label (not required)', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-event-label" class="form-control" name="eventLabel" maxlength="<?php echo $maxLengths['label']; ?>" value="<?php echo $this->escapeForHtml($data['eventLabel']); ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-event-day-range">
                <?php echo $this->translate('Duration', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ae-event-day-range" class="form-control" name="eventDayRange" value="<?php echo $data['eventDayRange']; ?>" />
            </div>
        </div>
        <div class="form-group ">
            <label class="col-sm-3 control-label" for="ae-event-start-hour">
                <?php echo $this->translate('Start hour', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9 bootstrap-timepicker">
                <input type="text" id="ae-event-start-hour" class="form-control timepicker" name="eventStartHour" value="<?php echo $data['eventStartHour']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ae-event-end-hour">
                <?php echo $this->translate('End hour', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9 bootstrap-timepicker">
                <input type="text" id="ae-event-end-hour" class="form-control timepicker" name="eventEndHour" value="<?php echo $data['eventEndHour']; ?>" />
            </div>
        </div>
        <h3 class="title">
            <?php echo $this->translate('Gallery', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group" id="ae-event-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['eventId'],
                        'imageArrayName' => 'eventImages',
                        'aspectRatio' => 270 / 150,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'event-list',
                            'resizeImageToMaxWidth' => 270,
                            'resizeImageToMaxHeight' => 150,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,270,150'
                        ),
                        'images' => $data['eventImages'],
                        'allowAddingNewImages' => true
                    )
                );
                ?>
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-event-contents">
                        <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ae-event-contents" name="eventContents" maxlength="<?php echo $maxLengths['contents']; ?>"><?php echo $this->escapeForHtml($data['eventContents']); ?></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-event-teaser">
                        <?php echo $this->translate('Teaser', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ae-event-teaser" name="eventTeaser" maxlength="<?php echo $maxLengths['teaser']; ?>"><?php echo $this->escapeForHtml($data['eventTeaser']); ?></textarea>
                        <p>
                            <?php echo $this->translate('Teaser will be displayed in the list as short event content', 'default', $this->userLanguage->zend2_locale); ?>.
                        </p>
                        <p>
                            <?php echo $this->translate('Number of remaining characters', 'default', $this->userLanguage->zend2_locale); ?>:
                            <span id="ae-event-teaser-length">350</span> z 350.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($data['eventAdditionalData'] && ($data['eventAdditionalData']->count() > 0)): ?>
            <div class="section">
                <h3 class="title">
                    <?php echo $this->translate('Additional information', 'default', $this->userLanguage->zend2_locale); ?>
                </h3>
                <div class="contents">
                    <?php foreach ($data['eventAdditionalData'] as $additionalData): ?>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="ae-event-adata-<?php echo $additionalData['type_id']; ?>">
                                    <?php echo $this->escapeForHtml($additionalData['name']); ?>
                                </label>
                            </div>
                            <div class="col-sm-9" data-adata-type_id="<?php echo $additionalData['type_id']; ?>">
                                <textarea class="form-control" id="ae-event-adata-<?php echo $additionalData['type_id']; ?>" name="eventAdditionalData[<?php echo $additionalData['type_id']; ?>]"><?php echo $this->escapeForHtml($additionalData['contents']); ?></textarea>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        <?php endif; ?>
        <input type="hidden" name="eventAuthorAdditionalContactData" value="<?php echo $this->escapeForHtml($data['eventAuthorAdditionalContactData']); ?>" />
        <input type="hidden" name="eventApprovalDate" value="<?php echo $data['eventApprovalDate']; ?>" />
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Attentions (will not be published anywhere)', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-event-attentions">
                        <?php echo $this->translate('Attentions', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="ae-event-attentions" name="eventAttentions" maxlength="<?php echo $maxLengths['attentions']; ?>"><?php echo $this->escapeForHtml($data['eventAttentions']); ?></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Ability to sign up on the event', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="ae-event-sign-up">
                        <?php echo $this->translate('Enabled', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <label>
                            <?php echo $this->radio('ae-allow-signing-up-yes', 'eventIsSigningUpEnabled', 1, $data['eventIsSigningUpEnabled'] == 1); ?>
                            <?php echo $this->translate('Yes', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                        <label>
                            <?php echo $this->radio('ae-allow-signing-up-no', 'eventIsSigningUpEnabled', 0, $data['eventIsSigningUpEnabled'] == 0); ?>
                            <?php echo $this->translate('No', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div<?php if ($data['eventIsSigningUpEnabled'] == 0): ?> style="display:none"<?php endif; ?> class="section contact-person-data">
            <h3 class="title">
                <?php echo $this->translate('Contact data to person responsible for conversation about events', 'default', $this->userLanguage->zend2_locale); ?>:
            </h3>
            <div class="contents">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        <?php echo $this->translate('E-Mail', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <?php
                        echo $this->input(
                            'block-event-list-contact-person-email',
                            'eventContactPersonEmail',
                            $data['eventContactPersonEmail'],
                            false,
                            array(
                                'class' => 'form-control'
                            )
                        );
                        ?>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        <?php echo $this->translate('Phone', 'default', $this->userLanguage->zend2_locale); ?>:
                    </label>
                    <div class="col-sm-9">
                        <?php
                        echo $this->input(
                            'block-event-list-contact-person-phone',
                            'eventContactPersonPhone',
                            $data['eventContactPersonPhone'],
                            false,
                            array(
                                'class' => 'form-control'
                            )
                        );
                        ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <h3 class="title"><?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?></h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ae-publish-now', 'eventIsPublished', 1, $data['eventIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ae-promote', 'eventIsPromoted', 1, $data['eventIsPromoted'] == 1); ?>
                            <?php echo $this->translate('Set this event as promoted', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
                <?php if ($data['eventId'] > 0): // Editing an existing event. ?>
                    <?php // Use the same approval status and author e-mail address: ?>
                    <?php echo $this->hidden(false, 'eventAuthorEmail', $data['eventAuthorEmail']); ?>
                    <?php echo $this->hidden(false, 'eventIsApproved', $data['eventIsApproved']); ?>

                    <?php if (!$data['eventIsApproved']): // Display information that this event is not approved. ?>
                        <div class="alert alert-info">
                            <?php
                            echo $this->translate(
                                    'This event is not approved yet. It was added by', 'default', $this->userLanguage->zend2_locale
                                ) . ' <strong>' . $data['eventAuthorEmail'] . '</strong> (<em>' . $data['eventCreationDate'] . '</em>).'
                            ?>
                        </div>
                    <?php endif; ?>

                    <?php if (!$data['eventIsApproved'] && $loggedAsAdmin): // Allow approval. ?>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <?php echo $this->checkbox('ae-approve', 'eventIsBeingApprovedNow', 1); ?>
                                    <?php echo $this->translate('Approve this event', 'default', $this->userLanguage->zend2_locale); ?>
                                </label>
                            </div>
                        </div>
                        <div style="display:none" id="ae-approve-mail-contents">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label><?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?></label>
                                </div>
                                <div class="col-sm-8">
                                    <?php
                                    echo $this->input(
                                        'ae-approve-mail-subject',
                                        'eventDefaultSubjectForMailAboutEventApproval',
                                        $this->defaultSubjectForMailAboutEventApproval,
                                        false,
                                        array(
                                            'class' => 'form-control'
                                        )
                                    );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label><?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?></label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="7" id="ae-approve-mail-contents" name="eventDefaultContentsForMailAboutEventApproval"><?php echo $this->defaultContentsForMailAboutEventApproval; ?></textarea>
                                    <?php
                                    echo $this->translate(
                                            'You can use optional variables which are being automatically translated to specific information',
                                            'default', $this->userLanguage->zend2_locale
                                        ) . ':';
                                    ?>
                                    <div class="variables">
                                        <p>{{event_datetime}} - <?php echo $this->translate('it will be replaced by the time when the event was added', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                                        <p>{{event_link}} - <?php echo $this->translate('it will be replaced by link to this event', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php else: // Adding a new event. ?>
                    <?php if ($loggedAsAdmin): // Allow adding event as approved. ?>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    <?php
                                    echo $this->checkbox(
                                        're-add-without-necessary-to-approve',
                                        'eventAddWithoutNecessaryToApprove',
                                        1,
                                        true
                                    );
                                    ?>
                                    <?php
                                    echo $this->translate('Add without necessary to approve', 'default', $this->userLanguage->zend2_locale);
                                    ?>
                                </label>
                            </div>
                        </div>
                    <?php else: ?>
                        <?php // Allow adding only as not approved: ?>
                        <input type="hidden" name="eventIsApproved" value="0" />
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>