<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="categoryId" value="<?php echo $data['categoryId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="ac-category-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ac-category-title" class="form-control" name="categoryTitle" maxlength="<?php echo $maxLengths['name']; ?>" value="<?php echo $this->escapeForHtml($data['categoryTitle']); ?>" />
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ac-publish-now', 'publishNow', 1, $data['publishNow'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>