<?php
$currentLanguage = $this->language;
$user = $this->user;
$logged = $user ? true : false;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$isEventListHidden = $this->settings->hideIfCurrentUrlLeadsToEventDetails && ($this->currentEventId > 0);
$allowAddingImagesByGuests = $this->settings->allowAddingImagesByGuests ? true : false;
?>
<?php if ($this->settings->showReportNewEventButton && ($this->eventCategoryCount > 0)): ?>
<button class="btn-add-event">
    <?php echo $this->translate('Report new event', 'default', $this->userLanguage->zend2_locale); ?>
</button>
<div style="display:none" class="form-add-event form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <?php
            echo $this->translate(
                'Report an event, it will be published after verification by a moderator',
                'default', $this->userLanguage->zend2_locale
            ) . '.';
            ?>
        </div>
    </div>
    <div class="information"></div>
    <div class="form-group">
        <label for="re-event-title" class="col-sm-4 control-label">
            <?php echo $this->translate('Event title', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <input type="text" id="re-event-title" class="form-control" name="eventTitle" value="" />
        </div>
    </div>
    <div class="form-group">
        <label for="re-event-category" class="col-sm-4 control-label">
            <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <?php
            echo $this->dropdown(
                array(
                    'id' => 're-event-category',
                    'class' => 'form-control',
                    'name' => 'eventCategoryId'
                ), $this->eventCategoriesOptions, true
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label for="re-event-contents" class="col-sm-4 control-label">
            <?php echo $this->translate('Description', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <textarea class="form-control" id="re-event-contents" name="eventContents" rows="7"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="re-event-teaser" class="col-sm-4 control-label">
            <?php echo $this->translate('Teaser', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <textarea class="form-control" id="re-event-teaser" name="eventTeaser" rows="4"></textarea>
            <p><?php echo $this->translate('Teaser will be displayed in the list as short event content', 'default', $this->userLanguage->zend2_locale); ?></p>
        </div>
    </div>
    <?php if ($allowAddingImagesByGuests || $loggedAsAdmin): ?>
        <div class="form-group" id="re-event-image-form-group">
            <label class="col-sm-4 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-8">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => null,
                        'imageArrayName' => 'eventImages',
                        'aspectRatio' => 270 / 150,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'event-list',
                            'resizeImageToMaxWidth' => 270,
                            'resizeImageToMaxHeight' => 150,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,270,150'
                        ),
                        'onBeforeDeletedCallback' => 'blockEventList_deleteEventImage',
                        'images' => array(),
                        'allowAddingNewImages' => true,
                        'uniqueSectionIdentifier' => 'form-add-event'
                    )
                );
                ?>
            </div>
        </div>
    <?php endif; ?>
    <div class="form-group">
        <label for="re-event-day-range" class="col-sm-4 control-label">
            <?php echo $this->translate('Date', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="re-event-day-range" name="eventDayRange" value="2014-05-06 - 2014-05-29">
        </div>
    </div>
    <div class="form-group ">
        <label class="col-sm-4 control-label" for="re-event-start-hour">
            <?php echo $this->translate('Start hour', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8 bootstrap-timepicker">
            <input type="text" id="re-event-start-hour" class="form-control timepicker" name="eventStartHour" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label" for="re-event-end-hour">
            <?php echo $this->translate('End hour', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8 bootstrap-timepicker">
            <input type="text" id="re-event-end-hour" class="form-control timepicker" name="eventEndHour" />
        </div>
    </div>
    <div class="form-group">
        <label for="re-attentions" class="col-sm-4 control-label">
            <?php echo $this->translate('Your e-mail', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <?php
            echo $this->text(
                're-event-author-email',
                'eventAuthorEmail',
                $logged ? $user->email : '',
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label for="re-author-additional-contact-data" class="col-sm-4 control-label">
            <?php echo $this->translate('Additional contact data', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <textarea class="form-control" id="re-author-additional-contact-data" name="eventAuthorAdditionalContactData" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="re-attentions" class="col-sm-4 control-label">
            <?php echo $this->translate('Attentions', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-8">
            <textarea class="form-control" id="re-attentions" name="eventAttentions" rows="5"></textarea>
        </div>
    </div>
    <?php if ($loggedAsAdmin): ?>
        <div class="form-group">
            <label for="re-add-without-necessary-to-approve" class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
                <?php
                echo $this->checkbox(
                    're-add-without-necessary-to-approve',
                    'eventAddWithoutNecessaryToApprove',
                    1,
                    true
                );
                ?>
                <?php
                echo $this->translate('Add without necessary to approve', 'default', $this->userLanguage->zend2_locale);
                ?>
            </div>
        </div>
    <?php endif; ?>
    <div class="form-group buttons">
        <div class="col-sm-12" style="text-align: right">
            <button type="button" class="btn btn-default btn-cancel">
                <?php echo $this->translate('Cancel', 'default', $this->userLanguage->zend2_locale); ?>
            </button>
            <button type="button" class="btn btn-info btn-report">
                <?php echo $this->translate('Report', 'default', $this->userLanguage->zend2_locale); ?>
            </button>
        </div>
    </div>
</div>
<?php endif; ?>
<div class="event-items">
    <?php if (!$isEventListHidden): ?>
        <?php if ($this->eventPaginator): ?>
            <?php if ($this->eventPaginator->getTotalItemCount() > 0): ?>
                <?php foreach ($this->eventPaginator as $event): ?>
                    <div class="item<?php if ($event->is_promoted): ?> promoted<?php endif; ?> row"
                         data-event-id="<?php echo $event->event_id; ?>" style="clear: both">
                        <?php if ($event->mainImageUrl != ''): ?>
                            <div class="col-md-3">
                                <img alt="thumbnail" class="rimage"
                                     src="<?php echo $this->escapeForHtml($event->mainImageUrl); ?>"
                                />
                            </div>
                        <?php endif; ?>
                        <div class="col-md-<?php if ($event->mainImageUrl != ''): ?>9<?php else: ?>12<?php endif; ?>">
                            <div>
                                <a href="<?php echo ($this->eventDetailsPageUrl != '') ? ($this->eventDetailsPageUrl . ',' . $event->clean_url . '-' . $event->content_id) : '#'; ?>">
                                    <h3>
                                        <?php echo $this->escapeForHtml($event->title); ?>
                                        <?php if ($event->label != ''): ?>
                                        <span class="label label-primary">
                                            <?php echo $this->escapeForHtml($event->label); ?>
                                        </span>
                                        <?php endif; ?>
                                    </h3>
                                </a>
                                <span
                                    style="display:none" class="glyphicon glyphicon-edit event-edit-btn"
                                    data-placement="bottom" data-toggle="tooltip"
                                    data-original-title="<?php echo $this->translate('Edit this event', 'default', $this->userLanguage->zend2_locale); ?>"
                                ></span>
                            </div>
                            <div class="info">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <a href="#"><?php echo $event->category_name; ?></a>
                                <span class="glyphicon glyphicon-asterisk"></span>
                                <span class="glyphicon glyphicon-time"></span>
                                Start: <?php echo $event->date_start; ?> <?php echo $event->time_start; ?>
                                <?php if ($event->where && ($event->where->contents != '')): ?>
                                    <span class="glyphicon glyphicon-asterisk"></span>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    <?php echo $this->translate('Where'); ?>:
                                    <?php echo $this->escapeForHtml($event->where->contents); ?>
                                <?php endif; ?>
                            </div>
                            <div class="text">
                                <?php echo $this->escapeForHtml($event->teaser); ?>
                            </div>
                            <?php if ($event->is_signing_up_enabled && (strtotime($event->event_date_end) > time()) && $this->dataForEmailsAboutUserSignedUpForEventWasGiven): ?>
                                <div class="sign-up">
                                    <span class="message"></span>
                                    <button class="btn btn-sign-up-for-event">
                                        <?php echo $this->translate('Sign up for event'); ?>
                                    </button>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- item -->
                <?php endforeach; ?>
            <?php else: ?>
                <?php echo $this->translate('No events'); ?>.
            <?php endif; ?>
        <?php else: ?>
            <?php echo $this->translate('Error - unable to load event list'); ?>.
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
                'This event list will be invisible now because current URL address leads to details of one of existing ' .
                'events in this event list', 'default', $this->userLanguage->zend2_locale
            ) . '.';
        ?>
    <?php endif; ?>
    <?php
    if ($this->eventPaginator && ($this->eventPaginator->count() > 1))
    {
        echo $this->paginationControl(
            $this->eventPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding',
            array('partial/paginator.phtml', 'Site'),
            array(
                'route' => 'home'
            )
        );
    }
    ?>
</div>
<script>
    loadBlockCssFile('event-list','event-list');
    loadBlockCssFile('event-list','event-list-signing-up-for-event');
    loadBlockJsFile('event-list','event-list-signing-up-for-event');
    loadBlockJsFile('event-list','event-list');
    $(document).ready(function(){
        blockEventList_handleCustomFunctionality(<?php echo $pageBlockId; ?>,false,{
            'messageSuccessfullySignedUpForEvent':'<?php echo $this->translate('Thank you for signing up for this event'); ?>',
            'messageAlreadySignedUpForEvent':'<?php echo $this->translate('You are already signed up for this event'); ?>',
            'messageFailedToSignUpForEvent':'<?php echo $this->translate('Failed to sign up for event. Please try again later'); ?>',
            'sendAgain':'<?php echo $this->translate('Send again'); ?>'
        });
        blockEventList_handlePagination(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockEventList_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>