<div class="window-contents admin" data-page-block-id="<?php echo $this->blockData->page_block_id; ?>">
    <div class="modal-body-header">
        <div class="form-inline" >
            <div class="form-group">
                <label class="col-sm-8 control-label" for="events-management-icpp-dropdown">
                    <?php echo $this->translate('_num. of elements', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'events-management-icpp-dropdown',
                            'class' => 'icpp-dropdown form-control'
                        ),
                        array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                        false,
                        $this->itemCountPerPage
                    );
                    ?>
                </div>
            </div>
            <div class="form-group">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'events-management-filter',
                        'class' => 'form-control',
                        'style' => 'width:250px',
                        'name' => 'filterEvents'
                    ), array(
                        '' => $this->translate('Show all events', 'default', $this->userLanguage->zend2_locale),
                        'only-approved' => $this->translate('Show only approved events', 'default', $this->userLanguage->zend2_locale),
                        'only-not-approved' => $this->translate('Show only NOT approved events', 'default', $this->userLanguage->zend2_locale)
                    ), true, $this->filterEvents
                );
                ?>
            </div>
            <div class="form-group">
                <button id="events-management-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-manage-categories">
                    <em class="fa fa-bars"></em>
                    <?php echo $this->translate('Categories', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
                <button<?php if (!$this->eventCategoryCount): ?> disabled<?php endif; ?>
                    type="submit"
                    class="btn btn-primary btn-add-new"
                >
                    <em class="fa fa-plus-circle"></em>
                    <?php echo $this->translate('New event', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
    </div> <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if ($this->eventPaginator): ?>
            <table class="table table-striped table-hover ">
                <tr>
                    <th><?php echo $this->translate('_event published', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Last update', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th>URL</th>
                    <th><?php echo $this->translate('Action', 'default', $this->userLanguage->zend2_locale); ?></th>
                </tr>
                <?php foreach ($this->eventPaginator as $event): ?>
                    <tr data-element-id="<?php echo $event->event_id; ?>">
                        <td>
                            <div class="col-md-1 col-sm-2 col-xs-3">
                                <label class="switch" title="<?php echo $this->translate('Enable / disable publishing', 'default', $this->userLanguage->zend2_locale); ?>.">
                                    <?php if ($event->is_published == 1): ?>
                                        <input type="checkbox" class="switch-input btn-toggle-publishing" checked>
                                    <?php else: ?>
                                        <input type="checkbox" class="switch-input btn-toggle-publishing">
                                    <?php endif; ?>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <?php echo $event->category_name; ?>
                        </td>
                        <td>
                            <?php echo $event->last_update_date; ?>
                            <a href="#" class="history" rel="popover"
                               data-content="
                               <?php echo $this->translate('Last update', 'default', $this->userLanguage->zend2_locale); ?>:
                               <?php echo $event->last_update_date; ?>
                               <?php echo $this->translate('by', 'default', $this->userLanguage->zend2_locale); ?>:
                               <?php if ($event->last_update_author != ''): ?>
                                   <?php echo $event->last_update_author; ?>
                               <?php else: ?>
                                   System
                               <?php endif; ?>
                               "
                               data-original-title="<?php echo $this->translate('History of changes', 'default', $this->userLanguage->zend2_locale); ?>">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </td>
                        <td>
                            <strong class="uppercase"><?php echo $this->escapeForHtml($event->title); ?></strong>
                            <?php if (!$event->is_approved): ?>
                                <?php echo '(<em class="text-warning">' . $this->translate('Not approved', 'default', $this->userLanguage->zend2_locale) . '</em>)'; ?>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php echo $this->escapeForHtml($event->clean_url); ?>
                        </td>
                        <td class="actions">
                            <a class="btn-edit" title="<?php echo $this->translate('Edit', 'default', $this->userLanguage->zend2_locale); ?>" data-action="edit"><span class="glyphicon glyphicon-edit"></span> </a>
                            <a class="btn-delete" title="<?php echo $this->translate('Delete', 'default', $this->userLanguage->zend2_locale); ?>" data-action="delete"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <?php echo $this->translate('Error - unable to load event list', 'default', $this->userLanguage->zend2_locale); ?>.
        <?php endif; ?>
    </div> <!-- /.modal-body-content -->
    <?php
    if ($this->eventPaginator)
    {
        echo $this->paginationControl(
            $this->eventPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding', array('partial/paginator.phtml', 'Site'), array(
                'route' => 'home'
            )
        );
    }
    ?>
</div>
<script>
    loadBlockJsFile('event-list','manage-categories');
    <?php if ($this->designMode): ?>
        $(document).ready(function(){
            blockEventList_handleFilterInManagementWindow(<?php echo $this->blockData->page_block_id; ?>);
            blockEventList_handleCategoriesManagementWindow(<?php echo $this->blockData->page_block_id; ?>);
        });
    <?php endif; ?>
</script>