<?php
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-news-icpp',
                        'name' => 'itemCountPerPage',
                        'class' => 'form-control'
                    ),
                    array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                    false,
                    $this->settings->itemCountPerPage
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php
                echo $this->translate(
                    'Show events from category',
                    'default',
                    $this->userLanguage->zend2_locale
                );
                ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-event-list-category-id',
                        'name' => 'categoryId',
                        'class' => 'form-control'
                    ),
                    $this->availableCategories,
                    true,
                    $this->settings->categoryId
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Show event details in page', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-event-list-details-page',
                        'name' => 'detailsPageId',
                        'class' => 'form-control'
                    ),
                    $this->availablePages,
                    true,
                    $this->settings->detailsPageId
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Event list hiding', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>

            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                        'block-event-list-hide-if-current-url-leads-to-event-details',
                        'hideIfCurrentUrlLeadsToEventDetails',
                        1,
                    ($this->settings->hideIfCurrentUrlLeadsToEventDetails == 1)
                );
                echo $this->translate(
                        'Hide event list if current URL leads to event\'s details',
                        'default',
                        $this->userLanguage->zend2_locale
                    ) . '.'
                ;
                ?>

                <div class="alert alert-info">
                    <button data-dismiss="alert" class="close" type="button">×</button>
                    <?php echo $this->translate(
                        'Note that event details will be shown only for the same language in which the current page is',
                        'default',
                        $this->userLanguage->zend2_locale
                    ); ?>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Show [Report new event] button', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                    'block-event-list-show-report-new-event-button',
                    'showReportNewEventButton',
                    1,
                    ($this->settings->showReportNewEventButton == 1)
                );
                echo $this->translate(
                    'Show button for adding new event by guests or registered users. Each newly added event ' .
                    'must be accepted by administrator or moderator before it becomes visible (published). ' .
                    'Attention - the button is visible only, when block contains at least one category!',
                    'default', $this->userLanguage->zend2_locale
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Allow adding images by guests', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->checkbox(
                    'block-event-list-allow-adding-images-by-guests',
                    'allowAddingImagesByGuests',
                    1,
                    ($this->settings->allowAddingImagesByGuests == 1)
                );
                echo $this->translate(
                    'Allow adding images by guests in report-new-event form. Not recommended',
                    'default', $this->userLanguage->zend2_locale
                ) . '.';
                ?>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Settings for e-mail about event approval', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->input(
                    'block-event-list-approve-mail-subject',
                    'defaultSubjectForMailAboutEventApproval',
                    $this->settings->defaultSubjectForMailAboutEventApproval,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="block-event-list-approve-mail-contents" name="defaultContentsForMailAboutEventApproval"><?php echo $this->settings->defaultContentsForMailAboutEventApproval; ?></textarea>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Contact data to person responsible for conversation about events', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('E-Mail', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->input(
                    'block-event-list-contact-person-email',
                    'contactPersonEmail',
                    $this->settings->contactPersonEmail,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Phone', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->input(
                    'block-event-list-contact-person-phone',
                    'contactPersonPhone',
                    $this->settings->contactPersonPhone,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Mail (will be send to user) to inform that he signed up for event', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->input(
                    'block-event-list-user-signed-up-for-event-user-mail-subject',
                    'subjectForMailForUserAboutUserSignedUpForEvent',
                    $this->settings->subjectForMailForUserAboutUserSignedUpForEvent,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="block-event-list-user-signed-up-for-event-user-mail-contents" name="contentsForMailForUserAboutUserSignedUpForEvent"><?php echo $this->settings->contentsForMailForUserAboutUserSignedUpForEvent; ?></textarea>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Mail (will be send to administrators) to inform that user signed up for event', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->input(
                    'block-event-list-user-signed-up-for-event-admin-mail-subject',
                    'subjectForMailForAdminAboutUserSignedUpForEvent',
                    $this->settings->subjectForMailForAdminAboutUserSignedUpForEvent,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="block-event-list-user-signed-up-for-event-admin-mail-contents" name="contentsForMailForAdminAboutUserSignedUpForEvent"><?php echo $this->settings->contentsForMailForAdminAboutUserSignedUpForEvent; ?></textarea>
            </div>
        </div>
    </div>

    <h3 class="title">
        <?php echo $this->translate('Variables available for emails about user signed up for event', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <div class="col-sm-12">
                <p>{{user_name_and_surname}} - <?php echo $this->translate('Name and surname', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{user_academic_title}} - <?php echo $this->translate('Academic title', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{user_email}} - <?php echo $this->translate('E-Mail', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{user_phone}} - <?php echo $this->translate('Phone', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{user_attentions}} - <?php echo $this->translate('Attentions', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{user_institution_name}} - <?php echo $this->translate('Institution name', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{user_invoice_data}} - <?php echo $this->translate('Invoice data', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_title}} - <?php echo $this->translate('Event title', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_start_date}} - <?php echo $this->translate('Event start date', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_start_hour}} - <?php echo $this->translate('Event start hour', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_end_date}} - <?php echo $this->translate('Event end date', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_end_hour}} - <?php echo $this->translate('Event end hour', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_place}} - <?php echo $this->translate('Event place', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_url}} - <?php echo $this->translate('Event URL', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_link_start}} - <?php echo $this->translate('Tag which opens the HTML link to the event', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_link_end}} - <?php echo $this->translate('Tag which closes the previously opened HTML link to the event', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_link}} - <?php echo $this->translate('Event link (HTML tag) with event title', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_list_link}} - <?php echo $this->translate('Link to page with list of events (HTML tag) with title of the page', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_creation_datetime}} - <?php echo $this->translate('Date (with hour) when the event was added', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{contact_email}} - <?php echo $this->translate('E-Mail to person to which users may write', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{contact_phone}} - <?php echo $this->translate('Phone to person to which user may call', 'default', $this->userLanguage->zend2_locale); ?>.</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        blockEventList_handleSettingsFunctionality(<?php echo $pageBlockId; ?>);
    });
</script>