<div id="sign-up-form-view" class="form form-horizontal sign-up-form">
    <?php echo $this->hidden(false, 'signUpEventId', $this->eventId); ?>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Academic title'); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->text(
                false,
                'signUpAcademicTitle',
                $this->formData->signUpAcademicTitle,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Name and surname'); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->text(
                false,
                'signUpNameAndSurname',
                $this->formData->signUpNameAndSurname,
                false,
                array(
                    'class' => 'form-control required'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Gender'); ?>
        </label>
        <div class="col-sm-9">
            <div class="input-wrapper">
                <label>
                    <?php
                    echo $this->radio(
                        false, 'signUpGender', 'male', ($this->formData->signUpGender == 'male'),
                        array('class' => 'radio-inline required')
                    );
                    ?>
                    <?php echo $this->translate('Male'); ?>
                </label>
                <label>
                    <?php
                    echo $this->radio(
                        false, 'signUpGender', 'female', ($this->formData->signUpGender == 'female'),
                        array('class' => 'radio-inline required')
                    );
                    ?>
                    <?php echo $this->translate('Female'); ?>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('E-Mail'); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->email(
                false,
                'signUpEmail',
                $this->formData->signUpEmail,
                false,
                array(
                    'class' => 'form-control required'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Phone'); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->text(
                false,
                'signUpPhone',
                $this->formData->signUpPhone,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group required">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Type of request'); ?>
        </label>
        <div class="col-sm-9">
            <div class="input-wrapper">
                <label>
                    <?php
                    echo $this->radio(
                        false, 'signUpType', 'private_person', ($this->formData->signUpType == 'private_person'),
                        array(
                            'class' => 'radio-inline private_person required'
                        )
                    );
                    ?>
                    <?php echo $this->translate('Private person'); ?>
                </label>
                <label>
                    <?php
                    echo $this->radio(
                        false, 'signUpType', 'institution', ($this->formData->signUpType == 'institution'),
                        array(
                            'class' => 'radio-inline institution required'
                        )
                    );?>
                    <?php echo $this->translate('Institution'); ?>
                </label>
            </div>
        </div>
    </div>
    <div<?php if ($this->formData->signUpType == 'private_person'): ?> style="display:none"<?php endif; ?> class="institution-data">
        <div class="form-group required">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Institution name'); ?>
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->text(
                    false,
                    'signUpInstitutionName',
                    $this->formData->signUpInstitutionName,
                    false,
                    array(
                        'class' => 'form-control required-when-displayed'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group required">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Invoice data'); ?>
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->text(
                    false,
                    'signUpInvoiceData',
                    $this->formData->signUpInvoiceData,
                    false,
                    array(
                        'class' => 'form-control required-when-displayed'
                    )
                );
                ?>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Attentions'); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->text(
                false,
                'signUpAttentions',
                $this->formData->signUpAttentions,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="input-wrapper">
                <?php
                $attributes = array(
                    'class' => 'checkbox-inline'
                );
                if ($this->formData->signUpNewsletterAgreement == 1)
                {
                    $attributes['disabled'] = '';
                }
                echo $this->checkbox(
                    false, 'signUpNewsletterAgreement', 1, ($this->formData->signUpNewsletterAgreement == 1),
                    $attributes
                );
                ?>
                <?php echo $this->translate('I consent to receive the Vistula newsletter'); ?>
            </div>
            <div class="input-wrapper required">
                <?php
                echo $this->checkbox(
                    false, 'signUpDataProcessingAgreement', 1, ($this->formData->signUpDataProcessingAgreement == 1),
                    array(
                        'class' => 'checkbox-inline required'
                    )
                );
                ?>
                <?php
                echo $this->translate(
                    'I consent to the processing of personal data for advertising purposes in accordance with ' .
                    'the Act of 29 August 1997 on the Protection of Personal Data (unified text.: Journal of Laws ' .
                    'of the Republic of Poland 2002 No. 101, item 926, with further amendments)'
                );
                ?>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-cancel"><?php echo $this->translate('Cancel'); ?></button>
            <button class="btn btn-default pull-right btn-send">
                <?php echo $this->translate(($this->subscriptionId > 0) ? 'Save' : 'Send the form'); ?>
            </button>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-12">
            <strong class="required">*</strong> - <?php echo $this->translate('Required field'); ?>
        </div>
    </div>
</div>