<?php if ($this->blockList): ?>
    <?php if ($this->blockList->count() > 0): ?>
        <?php foreach ($this->blockList as $block): ?>
            <div class="block-bar" data-block-id="<?php echo $block->block_id; ?>"
                 data-php-class-name="<?php echo $block->php_class_name; ?>">
                <div class="roll">
                    <div class="wrapcaption">
                        <span class="fa fa-upload insert"> </span>
                        |
                        <?php if (!$this->blocksWereFiltered): ?>
                            <span class="fa fa-arrows move"></span>
                        <?php endif; ?>
                        <span class="fa fa-edit edit"></span>
                        <span class="fa fa-info info"></span>
                    </div>
                </div>
                <div class="block-name">
                    <span class="<?php echo $block->glyphicon; ?>"></span>
                    <span class="text"><?php echo $block->name; ?></span>
                </div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <div class="alert alert-info">
        <?php
        echo $this->translate(
           'No blocks found', 'default', $this->userLanguage->zend2_locale
        );
        ?>.
        </div>
    <?php endif; ?>
<?php else: ?>
    <div class="alert alert-error">
    <?php
    echo $this->translate(
        'Error - unable to load block list', 'default', $this->userLanguage->zend2_locale
    );
    ?>.
    </div>
<?php endif; ?>