<div class="modal fade" id="<?php echo $modalId; ?>" tabindex="-1" role="dialog" aria-labelledby="<?php echo $modalId; ?>Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="" class="close"  data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove-circle"></span></a>
                <h4 class="modal-title" id="myModalLabel"><?php echo $modalTitle; ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $modalContents; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close" data-dismiss="modal">
                    <?php echo $this->translate('Close', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
                <?php if ($this->modalWithSaveButton): ?>
                    <button type="button" class="btn btn-save btn-default">
                        <?php echo $this->translate('Save', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                <?php endif; ?>
            </div>
        </div>
        <!-- end .modal-content -->
    </div>
    <!-- end .modal-dialog -->
</div>
<!-- end .modal -->