<div class="modal fade" id="<?php echo $modalId; ?>" tabindex="-1" role="dialog" aria-labelledby="<?php echo $modalId; ?>Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><?php echo $modalTitle; ?></h4>
            </div>
            <div class="modal-body">
                <?php echo $modalContents; ?>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close" data-dismiss="modal">
                    <?php echo $this->translate('Cancel', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
                <button type="button" class="btn btn-confirm btn-default">
                    <?php echo $this->translate('Yes', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
        <!-- end .modal-content -->
    </div>
    <!-- end .modal-dialog -->
</div>
<!-- end .modal -->