<?php
$buttonText = $this->translate($this->buttonText);
?>
<script>
    loadCssFile('/libs/bootstrap-multiselect/css/bootstrap-multiselect.css');
    loadJsFile('/libs/bootstrap-multiselect/js/bootstrap-multiselect.js');
</script>
<select<?php echo $this->attributes; ?> multiple="multiple">
    <?php foreach ($this->values as $value => $text): ?>
        <?php
        if ((string)$value !== (string)$this->selectedValue)
        {
            $selected = '';
        }
        else
        {
            $selected = ' selected';
        }
        ?>
        <option value="<?php echo (string)$value; ?>"<?php echo $selected; ?>><?php echo $text; ?></option>
    <?php endforeach; ?>
</select>
<script>
    $(document).ready(function(){
        $('.multiselect').multiselect({
                'buttonContainer':'<div class="btn-group" style="width:100%" />',
                <?php if ($buttonText != ''): ?>
                'buttonText':function(options,select){
                    return '<?php echo $buttonText; ?>: '+options.length;
                },
                <?php endif; ?>
                'buttonClass':'form-control'
            }
        );
    });
</script>