<select<?php echo $this->attributes; ?>>
    <?php foreach ($this->values as $value => $text): ?>
        <?php
        if ((string)$value !== (string)$this->selectedValue)
        {
            $selected = '';
        }
        else
        {
            $selected = ' selected';
        }
        ?>
        <option value="<?php echo (string)$value; ?>"<?php echo $selected; ?>><?php echo $text; ?></option>
    <?php endforeach; ?>
</select>