<div id="fast-login-form">
    <div class="overlay">
        <div class="form">
            <input type="text" name="login" autofocus />
            <input type="password" name="password" />
            <button class="login">Zaloguj</button>
            <div class="message"></div>
        </div>
    </div>
</div>
<script>
    loadJsFile('/js/proimagine/fast-login-form.js');
    $(document).ready(function(){
        fastLoginForm_handleCustomFunctionality();
    });
</script>