<?php
$pageBlockId = (int)$this->pageBlockId ? : null;
$blockElementId = (int)$this->blockElementId ? : null;
$imageArrayName = $this->imageArrayName ? : 'images';
$aspectRatio = (double)$this->aspectRatio ? : 1;
$parametersForPlUploadLibrary = $this->parametersForPlUploadLibrary;
$onBeforeDeletedCallback = $this->onBeforeDeletedCallback;
$partOfUniqueIdentifierForImage = '';
if ($pageBlockId > 0)
{
    $partOfUniqueIdentifierForImage = $pageBlockId;
}
if ($this->uniqueSectionIdentifier != '')
{
    if ($partOfUniqueIdentifierForImage != '')
    {
        $partOfUniqueIdentifierForImage .= '-';
    }
    $partOfUniqueIdentifierForImage .= $this->uniqueSectionIdentifier;
}
$images = $this->images;
$imageCount = count($images);
$imageNumber = 0;
$allowAddingNewImages = $this->allowAddingNewImages ? true : false;
$imageIsMainInputType = (($imageNumber < 2) && !$allowAddingNewImages) ? 'hidden' : 'radio';
$mainImageTitleTranslation = $this->translate(
    'The checkbox determines whether the image is the main image',
    'default', $this->userLanguage->zend2_locale
);
?>
<div
    class="image-upload"
    data-page-block-id="<?php echo $pageBlockId; ?>"
    data-block-element-id="<?php echo $blockElementId; ?>"
>
    <!-- template -->
    <div style="display:none" id="iu-image-section-tpl" class="admin-gallery">
        <img alt="thumbnail" src="/img/no-image.png" id="iu-image-thumbnail-tpl" />
        <button class="btn btn-default top-left" id="iu-image-btn-edit-tpl">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <div class="files-to-upload-container" id="iu-files-to-upload-container-tpl">
            <a class="btn btn-default bottom-middle" id="iu-select-file-to-upload-btn-tpl">
                <span class="glyphicon glyphicon-upload"></span>
            </a>
            <a style="display:none" class="btn btn-default bottom-middle" id="iu-upload-selected-file-tpl">
                <span class="glyphicon glyphicon-floppy-saved"></span>
            </a>
        </div>
        <button style="display:none" class="btn btn-default delete-file bottom-right" id="iu-delete-file-tpl">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <input type="<?php echo $imageIsMainInputType; ?>" id="iu-image-is-main-tpl" value="1" class="iu-image-is-main" title="<?php echo $this->escapeForHtml($mainImageTitleTranslation); ?>" />
        <div id="iu-uploaded-file-list-tpl" class="uploaded-file-list">
            <?php
            echo $this->translate(
                    'Your browser doesn\'t have Flash, Silverlight or HTML5 support',
                    'default', $this->userLanguage->zend2_locale
                ) . '.'
            ;
            ?>
        </div>
        <input type="hidden" id="iu-image-number-tpl" value="" />
        <input type="hidden" id="iu-image-id-tpl" value="" />
        <input type="hidden" id="iu-unique-hash-for-file-name-tpl" value="" />
    </div>
    <!-- /template -->
    <?php
    do
    {
        $image = $imageCount ? $images[$imageNumber] : new \Site\Custom\FlexibleContainer();
        $imageIdentifier = $partOfUniqueIdentifierForImage . '-' . $imageNumber;
        ?>
        <div data-image-number="<?php echo $imageNumber; ?>" data-unique-identifier="<?php echo $imageIdentifier; ?>" class="admin-gallery">
            <?php if ($image['uniqueHashForFileName'] != ''): ?>
                <?php
                $imageUrlParameters = $image['uniqueHashForFileName'] . ',' . $image['originalFileName'];
                $imageUrl = urldecode(
                    $this->url(
                        'home/default',
                        array(
                            'controller' => 'get-file',
                            'action' => 'index',
                            'parameters' => $imageUrlParameters
                        )
                    )
                );
                ?>
                <img alt="thumbnail" src="<?php echo $this->escapeForHtml($imageUrl); ?>" id="iu-image-thumbnail-<?php echo $imageIdentifier; ?>" />
                <button class="btn btn-default top-left" id="iu-image-btn-edit-<?php echo $imageIdentifier; ?>">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            <?php else: ?>
                <img alt="thumbnail"  src="<?php echo $this->basePath(); ?>/img/no-image.png" id="iu-image-thumbnail-<?php echo $imageIdentifier; ?>" />
                <button class="btn btn-default top-left" id="iu-image-btn-edit-<?php echo $imageIdentifier; ?>" disabled>
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            <?php endif; ?>
            <div class="files-to-upload-container" id="iu-files-to-upload-container-<?php echo $imageIdentifier; ?>">
                <a class="btn btn-default bottom-middle" id="iu-select-file-to-upload-btn-<?php echo $imageIdentifier; ?>">
                    <span class="glyphicon glyphicon-upload"></span>
                </a>
                <a style="display:none" class="btn btn-default bottom-middle" id="iu-upload-selected-file-<?php echo $imageIdentifier; ?>">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                </a>
            </div>
            <?php if ($image['uniqueHashForFileName'] != ''): ?>
                <button class="btn btn-default delete-file bottom-right" id="iu-delete-file-<?php echo $imageIdentifier; ?>">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            <?php else: ?>
                <button style="display:none" class="btn btn-default delete-file bottom-right" id="iu-delete-file-<?php echo $imageIdentifier; ?>">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            <?php endif; ?>
            <?php
            echo $this->$imageIsMainInputType(
                'iu-image-is-main-' . $imageIdentifier,
                $imageArrayName . '[' . $imageNumber . '][isMain]',
                1,
                ($image['isMain'] || ($imageCount == 1)),
                array(
                    'class' => 'iu-image-is-main',
                    'title' => $mainImageTitleTranslation
                )
            );
            ?>
            <div id="iu-uploaded-file-list-<?php echo $imageIdentifier; ?>" class="uploaded-file-list">
                <?php
                echo $this->translate(
                        'Your browser doesn\'t have Flash, Silverlight or HTML5 support',
                        'default', $this->userLanguage->zend2_locale
                    ) . '.'
                ;
                ?>
            </div>
            <?php
            echo $this->hidden(
                'iu-image-number-' . $imageIdentifier,
                $imageArrayName . '[' . $imageNumber . '][imageNumber]',
                $imageNumber
            );
            echo $this->hidden(
                'iu-image-id-' . $imageIdentifier,
                $imageArrayName . '[' . $imageNumber . '][imageId]',
                $image['imageId']
            );
            echo $this->hidden(
                'iu-attachment-id-' . $imageIdentifier,
                $imageArrayName . '[' . $imageNumber . '][attachmentId]',
                $image['attachmentId']
            );
            echo $this->hidden(
                'iu-unique-hash-for-file-name-' . $imageIdentifier,
                $imageArrayName . '[' . $imageNumber . '][uniqueHashForFileName]',
                $image['uniqueHashForFileName']
            );
            ?>
        </div>
        <?php
        $imageNumber++;
    }
    while ($imageNumber < $imageCount);
    ?>
    <div class="clearfix"></div>
    <div style="display:none" id="iu-upload-console-messages-section">
        <?php
        echo $this->translate(
            'Messages from the image upload plugin', 'default', $this->userLanguage->zend2_locale
        );
        ?>:
        <pre id="iu-file-upload-console"></pre>
    </div>
    <?php if ($allowAddingNewImages): ?>
        <div class="gallery-fix">
            <button class="btn btn-default add-new-image">
                <?php echo $this->translate('Add another image', 'default', $this->userLanguage->zend2_locale); ?>
            </button>
        </div>
    <?php endif;?>
    <div class="attachments-to-delete"></div>
</div>
<script>
    loadCssFile('/css/image-upload.css');
    loadJsFile('/js/proimagine/image-upload.js');
    $(document).ready(function(){
        imageUpload_handleSection(
            <?php echo $pageBlockId; ?>,
            <?php echo $blockElementId ? : 'null'; ?>,
            '<?php echo $imageArrayName; ?>',
            '<?php echo $aspectRatio; ?>',
            <?php echo $this->arrayToJsObject($parametersForPlUploadLibrary); ?>,
            '<?php echo $onBeforeDeletedCallback; ?>',
            '<?php echo $partOfUniqueIdentifierForImage; ?>'
        );
    });
</script>