/* Button go to list */
.block-news-slider .go-to-news-list {position: absolute; right: 0; font-size: 11px; top: 0px; padding: 0px 8px; color: #c0c0c0; border:1px solid #c0c0c0;}
.block-news-slider .go-to-news-list .fa{ font-size: 9px; margin-left: 3px;}
.block-news-slider .go-to-news-list:hover {color: #165560; border-color: #165560;}

/* Jcarusel settings */
.news-slider .jcarousel{height: auto;  color: #7e7e7e;}
.news-slider .jcarousel h4 { font-weight: 300; font-size: 1.1em; margin-bottom: 5px;}
.news-slider .jcarousel ul li{width: 265px;}
@media (max-width:1200px) {
    .news-slider .jcarousel ul li {
    width: 295px;}
}
@media (max-width:991px) {
    .news-slider .jcarousel ul li {
    width: 220px;}
}
@media (max-width:767px) {
    .block-news-slider {
        width:500px;
        margin: 0 auto;
    }
    .news-slider .jcarousel ul li {
    width: 230px;}
}
@media (max-width:600px) {
    .block-news-slider {
        width:300px;
        margin: 0 auto;
    }
    .news-slider .jcarousel ul li {
    width: 290px;}
    .block-news-slider .go-to-news-list {
    position: relative;
    top: -10px;
    padding: 5px 8px;
}
}
.news-slider .jcarousel .read-more{margin-top: 5px;text-align: left; font-weight: 300;}
.news-slider .jcarousel .read-more:hover{ text-decoration: none;}
.news-slider .jcarousel-pagination { display: none;}
.news-slider .jcarousel .short-description { font-weight: 300; line-height: 19px;}
.news-slider .jcarousel div.wrapper { overflow: hidden;}
.news-slider .jcarousel a img{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    /*-webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);*/
    z-index: -1;
    max-width: 100%;
    width: 100%;
}
.news-slider .jcarousel a:hover img
{
    /*-webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);*/
}
.news-slider .jcarousel-control-prev .fa,
.news-slider .jcarousel-control-next .fa{ font-size: 2em; color: rgba(0,0,0,0.2); text-shadow: 1px 1px 1px #fff;}
.news-slider .jcarousel-control-prev.inactive .fa,
.news-slider .jcarousel-control-next.inactive .fa { color: rgba(0,0,0,0.1); }
.news-slider .jcarousel-control-prev {left: -30px;}
.news-slider .jcarousel-control-next {right: -30px;}
.news-slider .jcarousel-control-prev, .news-slider .jcarousel-control-next {top: 70%;font-size: 1.5em;}
.news-slider .jcarousel-control-prev a.jcarousel-control-prev, .news-slider .jcarousel-control-prev a.jcarousel-control-next {margin-top: -25px;display: none;}