<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
$imageWidth = ($this->settings->imageWidth > 0) ? (int)$this->settings->imageWidth : 250;
$imageHeight = ($this->settings->imageHeight > 0) ? (int)$this->settings->imageHeight : 150;
$hasUrl = ($data['itemUrlAddressType'] != 2);
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="imageId" value="<?php echo $data['imageId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ai-image-url-address-type">
                <?php echo $this->translate('URL address type', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'ai-image-url-address-type',
                        'class' => 'form-control',
                        'name' => 'imageUrlAddressType'
                    ), array(
                        0 => $this->translate('_internal url', 'default', $this->userLanguage->zend2_locale),
                        1 => $this->translate('_external url', 'default', $this->userLanguage->zend2_locale),
                        2 => $this->translate('None', 'default', $this->userLanguage->zend2_locale)
                    ), true, $data['imageUrlAddressType']
                );
                ?>
            </div>
        </div>
        <div<?php if (!$hasUrl): ?> style="display:none"<?php endif; ?> class="form-group" id="ai-image-url-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <select
                    <?php if (in_array($data['imageUrlAddressType'], array(1, 2))): ?>
                        style="display:none"
                    <?php endif; ?>
                    id="ai-image-internal-page-id"
                    class="form-control"
                    name="imagePageId"
                >
                    <?php foreach ($this->imageInternalPagesOptions as $pageId => $option): ?>
                        <option
                            value="<?php echo $pageId; ?>"
                            data-title="<?php echo $this->escapeForHtml($option->title); ?>"
                            <?php if ($pageId == $data->imagePageId): ?>selected<?php endif; ?>
                        >
                            <?php echo $this->escapeForHtml($option->extended_title); ?>
                        </option>
                    <?php endforeach; ?>
                </select>
                <input<?php if (in_array($data['imageUrlAddressType'], array(0, 2))): ?> style="display:none"<?php endif; ?> type="text" class="form-control" id="ai-image-external-url" name="imageExternalUrl" maxlength="<?php echo $maxLengths['url']; ?>" value="<?php echo $this->escapeForHtml($data['imageExternalUrl']); ?>" />
            </div>
        </div>
        <div class="form-group" id="ai-image-image-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['imageId'],
                        'imageArrayName' => 'imageImages',
                        'aspectRatio' => $imageWidth / $imageHeight,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'image-slider',
                            'resizeImageToMaxWidth' => $imageWidth,
                            'resizeImageToMaxHeight' => $imageHeight,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,' . $imageWidth . ',' . $imageHeight
                        ),
                        'onBeforeDeletedCallback' => 'blockImageSlider_deleteImage',
                        'images' => $data['imageImages'],
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
            <?php
            /*
            <div class="col-sm-9">
                <?php if ($data['imageUniqueHashForFileName'] != ''): ?>
                    <?php
                    $imageUrlParameters = $data['imageUniqueHashForFileName'] . ',' . $data['imageOriginalFileName'];
                    $imageImageUrl = urldecode($this->url('home/default', array('controller' => 'get-file', 'action' => 'index', 'parameters' => $imageUrlParameters)));
                    ?>
                    <img alt="thumbnail" style="max-width:96px;max-height:96px" src="<?php echo $this->escapeForHtml($imageImageUrl); ?>" id="ai-image-image-thumbnail" />
                    <button class="btn btn-default" id="ai-image-image-btn-edit"><?php echo $this->translate('Edit', 'default', $this->userLanguage->zend2_locale); ?></button>
                <?php else: ?>
                    <img alt="thumbnail" width="96" height="96" src="<?php echo $this->basePath(); ?>/img/no-image.png" id="ai-image-image-thumbnail" />
                    <button class="btn btn-default" id="ai-image-image-btn-edit" disabled><?php echo $this->translate('Edit', 'default', $this->userLanguage->zend2_locale); ?></button>
                <?php endif; ?>
                <div id="uploaded-file-list">
                    <?php echo $this->translate('Your browser doesn\'t have Flash, Silverlight or HTML5 support', 'default', $this->userLanguage->zend2_locale . '.'); ?>
                </div>
                <div id="files-to-upload-container">
                    <button class="btn btn-default" id="select-file-to-upload-btn"<?php if ($data['imageType'] == '0') echo ' disabled'; ?>>
                        <?php echo $this->translate('Select file', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                    <button class="btn btn-default" id="upload-selected-file"<?php if ($data['imageType'] == '0') echo ' disabled'; ?>>
                        <?php echo $this->translate('Send file', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                </div>
                <br />
                <p>
                    <?php
                    echo $this->translate(
                        'Messages from the image upload plugin', 'default', $this->userLanguage->zend2_locale
                    );
                    ?>:
                </p>
                <pre id="file-upload-console"></pre>
                <?php echo $this->hidden('ai-image-unique-hash-for-file-name', 'imageUniqueHashForFileName', $data['imageUniqueHashForFileName']); ?>
            </div>
            */
            ?>
        </div>
        <div class="form-group" id="ai-image-title-form-group">
            <label for="ai-image-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="ai-image-title" class="form-control" name="imageTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['imageTitle']); ?>" />
            </div>
        </div>
        <div class="section">
            <h3 class="title">
                <?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?>
            </h3>
            <div class="contents">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>
                            <?php echo $this->checkbox('ai-publish-now', 'imageIsPublished', 1, $data['imageIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>