<?php
$pageBlockId = $this->blockData->page_block_id;
$imageInGrayscale = $this->settings->imageInGrayscale;
$imageWidth = ($this->settings->imageWidth > 0) ? $this->settings->imageWidth : 250;
$imageHeight = ($this->settings->imageHeight > 0) ? $this->settings->imageHeight : 150;
$slideIntervalInMs = (int)$this->settings->slideIntervalInMs ? : 7000;
$animationsTimeInMs = (int)$this->settings->animationsTimeInMs ? : 3000;
if ($animationsTimeInMs <= 0)
{
    $animationsTimeInMs = 3000;
}
$wrappingType = $this->settings->wrappingType;
?>
<div class="prev-next-controls">
    <div class="cycle-prev cycle-prev-<?php echo $pageBlockId; ?>"><span class="fa fa-angle-left"></span></div>
    <div class="cycle-next cycle-next-<?php echo $pageBlockId; ?>"><span class="fa fa-angle-right"></span></div>
</div>
<div class="slideshow<?php if ($imageInGrayscale): ?> grayscale<?php endif; ?>"
     data-cycle-log="false"
     data-cycle-pause-on-hover="true"
     data-cycle-fx="carousel"
     data-cycle-speed="<?php echo $animationsTimeInMs; ?>"
     data-cycle-timeout="<?php echo $slideIntervalInMs; ?>"
     data-cycle-slides="> .slide"
     data-cycle-prev=".cycle-prev-<?php echo $pageBlockId; ?>"
     data-cycle-next=".cycle-next-<?php echo $pageBlockId; ?>"
     data-image-width="<?php echo $imageWidth; ?>"
     data-image-height="<?php echo $imageHeight; ?>"
     data-wrapping-type="<?php echo $wrappingType; ?>"
>
    <?php if ($this->images): ?>
        <?php if ($this->images->count() > 0): ?>
            <?php foreach ($this->images as $image): ?>
                <?php
                $anchorTag = '';
                if ($image->pageUrl != '')
                {
                    $pageUrl = $this->escapeForHtml($image->pageUrl);
                    if ($image->url_address_type == \Site\Block\ImageSlider\ImageSlider::IMAGE_URL_ADDRESS_TYPE_EXTERNAL)
                    {
                        $anchorTag = '<a href="' . $pageUrl . '" rel="nofollow">';
                    }
                    else
                    {
                        $pageBreadcrumb = $this->escapeForHtml($image->pageBreadcrumb);
                        $anchorTag = '<a href="' . $pageUrl . '" title="' . $pageBreadcrumb . '">';
                    }
                }
                ?>
                <div class="slide">
                    <?php if ($anchorTag != ''): ?><?php echo $anchorTag; ?><?php endif; ?>
                    <img
                        alt="thumbnail"
                        class="tip-bottom"
                        src="<?php echo $image->thumbUrl; ?>"
                        data-toggle="tooltip" data-original-title="Default tooltip"
                        title="<?php echo $this->escapeForHtml($image->title); ?>"
                        />
                    <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                </div>
            <?php endforeach; ?>
        <?php else: ?>
            <?php echo $this->translate('No images'); ?>.
        <?php endif; ?>
    <?php else: ?>
        <?php echo $this->translate('Error - unable to load image list'); ?>.
    <?php endif; ?>
</div>
<script>
    loadJsFile('/libs/jquery-cycle2/jquery.cycle2.min.js');
    loadJsFile('/libs/jquery-cycle2/jquery.cycle2.carousel.min.js');
    loadBlockCssFile('image-slider','image-slider');
    loadBlockJsFile('image-slider','image-slider');
    $(document).ready(function(){
        blockImageSlider_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
            blockImageSlider_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>