<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="form-group">
            <div class="col-md-3 control-label">
                <?php echo $this->translate('Image width', 'default', $this->userLanguage->zend2_locale); ?>:
            </div>
            <div class="col-md-9">
                <?php
                echo $this->text(
                    null,
                    'imageWidth',
                    ($this->settings->imageWidth > 0) ? $this->settings->imageWidth : 270,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 control-label">
                <?php echo $this->translate('Image height', 'default', $this->userLanguage->zend2_locale); ?>:
            </div>
            <div class="col-md-9">
                <?php
                echo $this->text(
                    null,
                    'imageHeight',
                    ($this->settings->imageHeight > 0) ? $this->settings->imageHeight : 150,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 control-label">
                <?php echo $this->translate('Highlighting', 'default', $this->userLanguage->zend2_locale); ?>:
            </div>
            <div class="col-md-9">
                <?php
                echo $this->checkbox(
                    null,
                    'imageInGrayscale',
                    '1',
                    ($this->settings->imageInGrayscale == 1)
                );
                ?>
                <?php
                echo $this->translate(
                        'Show image in color only when mouse cursor is over it',
                        'default',
                        $this->userLanguage->zend2_locale
                    ) . '.';
                ?>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Sliding settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="form-group">
            <div class="col-md-3 control-label">
                <?php
                echo $this->translate(
                    'Slide interval in milliseconds',
                    'default',
                    $this->userLanguage->zend2_locale
                );
                ?>
            </div>
            <div class="col-md-9">
                <?php
                echo $this->text(
                    null,
                    'slideIntervalInMs',
                    ($this->settings->slideIntervalInMs > 0) ? $this->settings->slideIntervalInMs : 5000,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 control-label">
                <?php
                echo $this->translate(
                    'Animations time in milliseconds',
                    'default',
                    $this->userLanguage->zend2_locale
                );
                ?>
            </div>
            <div class="col-md-9">
                <?php
                echo $this->text(
                    null,
                    'animationsTimeInMs',
                    ($this->settings->animationsTimeInMs > 0) ? $this->settings->animationsTimeInMs : 1500,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 control-label">
                <?php echo $this->translate(
                    'Wrapping type',
                    'default',
                    $this->userLanguage->zend2_locale
                );
                ?>
            </div>
            <div class="col-md-9">
                <?php
                echo $this->dropdown(
                    array(
                        'class' => 'wrapping-type form-control',
                        'name' => 'wrappingType'
                    ),
                    array(
                        '' => $this->translate('Do not wrap', 'default', $this->userLanguage->zend2_locale),
                        'last' => $this->translate(
                                'Jump back to the start at the last element',
                                'default',
                                $this->userLanguage->zend2_locale
                            ),
                        'first' => $this->translate(
                                'Jump back to the end at the first element',
                                'default',
                                $this->userLanguage->zend2_locale
                            ),
                        'both' => $this->translate(
                                'Use the second and third options',
                                'default',
                                $this->userLanguage->zend2_locale
                            ),
                        'circular' => $this->translate(
                                'Use circular wrapping',
                                'default',
                                $this->userLanguage->zend2_locale
                            )
                    ),
                    true,
                    $this->settings->wrappingType
                );
                ?>
            </div>
        </div>
    </div>
</div>