.employee-details .basic-info { margin-bottom: 20px;}
.employee-details .degree {font-size: 1.1em; font-weight: bold}
.employee-details .name-and-surname { font-size: 2.1em; font-weight: 700; margin:0;}
.employee-details .position-area .desc { color: #a8a8a8; }
.employee-details .position-area { padding-bottom: 20px;}
.employee-details .employee-title { margin-bottom: 25px;}