<?php
$pageBlockId = $this->blockData->page_block_id;
?>
<?php if ($this->menuItems): ?>
    <?php if ($this->menuItems->count() > 0): ?>
        <div class="visible-xs navbar-brand navbar-brand-vertical">
            <?php if (($this->settings['titleVisible'] != '1') || ($this->blockData->content->title == '')): ?>
                Menu skrótów
            <?php endif; ?>
            <button type="button" class="navbar-toggle button-vertical" data-toggle="collapse" data-target="#shortcut-menu-<?php echo $pageBlockId; ?>">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul id="shortcut-menu-<?php echo $pageBlockId; ?>" class="nav nav-pills nav-stacked navbar-nav user-menu horizontal navbar-collapse collapse"><!-- nav navbar-nav horizontal -->
            <?php foreach ($this->menuItems as $itemFromDepth0Id => $itemFromDepth0): ?>
                <li class="dropdown-menu-0 child child-0<?php echo $itemFromDepth0['data']->additionalCssClasses; ?>" data-item-id="<?php echo $itemFromDepth0Id; ?>">
                    <?php
                    $anchorTag = '';
                    if ($itemFromDepth0['data']->url_address_type == 0)
                    {
                        $itemUrl = $itemFromDepth0['data']->full_url;
                        $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '">';
                    }
                    else if ($itemFromDepth0['data']->url_address_type == 1)
                    {
                        $itemUrl = $itemFromDepth0['data']->full_url;
                        if ($itemUrl != '')
                        {
                            $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '" rel="nofollow">';
                        }
                    }
                    ?>
                    <?php if ($this->settings->displayUncollapseButtons && $itemFromDepth0['childItems']->count() != 0): ?>
                        <span class="dropdown-toggle dropdown caret" data-toggle="dropdown"></span>
                    <?php endif; ?>
                    <?php if ($anchorTag != ''): ?><a href="<?php echo $this->escapeForHtml($itemUrl); ?>"><?php endif; ?>
                        <?php if (in_array($itemFromDepth0['data']->type, array(1, 3))): // Icon exists. ?>
                            <span class="fa fa-<?php echo $this->escapeForHtml($itemFromDepth0['data']->bootstrap_glyphicon); ?>"></span>
                        <?php endif; ?>
                        <?php if (in_array($itemFromDepth0['data']->type, array(2, 4))): // Image exists. ?>
                            <img alt="thumbnail" style="max-width:96px;max-height:96px;" src="<?php echo $this->escapeForHtml($itemFromDepth0['data']->image_url); ?>" />
                        <?php endif; ?>
                        <?php if (in_array($itemFromDepth0['data']->type, array(0, 3, 4))): // Title exists. ?>
                            <?php echo $this->escapeForHtml($itemFromDepth0['data']->title); ?>
                        <?php endif; ?>
                        <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                    <?php if ($itemFromDepth0['childItems']): ?>
                        <ul class="dropdown-menu" role="menu" data-parent-item-id="<?php echo $itemFromDepth0Id; ?>">
                            <?php foreach ($itemFromDepth0['childItems'] as $itemFromDepth1Id => $itemFromDepth1): ?>
                                <li class="child child-1<?php echo $itemFromDepth1['data']->additionalCssClasses; ?>" data-item-id="<?php echo $itemFromDepth1Id; ?>">
                                    <?php
                                    $anchorTag = '';
                                    if ($itemFromDepth1['data']->url_address_type == 0)
                                    {
                                        $itemUrl = $itemFromDepth1['data']->full_url;
                                        $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '">';
                                    }
                                    else if ($itemFromDepth1['data']->url_address_type == 1)
                                    {
                                        $itemUrl = $itemFromDepth1['data']->full_url;
                                        if ($itemUrl != '')
                                        {
                                            $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '" rel="nofollow">';
                                        }
                                    }
                                    ?>
                                    <?php if ($anchorTag != ''): ?><a href="<?php echo $this->escapeForHtml($itemUrl); ?>"><?php endif; ?>
                                        <?php if (in_array($itemFromDepth1['data']->type, array(1, 3))): // Icon exists. ?>
                                            <span class="fa fa-<?php echo $this->escapeForHtml($itemFromDepth1['data']->bootstrap_glyphicon); ?>"></span>
                                        <?php endif; ?>
                                        <?php if (in_array($itemFromDepth1['data']->type, array(2, 4))): // Image exists. ?>
                                            <img alt="thumbnail" style="max-width:96px;max-height:96px;" src="<?php echo $this->escapeForHtml($itemFromDepth1['data']->image_url); ?>" />
                                        <?php endif; ?>
                                        <?php if (in_array($itemFromDepth1['data']->type, array(0, 3, 4))): // Title exists. ?>
                                            <?php echo $this->escapeForHtml($itemFromDepth1['data']->title); ?>
                                        <?php endif; ?>
                                        <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                                    <?php if ($itemFromDepth1['childItems']): ?>
                                        <ul class="nav nav-pills nav-stacked" data-parent-item-id="<?php echo $itemFromDepth1Id; ?>">
                                            <?php foreach ($itemFromDepth1['childItems'] as $itemFromDepth2Id => $itemFromDepth2): ?>
                                                <li class="child child-2<?php echo $itemFromDepth2->additionalCssClasses; ?>" data-item-id="<?php echo $itemFromDepth2Id; ?>">
                                                    <?php
                                                    $anchorTag = '';
                                                    if ($itemFromDepth2->url_address_type == 0)
                                                    {
                                                        $itemUrl = $itemFromDepth2['data']->full_url;
                                                        $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '">';
                                                    }
                                                    else if ($itemFromDepth2->url_address_type == 1)
                                                    {
                                                        $itemUrl = $itemFromDepth2->full_url;
                                                        if ($itemUrl != '')
                                                        {
                                                            $anchorTag = '<a href="' . $this->escapeForHtml($itemUrl) . '" rel="nofollow">';
                                                        }
                                                    }
                                                    ?>
                                                    <?php if ($anchorTag != ''): ?><a href="<?php echo $this->escapeForHtml($itemUrl); ?>"><?php endif; ?>
                                                        <?php if (in_array($itemFromDepth2->type, array(1, 3))): // Icon exists. ?>
                                                            <span class="fa fa-<?php echo $this->escapeForHtml($itemFromDepth2->bootstrap_glyphicon); ?>"></span>
                                                        <?php endif; ?>
                                                        <?php if (in_array($itemFromDepth2->type, array(2, 4))): // Image exists. ?>
                                                            <img alt="thumbnail" style="max-width:96px;max-height:96px;" src="<?php echo $this->escapeForHtml($itemFromDepth2->image_url); ?>" />
                                                        <?php endif; ?>
                                                        <?php if (in_array($itemFromDepth2->type, array(0, 3, 4))): // Title exists. ?>
                                                            <?php echo $this->escapeForHtml($itemFromDepth2->title); ?>
                                                        <?php endif; ?>
                                                        <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php else: ?>
        <?php echo $this->translate('No menu items'); ?>.
    <?php endif; ?>
<?php else: ?>
    <?php echo $this->translate('Error - unable to load menu'); ?>.
<?php endif; ?>
<script>
    loadBlockCssFile('navigation-menu','navigation-menu');
    loadBlockJsFile('navigation-menu','navigation-menu');
    $(document).ready(function(){
        blockNavigationMenu_handleCustomFunctionality(<?php echo $this->blockData->page_block_id; ?>);
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockNavigationMenu_handleManagementWindow(<?php echo $this->blockData->page_block_id; ?>);
        <?php endif; ?>
    });
</script>