.block-image-slider .slideshow {
    overflow: visible;
}

.block-image-slider .slideshow .cycle-carousel-wrap {
    overflow: hidden;
}

/*.block-image-slider .slideshow .cycle-carousel-wrap .slide {
    float: left;
    visibility: visible !important;
}*/

.block-image-slider .slideshow .cycle-carousel-wrap .slide img {
    display: block;
}

.block-image-slider .slideshow.grayscale .slide img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
}

.block-image-slider .slideshow.grayscale .slide img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
    filter: alpha(opacity=95);
}

.block-image-slider .slideshow .slide .title {
    float: left;
    clear: both;
}

.block-image-slider .slideshow .slide .tooltip {
    margin-top: -25px;
}

/**
 * Prev and Next control buttons.
 */

.block-image-slider .prev-next-controls {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    height: 30px;
}

.block-image-slider .prev-next-controls .cycle-prev,
.block-image-slider .prev-next-controls .cycle-next {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    background: none;
    font: 24px/27px Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    color: #666;
    cursor: pointer;
    box-shadow: none;
}

.block-image-slider .prev-next-controls .cycle-prev {
    left: -30px;
}

.block-image-slider .prev-next-controls .cycle-next {
    right: -30px;
}

.block-image-slider .prev-next-controls .cycle-prev .fa,
.block-image-slider .prev-next-controls .cycle-next .fa {
    font-size: 2em;
    text-shadow: 1px 1px 1px #fff;
    color: rgba(0, 0, 0, 0.2);
}

.block-image-slider .prev-next-controls .cycle-prev.inactive .fa,
.block-image-slider .prev-next-controls .cycle-next.inactive .fa {
    color: rgba(0, 0, 0, 0.1);
}

/**
 * Block bottom margin.
 */

.block-image-slider .block-content {
    margin-bottom: 0;
}