<?php
$currentLanguage = $this->language;
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = (int)$this->blockData->page_block_id;
$newsListPageBlockId = (int)$this->settings->pageBlockId;
?>
<div class="news-add">
    <?php if ($this->settings->pageBlockId > 0): ?>
    <div class="form-add-news form-horizontal">
        <input type="hidden" name="pageBlockId" value="<?php echo $newsListPageBlockId; ?>" />
        <div class="form-group">
            <div class="col-sm-12">
                Zgłoś wydarzenie, zostanie ono opublikowane po weryfikacji przez moderatora.
            </div>
        </div>
        <div class="information"></div>
        <div class="form-group">
            <label for="re-news-category-<?php echo $pageBlockId; ?>" class="col-sm-4 control-label">
                <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <?php
                echo $this->dropdown(array(
                        'id' => 're-news-category-' . $pageBlockId,
                        'class' => 'form-control required',
                        'name' => 'newsCategoryId'
                    ), $this->newsCategoriesOptions, true);
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="re-news-title-<?php echo $pageBlockId; ?>" class="col-sm-4 control-label">
                <?php echo $this->translate('News title', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <input type="text" id="re-news-title-<?php echo $pageBlockId; ?>" class="form-control re-news-title required" name="newsTitle" maxlength="<?php echo $maxLengths['title']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="re-clean-url-<?php echo $pageBlockId; ?>">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control re-clean-url required" id="re-clean-url-<?php echo $pageBlockId; ?>" name="newsCleanUrl" maxlength="<?php echo $maxLengths['clean_url']; ?>" />
                <p class="help-block">
                    http://<span class="re-clean-url-span"></span>/<?php echo $currentLanguage->iso_code; ?>/page/.../<span class="re-clean-url-path-span"></span>
                    <script type="text/javascript">
                        $('.slot-item[data-page-block-id="<?php echo $pageBlockId; ?>"] .re-clean-url-span').html(getDomainFromHttpUrl(location.href));
                    </script>
                </p>
            </div>
        </div>
        <div class="form-group" id="ae-event-image-form-group">
            <label class="col-sm-4 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-8">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $newsListPageBlockId,
                        'blockElementId' => null,
                        'imageArrayName' => 'newsImages',
                        'aspectRatio' => 230 / 160,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'news-list',
                            'resizeImageToMaxWidth' => 230,
                            'resizeImageToMaxHeight' => 160,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,230,160'
                        ),
                        'onBeforeDeletedCallback' => false,
                        'images' => array(),
                        'allowAddingNewImages' => true
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="re-news-contents-<?php echo $pageBlockId; ?>" class="col-sm-4 control-label">
                <?php echo $this->translate('Contents', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <textarea class="form-control required" id="re-news-contents-<?php echo $pageBlockId; ?>" name="newsContents" rows="7" maxlength="<?php echo $maxLengths['contents']; ?>"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="re-news-teaser-<?php echo $pageBlockId; ?>" class="col-sm-4 control-label">
                <?php echo $this->translate('Teaser', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <textarea class="form-control re-news-teaser required" id="re-news-teaser-<?php echo $pageBlockId; ?>" name="newsTeaser" rows="4" maxlength="<?php echo $maxLengths['teaser']; ?>"></textarea>
                <p>Zajawka będzie wyświetlana na liście wydarzeń jako skrócona treść wydarzenia.</p>
                <p>Pozostała ilość znaków możliwa do wprowadzenia: <span class="re-news-teaser-length">350</span> z 350.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="re-news-date-<?php echo $pageBlockId; ?>" class="col-sm-4 control-label">
                <?php echo $this->translate('Date', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <input type="text" class="form-control required" id="re-news-date-<?php echo $pageBlockId; ?>" name="newsDate">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="re-news-start-hour-<?php echo $pageBlockId; ?>">
                <?php echo $this->translate('Start hour', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8 bootstrap-timepicker">
                <input type="text" id="re-news-start-hour-<?php echo $pageBlockId; ?>" class="form-control timepicker required" name="newsStartHour" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="re-news-end-hour-<?php echo $pageBlockId; ?>">
                <?php echo $this->translate('End hour', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8 bootstrap-timepicker">
                <input type="text" id="re-news-end-hour-<?php echo $pageBlockId; ?>" class="form-control timepicker required" name="newsEndHour" />
            </div>
        </div>
        <div class="form-group">
            <label for="re-attentions-<?php echo $pageBlockId; ?>" class="col-sm-4 control-label">
                <?php echo $this->translate('Attentions', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <div class="col-sm-8">
                <textarea class="form-control" id="re-attentions-<?php echo $pageBlockId; ?>" name="newsAttentions" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group buttons">
            <div class="col-sm-12" style="text-align: right">
                <button type="button" class="btn btn-default btn-cancel">
                    <?php echo $this->translate('Cancel', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
                <button type="button" class="btn btn-info btn-report">
                    <?php echo $this->translate('Report', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
    </div>
    <?php else: ?>
        Przejdź do ustawień tego bloku i wskaż do którego bloku mają być dodawane aktualności z tego formularza.
    <?php endif; ?>
    <div class="clearfix"></div>
</div>
<script>
    loadBlockCssFile('news-add','news-add');
    loadBlockJsFile('news-add','news-add');

    $(document).ready(function(){
        <?php if ($this->designMode): ?>
        blockNewsAdd_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>