<div class="form form-horizontal">
    <div class="form-group">
        <div class="col-sm-3 control-label">
            <?php echo $this->translate('Associate with block', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'name' => 'pageBlockId',
                    'class' => 'form-control'
                ), $this->availableNewsListBlocks, true, $this->settings->pageBlockId
            );
            ?>
        </div>
    </div>
</div>