#overlay-with-loading-image
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
#overlay-with-loading-image .image-bg
{
    margin: 200px auto 0 auto;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 0 30px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0 0 30px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         0 0 30px 0 rgba(50, 50, 50, 0.75);
}
#overlay-with-loading-image img
{
    display: block;
    border: 0;
}

#fast-login-form .overlay
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2001;
    background: #ccc;
    opacity: .7;
}
#fast-login-form .overlay .form
{
    width: 300px;
    margin: 50px auto 0 auto;
    opacity: 1;
}
a:active,a:focus
{
	outline: none;
}
#admin-top-side-panel > a:hover, 
#admin-top-side-panel > a.focus,
.admin > a:hover, 
.admin > a.focus
{
	color: #999;
	text-decoration: none;
}
.tooltip
{
	z-index: 9999;
}
.strike
{
	text-decoration: line-through;
}
.uppercase
{
	text-transform: uppercase;
}
.modal.fade .modal-dialog.dialog-level-1{
	margin-top: 50px;
}
.modal.in .modal-dialog.dialog-level-2 {
    margin-top: 130px;
    left: 60px;}
.modal.in .modal-dialog.dialog-level-2 .modal-body {
    background: rgb(33, 33, 33);
}
.modal.in .modal-dialog.dialog-level-2 .modal-header, .modal.in .modal-dialog.dialog-level-2 .modal-footer {
    background: rgb(21, 21, 22);
}
.modal-content h4.alert-heading { color: #C09853;}
.modal-content .alert pre { background: none; border: none;}

#admin-top-side-panel .admin-footer
{
	background: url(/images/admin/sprite.png) no-repeat 0 -543px;
	height: 25px;
	margin-bottom: -25px;
}

#admin-logo span
{
	color: #CCC;
	display: block;
	font-size: 9px;
	padding-top: 32px;
	text-align: center;
}

a#admin-logo:hover
{
	color: #FFF;
	text-decoration: none;
}
.icon-setting .dropup ul {
    width:100%;
}
.icon-setting .btn-default:hover, .icon-setting .btn-default:active, .icon-setting .btn-default:focus {
    background: #DADADA;
    color: rgb(37, 91, 172);
}
.icon-setting .dropdown-header {
    color: #EF8400;
}
/*#admin-top-side-panel .dropdown-menu
{
	background: url(/images/admin/sprite.png) no-repeat 0 -73px;
	border: 0 solid #cccccc;
	border: 0 solid rgba(0, 0, 0, 0.15);
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	margin-top: -20px;
	padding: 0;
	text-align: center;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	width: 200px;
}*/
#admin-top-side-panel .dropdown-menu > li > a
{
	color: #0289D1;
	padding: 10px 15px;
	text-transform: uppercase;
}
#admin-top-side-panel .dropdown-menu > li > a:hover, #admin-top-side-panel .dropdown-menu > li > a:focus
{
	/*background: #000;*/
	border: none;
	color: #F68B1F;
}
#admin-top-side-panel .dropdown-submenu > .dropdown-menu
{
	border: 1px solid #272c2f;
	margin-left: -10px;
	margin-top: -10px;
}
#admin-top-side-panel .dropdown-menu .divider
{
	background-color: #333;
	margin: 5px 0;
}
.modal-content .btn
{
	border-radius: 10px;
}

.admin-circle.icon-panel
{
	bottom: -45px;
	left: 80px;
	position: absolute;
	z-index: 0;
}
.admin-circle.icon-panel-close
{
	bottom: -45px;
	left: 80px;
	position: absolute;
	z-index: 0;
}

.admin-circle.icon-remove-block
{
	bottom: 20px;
	left: 20px;
	z-index: 10;
}
.dropdown-submenu
{
	position: relative;
}
.dropdown-submenu > .dropdown-menu
{
	border-radius: 0 6px 6px 6px;
	left: 100%;
	margin-left: -1px;
	margin-top: -6px;
	-moz-border-radius: 0 6px 6px 6px;
	top: 0;
	-webkit-border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu
{
	display: block;
}
.dropdown-submenu > a:after
{
	border-color: transparent;
	border-left-color: #cccccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: block;
	float: right;
	height: 0;
	margin-right: -5px;
	margin-top: 5px;
	width: 0;
}
.dropdown-submenu:hover > a:after
{
	border-left-color: #ffffff;
}
.dropdown-submenu .pull-left
{
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu
{
	left: -100%;
	margin-left: 10px;
        border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	-webkit-border-radius: 6px 0 6px 6px;
}
.modal-body .popover h3
{
	color: #000;
}
.modal-body .popover
{
	color: #666;
}
.admin .has-error .form-control
{
    border-color: #b94a48;
}
.admin .has-error .cke
{
    border-color: #b94a48;
    background: #b94a48;
}
.admin .has-error .cke
{
    border-color: #b94a48;
    background: #b94a48;
}
.admin .has-error .cke .cke_inner .cke_top
{
    background: #b94a48;
}
.admin .has-error .cke .cke_inner .cke_bottom
{
    background: #b94a48;
}
.admin .modal-body label
{
	font-weight: 300;
	padding-top: 7px;
    font-size: 14px;
}
.admin .form-horizontal .form-group
{
	margin-left: 0;
	margin-right: 0;
}
.modal-body .pagination
{
	margin-bottom: 10px;
	margin-top: 10px;
}
.modal-body .pagination > li > a, 
.modal-body .pagination > li > span
{
	background: none;
	border: 1px solid #666;
	color: #CCC;
}
.switch-input
{
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}
.switch-label
{
	background: #f9f9f9;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	display: block;
	font-size: 10px;
	height: inherit;
	-moz-transition: 0.15s ease-out;
	-moz-transition-property: opacity background;
	-o-transition: 0.15s ease-out;
	-o-transition-property: opacity background;
	position: relative;
	text-transform: uppercase;
	transition: 0.15s ease-out;
	transition-property: opacity background;
	-webkit-transition: 0.15s ease-out;
	-webkit-transition-property: opacity background;
}
.switch-label:before,
.switch-label:after
{
	line-height: 1;
	margin-top: -0.5em;
	-moz-transition: inherit;
	-o-transition: inherit;
	position: absolute;
	top: 50%;
	transition: inherit;
	-webkit-transition: inherit;
}
.switch-label:before
{
	color: #aaa;
	content: attr(data-off);
	right: 11px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after
{
	color: white;
	content: attr(data-on);
	left: 11px;
	opacity: 0;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label
{
	background: #398235;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before
{
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after
{
	opacity: 1;
}
.switch-handle
{
	background: white;
	background-image: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
	background-image: -moz-linear-gradient(top, #ffffff 40%, #f0f0f0);
	background-image: -o-linear-gradient(top, #ffffff 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
	border-radius: 2px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	height: 18px;
	left: 4px;
	-moz-border-radius: 2px;
	-moz-transition: left 0.15s ease-out;
	-o-transition: left 0.15s ease-out;
	position: absolute;
	top: 4px;
	transition: left 0.15s ease-out;
	-webkit-border-radius: 2px;
	-webkit-transition: left 0.15s ease-out;
	width: 18px;
}
.switch-handle:before
{
	background: #f9f9f9;
	background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
	background-image: -moz-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -o-linear-gradient(top, #eeeeee, #ffffff);
	background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
	border-radius: 2px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
	content: '';
	height: 12px;
	left: 50%;
	margin: -6px 0 0 -6px;
	-moz-border-radius: 2px;
	position: absolute;
	top: 50%;
	-webkit-border-radius: 2px;
	width: 12px;
}
.switch-input:checked ~ .switch-handle
{
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
	left: 40px;
}
.switch-primary > .switch-input:checked ~ .switch-label
{
	background: #36a9e1;
}
.switch-success > .switch-input:checked ~ .switch-label
{
	background: #78cd51;
}
.switch-warning > .switch-input:checked ~ .switch-label
{
	background: #fabb3d;
}
.switch-important > .switch-input:checked ~ .switch-label
{
	background: #ff5454;
}
.switch-info > .switch-input:checked ~ .switch-label
{
	background: #67c2ef;
}
.switch-danger > .switch-input:checked ~ .switch-label
{
	background: #d9534f;
}
#add-edit-page-dialog .modal-dialog
{
	width: 450px;
}
.login-box-locked
{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border: 1px solid #E9EBEC;
    /*margin-top: calc(50% - 142px);*/
    /*margin: 0 15px;*/
    padding: 30px;
    position: relative;
    text-align: center;
    z-index: 9999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
}
.login-box-locked h2
{
	border-bottom: 1px solid #999999;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.login-box-locked img.avatar
{
    margin-right: 0;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    width: 120px;
    height: auto;
}
.login-box-locked .pass-reminder
{
	text-align: right;
}
.login-box-locked .input-group .form-control
{
	margin-bottom: 10px;
}
.powrot {
    position: relative;
    top: 3px;
}
#admin-toolwnd .tabs-contents-container
{
    position:relative;
    left: 0;
    top: 0;
    height:240px;
    overflow: auto;
    background: rgba(0, 0, 0, 0.72);
}
#admin-toolwnd .admin-toolwnd-navi {position: absolute; top: 0; width: 100%; height: 45px;}

#admin-toolwnd .tabs-contents-container .inner {  margin: 0 auto; width: auto;}


/* Tool wnd Search bar */
#admin-toolwnd .display-settings {

    background-color: rgba(0, 0, 0, 0.38);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
    padding:10px 0;
}
#admin-toolwnd .display-settings label { font-weight: 300; text-align: right;}
#admin-toolwnd .display-settings select, .display-settings input {background:rgba(255,255,255,0.14); border: none; color: #c7c7c7; padding: 3px; line-height: normal; height: auto;}
#admin-toolwnd .alert { margin: 20px; text-align: center;}

#admin-toolwnd .tabs-contents-container .block-bar{
    float: left;
    width: 180px;
    height: 110px;
    line-height: 110px;
    font-weight: 300;
    margin: 5px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #000;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: #fff;
    border:1px dashed #888;

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMC45NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(14,14,14,0.95) 0%, rgba(51,51,51,0.95) 52%, rgba(14,14,14,0.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(14,14,14,0.95)), color-stop(52%,rgba(51,51,51,0.95)), color-stop(100%,rgba(14,14,14,0.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(14,14,14,0.95) 0%,rgba(51,51,51,0.95) 52%,rgba(14,14,14,0.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(14,14,14,0.95) 0%,rgba(51,51,51,0.95) 52%,rgba(14,14,14,0.95) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(14,14,14,0.95) 0%,rgba(51,51,51,0.95) 52%,rgba(14,14,14,0.95) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(14,14,14,0.95) 0%,rgba(51,51,51,0.95) 52%,rgba(14,14,14,0.95) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f20e0e0e', endColorstr='#f20e0e0e',GradientType=1 ); /* IE6-8 */
} 
#admin-toolwnd .tabs-contents-container .block-bar .block-name {  display: inline-block; vertical-align: bottom;  font-weight: bold; font-size: 14px; line-height: 20px; margin-bottom: 15px;  }
#admin-toolwnd .tabs-contents-container .block-bar .block-name span.text {position: relative; z-index: 1; color: rgba(255,255,255,0.8);}
#admin-toolwnd .tabs-contents-container .block-bar .block-name span.fa { position: absolute; left: 50%; margin-left: -25px; top: 50%; margin-top: -40px; font-size: 50px; z-index: 0; color: rgba(255, 255, 255, 0.31)
}
#admin-toolwnd .tabs-contents-container .block-bar .roll {
	position:absolute;
	width:100%;
	margin:0px auto;
	height:100%;
	top:-88.0px;
	display:table-cell;
	vertical-align:middle;
    background-color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
	z-index:10;
	opacity:0;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter:alpha(opacity=0);
	zoom:1;
    transition: all 0.3s ease-in-out  ;
}  
#admin-toolwnd .tabs-contents-container .block-bar .roll span.fa { 
    background: rgba(255,255,255, 0.8); color: #000; padding: 5px; 
-webkit-border-radius: 111px;
-moz-border-radius: 111px;
border-radius: 111px;
margin-top: 20px;
text-shadow: none;
margin-right: 5px;
text-align: center;
width: 25px;
height: 25px;
transition:  all 0.3s ease-in-out;
}

#admin-toolwnd .tabs-contents-container .block-bar .roll span.fa:hover{
    background-color: #000;
    color: #fff;
}
#admin-toolwnd .inner.alert.alert-info {text-align: center;}

#admin-toolwnd .tabs-contents-container .block-bar:hover .roll {
    opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
	filter:alpha(opacity=1);
	zoom:1;
        top: 0;
        
}
#admin-toolwnd .tabs-contents-container .block-bar .insert,
#admin-toolwnd .tabs-contents-container .block-bar .move
{
    cursor: move;
}
#admin-toolwnd .tabs-contents-container .block-bar .edit,
#admin-toolwnd .tabs-contents-container .block-bar .delete
{
    cursor: pointer;
}

#admin-toolwnd .block-bar.ui-draggable-dragging
{
	display: block;
	padding: 5px 30px 5px 10px;
	width: 260px !important;
}
.design-mode .admin-slot
{
	height: auto !important;
	min-height: 1em;
	position: relative;
}
.admin-slot.presented
{
	background: rgba(255,255,255,0.1);
	border:1px dotted rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	border-sizing: border-box;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(0,0,0,.03) 35px, rgba(0,0,0,.03) 70px);
}
.admin-slot .slot-item
{
	position: relative;
}
.admin-slot .slot-item .block-frame
{
    border: 1px dashed #888;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.45);
    -moz-box-shadow:    0 0 0 0 rgba(255, 255, 255, 0.45);
    box-shadow:         0 0 0 0 rgba(255, 255, 255, 0.45);
    box-sizing: content-box;
    height: 100%;
    left: -10px;
    -moz-border-radius: 5px;
    -moz-box-sizing: content-box;
    padding-bottom: 45px;
    position: absolute;
    right: -10px;
    /*top: -2.4em;*/
    /*-webkit-box-shadow: inset 0 0 0 2px #FFFFFF;*/
    -webkit-box-sizing: content-box;
    width: 100%;
}
.admin-slot .slot-item .block-frame .title-bar
{
	background: #969696;
	background: linear-gradient(to bottom, #969696 0%,#7f7f7f 100%);
	background: -moz-linear-gradient(top, #969696 0%, #7f7f7f 100%);
	background: -ms-linear-gradient(top, #969696 0%,#7f7f7f 100%);
	background: -o-linear-gradient(top, #969696 0%,#7f7f7f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#7f7f7f));
	background: -webkit-linear-gradient(top, #969696 0%,#7f7f7f 100%);
	color: #e3eaf3;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#7f7f7f',GradientType=0 );
	padding: .3em .5em;
	text-shadow: 1px 1px 1px #000;
}
.admin-slot .slot-item .block-frame.dynamic
{
	border-color: #8ab66b;
}
.admin-slot .slot-item .block-frame.dynamic .title-bar
{
	background: #c9de96;
	background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%);
	background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
	background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}
.admin-slot .slot-item .block-frame .title-bar .buttons
{
	float: right;
	position: absolute;
	right: .5em;
	top: 3px;
}
.admin-slot .slot-item .block-frame .title-bar .buttons .button
{
	cursor: pointer;
	float: left;
	height: 21px;
	margin-left: 1em;
	min-width: 10px;
	opacity: .7;
}
.admin-slot .slot-item .block-frame .title-bar .buttons .button:hover
{
	opacity: 1;
}
.admin-slot .slot-item .block-frame .title-bar .block-name .fa.fa-arrows{cursor: move;}
.admin-slot .slot-item:hover .block-frame
{
	display: block !important;
	z-index: 2;
}
.admin-slot .slot-item .block-content
{
	position: relative;
	z-index: auto;
    min-height: 1em; /* Required for blocks with empty template. */
}
.design-mode .admin-slot .slot-item .block-content > h3.title
{
    min-height: 1.75em;
}
.admin-slot .slot-item .block-content > h3.title .text{min-height: 1.75em;}
.admin-slot .slot-item .block-content > h4.title
{
    min-height: 1.5em;
	font-size: 1.5em;
	margin-bottom: .5em;
}
.admin-slot .slot-item .block-content > h4.title .text{min-height: 1.5em;}
.admin-slot .slot-item .block-content > h5.title
{
    min-height: 1.25em;
	font-size: 1.25em;
	margin-bottom: .5em;
}
.admin-slot .slot-item .block-content > h5.title .text{min-height: 1.25em;}
.admin-slot .slot-item .block-content > h6.title
{
    min-height: 1em;
	font-size: 1em;
	margin-bottom: .3em;
}
.admin-slot .slot-item .block-content > h6.title .text{min-height: 1em;}
.admin-slot .slot-item .block-frame.unpublished,
.admin-slot .slot-item .block-content.unpublished
{
	opacity: .5;
}
.slot-item .block-content .btn-group-vertical
{
    position: absolute;
    left: -1.5em;
    top: -1em;
    padding-right: 1.5em;
}
.slot-item .block-content .btn-group-vertical .btn
{
    padding: 0;
    border: none;
    line-height: 50%;
    font-size: 150%;
}
body > .fix .ui-sortable-placeholder
{
	background: #fcefa1;
	border: 1px solid orange;
	height: 10em !important;
	visibility: visible !important;
}
body > .fix .ui-sortable-placeholder *
{
	visibility: hidden;
}

/**
 * Admin Tool Window placeholder styles overriding.
 */
body > .fix #admin-toolwnd .tabs-contents-container .inner .ui-sortable-placeholder{height: 110px !important}



/**
 * CKEditor 4 Moono skin toolbar buttons padding fix overwritten by Bootstrap.
 */
.cke, .cke *
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}

/**
 * Block "Events".
 */
.events-items .event-edit-btn
{
    /*position: absolute;
    left: -2.1em;
    top: 0;
    display: block;
    border: 1px solid #B9B9B9;
    background: #fff;
    padding: .5em 1.5em .5em .5em;
    border-radius: 5px;
    z-index: 3;
    font-size: 2em;
    cursor: pointer;*/
    
    position: absolute;
    right: 1.5em;
    top: 50%;
    margin-top: -22px;
    display: block;
    border-radius: 5px;
    z-index: 3;
    font-size: 220%;
    cursor: pointer;
}







/*
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
  -webkit-border-radius: 4px 0 0 4px !important;
  border-radius: 4px 0 0 4px !important;
  border-right: 0;
}
.bootstrap-timepicker-widget.dropdown-menu {
  padding: 2px 3px 2px 2px;
  margin-left: 54px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
  border-radius: 4px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
  border: 1px solid #b2b8bd;
}
.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}
@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
  .login-box-locked {
      margin: 0 15px;
  }
}

/*
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */
.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}
.daterangepicker.opensleft .ranges,
.daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}
.daterangepicker.opensright .ranges,
.daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}
.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}
.daterangepicker .ranges .range_inputs > div {
  float: left;
}
.daterangepicker .ranges .range_inputs > div:nth-child(2) {
  padding-left: 11px;
}
.daterangepicker .calendar {
  display: none;
  max-width: 270px;
}
.daterangepicker .calendar th,
.daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
  color: #000;
}
.daterangepicker .ranges label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0;
  text-transform: uppercase;
  width: 74px;
}
.daterangepicker .ranges input {
  font-size: 11px;
}
.daterangepicker .ranges .input-mini {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 74px;
}
.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
}
.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}
.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}
.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}
.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}
.daterangepicker table {
  width: 100%;
  margin: 0;
}
.daterangepicker td,
.daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.daterangepicker td.off {
  color: #999;
}
.daterangepicker td.disabled {
  color: #999;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background: #eee;
}
.daterangepicker td.in-range {
  background: #ebf4f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: #3071a9;
  color: #fff;
}
.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}
.daterangepicker select.monthselect,
.daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}
.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}
.daterangepicker select.yearselect {
  width: 40%;
}
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}
.input-group-addon:first-child {
    -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
.btn-group-vertical.title-adjusting {
    font-size: 14px;
}

/*Admin gallery*/
.admin-gallery
{
    position: relative;
    z-index: 0;
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 150px;
    height: 150px;
    border: 1px dashed #888;
}
.admin-gallery img{ max-height: 150px; max-width: 150px; position: relative; z-index: 1;}
.admin-gallery button {position: absolute;top: 0;left: 0;z-index: 2;}
.gallery-fix{ clear: both; padding-top: 30px;}
.admin-gallery .ae-event-image-is-main { clear: both; display: block; text-align: center; margin:4px auto; ;}
.admin-gallery button.top-left
{
    left: 5px;
    top: 5px; right:
    auto;
    bottom: auto;
}
.admin-gallery button.top-right
{
    right: 5px;
    top: 5px;
    left: auto;
    bottom: auto;
}
.admin-gallery button.bottom-middle
{
    left: 50%;
    top: auto;
    bottom: 10px;
    right: auto;
    margin-left: -20px;
}
.admin-gallery button.bottom-right
{
    left: auto;
    top: auto;
    bottom: 10px;
    right: 10px;
}

/**
 * Styles for management dialog windows.
 */
.modal .admin .table-hover > tbody > tr.promoted td{background: dodgerblue;}
.modal .admin .table-hover > tbody > tr.promoted:hover > td{background: deepskyblue;}

/**
 * Language switchers.
 */
/*#admin-language-switcher{position:fixed}*/

/**
 * Block search dialog window.
 */
#search-for-blocks-window-contents .btn-show-hide-page-list{cursor: pointer}

/*style for block search-for-blocks*/
#search-for-blocks-window-contents label {
    text-align: left;
}
/*#pages-window-contents*/
#pages-window-contents.admin .modal-body-header label
{
    text-align: left;
}

/*
*
**************************************stylowanie okienek - nowy wygląd***************************************
*
**/
.modal-body p {color: #8B8D8A}
.admin .help-block {color: #8B8D8A}
.modal .modal-dialog.dialog-level-1 .modal-content {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: -30px;
    background: rgba(34,34,34,0.95);
    -webkit-box-shadow: -3px -3px 16px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px -3px 16px 0 rgba(0, 0, 0, 0.75);
    box-shadow: -3px -3px 16px 0 rgba(0, 0, 0, 0.75);
}
.modal-content h3
{
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 0 20px 10px;
    text-align: left;
    color: #ddd;
}
#admin-toolwnd
{
    background: none;
    border: none;
    bottom: -240px;
    left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 201;
}
span#version {
    position: absolute;
    bottom: 0;
    left: 7px;
    font-size: 10px;
    color: #fff;
}
a#admin-logo
{
    color: #CCC;
    display: block;
    font-size: 9px;
    padding-top: 62px;
    text-align: center;
}

#admin-btn-logout.admin-circle {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    height: 31px;
    line-height: 29px;
    width: 40px;
    right: 0;
    top: 0;
    z-index: 50;
}
.icon-design-mode {
    position: fixed;
    height: 31px;
    line-height: 29px;
    width: 40px;
    border-top: solid 30px transparent;
    border-right: solid 30px rgba(144, 132, 132, 0.63);
    border-bottom: solid 30px rgba(144, 132, 132, 0.63);
    right: 0;
    bottom: 0;
    border-left: solid 30px transparent;
    z-index: 10000;
}
.icon-design-mode:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    color: #fff;
}
/*border around body*/
#top, #bottom, #left, #right.show {
    background-image: linear-gradient(45deg, rgb(207, 24, 24) 25%, transparent 25%, transparent 75%, rgb(213, 17, 17) 75%, rgb(211, 13, 13));
    background-size: 40px 40px;
    position: fixed;
}
#left, #right.show {
    top: 0; bottom: 0;
    width: 2px;
}
#left.show { left: 0; }
#right.show { right: 0; }

#top, #bottom.show {
    left: 0; right: 0;
    height: 2px;
}
#top.show { top: 0; }
#bottom.show { bottom: 0; }
#top, #bottom, #left, #right {display: none}
/*end border around body*/
#admin-toggle-design-mode.icon-design-mode .fa-puzzle-piece:before {margin-left: 0; font-size: 20px;}

.admin-circle.icon-add-block
{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
}
.admin-circle
{
    /*background-image: url(/images/admin/admin-icon-blank.jpg);*/
    /*background-position: -10px -5px;*/
    /*border: 5px solid #333;*/
    /*border-radius: 50px;*/
    color: #fff;
    /*font-size: 12px;*/
    height: 31px;
    line-height: 30px;
    /*position: fixed;*/
    /*position: relative;*/
    text-align: center;
    width: 31px;
    /*z-index: 15;*/
}
.admin-circle.icon-edit
{
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    margin: 1px 0;
    width: 161px;
    color: #000;
    text-align: left;
    padding: 0 14px;
    font-size: 10px;
}
/*
.admin-circle:hover, .admin-circle.active
{
	background-position: -10px -35px;
	border-color: #000;
	color: #FFF;
	text-decoration: none;
}
.admin-circle.icon-design-mode
{
    left: 380px;
    top: 15px;
    z-index: 50;
}

.admin-circle.icon-lang
{
    left: 330px;
    top: 15px;
}
.admin-circle.icon-user-language
{
    right: 120px;
    top: 20px;
    z-index: 50;
}
.admin-circle.icon-user-page
{
	right: 70px;
	top: 20px;
	z-index: 50;
}
*/
#admin-blocks-tab-activator{left: 10px; bottom: 50px; position: absolute;}
.admin-circle.icon-save
{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
}
.icon-design-mode.active {
    border-right: solid 30px rgba(255,0,0,0.35);
    border-bottom: solid 30px rgba(255,0,0,0.35);
}
#admin-top-side-panel
{
    /*background: url(/images/admin/sprite.png) no-repeat 0 0;*/
    left: 10px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 9999;
}
#admin-logo
{
    background: url(/images/admin/codilab-logo_2.png) no-repeat;
    display: block;
    margin: 0px auto;
    margin-top: 7px;
    background-size: 150px;
    background-position: 8px 3px;
    width: 166px;
    margin-bottom: -5px;
}

.modal-open .icpp-dropdown {
    width: auto;
}

.modal .modal-backdrop.in {
    opacity: 0.1;
    /*filter: alpha(opacity=10);*/
}
.modal .modal-dialog
{
    margin-top: 20px;
    outline-offset: -13px;
    width: 900px;
    padding: 15px;
    /*border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;*/
}
.modal .modal-content
{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    position: relative;
    background: rgba(0,0,0,0.35);
    background: rgb(34,34,34);
    background: rgba(34,34,34,0.75);
    /*filter: blur(10px);*/
    /* -webkit-filter: blur(10px); */
    /* filter: url('blur.svg#blur'); */
    /*border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;*/
}
.modal .modal-header h4 {
    font-weight: normal;
    color:#FFF;
    font-size: 11px;
    font-weight: normal;
    /*display: block;
    padding: 0;
    position: relative;*/
}
.modal .modal-body-header {
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 9px;
    overflow: hidden;
    position: relative;
    padding-right: 15px;
    text-transform: uppercase;
    /*-webkit-box-shadow: 0 7px 5px rgba(0, 0, 0, 1);*/
}

.modal-body-header {
    /* transition: All 1s ease; */
    -webkit-transition: All 1s ease;
    -moz-transition: All 1s ease;
    -o-transition: All 1s ease;
    height: 110px;
}
.modal-body-header.hide-modal-body-header{
    height: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    z-index: -1;
    margin-top: -15px;
}
#users-window-contents .form-horizontal .control-label
{
    text-align: left;
}
.modal .modal-header
{
    background-color: rgba(0,0,0,0.35);
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 7px 10px 7px;
    border-bottom: 1px solid rgba(255,255,255,0.2)
}
/* border-bottom: none;
 padding: 15px;
 text-align: center;

 text-transform: none;
 text-align:center;
 color:#0000;
 display: block;
 height:50%;
 border-radius:10px 10px 0 0;
 text-shadow:0 1px 0 rgba(0, 0, 0, .75);
}
.modal-backdrop{
 -webkit-filter: blur(20px);
 -moz-filter: blur(15px);
 -o-filter: blur(15px);
 -ms-filter: blur(15px);
 filter: blur(15px);
}
*/
.modal .modal-header a.close:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-weight: 100;
    position: absolute;
    top: 7px;
    right: 10px;
}
.modal .modal-header a.close {
    position: absolute;
    top: 0;
    height: 29px;
    right: 0;
    width: 34px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: 1;
}
.modal .modal-header a.close:hover {
background-color: rgba(50,50,50,0.5);
}

.modal .modal-header .close {
    margin-top: 0;
}
.modal .glyphicon.glyphicon-remove-circle {
    top: 4px;
    font-weight: 300;
    display: none;
}
.modal .admin label
{
    font-weight: 300;
    color: #fff;
    font-size: 12px
}
.modal-body-content table
{
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
}
.modal .modal-footer
{
    border: none;
    margin-top: 0;
    padding: 10px 15px;
    border-top: 1px solid rgba(255,255,255,0.2);
    text-align: left;
}
/*Form control*/
.system-settings.form-horizontal .control-label {
    font-weight: 300;
}

.modal-body-content strong {
    font-weight: 300;
}
.system-settings.form-horizontal h3 {
    color: rgba(255,255,255,0.8);
    font-size: 13px;
}
.modal-body .form-control option {
    background: rgba(0,0,0,0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
/*styles for mozilla only*/
@-moz-document url-prefix() {
    .modal-body .form-control option {
    background: rgba(0,0,0,0.5);
    border: none;
}
}
.system-settings .modal-body
{
    padding: 10px 10px;
}
.modal-body {
    position: relative;
    /*padding: 20px 0;*/
}
.system-settings > .form-group {
    margin-left: 0;
    margin-right: 0;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
}
.modal .modal-body .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    display: block;
    font-size: 12px;
    padding: 5px 10px;
    height: 30px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.modal .admin .form-control:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(23, 118, 13, 0.60);
    outline: 0 none;
    border-color: #fff;
}
.modal .message-search {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: none;
}
/* Pagination */
.modal .modal-body .pagination > li:first-child > a,
.modal .modal-body .pagination > li:first-child > span
{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}
.modal .modal-body .pagination > li:last-child > a,
.modal .modal-body .pagination > li:last-child > span
{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.modal .modal-body .pagination > .active > a
{
    background: rgba(39, 92, 101, 0.5);
    border-color: #428BCA;
}
.modal .modal-body .pagination > li > a, .pagination > li > span {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.1);
}
.modal .modal-body .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background: rgba(255,255,255,0.15);
}
/*Buttons*/
.modal .modal-content .btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(255, 255, 255, 0.31) !important;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    padding-top: 5px;
}
.modal .modal-content .btn:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.39) !important;
    color: #000000;
    border-radius: 0;
}
/*Tables*/
.admin .table td, .table th {
    border-color: rgba(255,255,255,0.05) !important;
    color: #fff;
}

.admin .table-condensed > thead > tr > th {
    padding: 3px 5px 5px;
}

.admin .table-bordered, .table-responsive {
    border: 0;
}
.admin .table-bordered > tbody > tr > td,
.admin .table-bordered > thead > tr > th {
    border-bottom: 0;
    border-left: 0;
}

.admin .table-bordered > tbody > tr > td:last-child,
.admin .table-bordered > thead > tr > th:last-child {
    border-right: 0;
}

.admin .table-hover > tbody > tr:hover > td,
.admin .table-hover > tbody > tr:hover > th,
.admin .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background: rgba(0,0,0,0.2);
}
/*in table*/
.table #admin-top-side-panel a, .admin a {
    color: #FFFFFF;
}
/* Alerts */
.modal .alert {
    border: 0;
    background: rgba(255,255,255,0.7);
    font-family: 'open-sans-light', sans-serif;
    font-size: 13px;
    margin: 10px 25px;
}

.modal .alert-icon {
    position: relative;
    padding-left: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal .alert-icon .icon {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 50px;
    line-height: 100%;
}

.modal .alert-success {
    color: #069727;
    border-left: 5px solid #048F23;
}

.modal .alert-info {
    color: #0B628D;
    border-left: 5px solid #0B628D;
}

.modal .alert-warning {
    color: #A78C00;
    border-left: 5px solid #A78C00;
}

.modal .alert-danger {
    color: #E02C29;
    border-left: 5px solid #FF524F
}
.modal .switch, .modal-body label.switch
{
    background: none;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    -moz-border-radius: 2px;
    -moz-box-sizing: content-box;
    padding: 3px;
    position: relative;
    vertical-align: top;
    -webkit-border-radius: 2px;
    -webkit-box-sizing: content-box;
    width: 56px;
}
body.modal-open .fix {
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
}
@-moz-document url-prefix() {
    body.modal-open .fix {
    /*filter: url('/blur.svg#blur');*/
    -moz-filter: blur(10px);
}
}
.front.logged.logged-as-admin.modal-open {
    color: #fff;
}
/*--------------modal body header - setting block-------------*/
.btn-modal-body-header {
    position: absolute;
    top: -27px;
    right: 37px;
    cursor: pointer;
}