/**
 *  Page LockScreen
 */
.login-box-locked {
  position: relative;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border: 1px solid #e9ebec;
  margin-top: 250px;
}
.login-box-locked.type2 {
  background: rgba(255, 255, 255, 0.7);
}
.login-box-locked img.avatar {
  float: left;
  width: 120px;
  margin-right: 20px;
}
.login-box-locked p {
  margin-top: -8px;
  font-weight: 300;
}
.login-box-locked a {
  display: block;
  font-weight: 300;
  margin-top: 5px;
  font-size: 12px;
}