/*------------------------admin panel setting---------------------*/

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    max-width: 180px;
    width: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-container .menu-overlay {
    display: none;
}

.menu-container .menu-item {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0%
}

.menu-container.closed {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    left: -180px
}


.menu-container .menu-spacer {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
    -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    background: rgba(0,0,0,0.9);
}

.menu-container > a.btn-menu-close {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.menu-container > a.btn-menu-close:before {
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -20px;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}

@media (max-width: 768px) {
    .menu-container > a.btn-menu-close > span {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: sans-serif;
    line-height: 18px;
    position: relative;
    left: -80px;
    top: 1px;
    }
}

.menu-container > a.btn-menu-close:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8
}

.menu-container > a.btn-menu-close:hover:before {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg)
}
.btn-menu-open.icon-menu:before {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: -6px;
    line-height: 40px;
    color: #fff;
    top: 50%;
    z-index: 1;
    margin-top: -24px;
    text-align: center;
    -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
}
a.btn-menu-open.icon-menu:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8
}
a.btn-menu-open.icon-menu:hover:before {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg)
}


.menu-container .menu-item a.nav-url {
    display: block;
    color: #ccc;
    line-height: 18px;
    padding: 21px 0;
    text-align: center;
    border-bottom: 1px solid #212121;
}

.menu-container .menu-item a.nav-url:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.15);
}

#admin-top-side-panel .btn-menu-open {
    position: fixed;
    top: 23px;
    left: 0;
    cursor: pointer;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

#admin-top-side-panel .btn-menu-open span.label {
    display: block;
    padding: 0 9px 0 30px;
    font-size: 18px;
    background-color: rgba(0,0,0,0.5);
    line-height: 38px;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 300;
    top: -23px;
    position: absolute;
}

#admin-top-side-panel .btn-menu-open:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8
}

.menu-container {
    z-index: 401
}

@media screen and (min-width: 768px) {
    .menu-container .menu-overlay {
        display: none;
        width: 100%;
        height: 60px;
        padding-right: 185px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        border-bottom-right-radius: 35px;
        -moz-border-radius-bottom-right: 35px;
        -webkit-border-bottom-right-radius: 35px;
        background: rgba(26, 26, 26, 0.9);
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: all 0.6s cubic-bezier(0.4, 0.41, 0.4, 1);
        -moz-transition: all 0.6s cubic-bezier(0.4, 0.4, 0.4, 1);
        -o-transition: all 0.6s cubic-bezier(0.4, 0.4, 0.4, 1);
        transition: all 0.6s cubic-bezier(0.4, 0.4, 0.4, 1);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1
    }

    .menu-container.closed .menu-overlay {
        width: 0;
        height: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0
    }

    .menu-container, .menu-container .menu-item {
        left: 0;
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -moz-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -ms-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        -o-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    }

    .menu-container.closed, .menu-container .menu-item.closed {
        -webkit-transform: perspective(500px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        -moz-transform: perspective(500px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        -ms-transform: perspective(500px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        -o-transform: perspective(500px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        transform: perspective(500px) rotateX(0deg) rotateY(90deg) rotateZ(0deg);
        left: 0
    }

    .menu-container .menu-spacer {
        padding-top: 0;
        padding-bottom: 0
    }
    .menu-container > a.btn-menu-close {
        height: 18px;
        width: auto;
        line-height: 18px;
        top: 21px;
        right: -160px
    }

    .menu-container > a.btn-menu-close:before {
        height: 18px;
        width: 18px;
        line-height: 18px;
        font-size: 14px;
        margin-top: -9px
    }

    .menu-container > a.btn-menu-close > span {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        font-family: sans-serif;
        line-height: 18px;
        padding-left: 25px;
    }

    .menu-container .menu-item {
        width: 180px;
        height: 100%;
        overflow: auto;
        padding-bottom: 80px;
    }

    .menu-container {
        position: fixed;
        height: 100%
    }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .menu-container .menu-overlay {
        padding-right: 74px
    }
}

@media screen and (min-width: 768px) {
    .menu-container .menu-overlay {
        display: block
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    .menu-container > a.btn-menu-close {
        height: 18px;
        width: 18px;
        line-height: 18px;
        top: 21px;
        right: -64px
    }

    .menu-container > a.btn-menu-close:before {
        height: 18px;
        width: 18px;
        line-height: 18px;
        font-size: 14px;
        margin-top: -9px
    }

    .menu-container > a.btn-menu-close > span {
        display: none
    }
}
.menu-container .icon-setting {
    max-width: 180px;
    bottom: 0;
    padding-bottom: 33px;
    z-index: 20;
    display: block;
    width: 100%;
    position: absolute;
    left: 9px;
    text-align: center;
}

/*.menu-container .icon-setting a {
    display: inline-block;
    margin: 0 5px;
}*/
.menu-container .icon-setting a:hover {background-color: rgba(255,255,255,0.2); color: #fff;}

/*---------------------------menu view device admin panel-------------------------*/

#menu-view {
    background: #252328;
    height: 100%;
    left: 180px;
    position: fixed;
    top: 0;
    width: 40px;
    z-index: 5;
}
.btn-menu-view {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #353338;
    background: rgb(246, 139, 31);
    z-index: 99;
}

.btn-menu-view.not-open {
    background: rgba(119, 113, 113, 1)
}
.btn-menu-view:hover {
    background: rgb(186, 101, 51)
}
.menu-transition ul li:last-child a:hover {
    background: none
}

#menu-view a {
    color: #eee;
    cursor: pointer;
    -webkit-transition: color .25s ease-in-out 0s;
    transition: color .25s ease-in-out 0s;
}
.menu-transition ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul {
    list-style: disc inside none;
}
ol, ul {
    margin: 0 0 20px 0;
    padding: 0;
}

li {
    line-height: 30px;
}

.menu-transition ul li a i.about {
    background-position: 0 -32px;
}
.menu-transition ul li a i {
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    text-indent: 0;
    bottom: 22px;
}
.menu-transition ul li:first-child a i {
    margin: -8px 0 0 -4px;
}
.menu-transition ul li:nth-child(2) a i {
    margin: -8px 0 0 -5px;
}
.menu-transition ul li:last-child a i {
    margin: 0;
    bottom: 10px;
}

.menu-transition ul li a {
    position: relative;
    display: block;
    width: 40px;
    height: 60px;
    z-index: 98;
    text-indent: -9999px;
    -webkit-transition: background .95s ease-out 0s;
    transition: background .65s ease-out 0s;
}
.menu-transition ul li a:hover {
    background: rgba(186, 101, 51, 0.5);
    -webkit-transition: background .95s ease-out 0s;
    transition: background .25s ease-out 0s;
}

.menu-transition.animate ul li {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.menu-transition ul li {
    -webkit-transform: translateY(-240px);
    -ms-transform: translateY(-270px);
    transform: translateY(-270px);
    -webkit-transition: -webkit-transform .379s ease-in-out 0s;
    transition: transform .379s ease-in-out 0s;
}
.btn-menu-view.not-open .menu-icon {
    -webkit-transition: -webkit-transform .25s ease-out 0s;
    transition: transform .25s ease-out 0s;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: #fff;
}

.btn-menu-view .menu-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: -8px -8px 0 0;
    width: 16px;
    height: 16px;
    background-position: 0 0;
    -webkit-transition: -webkit-transform .25s ease-out 0s;
    transition: transform .25s ease-out 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.vertical-text {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    white-space: nowrap;
    right: 20px;
    bottom: 0;
}
::-webkit-scrollbar
{
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
    background: rgba(0, 0, 0, 0.5);
}