.block-image-gallery .thumb{margin-bottom: 30px;}
.block-image-gallery footer{margin: 50px 0;}
.lightbox .image-gallery-author-section{display: block; padding-top: 1em}
.lightbox .image-gallery-author-section .image-gallery-author{font-style: italic}