<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;

$hasUrl = ($data['itemUrlAddressType'] != 2);
$notIcon = in_array($data['itemType'], array(0, 2, 4));
$notImage = in_array($data['itemType'], array(0, 1, 3));
$notText = in_array($data['itemType'], array(1, 2));
?>
<div class="window-contents admin">
    <div class="form form-horizontal">
        <input type="hidden" name="itemId" value="<?php echo $data['itemId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <h3 class="title"> Ustawienia wyświetlania linku</h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ai-item-category">
                <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bars"></i></span>
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'ai-item-category',
                            'class' => 'form-control',
                            'name' => 'itemCategoryId'
                        ), $this->itemCategoriesOptions, true, $data['itemCategoryId']
                    );
                    ?>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ai-item-parent">
                <?php echo $this->translate('Parent element', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-sitemap"></i></span>
                    <select id="ai-item-parent" class="form-control" name="itemParentId">
                        <option value="">
                            <?php echo $this->translate('None', 'default', $this->userLanguage->zend2_locale); ?>
                        </option>
                        <?php foreach ($this->itemParentItemsOptions as $parentItemId => $option): ?>
                            <option value="<?php echo $parentItemId; ?>" class="<?php echo $option->css_classes; ?>"<?php echo $option->selected; ?>>
                                <?php echo $this->escapeForHtml($option->title); ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ai-item-url-address-type">
                <?php echo $this->translate('URL address type', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'ai-item-url-address-type',
                    'class' => 'form-control',
                    'name' => 'itemUrlAddressType'
                    ), array(
                        0 => $this->translate('_internal url', 'default', $this->userLanguage->zend2_locale),
                        1 => $this->translate('_external url', 'default', $this->userLanguage->zend2_locale),
                        2 => $this->translate('None', 'default', $this->userLanguage->zend2_locale)
                    ), true, $data['itemUrlAddressType']);
                ?>
            </div>
        </div>
        <h3 class="title"><?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?></h3>
        <div<?php if ($notText): ?> style="display:none"<?php endif; ?> class="form-group" id="ai-item-title-form-group">
            <label for="ai-item-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-font"></i></span>
                    <input type="text" id="ai-item-title" class="form-control" name="itemTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $this->escapeForHtml($data['itemTitle']); ?>" />
                </div>
            </div>
        </div>
        <div<?php if (!$hasUrl): ?> style="display:none"<?php endif; ?> class="form-group" id="ai-item-url-form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
                    <select
                        <?php if (in_array($data['itemUrlAddressType'], array(1, 2))): ?>
                            style="display:none"
                        <?php endif; ?>
                        id="ai-item-internal-page-id"
                        class="form-control"
                        name="itemPageId"
                    >
                    <?php foreach ($this->itemInternalPagesOptions as $pageId => $option): ?>
                        <option
                            value="<?php echo $pageId; ?>"
                            data-title="<?php echo $this->escapeForHtml($option->title); ?>"
                            <?php if ($pageId == $data->itemPageId): ?>selected<?php endif; ?>
                        >
                            <?php echo $this->escapeForHtml($option->extended_title); ?>
                        </option>
                    <?php endforeach; ?>
                    </select>
                    <input<?php if (in_array($data['itemUrlAddressType'], array(0, 2))): ?> style="display:none"<?php endif; ?> type="text" class="form-control" id="ai-item-external-url" name="itemExternalUrl" maxlength="<?php echo $maxLengths['url']; ?>" value="<?php echo $this->escapeForHtml($data['itemExternalUrl']); ?>" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="ai-item-type">
                <?php echo $this->translate('Element type', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'ai-item-type',
                    'class' => 'form-control',
                    'name' => 'itemType'
                    ), array(
                        0 => $this->translate('Only text', 'default', $this->userLanguage->zend2_locale),
                        1 => $this->translate('Only icon', 'default', $this->userLanguage->zend2_locale),
                        2 => $this->translate('Only image', 'default', $this->userLanguage->zend2_locale),
                        3 => $this->translate('Icon + text', 'default', $this->userLanguage->zend2_locale),
                        4 => $this->translate('Image + text', 'default', $this->userLanguage->zend2_locale)
                    ), true, $data['itemType']);
                ?>
            </div>
        </div>
        <div<?php if ($notIcon) echo ' style="display:none"'; ?> class="form-group" id="ai-item-text-icon-form-group">
            <label for="ai-item-text-icon" class="col-sm-3 control-label">
                <?php echo $this->translate('Icon', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <select class="selectpicker" data-show-icon="true" data-show-subtext="true" id="ai-item-text-icon" name="itemTextIcon">
                    <?php echo $this->itemGlyphiconsOptions; ?>
                </select>
            </div>
        </div>
        <div<?php if ($notImage) echo ' style="display:none"'; ?> class="form-group" id="ai-item-image-form-group">
            <label for="ai-item-image" class="col-sm-3 control-label">
                <?php echo $this->translate('Image', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->partial('partial/image-upload.phtml', array(
                        'userLanguage' => $this->userLanguage,
                        'pageBlockId' => $this->blockData->page_block_id,
                        'blockElementId' => $data['itemId'],
                        'imageArrayName' => 'itemImages',
                        'aspectRatio' => 300 / 300,
                        'parametersForPlUploadLibrary' => array(
                            'blockName' => 'navigation-menu',
                            'resizeImageToMaxWidth' => 300,
                            'resizeImageToMaxHeight' => 300,
                            'crop' => true,
                            'cropMaskCoords' => '0,0,300,300'
                        ),
                        'onBeforeDeletedCallback' => false,
                        'images' => $data['itemImages'],
                        'allowAddingNewImages' => false
                    )
                );
                ?>
            </div>
        </div>
        <div class="section">
            <h3 class="title"><?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?></h3>
            <div class="contents">
                <div class="form-group">
                    <label for="ai-item-text-icon" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <label>
                            <?php echo $this->checkbox('ai-publish-now', 'itemIsPublished', 1, $data['itemIsPublished'] == 1); ?>
                            <?php echo $this->translate('Publish immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>