<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="row ">
            <div class='col-md-3'></div>
            <div class="col-md-4">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'block-navigation-menu-category',
                        'name' => 'categoryId',
                        'class' => 'form-control'
                    ),
                    $this->availableMenuItemsCategories,
                    true,
                    $this->settings['categoryId']
                );
                ?>
            </div>
        </div>
    </div>
</div>
<div class="section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>

    <div class="contents">
        <div class="row">
            <div class='col-md-3 control-label'></div>
            <div class='col-md-9'>
                <?php echo $this->radio(
                    null,
                    'orientation',
                    'horizontal',
                    ($this->settings['orientation'] == 'horizontal')
                ); ?>
                <?php echo $this->translate('Horizontal menu', 'default', $this->userLanguage->zend2_locale); ?>
            </div>
        </div>
        <div class="row">
            <div class='col-md-3 control-label'></div>
            <div class='col-md-9'>
                <?php echo $this->radio(
                    null,
                    'orientation',
                    'vertical',
                    ($this->settings['orientation'] == 'vertical')
                ); ?>
                <?php echo $this->translate('Vertical menu', 'default', $this->userLanguage->zend2_locale); ?>
            </div>
        </div>
        <div class="row">
            <div class='col-md-3 control-label'></div>
            <div class='col-md-9'>
                <?php echo $this->hidden(null, 'displayUncollapseButtons', 0); ?>
                <?php echo $this->checkbox(
                    null,
                    'displayUncollapseButtons',
                    1,
                    ($this->settings['displayUncollapseButtons'] == '1')
                ); ?>
                <?php echo $this->translate(
                    'Display Collapse / Uncollapse button after each element\'s name',
                    'default',
                    $this->userLanguage->zend2_locale
                ); ?>
            </div>
        </div>
    </div>
</div>