<?php
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$backgroundColorEnabled = $this->settings->backgroundColorEnabled;
$backgroundColor = $this->settings->backgroundColor;
$openFirstAvailableGroupOnLoad = $this->settings->openFirstAvailableGroupOnLoad;
?>
<?php if ($this->items): ?>
    <?php if ($this->items->count() > 0): ?>
        <h2>
            <span style="display:none" class="close-pile-btn"><i class="fa fa-arrow-circle-o-left"></i> </span>
            <span class="pile-name"></span>
        </h2>
        <div class="loader-bg">
            <img alt="Loading..." width="48" height="48" src="/img/loading.gif" />
        </div>
        <ul id="tp-grid" class="tp-grid" style="display:none;<?php if ($backgroundColorEnabled): ?>background:<?php echo $backgroundColor; ?><?php endif; ?>">
            <?php foreach ($this->items as $item): ?>
                <?php
                $anchorTag = '';
                if ($item->pageUrl != '')
                {
                    $pageUrl = $this->escapeForHtml($item->pageUrl);
                    if ($item->url_address_type == \Site\Block\ImagesPile\ImagesPile::ITEM_URL_ADDRESS_TYPE_EXTERNAL)
                    {
                        $anchorTag = '<a href="' . $pageUrl . '" rel="nofollow">';
                    }
                    else
                    {
                        $pageBreadcrumb = $this->escapeForHtml($item->pageBreadcrumb);
                        $anchorTag = '<a href="' . $pageUrl . '" title="' . $pageBreadcrumb . '">';
                    }
                }
                ?>
                <li data-pile="<?php echo $item->group_title; ?>">
                    <?php if ($anchorTag != ''): ?><?php echo $anchorTag; ?><?php endif; ?>
                        <?php if ($item->title != ''): ?>
                            <span class="tp-info">
                                <span>
                                    <?php echo $this->escapeForHtml($item->title); ?>
                                </span>
                            </span>
                        <?php endif; ?>
                        <img
                            alt="<?php echo $item->thumbAlt; ?>"
                            width="250"
                            height="188"
                            src="<?php echo $item->thumbUrl; ?>"
                            />
                    <?php if ($anchorTag != ''): ?></a><?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ul>
        <div class="clearfix"></div>
    <?php else: ?>
        <?php echo $this->translate('No images'); ?>.
    <?php endif; ?>
<?php else: ?>
    <?php echo $this->translate('Error - unable to load image list'); ?>.
<?php endif; ?>
<script>
    loadBlockCssFile('images-pile', 'images-pile');
    loadBlockJsFile('images-pile', 'images-pile');
    $(document).ready(function () {
        blockImagesPile_handleCustomFunctionality(
            <?php echo $pageBlockId; ?>,
            <?php echo $this->jsSettings; ?>
        );
        <?php if ($openFirstAvailableGroupOnLoad): ?>
        blockImagesPile_openFirstGroup(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
        <?php if ($this->designMode && $this->hasManagementWindow): ?>
        blockImagesPile_handleManagementWindow(<?php echo $pageBlockId; ?>);
        <?php endif; ?>
    });
</script>