<?php
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="section form form-horizontal">
<h3 class="title">
    <?php echo $this->translate('Basic settings', 'default', $this->userLanguage->zend2_locale); ?>:
</h3>

<div class="contents">
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Background color', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <label>
                <?php
                echo $this->hidden(
                    null,
                    'backgroundColorEnabled',
                    0
                );
                echo $this->checkbox(
                    null,
                    'backgroundColorEnabled',
                    1,
                    ($this->settings->backgroundColorEnabled == 1)
                );
                ?>
                <?php echo $this->translate('Enabled', 'default', $this->userLanguage->zend2_locale); ?>
            </label>
            <?php
            echo $this->hidden(
                null,
                'backgroundColor',
                ($this->settings->backgroundColor != '') ? $this->settings->backgroundColor : '#fff'
            );
            ?>
            <div class="input-group group-with-colorpicker">
                <span class="input-group-addon"><i></i></span>
                <?php
                echo $this->text(
                    null,
                    null,
                    ($this->settings->backgroundColor != '') ? $this->settings->backgroundColor : '#fff',
                    false,
                    array(
                        'class' => 'form-control',
                        'disabled' => 'disabled'
                    )
                );
                ?>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Gutter', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'gutter',
                (
                    ($this->settings->gutter !== null) &&
                    ($this->settings->gutter >= 0)
                )
                    ? (int)$this->settings->gutter : 40,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            echo $this->translate('Space between the items', 'default', $this->userLanguage->zend2_locale) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Open first group', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->hidden(null, 'openFirstAvailableGroupOnLoad', 0);
            echo $this->checkbox(
                null,
                'openFirstAvailableGroupOnLoad',
                1,
                ($this->settings->openFirstAvailableGroupOnLoad == 1)
            );
            echo $this->translate(
                    'Dynamically open first available group after block is loaded',
                    'default',
                    $this->userLanguage->zend2_locale
                ) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Pile angles', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'pileAngles',
                (
                    ($this->settings->pileAngles !== null) &&
                    ($this->settings->pileAngles >= 0) &&
                    ($this->settings->pileAngles <= 359)
                )
                    ? (int)$this->settings->pileAngles : 2,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            echo $this->translate(
                    'The rotations degree for the 2nd and 3rd item ' .
                    '(to give a more realistic pile effect)',
                    'default',
                    $this->userLanguage->zend2_locale
                ) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Random angle', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->checkbox(
                null,
                'randomAngle',
                $this->settings->randomAngle ? 1 : 0,
                ($this->settings->randomAngle == 1)
            );
            echo $this->translate(
                    'Random rotation for single items',
                    'default',
                    $this->userLanguage->zend2_locale
                ) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Delay', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'delay',
                (
                    ($this->settings->delay !== null) &&
                    ($this->settings->delay >= 0)
                )
                    ? (int)$this->settings->delay : 0,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            echo $this->translate(
                    'Delay for each item of the pile',
                    'default',
                    $this->userLanguage->zend2_locale
                ) . '.';
            ?>
        </div>
    </div>
</div>
<h3 class="title">
    <?php echo $this->translate(
        'Animation settings for the items of the clicked pile',
        'default',
        $this->userLanguage->zend2_locale
    ); ?>:
</h3>

<div class="contents">
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Open speed', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'pileAnimationOpenSpeed',
                (
                    ($this->settings->pileAnimationOpenSpeed !== null) &&
                    ($this->settings->pileAnimationOpenSpeed >= 0)
                )
                    ? (int)$this->settings->pileAnimationOpenSpeed
                    : 400,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Open easing', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->dropdown(
                array(
                    'class' => 'form-control',
                    'name' => 'pileAnimationOpenEasing'
                ),
                array(
                    'linear' => 'linear',
                    'ease' => 'ease',
                    'ease-in' => 'ease-in',
                    'ease-out' => 'ease-out',
                    'ease-in-out' => 'ease-in-out'
                ),
                true,
                $this->settings->pileAnimationOpenEasing
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Close speed', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'pileAnimationCloseSpeed',
                (
                    ($this->settings->pileAnimationCloseSpeed !== null) &&
                    ($this->settings->pileAnimationCloseSpeed >= 0)
                )
                    ? (int)$this->settings->pileAnimationCloseSpeed
                    : 400,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Close easing', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->dropdown(
                array(
                    'class' => 'form-control',
                    'name' => 'pileAnimationCloseEasing'
                ),
                array(
                    'linear' => 'linear',
                    'ease' => 'ease',
                    'ease-in' => 'ease-in',
                    'ease-out' => 'ease-out',
                    'ease-in-out' => 'ease-in-out'
                ),
                true,
                $this->settings->pileAnimationCloseEasing
            );
            ?>
        </div>
    </div>
</div>
<h3 class="title">
    <?php echo $this->translate(
        'Animation settings for the other piles',
        'default',
        $this->userLanguage->zend2_locale
    ); ?>:
</h3>

<div class="contents">
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Open speed', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'otherPileAnimationOpenSpeed',
                (
                    ($this->settings->otherPileAnimationOpenSpeed !== null) &&
                    ($this->settings->otherPileAnimationOpenSpeed >= 0)
                )
                    ? (int)$this->settings->otherPileAnimationOpenSpeed
                    : 400,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Open easing', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->dropdown(
                array(
                    'class' => 'form-control',
                    'name' => 'otherPileAnimationOpenEasing'
                ),
                array(
                    'linear' => 'linear',
                    'ease' => 'ease',
                    'ease-in' => 'ease-in',
                    'ease-out' => 'ease-out',
                    'ease-in-out' => 'ease-in-out'
                ),
                true,
                $this->settings->otherPileAnimationOpenEasing
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Close speed', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->text(
                null,
                'otherPileAnimationCloseSpeed',
                (
                    ($this->settings->otherPileAnimationCloseSpeed !== null) &&
                    ($this->settings->otherPileAnimationCloseSpeed >= 0)
                )
                    ? (int)$this->settings->otherPileAnimationCloseSpeed
                    : 400,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 control-label">
            <?php echo $this->translate('Close easing', 'default', $this->userLanguage->zend2_locale); ?>:
        </div>
        <div class="col-md-9">
            <?php
            echo $this->dropdown(
                array(
                    'class' => 'form-control',
                    'name' => 'otherPileAnimationCloseEasing'
                ),
                array(
                    'linear' => 'linear',
                    'ease' => 'ease',
                    'ease-in' => 'ease-in',
                    'ease-out' => 'ease-out',
                    'ease-in-out' => 'ease-in-out'
                ),
                true,
                $this->settings->otherPileAnimationCloseEasing
            );
            ?>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        blockImagesPile_handleSettingsFunctionality(<?php echo $pageBlockId; ?>);
    });
</script>