/**
 *  "Report new event" form and button.
 */

.block-event-list .btn-add-event
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px 10px;
    outline: none;
    color: #000;
}
.block-event-list .btn-add-event.activated
{
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}
.block-event-list .form-add-event
{
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 3;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}
.block-event-list .event-items > .item h3
{
    display: inline-block;
}
.block-event-list .event-items > .item .event-edit-btn
{
    font-size: 18px;
    cursor: pointer;
}