/**
 *  "Sign-up for event" form.
 */

.block-event-list .sign-up-form
{
    z-index: 3;
    position: relative;
    border: 1px solid #ccc;
    width: 90%;
    background: #fff;
    padding: 1em;
}
#sign-up-form-view-template {display: none}
.message {display: block}
/**
 *  "Sign-up for event" in management dialog window.
 */
#dialog-users-signed-up-for-event .sign-up
{
    position: relative;
}
#dialog-users-signed-up-for-event .sign-up-form
{
    z-index: 3;
    position: absolute;
    right: 0;
    border: 1px solid #3C3C3C;
    width: 700px;
    background: #141414;
    padding: 1em;
}