<?php
$currentLanguage = $this->language;
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$isEventDetailsHidden = $this->settings->hideIfCurrentUrlDoesNotLeadsToEventDetails && !$this->currentEventDataAreValid;
$eventDetails = $this->eventDetails;
$eventListContentId = $this->eventListContentId;
?>
<div
    class="event-details"
    <?php if ($eventDetails): ?> data-event-id="<?php echo $eventDetails->event_id; ?>"<?php endif; ?>
    data-event-list-content-id="<?php echo $eventListContentId; ?>"
>
    <?php if (!$isEventDetailsHidden): ?>
        <?php if ($eventDetails): ?>
            <h2 class="title"><?php echo $this->escapeForHtml($eventDetails->title); ?></h2>
            <div class="info">
                <span class='fa fa-calendar'></span> <?php echo $eventDetails->dateStart; ?>

                |

                <span class='fa fa-clock-o'></span> Start
                    <?php if (!$designMode): ?>
                    <?php else: ?>
                        <span class="bootstrap-timepicker editable">
                            <?php echo $eventDetails->hourStart; ?>
                        </span>
                    <?php endif; ?>
                |
                <span class="fa fa-map-marker"></span>

                <?php if ($eventDetails->is_signing_up_enabled && (strtotime($eventDetails->event_date_end) > time()) && $this->dataForEmailsAboutUserSignedUpForEventWasGiven): ?>
                    <div class="sign-up">
                        <span class="message"></span>
                        <button class="btn btn-sign-up-for-event">
                            <?php echo $this->translate('Sign up for event'); ?>
                        </button>
                    </div>
                <?php endif; ?>
            </div>
            <div class="contents">
                <?php if ($eventDetails->mainImageUrl != ''): ?>
                    <img alt="thumbnail" class="thumbnail" height="160"
                         src="<?php echo $this->escapeForHtml($eventDetails->mainImageUrl); ?>"/>
                <?php else: ?>
                    <img alt="thumbnail" class="thumbnail" height="160"
                         src="<?php echo $this->basePath(); ?>/img/no-image.png"/>
                <?php endif; ?>
                <div class="text">
                    <?php echo $eventDetails->contents; ?>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="additional-data">
                <?php if ($eventDetails->additionalData): ?>
                    <?php foreach ($eventDetails->additionalData as $data): ?>
                        <?php
                        $areContentsEmpty = ($data['contents'] == '');
                        if ($designMode || !$areContentsEmpty):
                            ?>
                            <hr/>
                            <div class='row'>
                                <label class="col-md-2"> <?php echo $this->escapeForHtml($data['name']); ?> </label>

                                <div class="col-md-10">
                                    <?php if (!$designMode): ?>
                                        <?php echo $data['contents']; ?>
                                    <?php else: ?>
                                        <div class="editable" data-adata-type-id="<?php echo $data['type_id']; ?>" data-adata-name="<?php echo $data['name']; ?>">
                                            <?php if (!$areContentsEmpty): ?>
                                                <?php echo $data['contents']; ?>
                                            <?php else: ?>
                                                <?php echo $this->translate('Type some text here...', 'default', $this->userLanguage->zend2_locale); ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
<!--            <hr/>-->
<!--            <div class='row share-me'>-->
<!--                <label class="col-md-2">--><?php //echo $this->escapeForHtml($this->translate('Share this')); ?><!--</label>-->
<!---->
<!--                <div class="col-md-10" data-adata-type-id="15"-->
<!--                     data-adata-name="--><?php //echo $this->escapeForHtml($this->translate('Share this')); ?><!--">-->
<!--                    [ MIEJSCE NA IKONKI ]-->
<!--                </div>-->
<!--            </div>-->
            <?php if ($eventDetails->images->count() > 0): ?>
                <hr/>
                <div class="gallery">
                    <?php foreach ($eventDetails->images as $image): ?>
                    <div class="event-details-image-wrapper" style="position:relative; float:left; width: 231px; margin-right: 6px;">
                        <a href="<?php echo $this->escapeForHtml($image->imageUrl); ?>"
                           data-image-id="<?php echo $image->image_id; ?>"
                           data-lightbox="event-list-<?php echo $pageBlockId?>"
                           <?php if ($image->title != ''): ?>title="<?php echo $image->title; ?>" <?php endif; ?>
                        >
                           <img alt="thumbnail" width="230" height="160"
                               src="<?php echo $this->escapeForHtml($image->imageUrl); ?>"
                               data-image-id="<?php echo $image->image_id; ?>"
                           >
                        </a>
                        <span class="event-details-image-text" data-image-id="<?php echo $image->image_id; ?>">
                            <?php if ($image->title != ''): ?>
                                <?php echo $image->title; ?>
                            <?php else: ?>
                                <?php if ($designMode): ?>
                                    <?php echo $this->translate('Click to edit image title', 'default', $this->userLanguage->zend2_locale); ?>
                                <?php endif;?>
                            <?php endif; ?>
                        </span>
                    </div>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>
        <?php else: ?>
            <?php // TODO: Translation. ?>
            Nie znaleziono wydarzenia bazując na informacjach z aktualnego adresu URL.
            <strong>Możliwe</strong> przyczyny:
            <ul>
                <li>Wydarzenie lub jego kategoria nie zostały opublikowane.</li>
                <li>Wydarzenie nie istnieje lub zostało usunięte.</li>
                <li>
                    Blok został umieszczony na nieprawidłowej stronie - sprawdź ustawienia
                    bloków &quot;Lista Wydarzeń&quot;.
                </li>
                <li>
                    W adresie URL brakuje informacji o wydarzeniu.
                    Przejdź do tej strony korzystając z linku znajdującego się w bloku &quot;Wydarzenia&quot;.
                </li>
            </ul>
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
                'This block will be invisible now because current URL address does not leads to details of existing ' .
                'event', 'default', $this->userLanguage->zend2_locale
            ) . '.';
        ?>
    <?php endif; ?>
    <div class="clearfix"></div>
</div>
<script>
    loadJsFile('/libs/lightbox/js/lightbox.min.js');
    loadCssFile('/libs/lightbox/css/lightbox.css');
    loadBlockCssFile('event-details', 'event-details');
    loadBlockJsFile('event-details', 'event-details');
    <?php if ($this->designMode): ?>
    $(document).ready(function () {
        blockEventDetails_handleCustomFunctionality(<?php echo $pageBlockId; ?>,{
            'messageSuccessfullySignedUpForEvent':'<?php echo $this->translate('Thank you for signing up for this event'); ?>',
            'messageAlreadySignedUpForEvent':'<?php echo $this->translate('You are already signed up for this event'); ?>',
            'messageFailedToSignUpForEvent':'<?php echo $this->translate('Failed to sign up for event. Please try again later'); ?>',
            'sendAgain':'<?php echo $this->translate('Send again'); ?>'
        });
    });
    <?php endif; ?>
</script>