<div class="block-text-content"><?php echo $this->blockData->content->content; ?></div>
<?php if ($this->designMode): ?>
    <script>
        loadBlockCssFile('text','text');
        loadBlockJsFile('text','text');
        $(document).ready(function(){
            blockText_handleCustomFunctionality(<?php echo $this->blockData->page_block_id; ?>);
        });
    </script>
<?php endif; ?>