.event-details img.thumbnail{float: left; width: 30%; max-width: 30%; margin-right: 10px;}
.event-details h2.title {font-size: 27px; border-bottom: none; color: #333; font-weight: 300; margin-bottom: 10px; padding-bottom: 10px;}
.event-details .info { margin-bottom: 20px; font-size: 14px; color: #A1A1A1;}
.event-details .info .fa { color: #6c6c6c; font-size: 18px;}
.event-details .text ol, .event-details .text ul{ overflow: auto; }
.event-details .additional-data p,
.event-details .additional-data label { margin: 0; }
.event-details .additional-data label { text-align: right; font-weight: 300; color: #ADADAD; }
.event-details .row.share-me { margin-top: 20px; margin-bottom: 20px; }

/**
 *  "Sign-up for event" form.
 */
.block-event-details .sign-up
{
    display: inline-block;
}

.block-event-details .sign-up-form
{
    z-index: 3;
    position: absolute;
    border: 1px solid #ccc;
    width: 90%;
    background: #fff;
    padding: 1em;
    color: #595858;
}