<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div id="add-edit-user-window-contents" class="admin">
    <div class="form form-horizontal">
        <input type="hidden" name="userId" value="<?php echo $data['userId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic settings', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="anu-user-login" class="col-sm-3 control-label">
                <?php echo $this->translate('Login', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="anu-user-login" class="form-control" name="userLogin" maxlength="<?php echo $maxLengths['users']['login']; ?>" value="<?php echo $data['userLogin']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anu-user-account-type">
                <?php echo $this->translate('Account type', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'anu-user-account-type',
                    'class' => 'form-control',
                    'name' => 'userAccountTypeId'
                    ), $this->userAccountTypesOptions, true, $data['userAccountTypeId']);
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="anu-user-email" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
                <input type="text" id="anu-user-email" class="form-control" name="userEmail" maxlength="<?php echo $maxLengths['users']['email']; ?>" value="<?php echo $data['userEmail']; ?>" />
            </div>
        </div>
        <h3 class="title"><?php echo $this->translate('Password change', 'default', $this->userLanguage->zend2_locale); ?></h3>
        <p class="text-center"><?php echo $this->translate('If you do not want to change the password for this account, leave these fields blank', 'default', $this->userLanguage->zend2_locale); ?>.</p>
        <p class="text-center"><?php echo $this->translate('For security reasons, you cannot see passwords typed in the following fields', 'default', $this->userLanguage->zend2_locale); ?>.</p>
        <div class="form-group">
            <label for="anu-user-password" class="col-sm-3 control-label"><?php echo $this->translate('New password', 'default', $this->userLanguage->zend2_locale); ?>:</label>
            <div class="col-sm-9">
                <input type="password" id="anu-user-password" class="form-control" name="userPassword" maxlength="25" />
            </div>
        </div>
        <div class="form-group">
            <label for="anu-user-password2" class="col-sm-3 control-label">
                <?php echo $this->translate('Repeat password', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="password" id="anu-user-password2" class="form-control" name="userPassword2" maxlength="25" />
                <p><?php echo $this->translate('Allowed characters for password', 'default', $this->userLanguage->zend2_locale); ?>:</p>

                <?php echo $this->input(false, false, $this->allowedPasswordChars, false, array('readonly' => 'readonly', 'class' => 'form-control')); ?>
            </div>
        </div>
        <div class="form-group">
            <label for="anu-btn-random-password" class="col-sm-3 control-label">
                <?php echo $this->translate('Random password', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-success" value="<?php echo $this->translate('Generate', 'default', $this->userLanguage->zend2_locale); ?>" id="anu-btn-random-password" />
                &nbsp;
                <span style="color: #8B8D8A">
                <?php
                echo $this->translate(
                    'password length of 8 characters. Lowercase and uppercase letters and numbers.',
                    'default', $this->userLanguage->zend2_locale
                );
                ?>
                    </span>
            </div>
        </div>
        <h3 class="title">
            <?php echo $this->translate('Personal data', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="anu-user-gender" class="col-sm-3 control-label">
                <?php echo $this->translate('Gender', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(
                    array(
                        'id' => 'anu-user-gender',
                        'class' => 'form-control',
                        'name' => 'userGender'
                    ), array(0 => 'Nie sprecyzowano', 1 => 'Mężczyzna', 2 => 'Kobieta'), true, $data['userGender']
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label for="anu-user-name" class="col-sm-3 control-label">
                <?php echo $this->translate('Name', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="anu-user-name" class="form-control" name="userName" maxlength="<?php echo $maxLengths['users_details']['name']; ?>" value="<?php echo $data['userName']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label for="anu-user-surname" class="col-sm-3 control-label">
                <?php echo $this->translate('Surname', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="anu-user-surname" class="form-control" name="userSurname" maxlength="<?php echo $maxLengths['users_details']['surname']; ?>" value="<?php echo $data['userSurname']; ?>" />
            </div>
        </div>
    </div>
</div>