<?php
$currentLanguage = $this->currentLanguage;
$data = $this->formData;
$maxLengths = $this->maxLengths;
?>
<div id="add-edit-page-window-contents" class="admin">
    <div class="form form-horizontal">
        <input type="hidden" name="pageId" value="<?php echo $data['pageId']; ?>" />
        <h3 class="title">
            <?php echo $this->translate('Basic settings', 'default', $this->userLanguage->zend2_locale); ?>
        </h3>
        <div class="form-group">
            <label for="anp-page-title" class="col-sm-3 control-label">
                <?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" id="anp-page-title" class="form-control" name="pageTitle" maxlength="<?php echo $maxLengths['title']; ?>" value="<?php echo $data['pageTitle']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-page-language">
                <?php echo $this->translate('Language', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <select id="anp-page-language" class="form-control" name="pageLanguage">
                    <?php echo $this->languagesOptionsHtml; ?>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-clean-url">
                <?php echo $this->translate('URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="anp-clean-url" name="cleanUrl" maxlength="<?php echo $maxLengths['clean_url']; ?>" value="<?php echo $data['cleanUrl']; ?>" placeholder="Pusty adres oznacza stronę główną." />
                <p class="help-block">
                    http://<span id="anp-clean-url-span"></span>/<span id="anp-clean-url-iso-code-span"><?php echo $this->pageIsoCode; ?></span>/page/<span id="anp-clean-url-path-span"><?php echo $data['cleanUrl']; ?></span>
                    <script type="text/javascript">
                        $('#anp-clean-url-span').html(getDomainFromHttpUrl(location.href));
                    </script>
                </p>
                <?php if ($data['pageId'] > 0): ?>
                    <?php echo $this->checkbox('anp-unlock-page-clean-url-input', null, 1); ?>
                    <?php echo $this->translate('Unlock URL address editing', 'default', $this->userLanguage->zend2_locale); ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-parent">
                <?php echo $this->translate('Parent page', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                        'id' => 'anp-parent',
                        'class' => 'form-control',
                        'name' => 'pageParentPageId'
                    ), $this->parentPagesOptions, true, $data['pageParentPageId']);
                ?>
            </div>
        </div>
        <?php if ($this->languageCount > 1): ?>
            <h3 class="title"><?php echo $this->translate('Page equivalents for other languages', 'default', $this->userLanguage->zend2_locale); ?></h3>
            <?php foreach ($this->languages as $language): ?>
                <div class="form-group"<?php echo (($data['pageId'] > 0) && ($data['pageLanguage'] == $currentLanguage->language_id)) ? ' style="display:none"' : ''; ?> id="anp-language-equivalent-row-<?php echo $language->language_id; ?>">
                    <label class="col-sm-3 control-label" for="anp-language-equivalent-<?php echo $language->language_id; ?>">
                        <?php
                        if ($language->language_id == $currentLanguage->language_id)
                        {
                            echo $language->native_name;
                        }
                        else
                        {
                            echo $language->english_name;
                        }
                        ?>:
                    </label>
                    <div class="col-sm-9">
                        <?php
                        if (isset($data['languageEquivalents'][$language->language_id]))
                        {
                            $associatedPageId = $data['languageEquivalents'][$language->language_id];
                        }
                        else
                        {
                            $associatedPageId = null;
                        }

                        echo $this->dropdown(array(
                            'id' => 'anp-language-equivalent-' . $language->language_id,
                            'class' => 'form-control',
                            'name' => 'languageEquivalents[' . $language->language_id . ']'
                            ), $this->languageEquivalentsOptions, true, (int)$associatedPageId);
                        ?>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <h3 class="title"><?php echo $this->translate('Meta tags', 'default', $this->userLanguage->zend2_locale); ?></h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-meta-keywords">
                Meta &quot;keywords&quot;:
            </label>
            <div class="col-sm-9">
                <input type="text" id="anp-meta-keywords" class="form-control" name="metaKeywords" maxlength="<?php echo $maxLengths['meta_keywords']; ?>" value="<?php echo $data['metaKeywords']; ?>" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-meta-description">
                Meta &quot;description&quot;:
            </label>
            <div class="col-sm-9">
                <input type="text" id="anp-meta-description" class="form-control" name="metaDescription" maxlength="<?php echo $maxLengths['meta_description']; ?>" value="<?php echo $data['metaDescription']; ?>" />
            </div>
        </div>
        <h3 class="title"><?php echo $this->translate('Options for search engines', 'default', $this->userLanguage->zend2_locale); ?></h3>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-frequency-of-changes">
                <?php echo $this->translate('The frequency of changes to the site', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'anp-frequency-of-changes',
                    'class' => 'form-control',
                    'name' => 'frequencyOfChanges'
                    ), array(
                    'always' => $this->translate('Always', 'default', $this->userLanguage->zend2_locale),
                    'everyHour' => $this->translate('Every hour', 'default', $this->userLanguage->zend2_locale),
                    'everyDay' => $this->translate('Every day', 'default', $this->userLanguage->zend2_locale),
                    'everyWeek' => $this->translate('Every week', 'default', $this->userLanguage->zend2_locale),
                    'everyMonth' => $this->translate('Every month', 'default', $this->userLanguage->zend2_locale),
                    'everyYear' => $this->translate('Every year', 'default', $this->userLanguage->zend2_locale),
                    'never' => $this->translate('Never', 'default', $this->userLanguage->zend2_locale)
                    ), true, $data['frequencyOfChanges']);
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="anp-url-priority">
                <?php echo $this->translate('Priority for URL address', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'anp-url-priority',
                    'class' => 'form-control',
                    'name' => 'urlPriority'
                    ), array(0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0), false, $data['urlPriority']);
                ?>
                <div>
                    <label>
                        <?php echo $this->checkbox('anp-allow-indexing-page', 'allowIndexingPage', 1, $data['allowIndexingPage'] == 1); ?>
                        <?php echo $this->translate('Allow search engines to index the page', 'default', $this->userLanguage->zend2_locale); ?>
                    </label>
                </div>
                <div>
                    <label>
                        <?php
                        echo $this->checkbox(
                            'anp-allow-backing-up-page', 'allowBackingUpPage', 1, $data['allowBackingUpPage'] == 1, array(
                            'class' => 'nested',
                            'data-parent-id' => 'anp-allow-indexing-page'
                        ));
                        ?>
                        <?php echo $this->translate('Allow search engines to create a copy of this page', 'default', $this->userLanguage->zend2_locale); ?>
                    </label>
                </div>
                <div>
                    <label>
                        <?php echo $this->checkbox('anp-disallow-caching-page', 'disallowCachingPage', 1, $data['disallowCachingPage'] == 1); ?>
                        <?php echo $this->translate('Disallow browsers to hold this page in cache', 'default', $this->userLanguage->zend2_locale); ?>
                    </label>
                </div>
            </div>
        </div>
        <h3 class="title"><?php echo $this->translate('Template and page layout', 'default', $this->userLanguage->zend2_locale); ?></h3>
        <div class="form-group">
            <label class="col-sm-3 control-label"  for="anp-layout">
                <?php echo $this->translate('Main template', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'anp-layout',
                    'class' => 'form-control',
                    'name' => 'layout'
                    ), $this->layoutOptions, true, $data['layout']);
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"  for="anp-sub-layout">
                <?php echo $this->translate('Layout', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->dropdown(array(
                    'id' => 'anp-sub-layout',
                    'class' => 'form-control',
                    'name' => 'subLayout'
                    ), $this->subLayoutOptions, true, $data['subLayout']);
                ?>
            </div>
        </div>
        <h3 class="title"><?php echo $this->translate('Other options', 'default', $this->userLanguage->zend2_locale); ?></h3>
        <div class="form-group">
                    <label class="col-sm-3 control-label"  for="anp-sub-layout">

                    </label>
                    <div class="col-sm-9">
                <label>
                    <?php echo $this->checkbox('anp-publish-now', 'publishNow', 1, $data['publishNow'] == 1); ?>
                    <?php echo $this->translate('Publish this page immediately after save', 'default', $this->userLanguage->zend2_locale); ?>
                </label>
            </div>
        </div>
    </div>
</div>