<div id="event-list-window-contents" class="admin">
    <div class="modal-body-header">
        <div class="form-inline pull-left">
            <div class="form-group">
                <label class="col-sm-6 control-label" for="event-list-icpp-dropdown">
                    <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>
                    :
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'event-list-icpp-dropdown',
                            'class' => 'icpp-dropdown form-control'
                        ),
                        array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                        false,
                        $this->itemCountPerPage
                    );
                    ?>
                </div>

            <div class="col-sm-2">
                <button id="event-list-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            </div>
            <?php /*
            <div class="form-group">
                <label class="col-sm-6 control-label" for="event-list-ipf-dropdown">
                    <?php echo $this->translate('Include pages from', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-sm-6">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'event-list-ipf-dropdown',
                            'class' => 'ipf-dropdown form-control'
                        ),
                        array(
                            'current-language' => $this->translate(
                                    'Current language',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                ),
                            'all-languages' => $this->translate(
                                    'All languages',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                )
                        ),
                        true,
                        $this->includePagesFrom
                    );
                    ?>
                </div>
            </div>
            */
            ?>
        </div>
        <div class="form-inline pull-right">
            <div class="form-group">
                <label class="col-sm-5 control-label" for="event-list-fast-search">
                    <?php echo $this->translate('Search for event', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->text(
                        'event-list-fast-search',
                        '',
                        $this->escapeForHtml($this->searchText),
                        false,
                        array(
                            'class' => 'form-control fast-search',
                            'autofocus' => ''
                        )
                    );
                    ?>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default" id="event-list-btn-fast-search">
                        <?php echo $this->translate('Search', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if ($this->eventsPaginator): ?>
            <table class="table table-striped table-hover">
                <tr>
                    <th><?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Category', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Start after', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('User count', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Action', 'default', $this->userLanguage->zend2_locale); ?></th>
                </tr>
                <?php foreach ($this->eventsPaginator as $event): ?>
                    <tr data-element-id="<?php echo $event->event_id; ?>" data-content-id="<?php echo $event->content_id; ?>">
                        <td>
                            <a href="<?php echo $event->full_url; ?>" target="_blank">
                                <?php echo $this->escapeForHtml($event->title); ?>
                            </a>
                        </td>
                        <td>
                            <?php echo $this->escapeForHtml($event->category_title); ?>
                        </td>
                        <td>
                            <?php echo $event->startAfter; ?>
                        </td>
                        <td>
                            <?php echo $event->user_count; ?>
                        </td>
                        <td class="actions">
                            <?php if ($event->user_count > 0): ?>
                                <a href="#" class="btn-show-user-list" data-action="show-user-list">
                                    <?php
                                    echo $this->translate(
                                        'Show user list',
                                        'default',
                                        $this->userLanguage->zend2_locale
                                    );
                                    ?>
                                </a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <?php echo $this->translate(
                'Error - unable to load event list',
                'default',
                $this->userLanguage->zend2_locale
            ); ?>.
        <?php endif; ?>
    </div>
    <!-- /.modal-body-content -->
    <?php
    if ($this->eventsPaginator)
    {
        echo $this->paginationControl(
            $this->eventsPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-event-list-with-view-scripts
            'sliding',
            array('partial/paginator.phtml', 'Site'),
            array(
                'route' => 'home'
            )
        );
    }
    ?>
</div>
<!-- inline scripts related to this page -->