<div id="pages-window-contents" class="admin">
    <div class="modal-body-header">
        <div class="form-horizontal">
            <div class="form-group col-md-4">
                <label class="col-sm-8 control-label" for="pages-icpp-dropdown">
                    <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>
                    :
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'pages-icpp-dropdown',
                            'class' => 'icpp-dropdown form-control'
                        ),
                        array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                        false,
                        $this->itemCountPerPage
                    );
                    ?>
                </div>
            </div>
            <div class="form-group col-md-5">
                <label class="col-sm-5 control-label" for="pages-ipf-dropdown">
                    <?php echo $this->translate('Include pages from', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-sm-7">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'pages-ipf-dropdown',
                            'class' => 'ipf-dropdown form-control'
                        ),
                        array(
                            'current-language' => $this->translate(
                                    'Current language',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                ),
                            'all-languages' => $this->translate(
                                    'All languages',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                )
                        ),
                        true,
                        $this->includePagesFrom
                    );
                    ?>
                </div>
            </div>
            <div class="form-group col-md-1">
                <button id="pages-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            <div class="form-group col-md-2 pull-right">
                <button type="submit" class="btn btn-primary btn-add-new">
                    <i class="fa fa-plus-circle"></i>
                    <?php echo $this->translate('New page', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group col-md-7">
                <label class="col-sm-4 control-label" for="pages-fast-search">
                    <?php echo $this->translate('Search for page', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->text(
                        'pages-fast-search',
                        '',
                        $this->escapeForHtml($this->searchText),
                        false,
                        array(
                            'class' => 'form-control fast-search',
                            'autofocus' => ''
                        )
                    );
                    ?>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default" id="pages-btn-fast-search">
                        <?php echo $this->translate('Search', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if ($this->pagesPaginator): ?>
            <table class="table table-hover ">
                <tr>
                    <th title="Przełącznik określa, czy strona jest opublikowana."><?php echo $this->translate(
                            'Page enabled',
                            'default',
                            $this->userLanguage->zend2_locale
                        ); ?></th>
                    <th><?php echo $this->translate('Title', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate(
                            'Last update',
                            'default',
                            $this->userLanguage->zend2_locale
                        ); ?></th>
                    <th>URL</th>
                    <th><?php echo $this->translate('View count', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Action', 'default', $this->userLanguage->zend2_locale); ?></th>
                </tr>
                <?php foreach ($this->pagesPaginator as $page): ?>
                    <tr data-element-id="<?php echo $page->page_id; ?>">
                        <td>
                            <div class="col-md-1 col-sm-2 col-xs-3">
                                <label class="switch" title="Włącz / wyłącz publikację.">
                                    <?php if ($page->is_published == 1): ?>
                                        <input type="checkbox" class="switch-input btn-toggle-publishing" checked>
                                    <?php else: ?>
                                        <input type="checkbox" class="switch-input btn-toggle-publishing">
                                    <?php endif; ?>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <strong class="uppercase"><?php echo $this->escapeForHtml($page->title); ?></strong>
                        </td>
                        <td>
                            <?php echo $page->last_update_date; ?>
                            <a href="#" class="history" rel="popover"
                               data-content="
                               Zmodyfikowano: <?php echo $page->last_update_date; ?> przez:
                               <?php if ($page->last_update_author != ''): ?>
                                   <?php echo $page->last_update_author; ?>
                               <?php else: ?>
                                   System
                               <?php endif; ?>
                               "
                               data-original-title="Historia zmian">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </td>
                        <td>
                            <a href="<?php echo $page->full_url; ?>" target="_blank">
                                <?php echo $page->full_url; ?>
                            </a>
                        </td>
                        <td>
                            <?php echo $page->views; ?>
                        </td>
                        <td class="actions">
                            <a class="btn-edit" title="<?php echo $this->translate(
                                'Edit',
                                'default',
                                $this->userLanguage->zend2_locale
                            ); ?>" data-action="edit"><span class="glyphicon glyphicon-edit"></span> </a>
                            <a class="btn-delete" title="<?php echo $this->translate(
                                'Delete',
                                'default',
                                $this->userLanguage->zend2_locale
                            ); ?>" data-action="delete"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <?php echo $this->translate(
                'Error - unable to load page list',
                'default',
                $this->userLanguage->zend2_locale
            ); ?>.
        <?php endif; ?>
    </div>
    <!-- /.modal-body-content -->
    <?php
    if ($this->pagesPaginator)
    {
        echo $this->paginationControl(
            $this->pagesPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
            'sliding',
            array('partial/paginator.phtml', 'Site'),
            array(
                'route' => 'home'
            )
        );
    }
    ?>
</div>
<!-- inline scripts related to this page -->
<script>
    $(function () {
        $('.history').popover({'placement': 'bottom'});
    });
</script>