<?php
//var_dump($this->navigationMenuBlockList);
?>
<p>
    <?php
    echo $this->translate(
        'You are trying to delete page',
        'default',
        $this->userLanguage->zend2_locale
    );
    ?>
    <?php echo $this->escapeForHtml('"' . $this->page->title . '"'); ?>.
</p>
<?php if ($this->navigationMenuBlockList): ?>
    <?php if ($this->navigationMenuBlockList->count() > 0): ?>
        <p>
            <?php
            echo $this->translate(
                'A link to this page was added to the following menu blocks',
                'default',
                $this->userLanguage->zend2_locale
            );
            ?>:
        </p>
        <table cellspacing="0" cellpadding="5" class="table">
            <tr>
                <th>
                    <?php echo $this->translate('Page', 'default', $this->userLanguage->zend2_locale); ?>
                </th>
                <th>
                    <?php echo $this->translate('Block', 'default', $this->userLanguage->zend2_locale); ?>
                </th>
                <th>
                    <?php echo $this->translate('Block id', 'default', $this->userLanguage->zend2_locale); ?>
                </th>
            </tr>
            <?php foreach ($this->navigationMenuBlockList as $occurrence): ?>
                <tr<?php if ($occurrence->is_parent_block_dynamic): ?> class="warning" style="color:#000"<?php endif; ?>>
                    <td>
                        <a href="<?php echo $this->escapeForHtml($occurrence->full_url); ?>">
                            <?php echo $this->escapeForHtml($occurrence->title); ?>
                        </a> (<?php echo $this->escapeForHtml($occurrence->full_url); ?>)
                    </td>
                    <td>
                        <?php echo $this->escapeForHtml($occurrence->name); ?>
                    </td>
                    <td>
                        <?php echo $occurrence->page_block_id; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
        <p>
            <?php echo $this->translate('Legend', 'default', $this->userLanguage->zend2_locale); ?>:
        </p>
        <p>
            <span class="alert-warning" style="display:inline-block;padding: 5px;">
            <?php
            echo $this->translate(
                'This is a dynamic block, may exists on many pages and can be also inserted on ' .
                'another page in future, until it is deleted completely',
                'default',
                $this->userLanguage->zend2_locale
            );
            ?>
                </span>
        </p>
        <p>
            <?php
            echo $this->translate(
                'Decide what the system should do with that menu items',
                'default',
                $this->userLanguage->zend2_locale
            );
            ?>?
        </p>
        <?php
        echo $this->dropdown(
            array(
                'id' => 'action-to-take-on-menus',
                'class' => 'form-control'
            ),
            array(
                'delete_all_items' =>
                    $this->translate(
                        'Delete that items from all menu blocks listed above',
                        'default',
                        $this->userLanguage->zend2_locale
                    ),
                'drop_url_in_all_items_and_make_them_unpublished' =>
                    $this->translate(
                        'Set URL in all items to \'None\' and make these items unpublished',
                        'default',
                        $this->userLanguage->zend2_locale
                    )
            ),
            true
        );
        ?>
    <?php endif; ?>
<?php endif; ?>
<p>
    <?php
    echo $this->translate(
        'Are you sure you want to delete this page',
        'default',
        $this->userLanguage->zend2_locale
    );
    ?>?
</p>