<div id="search-for-blocks-window-contents" class="admin">
    <a class="btn-modal-body-header"><i class="fa fa-cog fa-rotate-90"></i></a>
    <div class="modal-body-header hide-modal-body-header">
        <div class="form-horizontal">
            <div class="form-group col-sm-5">
                <label class="col-xs-6 control-label" for="search-for-blocks-icpp-dropdown">
                    <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>
                    :
                </label>

                <div class="col-xs-6">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'search-for-blocks-icpp-dropdown',
                            'class' => 'icpp-dropdown form-control'
                        ),
                        array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                        false,
                        $this->itemCountPerPage
                    );
                    ?>
                </div>
            </div>
            <div class="form-group col-sm-5">
                <label class="col-xs-6 control-label" for="search-for-blocks-ipf-dropdown">
                    <?php echo $this->translate('Page language', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-xs-6">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'search-for-blocks-ipf-dropdown',
                            'class' => 'ipf-dropdown form-control'
                        ),
                        $this->languages,
                        true,
                        (int)$this->includePagesFrom ? : $this->userLanguage->language_id
                    );
                    ?>
                </div>
            </div>
            <div class="col-sm-2 col-xs-12 form-group">
                <button id="search-for-blocks-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group col-sm-5">
                <label class="col-xs-6 control-label" for="search-for-blocks-page-query">
                    <?php echo $this->translate('Search for page', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-xs-6">
                    <?php
                    echo $this->text(
                        'search-for-blocks-page-query',
                        '',
                        $this->escapeForHtml($this->pageQuery),
                        false,
                        array(
                            'class' => 'form-control page-query',
                            'autofocus' => ''
                        )
                    );
                    ?>
                </div>
            </div>
            <div class="form-group col-sm-5">
                <label class="col-xs-6 control-label" for="search-for-blocks-block-query">
                    <?php echo $this->translate('Search for block', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-xs-6">
                    <?php
                    echo $this->text(
                        'search-for-blocks-block-query',
                        '',
                        $this->escapeForHtml($this->blockQuery),
                        false,
                        array(
                            'class' => 'form-control block-query',
                            'autofocus' => ''
                        )
                    );
                    ?>
                </div>
            </div>
            <div class="form-group col-sm-2 col-xs-12">
                <button class="btn btn-default" id="search-for-blocks-btn-search">
                    <?php echo $this->translate('Search', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
    </div>
    <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if (isset($this->pageListGroupedByBlock)): ?>
            <?php if ($this->pageListGroupedByBlock): ?>
                <?php foreach ($this->pageListGroupedByBlock as $blockId => $data): ?>
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>
                                <?php echo $this->translate(
                                    'Block id',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                ); ?>
                            </th>
                            <th>
                                <?php echo $this->translate(
                                    'Block title',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                ); ?>
                            </th>
                            <th>
                                <?php echo $this->translate(
                                    'Is a dynamic block',
                                    'default',
                                    $this->userLanguage->zend2_locale
                                ); ?>
                            </th>
                        </tr>
                        <tr>
                            <td><?php echo $data->blockInfo->block_id; ?></td>
                            <td>
                                <strong class="uppercase">
                                    <?php echo $this->escapeForHtml($data->blockInfo->block_title); ?>
                                </strong>
                            </td>
                            <td>
                                <?php if ($data->blockInfo->is_dynamic): ?>
                                    <?php echo $this->translate('Yes', 'default', $this->userLanguage->zend2_locale); ?>
                                <?php else: ?>
                                    <?php echo $this->translate('No', 'default', $this->userLanguage->zend2_locale); ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                    </table>
                    <div class="center">
                        <span class="btn-show-hide-page-list"
                              data-list-block-id="<?php echo $data->blockInfo->block_id; ?>">
                            <?php
                            echo $this->translate(
                                'Show / hide page list',
                                'default',
                                $this->userLanguage->zend2_locale
                            );
                            ?>
                        </span>
                    </div>
                    <div style="display:none" class="page-list"
                         data-list-block-id="<?php echo $data->blockInfo->block_id; ?>">
                        <?php foreach ($this->pageListGroupedByBlock->$blockId->pageList as $pageInfo): ?>
                            <?php
                            $pageUrl = $this->escapeForHtml($pageInfo->fullUrl);
                            ?>
                            <div>
                                <a href="<?php echo $pageUrl; ?>">
                                    <?php echo $this->escapeForHtml($pageInfo->page_title); ?>
                                </a>
                                <em>(<?php echo $pageUrl; ?>)</em>
                            </div>
                        <?php endforeach; ?>
                    </div>
                <?php endforeach; ?>
            <?php else: ?>
                <div class="modal-body-content alert alert-danger">
                    <?php echo $this->translate(
                        'No blocks found',
                        'default',
                        $this->userLanguage->zend2_locale
                    ); ?>.
                </div>
            <?php endif; ?>
        <?php else: ?>
            <?php echo $this->translate(
                'Error - unable to load block list',
                'default',
                $this->userLanguage->zend2_locale
            ); ?>.
        <?php endif; ?>
    </div>
    <!-- /.modal-body-content -->
</div>
<script>
    var sesrchForBlocksWindowContents = $('#search-for-blocks-window-contents');
    var modalBodyHeader = sesrchForBlocksWindowContents.find('.modal-body-header');

    sesrchForBlocksWindowContents.on('click', '.btn-modal-body-header', function () {
        modalBodyHeader.toggleClass('hide-modal-body-header');
    });
</script>