<div class="system-settings section form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Global settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            &nbsp;
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->checkbox(
                null,
                'settings[global][cms][publish_blocks_after_insertion]',
                1,
                ($this->cmsConfig->publish_blocks_after_insertion == 1)
            );
            ?>
            <?php
            echo $this->translate(
                'Publish every block after insertion',
                'default', $this->userLanguage->zend2_locale
            ) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                'Title for emails',
                'default', $this->userLanguage->zend2_locale
            );
            ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->input(
                null,
                'settings[global][cms][system_email_sender_title]',
                $this->cmsConfig->system_email_sender_title,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
            <?php
            echo $this->translate(
                'This title will be used in every e-mail which is being send by this website',
                'default', $this->userLanguage->zend2_locale
            ) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                'E-mail addresses to notify about important actions in system',
                'default', $this->userLanguage->zend2_locale
            );
            ?>
        </label>
        <div class="col-sm-9">
            <textarea class="form-control" name="systemSettings[emails_to_notify_about_important_actions_in_system]"><?php echo $this->systemSettings->emails_to_notify_about_important_actions_in_system; ?></textarea>
            <?php
            echo $this->translate(
                'Each e-mail address should be placed in new line', 'default', $this->userLanguage->zend2_locale
            ) . '.';
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                'Additional scripts (paste source code)',
                'default', $this->userLanguage->zend2_locale
            );
            ?>
        </label>
        <div class="col-sm-9">
            <textarea name="systemSettings[additional_scripts]" class="form-control"><?php echo $this->systemSettings->additional_scripts; ?></textarea>
            <br>
            <div class="alert alert-info">
                <?php
                echo $this->translate(
                    'Additional scripts to be added add the end of every page. ' .
                    'Good example are Google Analytics, Stat4U etc.',
                    'default', $this->userLanguage->zend2_locale
                ) . '.';
                ?>
            </div>
        </div>
    </div>

    <h3 class="title">
        <?php echo $this->translate('Message about cookies', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                'Show message about cookies',
                'default', $this->userLanguage->zend2_locale
            );
            ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->checkbox(
                false,
                'systemSettings[show_message_about_cookies]',
                1,
                ($this->systemSettings->show_message_about_cookies == 1)
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php
            echo $this->translate(
                'Popup window position',
                'default', $this->userLanguage->zend2_locale
            );
            ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->dropdown(
                array(
                    'class' => 'form-control',
                    'name' => 'systemSettings[message_about_cookies_popup_position]'
                ),
                array(
                    'top' => $this->translate('top'),
                    'bottom' => $this->translate('bottom'),
                    'bottom-left' => $this->translate('bottom-left corner'),
                    'bottom-right' => $this->translate('bottom-right corner')
                ),
                true,
                $this->systemSettings->message_about_cookies_popup_position
            );
            ?>
        </div>
    </div>
    <?php foreach ($this->languages as $language): ?>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->escapeForHtml($language->english_name); ?>
            </label>
            <div class="col-sm-9">
                <?php
                $settingName = 'message_about_cookies_' . $language->iso_code;
                echo $this->textarea(
                    false,
                    'systemSettings[' . $settingName . ']',
                    $this->systemSettings->$settingName,
                    array(
                        'class' => 'form-control message-about-cookies'
                    )
                );
                ?>
            </div>
        </div>
    <?php endforeach; ?>

    <h3 class="title">
        <?php
        echo $this->translate(
            'E-mail about newly added not approved event',
            'default', $this->userLanguage->zend2_locale
        );
        ?>:
    </h3>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->input(
                null,
                'systemSettings[default_subject_for_mail_about_newly_added_event]',
                $this->systemSettings->default_subject_for_mail_about_newly_added_event,
                false,
                array(
                    'class' => 'form-control'
                )
            );
            ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            <?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?>
        </label>
        <div class="col-sm-9">
            <?php
            echo $this->textarea(
                false,
                'systemSettings[default_contents_for_mail_about_newly_added_event]',
                $this->systemSettings->default_contents_for_mail_about_newly_added_event,
                array(
                    'class' => 'form-control message-about-cookies',
                    'rows' => 7
                )
            );
            ?>
            <?php
            echo $this->translate(
                'You can use optional variables which are being automatically translated to specific information',
                'default', $this->userLanguage->zend2_locale
            ) . ':';
            ?>
            <div class="variables">
                <p>{{attentions}} - <?php echo $this->translate('it will be replaced by attentions added by event\'s author', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{author_additional_contact_data}} - <?php echo $this->translate('it will be replaced by additional author\'s contact data', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{author_email}} - <?php echo $this->translate('it will be replaced by event\'s author email', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_title}} - <?php echo $this->translate('it will be replaced by event\'s title (not link)', 'default', $this->userLanguage->zend2_locale); ?>.</p>
                <p>{{event_datetime}} - <?php echo $this->translate('it will be replaced by the time when the event was added', 'default', $this->userLanguage->zend2_locale); ?>.</p>
            </div>
        </div>
    </div>
    <?php /*
    <h3 class="title">
        <?php echo $this->translate('Information (for user) about user signed up for event', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->text(
                    null,
                    'systemSettings[default_subject_for_mail_for_user_about_user_signed_up_for_event]',
                    $this->systemSettings->default_subject_for_mail_for_user_about_user_signed_up_for_event,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->textarea(
                    false,
                    'systemSettings[default_contents_for_mail_for_user_about_user_signed_up_for_event]',
                    $this->systemSettings->default_contents_for_mail_for_user_about_user_signed_up_for_event,
                    array(
                        'class' => 'form-control default-contents-for-mail-for-user-about-user-signed-up-for-event',
                        'rows' => 7
                    )
                );
                ?>
            </div>
        </div>
    </div>
    <h3 class="title">
        <?php echo $this->translate('Information (for admin) about user signed up for event', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail subject', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->text(
                    null,
                    'systemSettings[default_subject_for_mail_for_admin_about_user_signed_up_for_event]',
                    $this->systemSettings->default_subject_for_mail_for_admin_about_user_signed_up_for_event,
                    false,
                    array(
                        'class' => 'form-control'
                    )
                );
                ?>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <?php echo $this->translate('Mail contents', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-sm-9">
                <?php
                echo $this->textarea(
                    false,
                    'systemSettings[default_contents_for_mail_for_admin_about_user_signed_up_for_event]',
                    $this->systemSettings->default_contents_for_mail_for_admin_about_user_signed_up_for_event,
                    array(
                        'class' => 'form-control default-contents-for-mail-for-admin-about-user-signed-up-for-event',
                        'rows' => 7
                    )
                );
                ?>
            </div>
        </div>
    </div>
    */
    ?>
</div>
<script>
    $(document).ready(function(){
        handleCustomFunctionalityInSettingsWindow();
    });
</script>