<?php
$pageBlockId = (int)$this->pageBlockId;
$contentId = (int)$this->contentId;
$eventId = (int)$this->eventId;
?>
<div id="users-signed-up-for-event-window-contents" class="admin">
    <?php echo $this->hidden(false, 'eventId', $eventId); ?>
    <?php echo $this->hidden(false, 'contentId', $contentId); ?>
    <div class="modal-body-header">
        <div class="form-inline">
            <div class="form-group">
                <label class="col-sm-8 control-label" for="users-signed-up-for-event-icpp-dropdown">
                    <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>
                    :
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                            'id' => 'users-signed-up-for-event-icpp-dropdown',
                            'class' => 'icpp-dropdown form-control'
                        ),
                        array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30),
                        false,
                        $this->itemCountPerPage
                    );
                    ?>
                </div>
            </div>
            <div class="form-group">
                <button id="users-signed-up-for-event-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="users-signed-up-for-event-fast-search">
                    <?php echo $this->translate('Search for user', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>

                <div class="col-sm-4">
                    <?php
                    echo $this->text(
                        'users-signed-up-for-event-fast-search',
                        '',
                        $this->escapeForHtml($this->searchText),
                        false,
                        array(
                            'class' => 'form-control fast-search',
                            'autofocus' => ''
                        )
                    );
                    ?>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default" id="users-signed-up-for-event-btn-fast-search">
                        <?php echo $this->translate('Search', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-body -->
    <div class="modal-body-content">
        <h3>
            Wydarzenie:
            <span class="event-title"><?php echo $this->escapeForHtml($this->eventTitle); ?></span>
        </h3>
        <?php if ($this->usersPaginator): ?>
            <table class="table table-striped table-hover ">
                <tr>
                    <th><?php echo $this->translate('Name and surname', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Institution', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Invoice required', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('E-Mail', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Phone', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Attentions', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Action', 'default', $this->userLanguage->zend2_locale); ?></th>
                </tr>
                <?php foreach ($this->usersPaginator as $user): ?>
                    <tr data-element-id="<?php echo $user->subscription_id; ?>">
                        <td>
                            <?php echo $this->escapeForHtml($user->name_and_surname); ?>
                        </td>
                        <td>
                            <?php if ($user->institution_name != ''): ?>
                                <?php echo $this->escapeForHtml($user->institution_name); ?>
                            <?php else: ?>
                                <em>
                                    <?php echo $this->translate('No', 'default', $this->userLanguage->zend2_locale); ?>
                                </em>
                            <?php endif; ?>
                        </td>
                        <td>
                            <?php if ($user->invoice_data != ''): ?>
                                <?php echo $this->translate('Yes', 'default', $this->userLanguage->zend2_locale); ?>
                            <?php else: ?>
                                <?php echo $this->translate('No', 'default', $this->userLanguage->zend2_locale); ?>
                            <?php endif; ?>
                        </td>
                        <td>
                            <a href="mailto:<?php echo $this->escapeForHtml($user->email); ?>">
                                <?php echo $this->escapeForHtml($user->email); ?>
                            </a>
                        </td>
                        <td>
                            <?php echo $this->escapeForHtml($user->phone); ?>
                        </td>
                        <td>
                            <?php if ($user->attentions != ''): ?>
                                <?php echo $this->translate('Yes', 'default', $this->userLanguage->zend2_locale); ?>
                            <?php else: ?>
                                <?php echo $this->translate('No', 'default', $this->userLanguage->zend2_locale); ?>
                            <?php endif; ?>
                        </td>
                        <td class="actions sign-up">
                            <a class="btn-preview-or-edit" data-action="preview-or-edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>

                            <a class="btn-delete" data-action="delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <?php echo $this->translate(
                'Error - unable to load event list',
                'default',
                $this->userLanguage->zend2_locale
            ); ?>.
        <?php endif; ?>
    </div>
    <!-- /.modal-body-content -->
    <?php
    if ($this->usersPaginator)
    {
        echo $this->paginationControl(
            $this->usersPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-users-signed-up-for-event-with-view-scripts
            'sliding',
            array('partial/paginator.phtml', 'Site'),
            array(
                'route' => 'home'
            )
        );
    }
    ?>
    <div class="download-as-section">
        <?php
        echo $this->translate(
            'Download the list as',
            'default',
            $this->userLanguage->zend2_locale
        );
        ?>:
        <a href="/eng/block-event-list/download-users-signed-up-for-event-as-csv,cid,<?php echo $contentId . ',eid,' . $eventId; ?>" target="_blank" class="btn btn-download-as-csv">CSV</a>
        <a href="/eng/block-event-list/download-users-signed-up-for-event-as-xls,cid,<?php echo $contentId . ',eid,' . $eventId; ?>" target="_blank" class="btn btn-download-as-xls">XLS</a>
    </div>
</div>
<!-- inline scripts related to this page -->