<p>
    <?php
    echo $this->translate(
        'You are trying to delete user signed up for event',
        'default',
        $this->userLanguage->zend2_locale
    );
    ?>.
</p>
<p>
    <?php echo $this->translate('Name and surname', 'default', $this->userLanguage->zend2_locale); ?>:
    <?php echo $this->escapeForHtml('"' . $this->userSubscription->name_and_surname . '"'); ?>.
</p>
<p>
    <?php
    echo $this->translate(
        'Are you sure you want to delete this user',
        'default',
        $this->userLanguage->zend2_locale
    );
    ?>?
</p>