<div id="users-window-contents" class="admin">
    <div class="modal-body-header">
        <div class="form-horizontal" >
            <div class="form-group col-md-4">
                <label class="col-sm-8 control-label" for="users-icpp-dropdown">
                    <?php echo $this->translate('Item count per page', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>
                <div class="col-sm-4">
                    <?php
                    echo $this->dropdown(
                        array(
                        'id' => 'users-icpp-dropdown',
                        'class' => 'icpp-dropdown form-control'
                        ), array(1, 2, 3, 4, 5, 10, 15, 20, 25, 30), false, $this->itemCountPerPage);
                    ?>
                </div>
            </div>
            <div class="form-group col-md-4">
                <button id="users-btn-refresh" class="btn btn-refresh btn-default">
                    <em class="fa fa-refresh"></em>
                </button>
            </div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-primary btn-add-new pull-right">
                    <i class="fa fa-plus-circle"></i>
                    <?php echo $this->translate('New user', 'default', $this->userLanguage->zend2_locale); ?>
                </button>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group col-md-12">
                <label class="col-sm-3 control-label" for="users-fast-search">
                    <?php echo $this->translate('Search for user', 'default', $this->userLanguage->zend2_locale); ?>:
                </label>
                <div class="col-sm-3">
                    <?php
                    echo $this->text(
                        'users-fast-search',
                        '',
                        $this->escapeForHtml($this->searchText),
                        false,
                        array(
                            'class' => 'form-control fast-search',
                            'autofocus' => ''
                        )
                    );
                    ?>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-default" id="users-btn-fast-search">
                        <?php echo $this->translate('Search', 'default', $this->userLanguage->zend2_locale); ?>
                    </button>
                </div>
            </div>
        </div>
    </div> <!-- /.modal-body -->
    <div class="modal-body-content">
        <?php if ($this->usersPaginator): ?>
            <table class="table table-hover ">
                <tr>
                    <th title="<?php echo $this->translate('Switcher determines if account is active', 'default', $this->userLanguage->zend2_locale); ?>.">
                        <?php echo $this->translate('Account active', 'default', $this->userLanguage->zend2_locale); ?>
                    </th>
                    <th><?php echo $this->translate('Account type', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Last update', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th><?php echo $this->translate('Login', 'default', $this->userLanguage->zend2_locale); ?></th>
                    <th>Email</th>
                    <th><?php echo $this->translate('Action', 'default', $this->userLanguage->zend2_locale); ?></th>
                </tr>
                <?php foreach ($this->usersPaginator as $user): ?>
                    <tr data-element-id="<?php echo $user->user_id; ?>">
                        <td>
                            <div class="col-md-1 col-sm-2 col-xs-3">
                                <label class="switch" title="<?php echo $this->translate('Enable / disable account', 'default', $this->userLanguage->zend2_locale); ?>.">
                                    <?php if ($user->active == 1): ?>
                                        <input type="checkbox" class="switch-input btn-toggle-publishing" checked>
                                    <?php else: ?>
                                        <input type="checkbox" class="switch-input btn-toggle-publishing">
                                    <?php endif; ?>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                            </div>
                        </td>
                        <td>
                            <strong class="strike uppercase"><?php echo $this->escapeForHtml($user->account_type_name); ?></strong>
                        </td>
                        <td>
                            <?php echo $user->last_update_date; ?>
                            <a href="#" class="history" rel="popover"
                               data-content="
                               Zmodyfikowano: <?php echo $user->last_update_date; ?> przez:
                               <?php if ($user->last_update_author != ''): ?>
                                   <?php echo $user->last_update_author; ?>
                               <?php else: ?>
                                   System
                               <?php endif; ?>
                               "
                               data-original-title="Historia zmian">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </a>
                        </td>
                        <td>
                            <?php echo $this->escapeForHtml($user->login); ?>
                        </td>
                        <td>
                            <?php echo $this->escapeForHtml($user->email); ?>
                        </td>
                        <td class="actions">
                            <a class="btn-edit" title="<?php echo $this->translate('Edit', 'default', $this->userLanguage->zend2_locale); ?>" data-action="edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <!--
                            <a class="btn-delete" title="<?php echo $this->translate('Delete', 'default', $this->userLanguage->zend2_locale); ?>" data-action="delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            -->
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php else: ?>
            <?php echo $this->translate('Error - unable to load the list of users', 'default', $this->userLanguage->zend2_locale); ?>.
        <?php endif; ?>
    </div> <!-- /.modal-body-content -->
    <?php
    if ($this->usersPaginator)
    {
        echo $this->paginationControl(
            $this->usersPaginator,
            // The scrolling style.
            // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-users-with-view-scripts
            'sliding', array('partial/paginator.phtml', 'Site'), array(
            'route' => 'home'
            )
        );
    }
    ?>
</div>
<!-- inline scripts related to this page -->
<script>
    $(function(){
        $('.history').popover({'placement':'bottom'});
    });
</script>