.block-search-results .search-result-query
{
    margin-bottom: 2em;
}
.block-search-results .search-result-list .result
{
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #cfcfcf;
}
.block-search-results .search-result-list .result .highlighted
{
    background-color: gold;
}