.block-images-pile .loader-bg
{
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    padding: 10px 0 0 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);
}
.block-images-pile .loader-bg img
{
    display: block;
    border: 0;
}

.block-images-pile .close-pile-btn
{
    padding: 15px;
    cursor: pointer;
}

.block-images-pile .tp-grid {
    list-style-type: none;
    position: relative;
    display: block;
}

.block-images-pile .tp-grid li {
    position: absolute;
    cursor: pointer;
    border: 10px solid #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    display: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.no-js .block-images-pile .tp-grid li {
    position: relative;
    display: inline-block;
}

.block-images-pile .tp-grid li a {
    display: block;
    outline: none;
}

.block-images-pile .tp-grid li img {
    display: block;
    border: none;
}

.block-images-pile .tp-info,
.block-images-pile .tp-title {
    position: absolute;
    background: #fff;
    line-height: 20px;
    color: #333;
    width: 90%;
    font-size: 17px;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 10px;
    text-align: left;
    bottom: 10px;
    top: auto;
    text-shadow: 1px 1px 1px #fff;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), 5px 0 5px -3px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.04);
}


.block-images-pile .tp-info { left: 0;
    background-color: rgba(255,255,255,.9);
    text-shadow: 1px 1px 1px #fff;
    text-align: left;
    color: #145C68;
    z-index: 1;
}


.no-touch .block-images-pile .tp-info {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.no-touch .block-images-pile .tp-grid li:hover .tp-info {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    transition-delay: 150ms;
}

.no-touch .block-images-pile .tp-open li:hover .tp-info {
    left: 0px;
    color: #000;
    background: #fff;
}

.block-images-pile .tp-title {
    padding: 10px 35px 10px 10px;
    left: 0px;
}

.block-images-pile .tp-title span:nth-child(2) {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    padding: 0 15px;
    background: #21457A;
    right: 0px;
    height: 100%;
    line-height: 40px;
    top: 0px;
    position: absolute;
    display: block;
}

.block-images-pile .content h2 {text-align: left;}

.no-touch .block-images-pile .tp-grid li img
{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    z-index: 0;
}
.no-touch .block-images-pile .tp-grid li:hover img
{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
}