<?php
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
?>
<div class="search-results" data-query="<?php echo $this->escapeForHtml($query); ?>">
    <?php if ($this->searchResultCount > 0): ?>
        <div class="search-result-options">

        </div>
        <div class="search-result-query">
            <?php echo $this->translate('Query'); ?>: <?php echo $this->escapeForHtml('"' . $this->query . '"'); ?>.
        </div>
        <div class="search-result-list">
            <?php foreach ($this->searchResultsPaginator as $result): ?>
                <?php if ($result): ?>
                    <?php
                    $pageUrl = $this->escapeForHtml($result['pageUrl']);
                    $pageBreadcrumb = $this->escapeForHtml($result['pageBreadcrumb']);
                    //$pageTitle = $this->escapeForHtml($result['page_title']);
                    $category = $this->escapeForHtml($this->translate($result['category']));
                    $shortDescription = $result['short_description'];
                    ?>
                    <div class="result">
                    <span class="page-title">
                        <strong><?php echo $this->translate('Page'); ?>:</strong>
                        <a href="<?php echo $pageUrl; ?>" title="<?php echo $pageBreadcrumb; ?>">
                            <?php echo $pageBreadcrumb; ?>
                        </a>
                    </span>
                        <div class="description">
                            <?php echo $shortDescription; ?>
                        </div>
                    <span class="category">
                        <strong><?php echo $this->translate('Category'); ?>:</strong>
                        <?php echo $category; ?>
                    </span>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php
            if ($this->searchResultsPaginator && ($this->searchResultsPaginator->count() > 1))
            {
                echo $this->paginationControl(
                    $this->searchResultsPaginator,
                    // The scrolling style.
                    // See http://zf2.readthedocs.org/en/release-2.1.4/modules/zend.paginator.usage.html#rendering-pages-with-view-scripts
                    'sliding',
                    array('partial/paginator.phtml', 'Site'),
                    array(
                        'route' => 'home'
                    )
                );
            }
            ?>
        </div>
    <?php else: ?>
        <?php echo $this->translate('No results for') . ' ' . $this->escapeForHtml('"' . $this->query . '".'); ?>
    <?php endif; ?>
</div>
<script>
    loadBlockCssFile('search-results','search-results');
    loadBlockJsFile('search-results','search-results');

    $(document).ready(function(){
        blockSearchResults_handleCustomFunctionality(<?php echo $pageBlockId; ?>);
        blockSearchResults_handlePagination(<?php echo $pageBlockId; ?>);
    });
</script>