<div class="form form-horizontal">
    <h3 class="title">
        <?php echo $this->translate('Display settings', 'default', $this->userLanguage->zend2_locale); ?>:
    </h3>
    <div class="contents">
        <div class="form-group">
            <label class="col-md-3 control-label">
                <?php echo $this->translate('Highlight found words', 'default', $this->userLanguage->zend2_locale); ?>:
            </label>
            <div class="col-md-9">
                <?php
                echo $this->checkbox(
                    'block-search-results-highlight-found-words',
                    'highlightFoundWords',
                    1,
                    ($this->settings->highlightFoundWords == 1)
                );
                echo $this->translate('Highlight found words in search results', 'default', $this->userLanguage->zend2_locale) . '.';
                ?>
            </div>
        </div>
    </div>
</div>