<?php
$currentLanguage = $this->language;
$user = $this->user;
$loggedAsAdmin = ($user && ($user->account->role == 'admin'));
$designMode = $this->designMode;
$pageBlockId = $this->blockData->page_block_id;
$isEmployeeDetailsHidden = $this->settings->hideIfCurrentUrlDoesNotLeadsToEmployeeDetails && !$this->currentEmployeeDataAreValid;
$employeeDetails = $this->employeeDetails;
$employeesContentId = $this->employeesContentId;
?>
<div
    class="employee-details"
    <?php if ($employeeDetails): ?>data-employee-id="<?php echo $employeeDetails->employee_id; ?>"<?php endif; ?>
    data-employees-content-id="<?php echo $employeesContentId; ?>"
    >
        <?php if (!$isEmployeeDetailsHidden): ?>
            <?php if ($employeeDetails): ?>
            <div class="row">
                <div class="col-md-12 employee-title">
        <!--                    <span class="degree">
                    <?php echo $this->escapeForHtml($employeeDetails->degree_title); ?>
                    </span>-->
                    <h3 class="name-and-surname"><?php echo $this->escapeForHtml($employeeDetails->name_and_surname); ?></h3>
                    <?php if ($employeeDetails->position != ''): ?>
                        <span class="position-area">
                            <span class="desc"><?php echo $this->translate('_employee position'); ?></span>
                            <span class="position"><?php echo $this->escapeForHtml($employeeDetails->degree_title); ?></span>
                            <!--<span class="position"><?php echo $this->escapeForHtml($employeeDetails->position); ?></span>?-->
                        </span>
                    <?php endif; ?>
                </div>
            </div>
            <div class="basic-info row">
                <div class="col-md-3">
                    <img class="rimage thumbnail" alt="Photo." src="<?php echo $employeeDetails->thumbUrl; ?>" />
                </div>
                <div class="col-md-9 about">
                    <?php echo $employeeDetails->about; ?>
                </div>
            </div>

            <div class="tabs-control">
                <ul class="nav nav-tabs">
                    <li class="title active" data-tab-id="1">
                        <span>
                            <?php echo $this->translate('Career', 'default', $this->userLanguage->zend2_locale); ?>
                        </span>
                    </li>
                    <li class="title" data-tab-id="2">
                        <span>
                            <?php echo $this->translate('The most important achievements', 'default', $this->userLanguage->zend2_locale); ?>
                        </span>
                    </li>
                    <li class="title" data-tab-id="3">
                        <span>
                            <?php echo $this->translate('Contact info', 'default', $this->userLanguage->zend2_locale); ?>
                        </span>
                    </li>
                </ul>
                <div class="tab-shadow"><img src="/images/tab-shadow.png" alt="shadow" /></div>
                <div class="tabs-contents">
                    <div class="tab-pane" data-tab-id="1">
                        <div class="tab-contents scientific-career">
                            <?php echo $employeeDetails->scientific_career; ?>
                        </div>
                    </div>
                    <div style="display:none" class="tab-pane the-most-important-publications" data-tab-id="2">
                        <div class="tab-contents">
                            <?php echo $employeeDetails->most_important_publications; ?>
                        </div>
                    </div>
                    <div style="display:none" class="tab-pane" data-tab-id="3">
                        <div class="tab-contents contact-info">
                            <?php echo $employeeDetails->contact_info; ?>                       
                        </div>
                    </div>
                </div>
            </div>
        <?php else: ?>
            <?php // TODO: Translation. ?>
            Nie znaleziono pracownika bazując na informacjach z aktualnego adresu URL.
            <strong>Możliwe</strong> przyczyny:
            <ul>
                <li>Pracownik lub przypisany do niego stopień naukowy nie został opublikowany.</li>
                <li>Pracownik nie istnieje lub został usunięty.</li>
                <li>
                    Blok został umieszczony na nieprawidłowej stronie - sprawdź ustawienia
                    bloków &quot;Pracownicy&quot;.
                </li>
                <li>
                    W adresie URL brakuje informacji o pracowniku.
                    Przejdź do tej strony korzystając z linku znajdującego się w bloku &quot;Pracownicy&quot;.
                </li>
            </ul>
        <?php endif; ?>
    <?php else: ?>
        <?php
        echo $this->translate(
                'This block will be invisible now because current URL address does not leads to data of existing ' .
                'employee', 'default', $this->userLanguage->zend2_locale
        ) . '.';
        ?>
    <?php endif; ?>
    <div class="clearfix"> </div>
</div>
<script>
    loadBlockCssFile('tabs-control', 'tabs-control');
    loadBlockJsFile('employee-details', 'employee-details');
    loadBlockCssFile('employee-details', 'employee-details');
    $(function () {
        blockEmployeeDetails_handleCustomFunctionality(<?php echo $pageBlockId ?>);
    });
</script>