tabs-control .collapse-button-container
{
    position: relative;
    height: 1px;
    overflow: hidden;
}
.tabs-control .nav.nav-tabs li.title span{
    padding: 5px 15px;
    float: left;
    background: #EDF3F5;
    color: #505050;
    text-shadow: 1px 1px 1px #fff;
    margin-right: 2px;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-weight: 300;
}
.tabs-control .nav.nav-tabs li.title span:hover {cursor: pointer;}
.tabs-control .nav.nav-tabs li.title.active span,
.tabs-control .nav.nav-tabs li.title span:hover{
    background-color: #0171B0;
    color: #fff;
    text-shadow: 1px 1px 1px #2F2F2F;
}
.tabs-control .add-new-tab{font-size: 17px;color: #444;padding: 3px;}
.tabs-control .add-new-tab:hover{ cursor: pointer; color: #0171B0;}
.btn-delete-this-tab {
    background: #f1f1f1;
    border: 1px solid rgba(0,0,0, 0.1);
    display: block; 
    text-align: center;
    color: #333;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-delete-this-tab:hover {background-color: #0171B0;color: #fff; cursor: pointer;}
.tab-shadow { width: 100%;}
.tab-shadow img{ max-width: 100%; width: 100%; height: 15px; vertical-align: top; zoom: 1;
                 filter: alpha(opacity=50);
                 opacity: 0.5;}
.tab-content {margin-top: -20px; font-size: 13px;}
.tab-content h2 { color: #000;  border-bottom: none; padding-bottom: 0px;}
.tab-content h2 strong{color:#0171B0;}
.tab-content a {color: #000;}
.tab-content a strong {color:#2A6496;}

.tabs-control .tabs-contents{
    margin-top: 0px;
    line-height: 25px;
}
.tabs-control .tabs-contents .tab-pane .tab-contents
{
    min-height: 2em;
}
@media screen and (max-width: 768px) {
    /*slot-item block-tabs-control*/
    /*.tab-shadow {display: none;}*/
    .block-tabs-control .button-vertical
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    .block-tabs-control .button-vertical .icon-bar {background-color: #000;}
    .block-tabs-control .button-vertical { border: 1px solid black}
    .block-tabs-control .nav-tabs > li { float: none; display: table;}

    .block-tabs-control .navbar-brand-vertical {
        float: none;
        color: #bbb;
        margin-top: -25px;
        border: none; 
    }
}
